///*      B O X   S T Y L E    */

@import "../variables";


// box border styles
.box-solid          { border-top-style: solid; border-bottom-style: solid; border-right-style: solid; border-left-style: solid; }
.box-dotted         { border-top-style: dotted; border-bottom-style: dotted; border-right-style: dotted; border-left-style: dotted; }
.box-dashed         { border-top-style: dashed; border-bottom-style: dashed; border-right-style: dashed; border-left-style: dashed; }
.box-double         { border-top-style: double; border-bottom-style: double; border-right-style: double; border-left-style: double; }
// .box-groove         { border-top-style: groove; border-bottom-style: groove; border-right-style: groove; border-left-style: groove; }
// .box-ridge          { border-top-style: ridge; border-bottom-style: ridge; border-right-style: ridge; border-left-style: ridge; }
// .box-inset          { border-top-style: inset; border-bottom-style: inset; border-right-style: inset; border-left-style: inset; }
.box-outset         { border-top-style: outset; border-bottom-style: outset; border-right-style: outset; border-left-style: outset; }


// box border side styles

.box-solid-top           { border-top-style: solid; }
.box-dotted-top          { border-top-style: dotted; }
.box-dashed-top          { border-top-style: dashed; }
.box-double-top          { border-top-style: double; }
// .box-groove-top          { border-top-style: groove; }
// .box-ridge-top           { border-top-style: ridge; }
// .box-inset-top           { border-top-style: inset; }
// .box-outset-top          { border-top-style: outset; }

.box-solid-bottom        { border-bottom-style: solid; }
.box-dotted-bottom       { border-bottom-style: dotted; }
.box-dashed-bottom       { border-bottom-style: dashed; }
.box-double-bottom       { border-bottom-style: double; }
// .box-groove-bottom       { border-bottom-style: groove; }
// .box-ridge-bottom        { border-bottom-style: ridge; }
// .box-inset-bottom        { border-bottom-style: inset; }
// .box-outset-bottom       { border-bottom-style: outset; }

.box-solid-right         { border-right-style: solid; }
.box-dotted-right        { border-right-style: dotted; }
.box-dashed-right        { border-right-style: dashed; }
.box-double-right        { border-right-style: double; }
// .box-groove-right        { border-right-style: groove; }
// .box-ridge-right         { border-right-style: ridge; }
// .box-inset-right         { border-right-style: inset; }
// .box-outset-right        { border-right-style: outset; }

.box-solid-left          { border-left-style: solid; }
.box-dotted-left         { border-left-style: dotted; }
.box-dashed-left         { border-left-style: dashed; }
.box-double-left         { border-left-style: double; }
// .box-groove-left         { border-left-style: groove; }
// .box-ridge-left          { border-left-style: ridge; }
// .box-inset-left          { border-left-style: inset; }
// .box-outset-left         { border-left-style: outset; }



