///*      B O X    */

@import "../variables";
// @import "../variables/scale";
// @import "box_mixin";


// box reset
.box-reset           { 
	border: initial;
	border-top-width: initial;
	border-bottom-width: initial;
	border-right-width: initial;
	border-left-width: initial;
	border-top-style: initial;
	border-bottom-style: initial;
	border-right-style: initial;
	border-left-style: initial;
	border-top-color: initial;
	border-bottom-color: initial;
	border-right-color: initial;
	border-left-color: initial;
}

.box-top-reset       { border-top-width: initial; border-top-style: initial; border-top-color: initial; }
.box-bottom-reset    { border-bottom-width: initial;border-bottom-style: initial;  border-bottom-color: initial; }
.box-right-reset     { border-right-width: initial; border-right-style: initial; border-right-color: initial; }
.box-left-reset      { border-left-width: initial; border-left-style: initial; border-left-color: initial; }


// box base styles
#{$evo}-box {
border-top-width:      #{$box_width}; // initial
border-bottom-width:   #{$box_width}; // initial 
border-right-width:    #{$box_width}; // initial 
border-left-width:     #{$box_width}; // initial
border-top-style:      #{$box_style}; // solid
border-bottom-style:   #{$box_style}; // solid
border-right-style:    #{$box_style}; // solid
border-left-style:     #{$box_style}; // solid
border-top-color:      #{$box_color}; // initial
border-bottom-color:   #{$box_color}; // initial 
border-right-color:    #{$box_color}; // initial 
border-left-color:     #{$box_color}; // initial
border-left-style:     #{$box_style}; // solid
}

#{$evo}-box-top {
border-top-width:      #{$box_width}; // initial
border-top-style:      #{$box_style}; // solid
border-top-color:      #{$box_color}; // initial
}

#{$evo}-box-bottom {
border-bottom-width:      #{$box_width}; // initial
border-bottom-style:      #{$box_style}; // solid
border-bottom-color:      #{$box_color}; // initial
}

#{$evo}-box-right {
border-right-width:      #{$box_width}; // initial
border-right-style:      #{$box_style}; // solid
border-right-color:      #{$box_color}; // initial
}

#{$evo}-box-left {
border-left-width:      #{$box_width}; // initial
border-left-style:      #{$box_style}; // solid
border-left-color:      #{$box_color}; // initial
}

// // https://developer.mozilla.org/en-US/docs/Web/CSS/border-right-style
// #{$evo}-box-unset          { border-width: unset; }
// #{$evo}-box-hidden         { border-width: hidden; }
// #{$evo}-box-none           { border-width: none; }
// ADD Inherit


// For Demo only

.demo-box div[class*="box-"],
.demo-box div[class*="evo-box"]  {
padding-bottom: 5rem;
/*background-color: #eee;*/
background-color: #eee;
margin-top: .5em;
margin-bottom: 3em;
/*border-width: 1px;*/
}

  // .pv5-l {
  //       padding-top: 4rem;
  //       padding-bottom: 4rem
  //   }