///*      B U T T O N   S I Z E    */

@import "../variables";
// @import "../variables/scale";
// @import "box_mixin";


// Buttons do not need a custom size class
// Just change the text sizes on the buttons
// But just in case, here are a few sizes



// Button size large
.button-size-large {
     font-size: 125%;
}

// Button size normal
.button-size-medium {
     font-size: 100%;
}

// Button size small
.button-size-small {
     font-size: 75%;
}




// Padding

// Button padding thick
.button-padding-thick {
     padding-top: 1.25em;
     padding-bottom: 1.25em;
     padding-left: 2em;
     padding-right: 2em;
}

// Button padding medium
.button-padding-medium {
     padding-top: #{$button_padding_top};
     padding-bottom: #{$button_padding_bottom};
     padding-left: #{$button_padding_left};
     padding-right: #{$button_padding_right};
}

// Button padding thin
.button-padding-thin {
     padding-top: .25em;
     padding-bottom: .25em;
     padding-left: .5em;
     padding-right: .5em;
}


// Button padding collapsed

.button-padding-none {
     padding-top: 0;
     padding-bottom: 0;
     padding-left: .25em;
     padding-right: .25em;
}



// Border box width


// Thick border box

.button-box-thick {
     border-width: thick;
}

.button-box-thick:hover {
     border-width: thick;
}



// Medium border box

.button-box-medium {
     border-width: medium;
}

.button-box-medium:hover {
     border-width: medium;
}

// Thin border box

.button-box-thin {
     border-width: thin;
}

.button-box-thin:hover {
     border-width: thin;
}


// No border box

.button-box-none {
     border-width: 0;
}

.button-box-none:hover {
     border-width: 0;
}
