///*      B U T T O N    */

@import "../variables";
// @import "../variables/scale";
// @import "box_mixin";

a#{$evo}-inverse-button,
#{$evo}-inverse-button a,
input#{$evo}-inverse-button,
a#{$evo}-button,
input#{$evo}-button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
     // Type
     font-family: #{$button_font_family};
     // font-size: #{$button_font_size}; // DISABLED
     font-weight: #{$button_font_weight};
     text-transform: #{$button_text_transform};
     text-align: #{$button_text_align};
     // // text-decoration: #{$button_text_decoration}; // Doesn't work
     // // color
     // color: #{$button_color} !important;
     // background-color: #{$button_background_color};
     // border-color: #{$button_border_color};
     // Structure
     border-width: #{$button_border_width};
     border-style: #{$button_border_style};
     border-radius: #{$button_corner};
     // border: #{$button_border};
     padding-top: #{$button_padding_top};
     padding-bottom: #{$button_padding_bottom};
     padding-left: #{$button_padding_left};
     padding-right: #{$button_padding_right};
     // hover
     transition-duration: #{$button_hover_duration};
     transition-timing-function: #{$button_hover_timing};
     transition-delay: #{$button_hover_delay};
     // transition: #{$button_hover_transition}; // this is not needed
}

#{$evo}-button {
     // Type
     // font-family: #{$button_font_family};
     // font-size: #{$button_font_size};
     // text-align: #{$button_text_align};
     // text-decoration: #{$button_text_decoration}; // Doesn't work
     // color
     color: #{$button_color};
     background-color: #{$button_background_color};
     border-color: #{$button_border_color};
     // // Structure
     // border-width: #{$button_border_width};
     // border-style: #{$button_border_style};
     // border-radius: #{$button_corner};
     // // border: #{$button_border};
     // padding-top: #{$button_padding_top};
     // padding-bottom: #{$button_padding_bottom};
     // padding-left: #{$button_padding_left};
     // padding-right: #{$button_padding_right};
}


#{$evo}-button:hover,
button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
     // type
     // text-decoration: #{$button_hover_text_decoration}; // Doesn't work
     // color
     color: #{$button_hover_color};
     background-color: #{$button_hover_background_color};
     border-color: #{$button_hover_border_color};
     // structure
     border-style: #{$button_hover_border_style};
     border-width: #{$button_hover_border_width};
     // border: #{$button_hover_border};
}


// inverse button



// #{$evo}-button,
// button,
// [type="button"],
// [type="reset"],
// [type="submit"] {
//      // Type
//      font-family: #{$button_font_family};
//      // font-size: #{$button_font_size}; // DISABLED
//      text-align: #{$button_text_align};
//      // // text-decoration: #{$button_text_decoration}; // Doesn't work
//      // // color
//      // color: #{$button_color} !important;
//      // background-color: #{$button_background_color};
//      // border-color: #{$button_border_color};
//      // Structure
//      border-width: #{$button_border_width};
//      border-style: #{$button_border_style};
//      border-radius: #{$button_corner};
//      // border: #{$button_border};
//      padding-top: #{$button_padding_top};
//      padding-bottom: #{$button_padding_bottom};
//      padding-left: #{$button_padding_left};
//      padding-right: #{$button_padding_right};
//      // hover
//      transition-duration: #{$button_hover_duration};
//      transition-timing-function: #{$button_hover_timing};
//      transition-delay: #{$button_hover_delay};
//      // transition: #{$button_hover_transition}; // this is not needed
// }

#{$evo}-inverse-button {
     // Type
     // font-family: #{$button_font_family};
     // font-size: #{$button_font_size};
     // text-align: #{$button_text_align};
     // text-decoration: #{$button_text_decoration}; // Doesn't work
     // color
     color: #{$inverse_button_color} !important;
     background-color: #{$inverse_button_background_color};
     border-color: #{$inverse_button_border_color};
     // // Structure
     // border-width: #{$button_border_width};
     // border-style: #{$button_border_style};
     // border-radius: #{$button_corner};
     // // border: #{$button_border};
     // padding-top: #{$button_padding_top};
     // padding-bottom: #{$button_padding_bottom};
     // padding-left: #{$button_padding_left};
     // padding-right: #{$button_padding_right};
}



#{$evo}-inverse-button:hover {
     // type
     // text-decoration: #{$button_hover_text_decoration}; // Doesn't work
     // color
     color: #{$inverse_button_hover_color} !important;
     background-color: #{$inverse_button_hover_background_color};
     border-color: #{$inverse_button_hover_border_color};
     // structure
     border-style: #{$inverse_button_hover_border_style};
     border-width: #{$inverse_button_hover_border_width};
     // border: #{$button_hover_border};
}