///*      C O L O R   G R A Y     */

@import "../variables";
// @import "colors_mixin";

// Base colors are located in _variables.scss


/* 

--------------------------- GRAY COLORS --------------------------- 

*/

// Solid Grays
// These solid grays correspond to increments of black opacity


.gray-30            { color: $gray_30; }             // Black
.gray-30-bg         { background-color: $gray_30; }

.gray-29            { color: $gray_29; }
.gray-29-bg         { background-color: $gray_29; }

.gray-28            { color: $gray_28; }
.gray-28-bg         { background-color: $gray_28; }

.gray-27            { color: $gray_27; }
.gray-27-bg         { background-color: $gray_27; }

.gray-26            { color: $gray_26; }
.gray-26-bg         { background-color: $gray_26; }

.gray-25            { color: $gray_25; }
.gray-25-bg         { background-color: $gray_25; }

.gray-24            { color: $gray_24; }
.gray-24-bg         { background-color: $gray_24; }

.gray-23            { color: $gray_23; }
.gray-23-bg         { background-color: $gray_23; }

.gray-22            { color: $gray_22; }
.gray-22-bg         { background-color: $gray_22; }

.gray-21            { color: $gray_21; }
.gray-21-bg         { background-color: $gray_21; }

.gray-20            { color: $gray_20; }
.gray-20-bg         { background-color: $gray_20; }

.gray-19            { color: $gray_19; }
.gray-19-bg         { background-color: $gray_19; }

.gray-18            { color: $gray_18; }
.gray-18-bg         { background-color: $gray_18; }

.gray-17            { color: $gray_17; }
.gray-17-bg         { background-color: $gray_17; }

.gray-16            { color: $gray_16; }
.gray-16-bg         { background-color: $gray_16; }

.gray-15            { color: $gray_15; }             // Middle gray
.gray-15-bg         { background-color: $gray_15; }

.gray-14            { color: $gray_14; }
.gray-14-bg         { background-color: $gray_14; }

.gray-13            { color: $gray_13; }
.gray-13-bg         { background-color: $gray_13; }

.gray-12            { color: $gray_12; }
.gray-12-bg         { background-color: $gray_12; }

.gray-11            { color: $gray_11; }
.gray-11-bg         { background-color: $gray_11; }

.gray-10            { color: $gray_10; }
.gray-10-bg         { background-color: $gray_10; }

.gray-9             { color: $gray_9; }
.gray-9-bg          { background-color: $gray_9; }

.gray-8             { color: $gray_8; }
.gray-8-bg          { background-color: $gray_8; }

.gray-7             { color: $gray_7; }
.gray-7-bg          { background-color: $gray_7; }

.gray-6             { color: $gray_6; }
.gray-6-bg          { background-color: $gray_6; }

.gray-5             { color: $gray_5; }
.gray-5-bg          { background-color: $gray_5; }

.gray-4             { color: $gray_4; }
.gray-4-bg          { background-color: $gray_4; }

.gray-3             { color: $gray_3; }
.gray-3-bg          { background-color: $gray_3; }

.gray-2             { color: $gray_2; }
.gray-2-bg          { background-color: $gray_2; }

.gray-1             { color: $gray_1; }
.gray-1-bg          { background-color: $gray_1; }

.gray-0             { color: $gray_0; }              // White
.gray-0-bg          { background-color: $gray_0; }



/* 

--------------------------- GRAY TRANSLUCENT COLORS --------------------------- 

*/

// These are colors with increments of opacity.
// Base color is black and defined in variables
// As a black color on a white background they correspond to solid hex grays.


.trans-gray-30            { color: transparentize($base_dark_translucent, 0); }
.trans-gray-30-bg         { background-color: transparentize($base_dark_translucent, 0); }

.trans-gray-29            { color: transparentize($base_dark_translucent, .02); }
.trans-gray-29-bg         { background-color: transparentize($base_dark_translucent, .02); }

.trans-gray-28            { color: transparentize($base_dark_translucent, .03); }
.trans-gray-28-bg         { background-color: transparentize($base_dark_translucent, .03); }

.trans-gray-27            { color: transparentize($base_dark_translucent, .04); }
.trans-gray-27-bg         { background-color: transparentize($base_dark_translucent, .04); }

.trans-gray-26            { color: transparentize($base_dark_translucent, .05); }
.trans-gray-26-bg         { background-color: transparentize($base_dark_translucent, .05); }

.trans-gray-25            { color: transparentize($base_dark_translucent, .06); }
.trans-gray-25-bg         { background-color: transparentize($base_dark_translucent, .06); }

.trans-gray-24            { color: transparentize($base_dark_translucent, .08); }
.trans-gray-24-bg         { background-color: transparentize($base_dark_translucent, .08); }

.trans-gray-23            { color: transparentize($base_dark_translucent, .1); }
.trans-gray-23-bg         { background-color: transparentize($base_dark_translucent, .1); }

.trans-gray-22            { color: transparentize($base_dark_translucent, .15); }
.trans-gray-22-bg         { background-color: transparentize($base_dark_translucent, .15); }

.trans-gray-21            { color: transparentize($base_dark_translucent, .2); }
.trans-gray-21-bg         { background-color: transparentize($base_dark_translucent, .2); }

.trans-gray-20            { color: transparentize($base_dark_translucent, .25); }
.trans-gray-20-bg         { background-color: transparentize($base_dark_translucent, .25); }

.trans-gray-19            { color: transparentize($base_dark_translucent, .3); }
.trans-gray-19-bg         { background-color: transparentize($base_dark_translucent, .3); }

.trans-gray-18            { color: transparentize($base_dark_translucent, .35); }
.trans-gray-18-bg         { background-color: transparentize($base_dark_translucent, .35); }

.trans-gray-17            { color: transparentize($base_dark_translucent, .4); }
.trans-gray-17-bg         { background-color: transparentize($base_dark_translucent, .4); }

.trans-gray-16            { color: transparentize($base_dark_translucent, .45); }
.trans-gray-16-bg         { background-color: transparentize($base_dark_translucent, .45); }

.trans-gray-15            { color: transparentize($base_dark_translucent, .5); }
.trans-gray-15-bg         { background-color: transparentize($base_dark_translucent, .5); }

.trans-gray-14            { color: transparentize($base_dark_translucent, .55); }
.trans-gray-14-bg         { background-color: transparentize($base_dark_translucent, .55); }

.trans-gray-13            { color: transparentize($base_dark_translucent, .6); }
.trans-gray-13-bg         { background-color: transparentize($base_dark_translucent, .6); }

.trans-gray-12            { color: transparentize($base_dark_translucent, .65); }
.trans-gray-12-bg         { background-color: transparentize($base_dark_translucent, .65); }

.trans-gray-11            { color: transparentize($base_dark_translucent, .7); }
.trans-gray-11-bg         { background-color: transparentize($base_dark_translucent, .7); }

.trans-gray-10            { color: transparentize($base_dark_translucent, .75); }
.trans-gray-10-bg         { background-color: transparentize($base_dark_translucent, .75); }

.trans-gray-9             { color: transparentize($base_dark_translucent, .8); }
.trans-gray-9-bg          { background-color: transparentize($base_dark_translucent, .8); }

.trans-gray-8             { color: transparentize($base_dark_translucent, .85); }
.trans-gray-8-bg          { background-color: transparentize($base_dark_translucent, .85); }

.trans-gray-7             { color: transparentize($base_dark_translucent, .9); }
.trans-gray-7-bg          { background-color: transparentize($base_dark_translucent, .9); }

.trans-gray-6             { color: transparentize($base_dark_translucent, .92); }
.trans-gray-6-bg          { background-color: transparentize($base_dark_translucent, .92); }

.trans-gray-5             { color: transparentize($base_dark_translucent, .94); }
.trans-gray-5-bg          { background-color: transparentize($base_dark_translucent, .94); }

.trans-gray-4             { color: transparentize($base_dark_translucent, .95); }
.trans-gray-4-bg          { background-color: transparentize($base_dark_translucent, .95); }

.trans-gray-3             { color: transparentize($base_dark_translucent, .96); }
.trans-gray-3-bg          { background-color: transparentize($base_dark_translucent, .96); }

.trans-gray-2             { color: transparentize($base_dark_translucent, .97); }
.trans-gray-2-bg          { background-color: transparentize($base_dark_translucent, .97); }

.trans-gray-1             { color: transparentize($base_dark_translucent, .98); }
.trans-gray-1-bg          { background-color: transparentize($base_dark_translucent, .98); }

.trans-gray-0             { color: transparentize($base_dark_translucent, 1); }
.trans-gray-0-bg          { background-color: transparentize($base_dark_translucent, 1); }


/* 

--------------------------- INVERSE GRAY TRANSLUCENT COLORS --------------------------- 

*/

// These are white colors with increments of opacity.
// As a white color on a black background they correspond to the solid gray colors.


.inverse-trans-gray-30            { color: transparentize($base_light_translucent, 0); }
.inverse-trans-gray-30-bg         { background-color: transparentize($base_light_translucent, 0); }

.inverse-trans-gray-29            { color: transparentize($base_light_translucent, .02); }
.inverse-trans-gray-29-bg         { background-color: transparentize($base_light_translucent, .02); }

.inverse-trans-gray-28            { color: transparentize($base_light_translucent, .03); }
.inverse-trans-gray-28-bg         { background-color: transparentize($base_light_translucent, .03); }

.inverse-trans-gray-27            { color: transparentize($base_light_translucent, .04); }
.inverse-trans-gray-27-bg         { background-color: transparentize($base_light_translucent, .04); }

.inverse-trans-gray-26            { color: transparentize($base_light_translucent, .05); }
.inverse-trans-gray-26-bg         { background-color: transparentize($base_light_translucent, .05); }

.inverse-trans-gray-25            { color: transparentize($base_light_translucent, .06); }
.inverse-trans-gray-25-bg         { background-color: transparentize($base_light_translucent, .06); }

.inverse-trans-gray-24            { color: transparentize($base_light_translucent, .08); }
.inverse-trans-gray-24-bg         { background-color: transparentize($base_light_translucent, .08); }

.inverse-trans-gray-23            { color: transparentize($base_light_translucent, .1); }
.inverse-trans-gray-23-bg         { background-color: transparentize($base_light_translucent, .1); }

.inverse-trans-gray-22            { color: transparentize($base_light_translucent, .15); }
.inverse-trans-gray-22-bg         { background-color: transparentize($base_light_translucent, .15); }

.inverse-trans-gray-21            { color: transparentize($base_light_translucent, .2); }
.inverse-trans-gray-21-bg         { background-color: transparentize($base_light_translucent, .2); }

.inverse-trans-gray-20            { color: transparentize($base_light_translucent, .25); }
.inverse-trans-gray-20-bg         { background-color: transparentize($base_light_translucent, .25); }

.inverse-trans-gray-19            { color: transparentize($base_light_translucent, .3); }
.inverse-trans-gray-19-bg         { background-color: transparentize($base_light_translucent, .3); }

.inverse-trans-gray-18            { color: transparentize($base_light_translucent, .35); }
.inverse-trans-gray-18-bg         { background-color: transparentize($base_light_translucent, .35); }

.inverse-trans-gray-17            { color: transparentize($base_light_translucent, .4); }
.inverse-trans-gray-17-bg         { background-color: transparentize($base_light_translucent, .4); }

.inverse-trans-gray-16            { color: transparentize($base_light_translucent, .45); }
.inverse-trans-gray-16-bg         { background-color: transparentize($base_light_translucent, .45); }

.inverse-trans-gray-15            { color: transparentize($base_light_translucent, .5); }
.inverse-trans-gray-15-bg         { background-color: transparentize($base_light_translucent, .5); }

.inverse-trans-gray-14            { color: transparentize($base_light_translucent, .55); }
.inverse-trans-gray-14-bg         { background-color: transparentize($base_light_translucent, .55); }

.inverse-trans-gray-13            { color: transparentize($base_light_translucent, .6); }
.inverse-trans-gray-13-bg         { background-color: transparentize($base_light_translucent, .6); }

.inverse-trans-gray-12            { color: transparentize($base_light_translucent, .65); }
.inverse-trans-gray-12-bg         { background-color: transparentize($base_light_translucent, .65); }

.inverse-trans-gray-11            { color: transparentize($base_light_translucent, .7); }
.inverse-trans-gray-11-bg         { background-color: transparentize($base_light_translucent, .7); }

.inverse-trans-gray-10            { color: transparentize($base_light_translucent, .75); }
.inverse-trans-gray-10-bg         { background-color: transparentize($base_light_translucent, .75); }

.inverse-trans-gray-9             { color: transparentize($base_light_translucent, .8); }
.inverse-trans-gray-9-bg          { background-color: transparentize($base_light_translucent, .8); }

.inverse-trans-gray-8             { color: transparentize($base_light_translucent, .85); }
.inverse-trans-gray-8-bg          { background-color: transparentize($base_light_translucent, .85); }

.inverse-trans-gray-7             { color: transparentize($base_light_translucent, .9); }
.inverse-trans-gray-7-bg          { background-color: transparentize($base_light_translucent, .9); }

.inverse-trans-gray-6             { color: transparentize($base_light_translucent, .92); }
.inverse-trans-gray-6-bg          { background-color: transparentize($base_light_translucent, .92); }

.inverse-trans-gray-5             { color: transparentize($base_light_translucent, .94); }
.inverse-trans-gray-5-bg          { background-color: transparentize($base_light_translucent, .94); }

.inverse-trans-gray-4             { color: transparentize($base_light_translucent, .95); }
.inverse-trans-gray-4-bg          { background-color: transparentize($base_light_translucent, .95); }

.inverse-trans-gray-3             { color: transparentize($base_light_translucent, .96); }
.inverse-trans-gray-3-bg          { background-color: transparentize($base_light_translucent, .96); }

.inverse-trans-gray-2             { color: transparentize($base_light_translucent, .97); }
.inverse-trans-gray-2-bg          { background-color: transparentize($base_light_translucent, .97); }

.inverse-trans-gray-1             { color: transparentize($base_light_translucent, .98); }
.inverse-trans-gray-1-bg          { background-color: transparentize($base_light_translucent, .98); }

.inverse-trans-gray-0             { color: transparentize($base_light_translucent, 1); }
.inverse-trans-gray-0-bg          { background-color: transparentize($base_light_translucent, 1); }