///*      F O N T   P L A Y    */

@import "../variables";

// Individual System Fonts
// May not be available in all devices
// Use for experimentation and quick styling
// Not recommended for production
.font-athelas           { font-family: #{$athelas}; }
.font-avenir            { font-family: #{$avenir}; }
.font-baskerville       { font-family: #{$baskerville}; }
.font-bodoni            { font-family: #{$bodoni}; }
.font-calisto           { font-family: #{$calisto}; }
.font-consolas          { font-family: #{$consolas}; }
.font-courier           { font-family: #{$courier}; }
.font-didot             { font-family: #{$didot}; }
.font-garamond          { font-family: #{$garamond}; }
.font-gotham            { font-family: #{$gotham}; }
.font-gotham            { font-family: #{$gotham}; }
.font-goudy             { font-family: #{$goudy}; }


// Font replacement
// May require licenses

// Neon
// http://www.fontspace.com/essqu%C3%A9-productions/neon-80s

@font-face {
    font-family: 'neon';
    src: url('../font/essqué-productions_neon-80s/neon.ttf');
    font-weight: normal;
    font-style: normal;

}

.font-neon				{ font-family: #{$neon}; }