///*      F O N T   L O C A L    */

@import "../variables";

// @font-face import

// @font-face  {
//   font-family:'Refrigerator-Deluxe';
//   src:url('../fonts/Refrigerator-Deluxe.otf') format('opentype');
// /* src:url('fontname.ttf') format('truetype');  */ 
// }

// http://nicewebtype.com/notes/2009/10/30/how-to-use-css-font-face/
// http://nicewebtype.com/notes/2010/05/20/bulletproof-smiley-font-face-syntax/
// https://drafts.csswg.org/css-fonts-3/#the-font-face-rule
// https://hacks.mozilla.org/2009/10/font-control-for-designers/


// Adobe trajan font
// https://helpx.adobe.com/typekit/using/ot-svg-color-fonts.html
// https://fonts.google.com/?query=neon

// @font-face {
//   font-family: "Your typeface";
//   src: url(type/filename.eot);
//   src: local("☺"),
//     url("type/filename.woff") format("woff"),
//     url(type/filename.otf) format("opentype"),
//     url("type/filename.svg#filename") format("svg");
//   }
// @font-face {
//   font-family: "Your typeface";
//   font-style: italic;
//   src: url(type/filename-ital.eot);
//   src: local("☺"),
//     url("type/filename-ital.woff") format("woff"),
//     url(type/filename-ital.otf) format("opentype"),
//     url("type/filename-ital.svg#filename-ital") format("svg");
//   }
// h2 { font-family: "Your typeface", Georgia, serif; }
// em { font-style: italic; }


// // Fnord
// @font-face {
//     font-family: 'fnordtwenty-three';
//     src: url('fnord-twenty-three-webfont.eot');
//     src: url('fnord-twenty-three-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fnord-twenty-three-webfont.woff2') format('woff2'),
//          url('fnord-twenty-three-webfont.woff') format('woff'),
//          url('fnord-twenty-three-webfont.ttf') format('truetype'),
//          url('fnord-twenty-three-webfont.svg#fnordtwenty-three') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'fnordtwenty-three_italic';
//     src: url('fnord-twenty-threeitalic-webfont.eot');
//     src: url('fnord-twenty-threeitalic-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fnord-twenty-threeitalic-webfont.woff2') format('woff2'),
//          url('fnord-twenty-threeitalic-webfont.woff') format('woff'),
//          url('fnord-twenty-threeitalic-webfont.ttf') format('truetype'),
//          url('fnord-twenty-threeitalic-webfont.svg#fnordtwenty-three_italic') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }


// Didonesque
@font-face {
    font-family: 'didonesquedisplay';
    src: url('../font/didonesque-display-webfont.eot');
    src: local("☺"),
         url('../font/didonesque-display-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/didonesque-display-webfont.woff2') format('woff2'),
         url('../font/didonesque-display-webfont.woff') format('woff'),
         url('../font/didonesque-display-webfont.ttf') format('truetype'),
         url('../font/didonesque-display-webfont.svg#didonesquedisplay') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'didonesquedisplay_italic';
    src: url('../font/didonesque-displayitalic-webfont.eot');
    src: local("☺"),
         url('../font/didonesque-displayitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/didonesque-displayitalic-webfont.woff2') format('woff2'),
         url('../font/didonesque-displayitalic-webfont.woff') format('woff'),
         url('../font/didonesque-displayitalic-webfont.ttf') format('truetype'),
         url('../font/didonesque-displayitalic-webfont.svg#didonesquedisplay_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-didonesquedisplay            { font-family: #{$didonesque-display}; }
.font-didonesquedisplay-italic     { font-family: #{$didonesque-display-italic}; }


// Diaria

@font-face {
    font-family: 'diaria_promedium';
    src: url('../font/diariapro-medium-webfont.eot');
    src: local("☺"),
         url('../font/diariapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/diariapro-medium-webfont.woff2') format('woff2'),
         url('../font/diariapro-medium-webfont.woff') format('woff'),
         url('../font/diariapro-medium-webfont.ttf') format('truetype'),
         url('../font/diariapro-medium-webfont.svg#diaria_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'diaria_promedium_italic';
    src: url('../font/diariapro-mediumitalic-webfont.eot');
    src: local("☺"),
         url('../font/diariapro-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/diariapro-mediumitalic-webfont.woff2') format('woff2'),
         url('../font/diariapro-mediumitalic-webfont.woff') format('woff'),
         url('../font/diariapro-mediumitalic-webfont.ttf') format('truetype'),
         url('../font/diariapro-mediumitalic-webfont.svg#diaria_promedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-diaria-promedium           { font-family: #{$diaria-promedium}; }
.font-diaria-promedium-italic    { font-family: #{$diaria-promedium-italic}; }



// Fnordtwenty-three

@font-face {
    font-family: 'fnordtwenty-three';
    src: url('../font/fnord-twenty-three-webfont.eot');
    src: local("☺"),
         url('../font/fnord-twenty-three-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/fnord-twenty-three-webfont.woff2') format('woff2'),
         url('../font/fnord-twenty-three-webfont.woff') format('woff'),
         url('../font/fnord-twenty-three-webfont.ttf') format('truetype'),
         url('../font/fnord-twenty-three-webfont.svg#fnordtwenty-three') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fnordtwenty-three_italic';
    src: url('../font/fnord-twenty-threeitalic-webfont.eot');
    src: local("☺"),
         url('../font/fnord-twenty-threeitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/fnord-twenty-threeitalic-webfont.woff2') format('woff2'),
         url('../font/fnord-twenty-threeitalic-webfont.woff') format('woff'),
         url('../font/fnord-twenty-threeitalic-webfont.ttf') format('truetype'),
         url('../font/fnord-twenty-threeitalic-webfont.svg#fnordtwenty-three_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-fnordtwenty-three           { font-family: #{$fnordtwenty-three}; }
.font-fnordtwenty-three-italic    { font-family: #{$fnordtwenty-three-italic}; }


// Harman Sans

@font-face {
    font-family: 'harmansans';
    src: url('../font/Harman-Sans-webfont.eot');
    src: local("☺"),
         url('../font/Harman-Sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Harman-Sans-webfont.woff2') format('woff2'),
         url('../font/Harman-Sans-webfont.woff') format('woff'),
         url('../font/Harman-Sans-webfont.ttf') format('truetype'),
         url('../font/Harman-Sans-webfont.svg#harmansans') format('svg');
    font-weight: normal;
    font-style: normal;

}

// @font-face {
//     font-family: 'harmansans_inline';
//     src: url('../font/Harman-Sans-Inline-webfont.eot');
//     src: local("☺"),
//          url('../font/Harman-Sans-Inline-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../font/Harman-Sans-Inline-webfont.woff2') format('woff2'),
//          url('../font/Harman-Sans-Inline-webfont.woff') format('woff'),
//          url('../font/Harman-Sans-Inline-webfont.ttf') format('truetype'),
//          url('../font/Harman-Sans-Inline-webfont.svg#harmansans_inline') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }

.font-harmansans           { font-family: #{$harmansans}; }
// .font-harmansans-inline    { font-family: #{$harmansans-inline}; }


// Halis Rounded

@font-face {
    font-family: 'halis_r_regularregular';
    src: url('../font/HalisR-Regular-webfont.eot');
    src: local("☺"),
         url('../font/HalisR-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/HalisR-Regular-webfont.woff2') format('woff2'),
         url('../font/HalisR-Regular-webfont.woff') format('woff'),
         url('../font/HalisR-Regular-webfont.ttf') format('truetype'),
         url('../font/HalisR-Regular-webfont.svg#halis_r_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-halis-rounded           { font-family: #{$halis-rounded}; }


// Festovp

@font-face {
    font-family: 'festivo_lcbasic';
    src: url('../font/Festivo-LC-Basic-webfont.eot');
    src: local("☺"),
         url('../font/Festivo-LC-Basic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Festivo-LC-Basic-webfont.woff2') format('woff2'),
         url('../font/Festivo-LC-Basic-webfont.woff') format('woff'),
         url('../font/Festivo-LC-Basic-webfont.ttf') format('truetype'),
         url('../font/Festivo-LC-Basic-webfont.svg#festivo_lcbasic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'festivo_lcoutline';
    src: url('../font/Festivo-LC-Outline-webfont.eot');
    src: local("☺"),
         url('../font/Festivo-LC-Outline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Festivo-LC-Outline-webfont.woff2') format('woff2'),
         url('../font/Festivo-LC-Outline-webfont.woff') format('woff'),
         url('../font/Festivo-LC-Outline-webfont.ttf') format('truetype'),
         url('../font/Festivo-LC-Outline-webfont.svg#festivo_lcoutline') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-festivo-lowercase        { font-family: #{$festivo-lowercase}; }
.font-festivo-outline          { font-family: #{$festivo-outline}; }


// Gangrena

@font-face {
    font-family: 'gangrenaregular';
    src: url('../font/gangrena_regular-webfont.eot');
    src: local("☺"),
         url('../font/gangrena_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gangrena_regular-webfont.woff2') format('woff2'),
         url('../font/gangrena_regular-webfont.woff') format('woff'),
         url('../font/gangrena_regular-webfont.ttf') format('truetype'),
         url('../font/gangrena_regular-webfont.svg#gangrenaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-gangrena            { font-family: #{$gangrena}; }



// Ebenezer

@font-face {
    font-family: 'ebenezerregular';
    src: url('../font/ebenezer-webfont.eot');
    src: local("☺"),
         url('../font/ebenezer-webfont.eot?#iefix') format('embedded-opentype'),
         // url('../font/ebenezer-webfont.woff2') format('woff2'),
         url('../font/ebenezer-webfont.woff') format('woff'),
         url('../font/ebenezer-webfont.ttf') format('truetype'),
         url('../font/ebenezer-webfont.svg#ebenezerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.font-ebenezer            { font-family: #{$ebenezer}; }

// @font-face{ 
//   font-family: 'MyWebFont';
//   src: url('WebFont.eot');
//   src: url('WebFont.eot?#iefix') format('embedded-opentype'),
//        url('WebFont.woff') format('woff'),
//        url('WebFont.ttf') format('truetype'),
//        url('WebFont.svg#webfont') format('svg');
// }

// // <link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />


// p { font-family: 'MyWebFont', Arial, sans-serif; }



// Didot

// h1 {
//   font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
//   font-size: 23px;
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 500;
//   line-height: 23px;
// }
// h3 {
//   font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
//   font-size: 17px;
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 500;
//   line-height: 23px;
// }
// p {
//   font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
//   font-size: 14px;
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 400;
//   line-height: 23px;
// }
// blockquote {
//   font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
//   font-size: 17px;
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 400;
//   line-height: 23px;
// }
// pre {
//   font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
//   font-size: 11px;
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 400;
//   line-height: 23px;
// }

// Theano Didot for download

// https://www.fontsquirrel.com/fonts/theano-didot