///*      F O N T   A D O B E    */

@import "../variables";

// ADOBE EDGE FONTS

// <script src="//use.edgefonts.net/source-code-pro:n2,n3,n4,n5,n6,n7,n9;source-sans-pro:n2,i2,n3,i3,n4,i4,n6,i6,n7,i7,n9,i9;source-serif-pro:n2,n3,n4,n6,n7,n9.js"></script>

// Source sans pro

.font-adobe-source-sans-extra-light  {
font-family: #{$adobe-source-sans};
font-weight:200;
}

.font-adobe-source-sans-extra-light-italic  {
font-family: #{$adobe-source-sans};
font-weight:200;
font-style:italic;
}

.font-adobe-source-sans-light  {
font-family: #{$adobe-source-sans};
font-weight:300;
}

.font-adobe-source-sans-light-italic  {
font-family: #{$adobe-source-sans};
font-weight:300;
font-style:italic;
}

.font-adobe-source-sans  {
font-family: #{$adobe-source-sans};
font-weight:400;
}

.font-adobe-source-sans-italic  {
font-family: #{$adobe-source-sans};
font-weight:400;
font-style:italic;
}

.font-adobe-source-sans-semibold  {
font-family: #{$adobe-source-sans};
font-weight:600;
}

.font-adobe-source-sans-semibold-italic  {
font-family: #{$adobe-source-sans};
font-weight:600;
font-style:italic;
}

.font-adobe-source-sans-bold  {
font-family: #{$adobe-source-sans};
font-weight:700;
}

.font-adobe-source-sans-bold-italic  {
font-family: #{$adobe-source-sans};
font-weight:700;
font-style:italic;
}

.font-adobe-source-sans-black  {
font-family: #{$adobe-source-sans};
font-weight:900;
}

.font-adobe-source-sans-black-italic  {
font-family: #{$adobe-source-sans};
font-weight:900;
font-style:italic;
}



// Source serif pro

.font-adobe-source-serif-extra-light  {
font-family: #{$adobe-source-serif};
font-weight:200;
}

.font-adobe-source-serif-light  {
font-family: #{$adobe-source-serif};
font-weight:300;
}

.font-adobe-source-serif  {
font-family: #{$adobe-source-serif};
font-weight:400;
}

.font-adobe-source-serif-semibold  {
font-family: #{$adobe-source-serif};
font-weight:600;
}

.font-adobe-source-serif-bold  {
font-family: #{$adobe-source-serif};
font-weight:700;
}

.font-adobe-source-serif-black  {
font-family: #{$adobe-source-serif};
font-weight:900;
}



// Source code pro

.font-adobe-source-code-extra-light  {
font-family: #{$adobe-source-code};
font-weight:200;
}

.font-adobe-source-code-light  {
font-family: #{$adobe-source-code};
font-weight:300;
}

.font-adobe-source-code  {
font-family: #{$adobe-source-code};
font-weight:400;
}

// Is medium needed?
.font-adobe-source-code-medium  {
font-family: #{$adobe-source-code};
font-weight:500;
}

.font-adobe-source-code-semibold  {
font-family: #{$adobe-source-code};
font-weight:600;
}

.font-adobe-source-code-bold  {
font-family: #{$adobe-source-code};
font-weight:700;
}

.font-adobe-source-code-black  {
font-family: #{$adobe-source-code};
font-weight:900;
}



