///*      F O N T     */

@import "../variables";

/*      FONTS     */
// Simple CSS font stacks


// General
#{$evo}-font { 
  // font-size:       #{$html_font_size};
  font-family:     #{$html_font_family};
  font-weight:     #{$html_font_weight};
  line-height:     #{$html_line_height};
}

// Reset
// DOES THIS WORK?

.font-reset { 
  font-size:       initial;
  font-family:     initial;
  font-weight:     initial;
  line-height:     initial;
}


// System fonts
// #{$evo}-font-1 { 
//   font-family: #{$html_font_family_1};
// }

// #{$evo}-font-2 { 
//   font-family: #{$default_type_font};
// }

