///*      F O R M   P A S S W O R D    */

@import "../variables";
// @import "../variables/scale";


// using eye-book-gray to show/hide password

.input-container,
#input_container {
    position:relative;
    padding:0;
    margin:0;
}


#input {
    height:35px;
    margin:0;
    // padding-left: 30px;
}

#input_img {
    position:absolute;
    cursor: pointer;
    bottom:10px;
    right:10px;
    width:23px;
    height:23px;
}

#input_img_box {
    position:absolute;
    cursor: pointer;
    bottom:5px;
    right:10px;
    width:23px;
    height:23px;
}

#input_img,
#input_img_box {
    position: absolute;
    cursor: pointer;
    right: 10px;
    width: 23px;
    height: 23px
}

