///*      F O R M    */

@import "../variables";
// @import "../variables/scale";

// https://www.smashingmagazine.com/2013/02/css-form-elements-problem/


// Form Focus
// Change border color on focus
.form-focus,
#{$evo}-focus:focus,
.uneditable-input:focus,
select:focus,
input:focus,
input[type]:focus,
textarea:focus {
    border-top-color: #{$focus_border_color};
    border-bottom-color: #{$focus_border_color};
    border-left-color: #{$focus_border_color};
    border-right-color: #{$focus_border_color};
    box-shadow: #{$focus_box_shadow};
    transition: #{$focus_transition};
    outline: 0 none;
    & + label {
      color: #{$focus_border_color};
      cursor: pointer; // "hand" cursor
    }
  }

// Makes labels appearance disabled when paired after their form inputs
// http://stackoverflow.com/questions/19362716/how-to-style-a-html-label-for-disabled-input
.disabled,
.uneditable-input:disabled,
select:disabled,
input:disabled,
input[type]:disabled,
textarea:disabled,,
[disabled] {
    & + label {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

// From older evolution


fieldset { 
  display: block;
  margin-left: #{$fieldset_margin_left};
  margin-right: #{$fieldset_margin_right};
  padding-top: #{$fieldset_padding_top};
  padding-bottom: #{$fieldset_padding_bottom};
  padding-left: #{$fieldset_padding_left};
  padding-right: #{$fieldset_padding_right};
  border: #{$fieldset_border};
}

legend {
  padding-left:  #{$legend_padding_left};
  padding-right: #{$legend_padding_right};
  border:        none;
  float:         left; // float turns this into a block element
  // display:       block;
}


input[type="date"],
input[type="time"] {
  line-height: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 1em;
}

input[type="file"] {
  line-height: 1em; // px
}

// http://stackoverflow.com/questions/1895476/how-to-style-a-select-dropdown-with-css-only-without-javascript#13968900
// Get rid of styling for option, so that custom styling is applied
select,
select[disabled],
select#{$evo}-form,
#{$evo}-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #{$form_triangle_background};
}

// Can we get rid of the 'input' because it's messing up the checkboxes
#{$evo}-form,
input[type="text"], 
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="time"],
input[type="file"],
input[type="search"],
input[type="url"],
textarea,
select,
input {
  // Form Input
  font-size:  #{$form_font_size};
  border-radius: #{$form_border_radius};
  width: #{$form_width};
  background-color: #{$form_background_color};
}

// CAUTION: IE hackery ahead 

select::-ms-expand { 
    display: none; // remove default arrow in IE 10 and 11
}

// target Internet Explorer 9 to undo the custom arrow
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}

// select {
//     width: 100%;
//     // @extend .evo-form-3-base;
//     padding: $form_padding+$form_padding_increment*1.5rem;
//     font-size: $form_font_size+$form_font_size_increment*5rem;
//     border-radius: $form_corners_evo;
//     border: 2px solid $gray_20_evo;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     background-color: $form_background_color;
//   }

//   // select:hover {
//   //   background-color: #eee;
//   //   border-color: #666;
//   // }

#{$evo}-form {
  // padding
  padding-top: #{$form_padding_top};
  padding-bottom: #{$form_padding_bottom};
  padding-left: #{$form_padding_left};
  padding-right: #{$form_padding_right};
  // border width
  border-top-width: #{$form_border_top_width};
  border-bottom-width: #{$form_border_bottom_width};
  border-left-width: #{$form_border_left_width};
  border-right-width: #{$form_border_right_width};
  // border style
  border-top-style: #{$form_border_top_style};
  border-bottom-style: #{$form_border_bottom_style};
  border-left-style: #{$form_border_left_style};
  border-right-style: #{$form_border_right_style};
  // border color
  border-top-color: #{$form_border_top_color};
  border-bottom-color: #{$form_border_bottom_color};
  border-left-color: #{$form_border_left_color};
  border-right-color: #{$form_border_right_color};
}

// Combine with floating labels

input#{$evo}-form:focus { 
    border-bottom: 1px solid #00aeef !important;
    transition:0.5s ease all; 
    // -moz-transition:0.5s ease all; 
    // -webkit-transition:0.5s ease all;
        & + label {
      color: #{$focus_border_color};
      cursor: pointer; // "hand" cursor
    }
}


textarea#{$evo}-form:focus { 
    border-bottom: 1px solid #00aeef !important;
    transition:0.5s ease all; 
    // -moz-transition:0.5s ease all; 
    // -webkit-transition:0.5s ease all;
        & + label {
      color: #{$focus_border_color};
      cursor: pointer; // "hand" cursor
    }
}


  // select:hover {
  //   background-color: #eee;
  //   border-color: #666;
  // }


// DISABLED LABELS
// KEEP THIS
// http://stackoverflow.com/questions/19362716/how-to-style-a-html-label-for-disabled-input

// // Make label look like it's disabled

// input:disabled {
//     background:#dddddd;
// }

// input:disabled+label{color:#ccc;}

// <input type='checkbox' disabled id='check1'>
// <label for='check1'>Check</label>
// <br>
// <label for='text1'>Text</label>
// <input type='text' id='text1' disabled>

// CAN WE ALSO REMOVE HOVER STATE TO MAKE DISBLED BUTTONS NOT INTERACT?


// GET CHECKBOXS AND RADIO INPUT TO ALIGN PERFECTLY
// http://stackoverflow.com/questions/306252/how-to-align-checkboxes-and-their-labels-consistently-cross-browsers#306593

// Note that input is nested in the label, which does not require the label to have a for=""
// To move text away from input, simply add a space or &nbsp; to the left of the word

label.form-radio,
label.form-checkbox {
  display: block;
  padding-left: 1em; // 15px
  text-indent: -1em; // -15px
}
.form-radio input,
.form-checkbox input {
  width: 1em;
  height: 1em;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -.3em;
  *overflow: hidden;
}


// label.evo-radio {
//   display: block;
//   padding-left: 1em; // 15px
//   text-indent: -1em; // -15p
// }
// .evo-radio input {
//   width: 1em;
//   height: 1em;
//   padding: 0;
//   margin:0;
//   vertical-align: bottom;
//   position: relative;
//   top: -.3em;
//   *overflow: hidden;
// }


// http://stackoverflow.com/questions/2306117/radio-buttons-and-label-to-display-in-same-line#2350782
fieldset.overflow {
  overflow: hidden
}

.form-checkbox-inline,
.form-radio-inline {
  float: left;
  clear: none;
    margin-left: .1em;
}

.form-checkbox-inline label,
.form-radio-inline label {
  float: left;
  clear: none;
  display: block;
  // padding: 0 1em 0 0;

}

.form-checkbox-inline .form-checkbox:not(:first-of-type) input,
.form-radio-inline .form-radio:not(:first-of-type) input {
  margin-left: 1em;
}

// .evo-radio-inline .evo-radio:first-of-type input {
//   margin-left: .1em;
// }

// .evo-radio-inline input[type=radio] {
//   float: left;
//   clear: none;
//   margin: 5px 0 0 10px;
// }

// .evo-radio-inline input[type=radio],
// input.radio {
//   float: left;
//   clear: none;
//   margin: 2px 0 0 2px;
// }

/*********************
      CHECKBOX 
*********************/


  // .evo-form-checkbox {


  //   input[type=checkbox] {
  //     display: none;
  //   }

  //   label {
  //     display: inline-block;
  //     cursor: pointer;
  //     position: relative;
  //     margin-right: 15px;
  //     font-weight: 100;
  //   }

  //   label:before {
  //     content: "";
  //     display: inline-block;
  //     position: absolute;
  //     left: 0px;
  //     border: 1px solid $gray_15;
  //   }

  //   input[type=checkbox]:checked + label:before {
  //     content: "\2713";
  //     color: $gray_15;
  //     text-align: center;
  //   }

  // }


  //   /* CHECKBOX 1 */

  // .evo-form-1-checkbox {

  //   @extend .evo-form-checkbox-base;  

  //   label {
  //   padding-left: 11px;
  //   font-size: 6px;
  //   }

  //   label:before {
  //     width: 7px;
  //     height: 7px;
  //     margin-right: 10px;
  //     bottom: 1px;
  //     border-radius: 2px;
  //     background-color: $form_background_color;
  //   }

  //   input[type=checkbox]:checked + label:before {
  //       font-size: 6px;
  //       text-align: center;
  //       line-height: 5px;
  //       padding-left: .8px;
  //   }

  
  // }


/*********************
    RADIO BUTTONS
*********************/


  // .evo-form-radio-base {

  //   input[type=radio] {
  //     display: none;
  //   }

  //   label {
  //     display: inline-block;
  //     cursor: pointer;
  //     position: relative;
  //     margin-right: 15px;
  //     font-weight: 100;
  //   }

  //   label:before {
  //     content: "";
  //     display: inline-block;
  //     position: absolute;
  //     left: 0px;
  //     border-radius: 100%;
  //     border: 1px solid $gray_15;
  //   }

  //   input[type=radio]:checked + label:before {
  //     content: "\2022";
  //     color: $gray_15;
  //   }

  // }


  //   /* RADIO 1 */

  // .evo-form-radio {

  //   @extend .evo-form-radio-base;  

  //   label {
  //   padding-left: 12px;
  //   font-size: 6px;
  //   margin-top: 0px;
  //   margin-bottom: -3px;
  //   }

  //   label:before {
  //     width: 8px;
  //     height: 8px;
  //     margin-right: 10px;
  //     bottom: 1px;
  //     background-color: $form_background_color;
  //   }

  //   input[type=radio]:checked + label:before {
  //       font-size: 11px;
  //       text-align: center;
  //       line-height: 7px;
  //       padding-left: .5px;
  //   }

  
  // }











// // FROM TOOLKIT

// // .evo-form-radio {


// input[type=radio]{
//   display: none;
// }

// label {
//   display: inline-block;
//   cursor: pointer;
//   position: relative;
//   margin-right: 15px;
//   font-weight: 100;
//   padding-left: 25px;
//   font-size: 19px;
//   margin-top: 4px; }

// label:before {
//   content: "";
//   display: inline-block;
//   position: absolute;
//   left: 0px;
//   border-radius: 100%;
//   border: 1px solid #999999;
//   width: 18px;
//   height: 18px;
//   margin-right: 10px;
//   bottom: 5px; 
// }

// input[type=radio]:checked + label:before {
//   content: "\2022";
//   color: #999999;
//   font-size: 27px;
//   text-align: center;
//   line-height: 17px;
//   padding-left: .5px;
// }

// // }
