///*      F O R M   T Y P E    */

@import "../variables";
// @import "../variables/scale";




/*********************
    TEXT INPUTS
*********************/

// Text

.form-search {
  background: #{$form_search_background};
}

.form-email {
  background: #{$form_email_background};
}

.form-url {
  background: #{$form_url_background};
}

.form-password {
  background: #{$form_password_background};
}

.form-password-lock {
  background: #{$form_password_lock_background};
}

// Select


.form-triangle {
  background: #{$form_triangle_background} !important;
}

.form-chevron {
  background: #{$form_chevron_background} !important;
}



// /*********************
//     CUSTOM UPLOAD BUTTON
// *********************/

// http://stackoverflow.com/questions/21842274/cross-browser-custom-styling-for-file-upload-button#21842275

label.evo-button input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
// .evo-button {
//     border: 2px solid #AAA;
//     border-radius: 4px;
//     padding: 2px 5px;
//     margin: 2px;
//     background: #DDD;
//     display: inline-block;
// }
// .evo-button:hover {
//     background: #CCC;
// }
// .evo-button:active {
//     background: #CCF;
// }

// label.evo-button,
// label.evo-button:hover {
//   border-width: 0;
// }

label.evo-button :invalid + span {
    color: inherit;
    border-color: inherit;
}

label.evo-button :valid + span {
    color: #4A4;
    border-color: #4A4 !important;
}



/*********************
    INPUT BUTTONS
*********************/


.evo-form-input {

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: $white;
    background-color: black;
    display: inline-block;
  }

  .inputfile:focus + label,
  .inputfile + label:hover {
    background-color: gray;
  }

  .inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }

  .inputfile + label {
      cursor: pointer; // "hand" cursor
    }

  }


  //   /* INPUT 1 */

  // .evo-form-20-input {

  //    @extend .evo-form-input-base;  
  
  // }