///*      F O R M   T Y P E    */

@import "../variables";
// @import "../variables/scale";




/*********************
    TEXT INPUTS
*********************/

// Text

// .form-search {
//   background: #{$form_search_background};
// }

.form-icon {
  // background-color:      #{$form_background_color};
  // background-image:      #{$form_background_search};
  background-repeat:     #{$form_background_repeat};
  background-attachment: #{$form_background_attachment};
  background-size:       #{$form_background_size};
  background-position:   #{$form_background_position};
}

.form-search {
  // background-color:      #{$form_background_color};
  background-image:      #{$form_background_search};
  // background-repeat:     #{$form_background_repeat};
  // background-attachment: #{$form_background_attachment};
  // background-size:       #{$form_background_size};
  // background-position:   #{$form_background_position};
}

.form-email {
  background-image: #{$form_background_email};
}

.form-chevron {
  background-image: #{$form_background_chevron};
}


.form-url {
  background-image: #{$form_background_url};
}

.form-password {
  background-image: #{$form_background_password};
}

.form-password-lock {
  background-image: #{$form_background_password_lock};
}

// Select


.form-triangle {
  background-image: #{$form_background_triangle} !important;
}

.form-chevron-down {
  background-image: #{$form_background_chevron_down} !important;
}



// /*********************
//     CUSTOM UPLOAD BUTTON
// *********************/

// http://stackoverflow.com/questions/21842274/cross-browser-custom-styling-for-file-upload-button#21842275
// Note that the _button_icon.scss file has a condition for the label tag that relates to the custom button available for the custom upload button
label.evo-button input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
// .evo-button {
//     border: 2px solid #AAA;
//     border-radius: 4px;
//     padding: 2px 5px;
//     margin: 2px;
//     background: #DDD;
//     display: inline-block;
// }
// .evo-button:hover {
//     background: #CCC;
// }
// .evo-button:active {
//     background: #CCF;
// }

// label.evo-button,
// label.evo-button:hover {
//   border-width: 0;
// }


label.evo-button :invalid + span {
    color: inherit;
    border-color: inherit;
}

label.evo-button :valid + span {
    color: #4A4;
    border-color: #4A4 !important;
}

// // This relates to the custom file upload button code in _button_icon.scss
// label.evo-button:before :invalid {
// background-image: url("../image/brand/chevron-book.svg") !important; 
// }

// label.evo-button:before :valid {
// background-image: url("../image/brand/download-book.svg") !important; 
// }


  //   /* INPUT 1 */

  // .evo-form-20-input {

  //    @extend .evo-form-input-base;  
  
  // }