///*      F O R M   E F F E C T       */

@import "../variables";





// /*********************
//     FLOATING LABELS
// *********************/



// Floating Labels
// https://css-tricks.com/float-labels-css/
// http://codepen.io/collection/IjFib/
// Label must be placed underneath the input



// Text Area

// Starting postion
textarea ~ .label-floating  {
  position: absolute;
  pointer-events: none;
  left: 1em !important;
  top: 1em !important;
  transition: 0.3s ease all;
}

// Ending position
textarea:focus ~ .label-floating,
textarea:not(:focus):valid ~ .label-floating {
  top: -5em;
  bottom: 1em;
  color: #{$focus_border_color};
  font-family: inherit;
  left: 1.5em;
  // font-size: .75em; // DISABLED
  opacity: 1;
}


// How to get labels to appear as if they are before the form field

// http://stackoverflow.com/questions/36647427/selecting-a-label-placed-before-an-input-in-various-states

// Inputs such as text fields

// Starting position
.label-floating  {
  position: absolute;
  pointer-events: none;
  left: 1em;
  top: 0;
  transition: 0.3s ease all;
}

// Ending position
input:focus ~ .label-floating,
input:not(:focus):valid ~ .label-floating {
  top: -1.5em;
  bottom: 1em;
  color: #{$focus_border_color};
  font-family: inherit;
  left: 1.5em;
  // font-size: .65em; // DISABLED
  opacity: 1;
  // background-color: #fff;
}



// VERSION 1
// .evo-form-container {
//   display: flex;
//   flex-direction: column; /** vertical layout **/
// }

// .evo-form-container label {
//   order: 1;
// }

// .evo-form-container input {
//   order: 0;
// }

// .evo-form-container label:focus + input {
//   color: red;
// }

// VERSION 2
// .evo-form-container {
//   display: flex;
//   flex-direction: column; /** vertical layout **/
//   // position:relative;
//   // padding:0;
//   // margin:0;
// }

// .evo-form-label {
//   order: 1;
// }

// .evo-form-input {
//   order: 0;
// }

// .evo-form-label:focus + .evo-form-input {
//   color: red;
// }







// input:not(:focus):valid ~ .label-floating {
//   color: #808080;
// }






// textarea:not(:focus):valid ~ .label-floating {
//   color: #808080;
// }




// .inputText {
//   font-size: 10px;
//   width: 200px;
//   height: 35px;
// }



// .label-floating {
//   position: absolute;
//   pointer-events: none;
//   left: 15px;
//   top: 5px;
//   transition: 0.3s ease all;
// }

// input:focus ~ .label-floating,
// input:not(:focus):valid ~ .label-floating {
//   top: -20px;
//   bottom: 10px;
//   color: #00aeef;
//   left: 15px;
//   font-size: 14px;
//   opacity: 1;
// }


// input:not(:focus):valid ~ .label-floating {
//   color: #808080;
// }


// input#{$evo}-form-line:focus { 
//     border-bottom: 1px solid #00aeef !important;
//     transition:0.5s ease all; 
//     // -moz-transition:0.5s ease all; 
//     // -webkit-transition:0.5s ease all;
// }


// textarea:focus ~ .label-floating,
// textarea:not(:focus):valid ~ .label-floating {
//   top: -20px;
//   bottom: 10px;
//   color: #00aeef;
//   left: 15px;
//   font-size: 14px;
//   opacity: 1;
// }


// textarea:not(:focus):valid ~ .label-floating {
//   color: #808080;
// }


// textarea#{$evo}-form-line:focus { 
//     border-bottom: 1px solid #00aeef !important;
//     transition:0.5s ease all; 
//     // -moz-transition:0.5s ease all; 
//     // -webkit-transition:0.5s ease all;
// }
