///*      F O R M   H O V E R       */

@import "../variables";




// /*********************
//     FORM HOVER
// *********************/

// How to get labels to highlight when focused / hovered on the field

// http://stackoverflow.com/questions/36647427/selecting-a-label-placed-before-an-input-in-various-states



// Default hover state (matches focus state)
.form-hover,
#{$evo}-form-hover:hover,
select.form-hover:hover,
input.form-hover:hover,
input[type].form-hover:hover,
textarea.form-hover:hover {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$focus_border_color};
    border-bottom-color: #{$focus_border_color};
    border-left-color: #{$focus_border_color};
    border-right-color: #{$focus_border_color};
    box-shadow: #{$focus_box_shadow};
    transition: #{$focus_transition};
    outline: 0 none;
        & + label {
      color: #{$focus_border_color};
      cursor: pointer; // "hand" cursor
    }
  }


.form-hover-white,
#{$evo}-form-hover-white:hover,
select.form-hover-white:hover,
input.form-hover-white:hover,
input[type].form-hover-white:hover,
textarea.form-hover-white:hover {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$evo_white};
    border-bottom-color: #{$evo_white};
    border-left-color: #{$evo_white};
    border-right-color: #{$evo_white};
    box-shadow: #{$focus_box_shadow};
    transition: #{$focus_transition};
    outline: 0 none;
        & + label {
      color: #{$evo_white};
      cursor: pointer; // "hand" cursor
    }
  }

