///*      F O R M   P L A C E H O L D E R       */

@import "../variables";




// /*********************
//     FORM PLACEHOLDER TEXT
// *********************/

// http://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css#2610741




// Black color placeholder text
.form-placeholder-black,
select.form-placeholder-black,
input.form-placeholder-black,
input[type].form-placeholder-black,
textarea.form-placeholder-black {
&::-webkit-input-placeholder { // WebKit, Blink, Edge
    color:   #{$evo_black};
}
&:-moz-placeholder { // Mozilla Firefox 4 to 18
   color:   #{$evo_black};
   opacity:  1;
}
&::-moz-placeholder { // Mozilla Firefox 19+
   color:   #{$evo_black};
   opacity:  1;
}
&:-ms-input-placeholder { // Internet Explorer 10-11
   color:    #{$evo_black};
}
}

// White color placeholder text
.form-placeholder-white,
select.form-placeholder-white,
input.form-placeholder-white,
input[type].form-placeholder-white,
textarea.form-placeholder-white {
&::-webkit-input-placeholder { // WebKit, Blink, Edge
    color:   #{$evo_white};
}
&:-moz-placeholder { // Mozilla Firefox 4 to 18
   color:   #{$evo_white};
   opacity:  1;
}
&::-moz-placeholder { // Mozilla Firefox 19+
   color:   #{$evo_white};
   opacity:  1;
}
&:-ms-input-placeholder { // Internet Explorer 10-11
   color:    #{$evo_white};
}
}


// Blue color placeholder text
.form-placeholder-blue,
select.form-placeholder-blue,
input.form-placeholder-blue,
input[type].form-placeholder-blue,
textarea.form-placeholder-blue {
&::-webkit-input-placeholder { // WebKit, Blink, Edge
    color:   #{$color_15};
}
&:-moz-placeholder { // Mozilla Firefox 4 to 18
   color:   #{$color_15};
   opacity:  1;
}
&::-moz-placeholder { // Mozilla Firefox 19+
   color:   #{$color_15};
   opacity:  1;
}
&:-ms-input-placeholder { // Internet Explorer 10-11
   color:    #{$color_15};
}
}

// Grean color placeholder text
.form-placeholder-green,
select.form-placeholder-green,
input.form-placeholder-green,
input[type].form-placeholder-green,
textarea.form-placeholder-green {
&::-webkit-input-placeholder { // WebKit, Blink, Edge
    color:   #{$color_21};
}
&:-moz-placeholder { // Mozilla Firefox 4 to 18
   color:   #{$color_21};
   opacity:  1;
}
&::-moz-placeholder { // Mozilla Firefox 19+
   color:   #{$color_21};
   opacity:  1;
}
&:-ms-input-placeholder { // Internet Explorer 10-11
   color:    #{$color_21};
}
}

// Red color placeholder text
.form-placeholder-red,
select.form-placeholder-red,
input.form-placeholder-red,
input[type].form-placeholder-red,
textarea.form-placeholder-red {
&::-webkit-input-placeholder { // WebKit, Blink, Edge
    color:   #{$color_5};
}
&:-moz-placeholder { // Mozilla Firefox 4 to 18
   color:   #{$color_5};
   opacity:  1;
}
&::-moz-placeholder { // Mozilla Firefox 19+
   color:   #{$color_5};
   opacity:  1;
}
&:-ms-input-placeholder { // Internet Explorer 10-11
   color:    #{$color_5};
}
}


