///*      H I G H L I G H T     */

// Highlight state for placing color behind text span

@import "../variables";


// mark {
//     background-color: yellow;
//     color: black;
// }




// Try improving this from
// https://css-tricks.com/multi-line-padded-text/
span#{$evo}-highlight {
  // background: inherit;
  // color: inherit;
  // display: inline;
  // padding-left: .5ch;
  line-height: #{$highlight_line_height};
  padding-left: #{$highlight_padding_left};
  padding-right: #{$highlight_padding_right};
  padding-bottom: #{$highlight_padding_bottom};
  padding-top: #{$highlight_padding_top};
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.highlight-color {
    background-color: #{$highlight_color_background};
    color: #{$highlight_color};
    text-shadow: #{$highlight_text_shadow};
}


.inverse-highlight-color {
    background-color: #{$inverse_highlight_color_background};
    color: #{$inverse_highlight_color};
    text-shadow: #{$inverse_highlight_text_shadow};
}


.highlight-black {
    background-color: #{$highlight_black_background};
    color: #{$highlight_black};
    text-shadow: #{$highlight_text_shadow};
}

.highlight-white {
    background-color: #{$highlight_white_background};
    color: #{$highlight_white};
    text-shadow: #{$highlight_text_shadow};
}


// http://callmenick.com/post/multi-line-padded-text-css-box-decoration-break
// Use for highlights
// Should work with inline code blocks, too

// .highlight-small {
//   // background: inherit;
//   // color: inherit;
//   // display: inline;
//   // padding-left: .5ch;
//   line-height: 3.5ex !important;
//   padding-left: .5ch;
//   padding-right: .5ch;
//   padding-bottom: .5ex;
//   padding-top: .5ex;
//   -webkit-box-decoration-break: clone;
//   box-decoration-break: clone;
// }