///*      I C O N   E F F E C T   */

@import "../variables";
// @import "../variables/scale";
@import "text_mixin";

// CHEVRON
// "Scroll down" infinite chevron
// CSS-only solution for prompting a downward scroll
// http://codepen.io/xonic/pen/KWMaqe

.icon-scroll-chevron-container {
  position: relative;
  width: 24px;
  height: 24px;
}

.icon-scroll-chevron {
  position: absolute;
  width: 28px;
  // height: 8px; // Thicker chevron
  height: 1px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  // animation: icon-scroll-chevron-move 3s ease-out infinite; // faster
  animation: icon-scroll-chevron-move 10s ease-out infinite;
}

.icon-scroll-chevron:first-child {
  // animation: icon-scroll-chevron-move 3s ease-out 1s infinite; // faster
  animation: icon-scroll-chevron-move 10s ease-out 1s infinite;
}

.icon-scroll-chevron:nth-child(2) {
  // animation: icon-scroll-chevron-move 3s ease-out 2s infinite; // faster
  animation: icon-scroll-chevron-move 10s ease-out 2s infinite;
}

.icon-scroll-chevron:before,
.icon-scroll-chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.icon-scroll-chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.icon-scroll-chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes icon-scroll-chevron-move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.icon-scroll-chevron-text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: icon-scroll-chevron-pulse 2s linear alternate infinite;
}

@keyframes icon-scroll-chevron-pulse {
  to {
    opacity: 1;
  }
}


// MOUSEY
// "Scroll down" infinite mouse
// CSS-only solution for prompting a downward scroll
// http://codepen.io/2xsamurai/pen/WwmjKQ

.icon-scroll-mousey-container {
  position: relative;
  // width: 24px;
  // height: 24px;
}

.icon-scroll-mousey-scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  // width :34px;
  // height: 55px;
}
.icon-scroll-mousey {
  width: 3px;
  padding: 10px 15px;
  height: 55px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
}
.icon-scroll-mousey-scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: icon-scroll-mousey-scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes icon-scroll-mousey-scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}