///*      I C O N   S I Z E    */

@import "../variables";
// @import "../variables/scale";
@import "text_mixin";

// commented values to the right of top: will nudge icons down

// XXX Large Icon
.icon-size-xxx-large li:before,
a.icon-size-xxx-large:before {
height: 2em;
width: 2em;
left: -2.5em;
// top: .65em; // -.45em;
}
.icon-size-xxx-large li {
    margin-left: 2.5em;
}
a.icon-size-xxx-large {
    margin-left: 1em;
}

// XX Large Icon
.icon-size-xx-large li:before,
a.icon-size-xx-large:before {
height: 1.75em;
width: 1.75em;
left: -2.25em;
// top: .65em; // -.3em;
}
.icon-size-xx-large li {
    margin-left: 2.25em;
}
a.icon-size-xx-large {
    margin-left: .75em;
}

// X large Icon
.icon-size-x-large li:before,
a.icon-size-x-large:before {
height: 1.5em;
width: 1.5em;
left: -2em;
// top: .65em; // .5em or -.15em;
}
.icon-size-x-large li {
    margin-left: 2em;
}
a.icon-size-x-large {
    margin-left: .5em;
}


// Large Icon
.icon-size-large li:before,
a.icon-size-large:before {
height: 1.25em;
width: 1.25em;
left: -1.75em;
// top: .65em; // or -.05em
}
.icon-size-large li {
    margin-left: 1.75em;
}
a.icon-size-large {
    margin-left: .25em;
}


// Medium Icon
.icon-size-medium li:before,
a.icon-size-medium:before {
height: 1em;
width: 1em;
left: -1.5em;
// top: .65em; //. 15em;
}
.icon-size-medium li {
    margin-left: 1.5em;
}
a.icon-size-medium {
    margin-left: 0;
}


// Small Icon
.icon-size-small li:before,
a.icon-size-small:before {
height:.75em; 
width:.75em; 
left: -1.25em;
// top: .65em; // .3em
}
.icon-size-small li {
    margin-left: 1.25em;
}
a.icon-size-small {
    margin-left: -.25em;
}

// X Small Icon
.icon-size-x-small li:before,
a.icon-size-x-small:before {
height:.5em; 
width:.5em; 
left: -1em;
// top: .7em; // .425em;
}
.icon-size-x-small li {
    margin-left: 1em;
}
a.icon-size-x-small {
    margin-left: -.4em;
}

// XX Small Icon
.icon-size-xx-small li:before,
a.icon-size-xx-small:before {
height: .35em; 
width: .35em; 
left: -.75em;
// top: .65em; // .45em;
}
.icon-size-xx-small li {
    margin-left: .75em;
}

a.icon-size-xx-small {
    margin-left: -.65em;
}
