///*      I M A G E   F I L T E R     */


@import "../variables";


// Opacity
// https://www.w3schools.com/css/css3_images.asp
// https://www.w3schools.com/CSSref/css3_pr_filter.asp
// https://www.w3schools.com/css/css_image_transparency.asp
// May also support transparency of div tags as well...


.image-opacity-10-hover:hover,
.image-opacity-10-hover-none,
.image-opacity-10 {
    opacity: 0.1;
    filter: alpha(opacity=10); // For IE8 and earlier
}

.image-opacity-25-hover:hover,
.image-opacity-25-hover-none,
.image-opacity-25 {
    opacity: 0.25;
    filter: alpha(opacity=25); // For IE8 and earlier
}

.image-opacity-50-hover:hover,
.image-opacity-50-hover-none,
.image-opacity-50 {
    opacity: 0.5;
    filter: alpha(opacity=50); // For IE8 and earlier
}

.image-opacity-75-hover:hover,
.image-opacity-75-hover-none,
.image-opacity-75 {
    opacity: 0.75;
    filter: alpha(opacity=75); // For IE8 and earlier
}

.image-opacity-90-hover:hover,
.image-opacity-90-hover-none,
.image-opacity-90 {
    opacity: 0.90;
    filter: alpha(opacity=90); // For IE8 and earlier
}

// hover
.image-opacity-10-hover,
.image-opacity-25-hover,
.image-opacity-50-hover,
.image-opacity-75-hover,
.image-opacity-90-hover,
// hover on
.image-opacity-10-hover-none:hover,
.image-opacity-25-hover-none:hover,
.image-opacity-50-hover-none:hover,
.image-opacity-75-hover-none:hover,
.image-opacity-90-hover-none:hover,
.image-opacity-100 {
    // -webkit-filter: opacity(0%); // Safari 6.0 - 9.0
    opacity: 1;
    filter: alpha(opacity=100); // For IE8 and earlier
}


// grayscale

.image-grayscale-10-hover:hover,
.image-grayscale-10-hover-none,
.image-grayscale-10 {
    // -webkit-filter: grayscale(10%); // Safari 6.0 - 9.0
    filter: grayscale(10%);
}

.image-grayscale-25-hover:hover,
.image-grayscale-25-hover-none,
.image-grayscale-25 {
    // -webkit-filter: grayscale(25%); // Safari 6.0 - 9.0
    filter: grayscale(25%);
}

.image-grayscale-50-hover:hover,
.image-grayscale-50-hover-none,
.image-grayscale-50 {
    // -webkit-filter: grayscale(50%); // Safari 6.0 - 9.0
    filter: grayscale(50%);
}

.image-grayscale-75-hover:hover,
.image-grayscale-75-hover-none,
.image-grayscale-75 {
    // -webkit-filter: grayscale(75%); // Safari 6.0 - 9.0
    filter: grayscale(75%);
}
.image-grayscale-90-hover:hover,
.image-grayscale-90-hover-none,
.image-grayscale-90 {
    // -webkit-filter: grayscale(90%); // Safari 6.0 - 9.0
    filter: grayscale(90%);
}

.image-grayscale-100,
.image-grayscale {
    // -webkit-filter: grayscale(100%); // Safari 6.0 - 9.0
    filter: grayscale(100%);
}

.image-grayscale-0,
.image-grayscale-none,
// hover
.image-grayscale-10-hover,
.image-grayscale-25-hover,
.image-grayscale-50-hover,
.image-grayscale-75-hover,
.image-grayscale-90-hover,
// hover none
.image-grayscale-10-hover-none:hover,
.image-grayscale-25-hover-none:hover,
.image-grayscale-50-hover-none:hover,
.image-grayscale-75-hover-none:hover,
.image-grayscale-90-hover-none:hover {
    // -webkit-filter: grayscale(0%); // Safari 6.0 - 9.0
    filter: grayscale(0%);
    transition: .3s;
}

// Sepia


.image-sepia-10-hover:hover,
.image-sepia-10-hover-none,
.image-sepia-10 {
    // -webkit-filter: sepia(10%); // Safari 6.0 - 9.0
    filter: sepia(10%);
}

.image-sepia-25-hover:hover,
.image-sepia-25-hover-none,
.image-sepia-25 {
    // -webkit-filter: sepia(25%); // Safari 6.0 - 9.0
    filter: sepia(25%);
}

.image-sepia-50-hover:hover,
.image-sepia-50-hover-none,
.image-sepia-50 {
    // -webkit-filter: sepia(50%); // Safari 6.0 - 9.0
    filter: sepia(50%);
}

.image-sepia-75-hover:hover,
.image-sepia-75-hover-none,
.image-sepia-75 {
    // -webkit-filter: sepia(75%); // Safari 6.0 - 9.0
    filter: sepia(75%);
}
.image-sepia-90-hover:hover,
.image-sepia-90-hover-none,
.image-sepia-90 {
    // -webkit-filter: sepia(90%); // Safari 6.0 - 9.0
    filter: sepia(90%);
}

.image-sepia-100,
.image-sepia {
    // -webkit-filter: sepia(100%); // Safari 6.0 - 9.0
    filter: sepia(100%);
}

.image-sepia-0,
.image-sepia-none,
// hover
.image-sepia-10-hover,
.image-sepia-25-hover,
.image-sepia-50-hover,
.image-sepia-75-hover,
.image-sepia-90-hover,
// hover none
.image-sepia-10-hover-none:hover,
.image-sepia-25-hover-none:hover,
.image-sepia-50-hover-none:hover,
.image-sepia-75-hover-none:hover,
.image-sepia-90-hover-none:hover {
    // -webkit-filter: sepia(0%); // Safari 6.0 - 9.0
    filter: sepia(0%);
    transition: .3s;
}



// Blur


.image-blur-3,
.image-blur-3-hover:hover,
.image-blur-3-hover-none {
    // -webkit-filter: blur(3px); // Safari 6.0 - 9.0
    filter: blur(3px);
}

.image-blur-5,
.image-blur-5-hover:hover,
.image-blur-5-hover-none {
    // -webkit-filter: blur(5px); // Safari 6.0 - 9.0
    filter: blur(5px);
}

.image-blur-10,
.image-blur-10-hover:hover,
.image-blur-10-hover-none {
    // -webkit-filter: blur(10px); // Safari 6.0 - 9.0
    filter: blur(10px);
}

.image-blur-15,
.image-blur-15-hover:hover,
.image-blur-15-hover-none {
    // -webkit-filter: blur(15px); // Safari 6.0 - 9.0
    filter: blur(15px);
}

.image-blur-20,
.image-blur-20-hover:hover,
.image-blur-20-hover-none {
    // -webkit-filter: blur(20px); // Safari 6.0 - 9.0
    filter: blur(20px);
}

.image-blur-25,
.image-blur-25-hover:hover,
.image-blur-25-hover-none,
.image-blur {
    // -webkit-filter: blur(25px); // Safari 6.0 - 9.0
    filter: blur(25px);
}

.image-blur-none,
.image-blur-0,
// hover
.image-blur-3-hover,
.image-blur-5-hover,
.image-blur-10-hover,
.image-blur-15-hover,
.image-blur-20-hover,
.image-blur-25-hover,
// hover none
.image-blur-3-hover-none:hover,
.image-blur-5-hover-none:hover,
.image-blur-10-hover-none:hover,
.image-blur-15-hover-none:hover,
.image-blur-20-hover-none:hover,
.image-blur-25-hover-none:hover {
    // -webkit-filter: blur(0px); // Safari 6.0 - 9.0
    filter: blur(0px);
    transition: .3s;
}



// // Image contrast

// .image-contrast-0 {
//     filter: contrast(.1);
// }

// .image-contrast-1 {
//     filter: contrast(.4);
// }

// .image-contrast-2 {
//     filter: contrast(.5);
// }

// .image-contrast-3 {
//     filter: contrast(.6);
// }

// .image-contrast-4 {
//     filter: contrast(.7);
// }

// .image-contrast-5 {
//     filter: contrast(.8);
// }

// .image-contrast-6 {
//     filter: contrast(.9);
// }

// .image-contrast-7 {
//     filter: contrast(1);
// }

// .image-contrast-8 {
//     filter: contrast(1.1);
// }

// .image-contrast-9 {
//     filter: contrast(1.2);
// }

// .image-contrast-10 {
//     filter: contrast(1.3);
// }


