///*      I M A G E   P L A Y     */


@import "../variables";

// http://webdesignerwall.com/tutorials/create-spotify-colorizer-effects-css-blend-modes

// Green

.blend-green{
   background-color: #00ff36;
}

.blend-green img{
   filter: grayscale(100%) contrast(1);
   mix-blend-mode: multiply;
}

.blend-green::after{
  background-color: #23278a;
  mix-blend-mode: lighten;
}


// Purple

.blend-purple{
   background-color: #88169d;
}
.blend-purple img{
   -webkit-filter: grayscale(100%) contrast(1.2);
   filter: grayscale(100%) contrast(1.2);
   mix-blend-mode: lighten;
}
.blend-purple::after{
   mix-blend-mode: hard-light;
   background: linear-gradient(to top left, #75d775, #321a5b);
}

.blend-column::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all ease-in-out .5s;
}

// Removed effects to show original on hover
.blend-column:hover::after, .blend-column:hover, .blend-column:hover img{
  filter: none;
  -webkit-filter: none;
  mix-blend-mode: unset !important;
  background: transparent;
}
