///*      I M A G E   E F F E C T     */


@import "../variables";


// https://www.w3schools.com/howto/howto_css_image_overlay.asp

.image-fill-2 {
     opacity: 0;
     transition: .5s ease;
     background-color: #008CBA;
}

.position-relative:hover .image-fill-2 {
    opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
}

