///*      I M A G E   R A T I O     */



@import "../variables";

// w3schools + tachyons


// square
.image-ratio-1-1 {
    padding-top: 100%;
}



 // 16:9 aspect ratio
.image-ratio-16-9 {
    padding-top: 56.25%;
}

 // 16:9 aspect ratio vertically oriented
.image-ratio-9-16 {
    padding-top: 177.77%;
}





// 5:8 horizontal
.image-ratio-5-8 {
    padding-top: 160%;
}

// 5:8 vertically oriented
.image-ratio-8-5 {
    padding-top: 62.5%; // 8:5 Aspect Ratio
}





// 5:7 horizontal
.image-ratio-5-7 {
    padding-top: 140%;
}

// 5:7 vertically oriented
.image-ratio-7-5 {
    padding-top: 71.42%
}




// 4:6 horizontal
.image-ratio-3-2,
.image-ratio-6-4 {
    padding-top: 66.6%;
}

// 4:6 and 3:2 vertically oriented
.image-ratio-2-3,
.image-ratio-4-6 {
    padding-top: 150%;
}




// 4:3 horizontal
.image-ratio-4-3 {
    padding-top: 75%;
}

// 4:3 vertically oriented
.image-ratio-3-4 {
    padding-top: 133.33%;
}



