///*      L A Y O U T      */

// Align elements on a grid across a page

@import "../variables";

// Just for the website
// DOES THIS CONFLICT WITH LAYOUT GRID CLASSES?

.layout-example-grid > div {
  border-left: solid 1px #ccc;
/*  background-color: rgba(235,235,235, 0.5);*/
  height: 10vh;
  padding-top:3px;
  padding-bottom:2px;
  padding-left:8px;
  width: 8.333333333%;
  float:left;
}

.layout-example-grid > div:nth-last-child(1) {
  border-right: solid 1px #ccc;
}





// Display utilities

.display-none {
    display: none
}

.display-inline {
    display: inline
}

.display-block {
    display: block !important;
}

.display-inline-block {
    display: inline-block
}

.display-inline-table {
    display: inline-table
}

.display-table {
    display: table
}

.display-table-cell {
    display: table-cell
}

.display-table-row {
    display: table-row
}

.display-table-row-group {
    display: table-row-group
}

.display-table-column {
    display: table-column
}

.display-table-column-group {
    display: table-column-group
}

.display-table-layout-fixed {
    table-layout: fixed;
    width: 100%
}




// Vertical align
// https://www.w3schools.com/cssref/pr_pos_vertical-align.asp


.vertical-align-baseline {
    vertical-align: baseline
}

.vertical-align-middle {
    vertical-align: middle
}

.vertical-align-top {
    vertical-align: top
}

.vertical-align-bottom {
    vertical-align: bottom
}

.vertical-align-text-top {
    vertical-align: text-top
}

.vertical-align-text-bottom {
    vertical-align: text-bottom
}




// Overflows...

.pre {
    overflow-x: auto;
    overflow-y: hidden;
    overflow: scroll
}


.overflow-visible {
    overflow: visible
}

.overflow-hidden {
    overflow: hidden
}

.overflow-scroll {
    overflow: scroll
}

.overflow-auto {
    overflow: auto
}

.overflow-x-visible {
    overflow-x: visible
}

.overflow-x-hidden {
    overflow-x: hidden
}

.overflow-x-scroll {
    overflow-x: scroll
}

.overflow-x-auto {
    overflow-x: auto
}

.overflow-y-visible {
    overflow-y: visible
}

.overflow-y-hidden {
    overflow-y: hidden
}

.overflow-y-scroll {
    overflow-y: scroll
}

.overflow-y-auto {
    overflow-y: auto
}

// Helper classes
// From HTML5 Boilerplate

// /*
//  * Hide visually and from screen readers
//  */

.hidden {
    display: none !important;
}

.display-hidden {
  display: hidden;
}

// /*
//  * Hide only visually, but have it available for screen readers:
//  * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
//  */

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// /*
//  * Extends the .visuallyhidden class to allow the element
//  * to be focusable when navigated to via the keyboard:
//  * https://www.drupal.org/node/897638
//  */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// /*
//  * Hide visually and from screen readers, but maintain layout
//  */

.invisible {
    visibility: hidden;
}

