///*      L I N K   S T Y L E S    */

@import "../variables";
// @import "../variables/scale";


// links states
// order must be a:link, a:visited, a:hover, a:active



// ================================================================================
//---------------------------- TOOLKIT PARAGRAPH LINKS ----------------------------
// ================================================================================ 

// Solid

p a {
    color: inherit;
    transition: color 1s ease;
    text-decoration: none;
    border-bottom: 1px solid;
}

p a:link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

p a:hover {
    transition: 0s ease;
    border-bottom: 1px solid;
}

// dotted

p a.dotted {
    color: inherit;
    transition: color 1s ease;
    text-decoration: none;
    border-bottom: 1px dotted;
}

p a.dotted:link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted;
}

p a.dotted:hover {
    transition: 0s ease;
    border-bottom: 1px dotted;
}


// Dashed

p a.dashed {
    color: inherit;
    transition: color 1s ease;
    text-decoration: none;
    border-bottom: 1px dashed;
}

p a.dashed:link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed;
}

p a.dashed:hover {
    transition: 0s ease;
    border-bottom: 1px dashed;
}



// ================================================================================
// -------------------------------- TOOLKIT LINKS ------------------------------
// ================================================================================ 

// Default Links

.disabled {
    pointer-events: none;
    cursor: default;
}

.disabled-button {
    background-clip: padding-box;
}


a:link                      { color: $link_color;           text-decoration: $text_decoration_link; }
a:visited                   { color: $link_color_visited;   text-decoration: $text_decoration_visited; }
a:hover                     { color: $link_color_hover;   text-decoration: $text_decoration_hover; }
a:active                    { color: $link_color_active;    text-decoration: $text_decoration_active; }
.evo-active                 { font-weight: bold; }

// TO DO experiment with this class
// .evo-link-inverse
a.evo-link-inverse:link               { color: $link_color_inverse !important;           text-decoration: $text_decoration_link !important; }
a.evo-link-inverse:visited            { color: $link_color_inverse_visited !important;   text-decoration: $text_decoration_visited !important; }
a.evo-link-inverse:hover              { color: $gray_evo !important;                       text-decoration: $text_decoration_hover !important; }
a.evo-link-inverse:active             { color: $link_color_inverse_active !important;    text-decoration: $text_decoration_active !important; }
// .evo-active-inverse          { color: $link_color_inverse_active;    text-decoration: $text_decoration_active; }

// }

// Branded Links
// http://stackoverflow.com/questions/4531208/different-color-links-on-the-same-html-page

a.brand-color-1             { color: $link_color; }
a.brand-color-1:hover       { color: $brand_color_1; text-decoration: $text_decoration_hover; }
a.brand-color-1-disabled    { color: $light_gray_evo; @extend .disabled; }


a.brand-color-2             { color: $link_color; }
a.brand-color-2:hover       { color: $brand_color_2; text-decoration: $text_decoration_hover; }
a.brand-color-2-disabled    { color: $light_gray_evo; @extend .disabled; }


a.brand-color-3             { color: $link_color; }
a.brand-color-3:hover       { color: $brand_color_3; text-decoration: $text_decoration_hover; }
a.brand-color-3-disabled    { color: $light_gray_evo; @extend .disabled; }


a.brand-color-4             { color: $link_color; }
a.brand-color-4:hover       { color: $brand_color_4; text-decoration: $text_decoration_hover; }
a.brand-color-4-disabled    { color: $light_gray_evo; @extend .disabled; }




// Solid Links

a.brand-color-1-solid span           { color: $white_evo; border-color: $link_color; background-color: $link_color;}
a.brand-color-1-solid-disabled span  { color: $white_evo;  @extend .disabled-button; border-color: $light_gray_evo; background-color: $light_gray_evo;}
a.brand-color-1-solid-disabled       { @extend .disabled;  @extend .disabled-button; }
a.brand-color-1-solid:hover span     { color: $white_evo; border-color: $brand_color_1; background-color: $brand_color_1; text-decoration: $text_decoration_hover; }

a.brand-color-2-solid span           { color: $white_evo; border-color: $link_color; background-color: $link_color;}
a.brand-color-2-solid-disabled span  { color: $white_evo;  @extend .disabled-button; border-color: $light_gray_evo; background-color: $light_gray_evo;}
a.brand-color-2-solid-disabled       { @extend .disabled; @extend .disabled-button; }
a.brand-color-2-solid:hover span     { color: $white_evo; border-color: $brand_color_2; background-color: $brand_color_2; text-decoration: $text_decoration_hover; }

a.brand-color-3-solid span           { color: $white_evo; border-color: $link_color; background-color: $link_color;}
a.brand-color-3-solid-disabled span  { color: $white_evo;  @extend .disabled-button; border-color: $light_gray_evo; background-color: $light_gray_evo;}
a.brand-color-3-solid-disabled       { @extend .disabled; @extend .disabled-button; }
a.brand-color-3-solid:hover span     { color: $white_evo; border-color: $brand_color_3; background-color: $brand_color_3; text-decoration: $text_decoration_hover; }

a.brand-color-4-solid span           { color: $white_evo; border-color: $link_color; background-color: $link_color;}
a.brand-color-4-solid-disabled span  { color: $white_evo;  @extend .disabled-button; border-color: $light_gray_evo; background-color: $light_gray_evo;}
a.brand-color-4-solid-disabled       { @extend .disabled; @extend .disabled-button; }
a.brand-color-4-solid:hover span     { color: $white_evo; border-color: $brand_color_4; background-color: $brand_color_4; text-decoration: $text_decoration_hover; }



.brand-color-solid-button-link                   { @extend %evo-button-14; color: $white_evo; background-color: $link_color; border-color: $link_color; }
.brand-color-solid-button-visited                { @extend %evo-button-14; color: $white_evo; background-color: $link_color; border-color: $link_color; }
.brand-color-solid-button-hover                  { @extend %evo-button-14; color: $white_evo; background-color: $link_color; border-color: $link_color; }
.brand-color-solid-button-inverse-hover          { @extend %evo-button-14; color: $black_evo; background-color: $gray_evo; border-color: $gray_evo; }
.brand-color-solid-button-active                 { @extend %evo-button-14; color: $white_evo; background-color: $black_evo;  font-weight: bold; border-color: $black_evo;  }
.brand-color-solid-button-disabled               { @extend %evo-button-14; @extend .disabled-button; color: $white_evo; background-color: $light_gray_evo; border-color: $light_gray_evo;  }
.brand-color-inverse-solid-button-disabled       { @extend %evo-button-14; @extend .disabled-button; color: $black_evo; background-color: $rgb_gray_15_inverse_evo; border-color: $rgb_gray_15_inverse_evo;  }



.brand-color-1-solid-button-hover       { @extend %evo-button-14; color: $white_evo; background-color: $brand_color_1; border-color: $brand_color_1; }
.brand-color-2-solid-button-hover       { @extend %evo-button-14; color: $white_evo; background-color: $brand_color_2; border-color: $brand_color_2; }
.brand-color-3-solid-button-hover       { @extend %evo-button-14; color: $white_evo; background-color: $brand_color_3; border-color: $brand_color_3; }
.brand-color-4-solid-button-hover       { @extend %evo-button-14; color: $white_evo; background-color: $brand_color_4; border-color: $brand_color_4; }



// Ghost-Solid Links

a.brand-color-1-ghost-solid span           { color: $link_color; border-color: $link_color; }
a.brand-color-1-ghost-solid-disabled span  { color: $white_evo; border-color: $light_gray_evo; background-color: $light_gray_evo;}
a.brand-color-1-ghost-solid-disabled       { @extend .disabled;}
a.brand-color-1-ghost-solid:hover span     { color: $white_evo; border-color: $brand_color_1; background-color: $brand_color_1; text-decoration: $text_decoration_hover; }

a.brand-color-2-ghost-solid span           { color: $link_color; border-color: $link_color; }
a.brand-color-2-ghost-solid-disabled span  { color: $white_evo; border-color: $light_gray_evo; background-color: $light_gray_evo;}
a.brand-color-2-ghost-solid-disabled       { @extend .disabled;}
a.brand-color-2-ghost-solid:hover span     { color: $white_evo; border-color: $brand_color_2; background-color: $brand_color_2; text-decoration: $text_decoration_hover; }

a.brand-color-3-ghost-solid span           { color: $link_color; border-color: $link_color; }
a.brand-color-3-ghost-solid-disabled span  { color: $white_evo; border-color: $light_gray_evo; background-color: $light_gray_evo;}
a.brand-color-3-ghost-solid-disabled       { @extend .disabled;}
a.brand-color-3-ghost-solid:hover span     { color: $white_evo; border-color: $brand_color_3; background-color: $brand_color_3; text-decoration: $text_decoration_hover; }

a.brand-color-4-ghost-solid span           { color: $link_color; border-color: $link_color; }
a.brand-color-4-ghost-solid-disabled span  { color: $white_evo; border-color: $light_gray_evo; background-color: $light_gray_evo;}
a.brand-color-4-ghost-solid-disabled       { @extend .disabled;}
a.brand-color-4-ghost-solid:hover span     { color: $white_evo; border-color: $brand_color_4; background-color: $brand_color_4; text-decoration: $text_decoration_hover; }




// structural code for the branding.html file.

// Inverse 

.evo-inverse a                 { color: $link_color_inverse;           text-decoration: $text_decoration_link; }
.evo-inverse                   { color: $link_color_inverse;           text-decoration: $text_decoration_link; }


a.evo-inverse:link              { color: $link_color_inverse;           text-decoration: $text_decoration_link; }
a.evo-inverse:visited           { color: $link_color_inverse_visited;   text-decoration: $text_decoration_visited; }
a.evo-inverse:hover             { color: $gray_evo; border-color: $gray_evo; text-decoration: $text_decoration_hover; }
a.evo-inverse:active            { color: $link_color_inverse_active;    text-decoration: $text_decoration_active; }
.evo-inverse-active             { color: $link_color_inverse_active;    text-decoration: $text_decoration_active; }


a.brand-color-inverse-1             { color: $link_color_inverse; }
a.brand-color-inverse-1:hover       { color: $brand_color_1; text-decoration: $text_decoration_hover; }
a.brand-color-inverse-1:active      { color: $brand_color_1; text-decoration: $text_decoration_active; }
a.brand-color-inverse-1-disabled    { color: $rgb_gray_15_inverse_evo; @extend .disabled; }


a.brand-color-inverse-2             { color: $link_color_inverse; }
a.brand-color-inverse-2:hover       { color: $brand_color_2; text-decoration: $text_decoration_hover; }
a.brand-color-inverse-2:active      { color: $brand_color_2; text-decoration: $text_decoration_active; }
a.brand-color-inverse-2-disabled    { color: $rgb_gray_15_inverse_evo; @extend .disabled; }

a.brand-color-inverse-3             { color: $link_color_inverse; }
a.brand-color-inverse-3:hover       { color: $brand_color_3; text-decoration: $text_decoration_hover; }
a.brand-color-inverse-3:active      { color: $brand_color_3; text-decoration: $text_decoration_active; }
a.brand-color-inverse-3-disabled    { color: $rgb_gray_15_inverse_evo; @extend .disabled; }

a.brand-color-inverse-4             { color: $link_color_inverse; }
a.brand-color-inverse-4:hover       { color: $brand_color_4; text-decoration: $text_decoration_hover; }
a.brand-color-inverse-4:active      { color: $brand_color_4; text-decoration: $text_decoration_active; }
a.brand-color-inverse-4-disabled    { color: $rgb_gray_15_inverse_evo; @extend .disabled; }



// Solid Inverse Links

a.brand-color-inverse-1-solid span           { color: $black_evo; border-color: $link_color_inverse; background-color: $link_color_inverse;}
a.brand-color-inverse-1-solid-disabled span  { color: $black_evo;  @extend .disabled-button; border-color: $rgb_gray_15_inverse_evo; background-color: $rgb_gray_15_inverse_evo;}
a.brand-color-inverse-1-solid-disabled       { @extend .disabled; @extend .disabled-button; }
a.brand-color-inverse-1-solid:hover span     { color: $black_evo; border-color: $brand_color_1; background-color: $brand_color_1; text-decoration: $text_decoration_hover; }

a.brand-color-inverse-2-solid span           { color: $black_evo; border-color: $link_color_inverse; background-color: $link_color_inverse;}
a.brand-color-inverse-2-solid-disabled span  { color: $black_evo;  @extend .disabled-button; border-color: $rgb_gray_15_inverse_evo; background-color: $rgb_gray_15_inverse_evo;}
a.brand-color-inverse-2-solid-disabled       { @extend .disabled; @extend .disabled-button; }
a.brand-color-inverse-2-solid:hover span     { color: $black_evo; border-color: $brand_color_2; background-color: $brand_color_2; text-decoration: $text_decoration_hover; }

a.brand-color-inverse-3-solid span           { color: $black_evo; border-color: $link_color_inverse; background-color: $link_color_inverse;}
a.brand-color-inverse-3-solid-disabled span  { color: $black_evo;  @extend .disabled-button; border-color: $rgb_gray_15_inverse_evo; background-color: $rgb_gray_15_inverse_evo;}
a.brand-color-inverse-3-solid-disabled       { @extend .disabled; @extend .disabled-button; }
a.brand-color-inverse-3-solid:hover span     { color: $black_evo; border-color: $brand_color_3; background-color: $brand_color_3; text-decoration: $text_decoration_hover; }

a.brand-color-inverse-4-solid span           { color: $black_evo; border-color: $link_color_inverse; background-color: $link_color_inverse;}
a.brand-color-inverse-4-solid-disabled span  { color: $black_evo;  @extend .disabled-button; border-color: $rgb_gray_15_inverse_evo; background-color: $rgb_gray_15_inverse_evo;}
a.brand-color-inverse-4-solid-disabled       { @extend .disabled; @extend .disabled-button; }
a.brand-color-inverse-4-solid:hover span     { color: $black_evo; border-color: $brand_color_4; background-color: $brand_color_4; text-decoration: $text_decoration_hover; }



.brand-color-inverse-solid-button-link        { @extend %evo-button-14; color: $black_evo; background-color: $link_color_inverse; border-color: $link_color_inverse; }
.brand-color-inverse-solid-button-visited     { @extend %evo-button-14; color: $black_evo; background-color: $link_color_inverse; border-color: $link_color_inverse; }
.brand-color-inverse-solid-button-hover       { @extend %evo-button-14; color: $black_evo; background-color: $link_color_inverse; border-color: $link_color_inverse; }
.brand-color-inverse-solid-button-active      { @extend %evo-button-14; color: $black_evo; background-color: $white_evo;  font-weight: bold; border-color: $white_evo;  }



.brand-color-inverse-1-solid-button-hover       { @extend %evo-button-14; color: $black_evo; background-color: $brand_color_1; border-color: $brand_color_1; }
.brand-color-inverse-2-solid-button-hover       { @extend %evo-button-14; color: $black_evo; background-color: $brand_color_2; border-color: $brand_color_2; }
.brand-color-inverse-3-solid-button-hover       { @extend %evo-button-14; color: $black_evo; background-color: $brand_color_3; border-color: $brand_color_3; }
.brand-color-inverse-4-solid-button-hover       { @extend %evo-button-14; color: $black_evo; background-color: $brand_color_4; border-color: $brand_color_4; }



// Ghost-Solid Inverse Links

a.brand-color-inverse-1-ghost-solid span           { color: $link_color_inverse; border-color: $link_color_inverse; }
a.brand-color-inverse-1-ghost-solid-disabled span  { color: $black_evo; border-color: $rgb_gray_15_inverse_evo; background-color: $rgb_gray_15_inverse_evo;}
a.brand-color-inverse-1-ghost-solid-disabled       { @extend .disabled;}
a.brand-color-inverse-1-ghost-solid:hover span     { color: $black_evo; border-color: $brand_color_1; background-color: $brand_color_1; text-decoration: $text_decoration_hover; }

a.brand-color-inverse-2-ghost-solid span           { color: $link_color_inverse; border-color: $link_color_inverse; }
a.brand-color-inverse-2-ghost-solid-disabled span  { color: $black_evo; border-color: $rgb_gray_15_inverse_evo; background-color: $rgb_gray_15_inverse_evo;}
a.brand-color-inverse-2-ghost-solid-disabled       { @extend .disabled;}
a.brand-color-inverse-2-ghost-solid:hover span     { color: $black_evo; border-color: $brand_color_2; background-color: $brand_color_2; text-decoration: $text_decoration_hover; }

a.brand-color-inverse-3-ghost-solid span           { color: $link_color_inverse; border-color: $link_color_inverse; }
a.brand-color-inverse-3-ghost-solid-disabled span  { color: $black_evo; border-color: $rgb_gray_15_inverse_evo; background-color: $rgb_gray_15_inverse_evo;}
a.brand-color-inverse-3-ghost-solid-disabled       { @extend .disabled;}
a.brand-color-inverse-3-ghost-solid:hover span     { color: $black_evo; border-color: $brand_color_3; background-color: $brand_color_3; text-decoration: $text_decoration_hover; }

a.brand-color-inverse-4-ghost-solid span           { color: $link_color_inverse; border-color: $link_color_inverse; }
a.brand-color-inverse-4-ghost-solid-disabled span  { color: $black_evo; border-color: $rgb_gray_15_inverse_evo; background-color: $rgb_gray_15_inverse_evo; font-weight: normal !important; }
a.brand-color-inverse-4-ghost-solid-disabled       { @extend .disabled;}
a.brand-color-inverse-4-ghost-solid:hover span     { color: $black_evo; border-color: $brand_color_4; background-color: $brand_color_4; text-decoration: $text_decoration_hover; }


