///*      L I N E    */

@import "../variables";
// @import "../variables/scale";
// @import "line_mixin";


hr,
#{$evo}-line {
// Resets
display:block;
height:0;
border:0;
border-top:0;
margin:0;
padding:0;
overflow: visible;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
// Settings from _variables.scss
border-top-width: #{$line_width};
border-top-style: #{$line_style};
border-top-color: #{$line_color};
margin-top: #{$line_margin_top};
margin-bottom: #{$line_margin_bottom};
}


// For website demo only

.demo-line hr[class*="line-"]  {
/*padding-bottom: 5rem;*/
margin-top: .5em;
/*background-color: #eee;*/
margin-bottom: 3em;
}

// // /* Color Pulse */
// // /* http://www.w3schools.com/cssref/tryit.asp?filename=trycss_anim_border-top */
// hr.color-pulse {
//     -webkit-animation: mymove 5s infinite;  Chrome, Safari, Opera 
//     animation: mymove 5s infinite;
// }

// // /* Chrome, Safari, Opera */
// @-webkit-keyframes mymove {
//     50% {border-top: solid lightblue;}
// }

// // /* Standard syntax */
// @keyframes mymove {
//     50% {border-top: solid lightblue;}
// }