///*      N A V    */

@import "../variables";
// @import "../variables/scale";




// body {
//   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   margin: 0;
// }

@media (min-width: 769px){
  .evo-navigation {
    width: 100%;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;

    .contain {
      max-width: 1400px;
      margin: 0 auto;
    }
    .logo {
      display: block;
      float: left;
      padding: 10px;

      img {
        height: 45px;
      }
    }
    .nav-list {
      margin: 15px 0 0 0;
    }
    .toggle, input {
      display: none;
    }
    .nav-button {
      margin: 0 5px;
      border: 1px solid #555;
      border-radius: 1px;
    }
    ul {
      display: inline-block;
      padding: 0;
      list-style: none;
      position: relative;
      text-align: left;

      li {
        padding: 0;
        margin: 0;
        float: left;
        position: relative;

        &:hover {
          background: #fafafa;

          > ul {
            display: block;
          }
        }
      }
      .drop-item {
        position: relative;

        &:before, &:after {
          content: "";
          height: 10px;
          width: 2px;
          background: #555;
          border-radius: 1px;
          position: absolute;
          left: 10px;
        }
        &:before {
          top: 10px;
          transform: rotate(45deg);
        }
        &:after {
          top: 16px;
          transform: rotate(-45deg);
        }
      }
      a {
        padding: 5px 15px;
        display: block;
        color: #333;
        font-size: 1em;
        line-height: 1.618em;
        text-decoration: none;
      }
      ul {
        float: right;
        display: none;
        padding: 0;
        background: #fafafa;
        position: absolute;
        top: 100%;
        right: 0;
        text-align: right;

        li {
          width: 200px;
          float: none;

          &:hover {
            background: #f1f1f1;
          }
        }
        a {
          padding: 10px 15px;
          line-height: 120%;
        }
        ul {
          top: 0;
          right: 100%
        }
      }
    }
  }
  // mobile nav button
  .navbutton {
    display: none;
  }
}
@media (max-width: 768px){
  .evo-navigation {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .contain {
      max-width: 1400px;
      margin: 0 auto;
    }
    .logo {
      display: block;
      float: left;
      padding: 10px;

      img {
        height: 45px;
      }
    }
    .nav-list.menu-offcanvas {
      height: 100vh;
      width: 100%;
      margin: 0;
      display: block;
      background: rgba(255,255,255,0.85);
      position: absolute;
      top: 0;
      left: 100%;
      transition: ease all 0.2s;
    }
    .nav-list.nav-open-canvas {
      left: 0;
    }
    .nav-list.menu-modal {
      height: 100vh;
      width: 100%;
      margin: 0;
      display: none;
      background: rgba(0,0,0,0.65);
      color: #fafafa!important;
      position: absolute;
      top: 0;
      left: 0;
      transition: ease all 0.2s;
      text-align: center;

      ul {
        left: 0;
        background: #555;

        li {
          color: #fff;

          &:hover {
            background: #333!important;
            cursor: pointer;

            label {
              color: #fff!important;
            }
          }
          a {
            color: #fff;
          }
        }
      }
      .toggle {
        border-bottom: 1px solid #888;
      }
      .item.top {
        color: #fafafa;
        font-size: 2em;

        &:hover {
          color: #fff;
          cursor: pointer;
        }
      }
    }
    .nav-list.nav-open-modal {
      display: block;
    }
    .nav-button {
      margin: 0 5px;
      border: 1px solid #555;
      border-radius: 1px;
    }
    ul {
      padding: 0;
      list-style: none;
      position: relative;
      overflow-x: hidden;
      overflow-y: scroll;

      li {
        padding: 0;
        margin: 0;
        position: relative;

        &:hover {
          cursor: pointer;
        }
      }
      .drop-item {
        position: relative;

        &:before, &:after {
          content: "";
          height: 10px;
          width: 2px;
          background: #555;
          border-radius: 1px;
          position: absolute;
          top: 15px;
        }
        &:before {
          left: 16px;
          transform: rotate(45deg);
        }
        &:after {
          left: 10px;
          transform: rotate(-45deg);
        }
      }
      a, .item {
        padding: 5px 30px;
        display: block;
        color: #333;
        font-size: 1em;
        line-height: 1.618em;
        text-decoration: none;
      }
      ul {
        float: none;
        display: none;
        padding: 0;
        background: #fafafa;
        position: relative;
        top: 100%;
        left: 5%;

        li {
          width: 100%;
          float: none;

          &:hover {
            background: #f1f1f1;
          }
        }
        a, .item {
          padding: 10px 30px;
          line-height: 120%;

          &:hover {
            cursor: pointer!important;
          }
        }
        ul {
          top: 0;
          right: 0;
        }
      }
    }
  }


  a.item.drop, input {
    display: none;
  }
  [id^=drop]:checked + ul {
    display: block;
  }
  nav ul li {
    display: block;
    width: 100%;
  }





  // mobile nav button
  .navbutton {
    display: block;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 14px;
    right: 16px;
    cursor: pointer;
    transition: ease all 0.3s;

    .bars {
      height: 3px;
      width: 100%;
      display: block;
      background: #555;
      border-radius: 1.5px;
      opacity: 0.8;
      position: absolute;
      top: 50%;
      transition: ease all 0.2s;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: #555;
        border-radius: 2px;
        position: absolute;
        top: -11px;
        left: 0;
        transition: ease all 0.2s;
      }
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: #555;
        border-radius: 2px;
        position: absolute;
        top: 11px;
        left: 0;
        transition: ease all 0.2s;
      }
    }
    &:hover .bars {
      opacity: 1;
      transition: ease all 0.2s;

      &:before, &:after {
        width: 100%;
      }
    }
  }
  .navbutton.menu-modal.nav-open-modal {

    .bars {
      background: #fff;

      &:before, &:after {
        background: #fff;
      }
    }
  }
  /* menu icon after click */
  .navbutton.nav-open-canvas, .navbutton.nav-open-modal {
    position: absolute;

    .bars {
      opacity: 0.6;
      transform: rotate(45deg) scale(0.6);

      &:before {
        width: 100%;
        top: 0px;
        transform: rotate(90deg);
      }
      &:after {
        width: 100%;
        top: 0px;
        transform: rotate(90deg);
      }
    }
  }
}
