///*      S E L E C T I O N     */

// Selection state when selecting text in browser

@import "../variables";

// https://css-tricks.com/overriding-the-default-text-selection-color-with-css/

// Note how the selectors are not combined, 
// even though the style block is doing the same thing. 
// It doesn't work if you combine them:
// /* Combining like this WILL NOT WORK */
// p.yellow::selection,
// p.yellow::-moz-selection {
//   background: #fff2a8;
// }

// That's because browsers ignore the entire selector 
// if there is a part of it they don't understand or 
// is invalid. There is some exceptions to this (IE 7?) 
// but not in relation to these selectors.


// // For other browsers
// ::-o-selection {
//    background-color: #{$selection_color_background};
//    color: #{$selection_color};
//    cursor: text;
// }

// ::-ms-selection {
//    background-color: #{$selection_color_background};
//    color: #{$selection_color};
//    cursor: text;
// }

// // For webkit browsers
// ::-webkit-selection {
//    background-color: #{$selection_color_background};
//    color: #{$selection_color};
//     cursor: text;
// }

// // For mozilla browsers
// ::-moz-selection  {
//     background: #{$selection_color_background};
//     color: #{$selection_color};
//     // text-shadow: #{$selection_text_shadow};
//     cursor: text;
// }

// Selection
::selection   {
    background: #{$selection_color_background};
    color: #{$selection_color};
    text-shadow: #{$selection_text_shadow};
    cursor: text;
}

// For demonstration
span#{$evo}-selection {
    // background-color: #{$selection_color_background};
    background: #{$selection_color_background_demo}; // demo color
    color: #{$selection_color};
    text-shadow: #{$selection_text_shadow};
    cursor: text;
}




// // Selection Color

// // For other browsers
// .selection-color::-o-selection {
//    background-color: #{$selection_color_background};
//    color: #{$selection_color};
// }

// .selection-color::-ms-selection {
//    background-color: #{$selection_color_background};
//    color: #{$selection_color};
// }

// // For webkit browsers
// .selection-color::-webkit-selection {
//    background-color: #{$selection_color_background};
//    color: #{$selection_color};
// }

// // For mozilla browsers
// .selection-color::-moz-selection  {
//     background: #{$selection_color_background};
//     color: #{$selection_color};
//     // text-shadow: #{$selection_text_shadow};
// }

// // Selection
// .selection-color::selection   {
//     background: #{$selection_color_background};
//     color: #{$selection_color};
//     text-shadow: #{$selection_text_shadow};
// }

// // For demonstration
// span.selection-color {
//     // background-color: #{$selection_color_background};
//     background: #{$selection_color_background_demo}; // demo color
//     color: #{$selection_color};
//     text-shadow: #{$selection_text_shadow};
// }


// // Selection Black

// // For other browsers
// .selection-black::-o-selection {
//    background-color: #{$selection_black_background};
//    color: #{$selection_black};
// }

// .selection-black::-ms-selection {
//    background-color: #{$selection_black_background};
//    color: #{$selection_black};
// }

// // For webkit browsers
// .selection-black::-webkit-selection {
//    background-color: #{$selection_black_background};
//    color: #{$selection_black};
// }

// // For mozilla browsers
// .selection-black::-moz-selection  {
//     background: #{$selection_black_background};
//     color: #{$selection_black};
//     // text-shadow: #{$selection_text_shadow};
// }

// // Selection
// .selection-black::selection   {
//     background: #{$selection_black_background};
//     color: #{$selection_black};
//     text-shadow: #{$selection_text_shadow};
// }


// // For demonstration
// span.selection-black {
//     // background-color: #{$selection_color_background};
//     background: #{$selection_black_background_demo}; // demo color
//     color: #{$selection_black};
//     text-shadow: #{$selection_text_shadow};
// }




// // Selection white

// // For other browsers
// .selection-white::-o-selection {
//    background-color: #{$selection_white_background};
//    color: #{$selection_white};
// }

// .selection-white::-ms-selection {
//    background-color: #{$selection_white_background};
//    color: #{$selection_white};
// }

// // For webkit browsers
// .selection-white::-webkit-selection {
//    background-color: #{$selection_white_background};
//    color: #{$selection_white};
// }

// // For mozilla browsers
// .selection-white::-moz-selection  {
//     background: #{$selection_white_background};
//     color: #{$selection_black};
//     // text-shadow: #{$selection_text_shadow};
// }

// // Selection
// .selection-white::selection   {
//     background: #{$selection_white_background};
//     color: #{$selection_white};
//     text-shadow: #{$selection_text_shadow};
// }

// // For demonstration
// span.selection-white {
//     // background-color: #{$selection_color_background};
//     background: #{$selection_white_background_demo}; // demo color
//     color: #{$selection_white};
//     text-shadow: #{$selection_text_shadow};
// }