///*      T A B L E    */

@import "../variables";
// @import "../variables/scale";


table {
  border: 0;
  width: 100%; 
}


tr {
   color: #555;
}

caption {
    margin-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    margin-top: 3em;
    text-transform: uppercase;
    letter-spacing: .1em;
}

th,
td {
    border: 0;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: left;
    border-bottom: 1px solid #ccc;
    // border-bottom-size: 1px;
    // border-bottom-style: solid;
    // border-bottom-color: #ccc;
}