///*      T E X T   T R A C K I N G    */

@import "../variables";
// @import "../variables/scale";
@import "text_mixin";

// Utilities and helper mixins and classes
// see variables/scale for actual units
// https://css-tricks.com/confused-rem-em/

// Global
#{$evo}-tracking,
.text-tracking       { letter-spacing: #{$text_tracking}em; }

// /* Text Utilities */


// TO DO: Pixel to rem mixin?
// https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
// .text-tracking-10      { letter-spacing: remCalc(#{$u-10})rem; }

// Text Leading rems
.text-tracking-reset  { letter-spacing: initial; }
.text-tracking-0      { letter-spacing: #{$u-5}em; }
.text-tracking-1      { letter-spacing: #{$u-6}em; }
.text-tracking-2      { letter-spacing: #{$u-7}em; }
.text-tracking-3      { letter-spacing: #{$u-8}em; }
.text-tracking-4      { letter-spacing: #{$u-9}em; } 
.text-tracking-5      { letter-spacing: #{$u-10}em; } // negative *
.text-tracking-6      { letter-spacing: #{$u-11}em; } // zero
.text-tracking-7      { letter-spacing: #{$u-12}em; } // positive *
.text-tracking-8      { letter-spacing: #{$u-13}em; }
.text-tracking-9      { letter-spacing: #{$u-14}em; } // *
.text-tracking-10     { letter-spacing: #{$u-15}em; }
.text-tracking-11     { letter-spacing: #{$u-16}em; }
.text-tracking-12     { letter-spacing: #{$u-17}em; }
.text-tracking-13     { letter-spacing: #{$u-18}em; }
.text-tracking-14     { letter-spacing: #{$u-19}em; }
.text-tracking-15     { letter-spacing: #{$u-20}em; }


// // Relative Text Tracking
// .text-tracking-smallest { @include tracking(tightest); }
// .text-tracking-smaller  { @include tracking(tighter); }
// .text-tracking-small    { @include tracking(tight); }
// .text-tracking-big      { @include tracking(loose); }
// .text-tracking-bigger   { @include tracking(looser); }
// .text-tracking-biggest  { @include tracking(loosest); }







// // Tracking
// .text-tracking-tightest  { letter-spacing: -.1em; }
// .text-tracking-tighter   { letter-spacing: -.065em; }
// .text-tracking-tight     { letter-spacing: -.035em; }
// .text-tracking-loose     { letter-spacing: .035em; }
// .text-tracking-looser    { letter-spacing: .065em; }
// .text-tracking-loosest   { letter-spacing: .1em; }


// // TO DO: Pixel to rem mixin?
// // https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
// // .text-tracking-10      { letter-spacing: remCalc(#{$u-10})rem; }

// // Text Leading rems
// .text-tracking-reset  { letter-spacing: initial; }
// .text-tracking-0      { letter-spacing: #{$u-0}em; }
// .text-tracking-1      { letter-spacing: #{$u-1}em; }
// .text-tracking-2      { letter-spacing: #{$u-2}em; }
// .text-tracking-3      { letter-spacing: #{$u-3}em; }
// .text-tracking-4      { letter-spacing: #{$u-4}em; }
// .text-tracking-5      { letter-spacing: #{$u-5}em; }
// .text-tracking-6      { letter-spacing: #{$u-6}em; }
// .text-tracking-7      { letter-spacing: #{$u-7}em; }
// .text-tracking-8      { letter-spacing: #{$u-8}em; }
// .text-tracking-9      { letter-spacing: #{$u-9}em; } 
// .text-tracking-10     { letter-spacing: #{$u-10}em; } // negative
// .text-tracking-11     { letter-spacing: #{$u-11}em; } // zero
// .text-tracking-12     { letter-spacing: #{$u-12}em; } // positive
// .text-tracking-13     { letter-spacing: #{$u-13}em; }
// .text-tracking-14     { letter-spacing: #{$u-14}em; }
// .text-tracking-15     { letter-spacing: #{$u-15}em; }
// .text-tracking-16     { letter-spacing: #{$u-16}em; }
// .text-tracking-17     { letter-spacing: #{$u-17}em; }
// .text-tracking-18     { letter-spacing: #{$u-18}em; }
// .text-tracking-19     { letter-spacing: #{$u-19}em; }
// .text-tracking-20     { letter-spacing: #{$u-20}em; }
// .text-tracking-21     { letter-spacing: #{$u-21}em; }
// .text-tracking-22     { letter-spacing: #{$u-22}em; } 
// .text-tracking-23     { letter-spacing: #{$u-23}em; }
// .text-tracking-24     { letter-spacing: #{$u-24}em; }
// .text-tracking-25     { letter-spacing: #{$u-25}em; }


// // TO DO: Pixel to rem mixin?
// // https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
// // .text-tracking-10      { letter-spacing: remCalc(#{$u-10})rem; }

// // Text Leading rems
// .text-tracking-reset  { letter-spacing: initial; }
// .text-tracking-0      { letter-spacing: #{$u-4}em; }
// .text-tracking-1      { letter-spacing: #{$u-5}em; }
// .text-tracking-2      { letter-spacing: #{$u-6}em; }
// .text-tracking-3      { letter-spacing: #{$u-7}em; }
// .text-tracking-4      { letter-spacing: #{$u-8}em; } 
// .text-tracking-5      { letter-spacing: #{$u-9}em; } 
// .text-tracking-6      { letter-spacing: #{$u-10}em; } // negative *
// .text-tracking-7      { letter-spacing: #{$u-11}em; } // zero
// .text-tracking-8      { letter-spacing: #{$u-12}em; } // positive *
// .text-tracking-9      { letter-spacing: #{$u-13}em; } 
// .text-tracking-10     { letter-spacing: #{$u-14}em; } // *
// .text-tracking-11     { letter-spacing: #{$u-15}em; }
// .text-tracking-12     { letter-spacing: #{$u-16}em; }
// .text-tracking-13     { letter-spacing: #{$u-17}em; }
// .text-tracking-14     { letter-spacing: #{$u-18}em; }
// .text-tracking-15     { letter-spacing: #{$u-19}em; }
// // .text-tracking-16     { letter-spacing: #{$u-20}em; }
