///*      T E X T   S H A D O W     */

@import "../variables";

// Simple shadows from tachyons

// .shadow-hover:after {
//     box-shadow: 0 0 8px 2px rgba(0, 0, 0, .2);
//     opacity: 0;
//     -webkit-transition: opacity .25s ease-in-out;
//     transition: opacity .25s ease-in-out
// }

// .shadow-hover:focus:after,
// .shadow-hover:hover:after {
//     opacity: 1
// }

// .bg-animate,
// .bg-animate:focus,
// .bg-animate:hover {
//     -webkit-transition: background-color .15s ease-in-out;
//     transition: background-color .15s ease-in-out
// }

// .bg-color {
//   background-color: blue;
//   background-display: none;
// }


// // Dropcap in span
// // Wrap letter in span and apply this class
// span.dropcap {
//   color: #903;
//   float: left;
//   font-family: Georgia;
//   font-size: 75px;
//   line-height: 60px;
//   padding-top: 4px;
//   padding-right: 8px;
//   padding-left: 3px;
// }

// // Dropcap with just CSS
// figcaption.dropcap:first-letter {
//   color: #903;
//   float: left;
//   font-family: Georgia;
//   font-size: 75px;
//   line-height: 60px;
//   padding-top: 4px;
//   padding-right: 8px;
//   padding-left: 3px;
// }

// /* SHADOWS */

// Initial Value: none
// /* offset-x | offset-y | blur-radius | color */
// text-shadow: 1px 1px 2px black;…

// TO DO: TRY REMS http://jsfiddle.net/4dgaurav/5Sptc/1/

.text-shadow-0 {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .5)
}

.text-shadow-1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5)
}

.text-shadow-2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5)
}

.text-shadow-3 {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, .5)
}

.text-shadow-4 {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, .5)
}

.text-shadow-5 {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, .5)
}

.text-shadow-6 {
    text-shadow: 6px 6px 12px rgba(0, 0, 0, .5)
}

// Produces a sharp shadow edge to the text
.text-shadow {
  text-shadow: 1px 1px #000;
}

.text-shadow-inverse {
  text-shadow: 1px 1px #fff;
}

// engraved
// https://kremalicious.com/make-cool-and-clever-text-effects-with-css-text-shadow/


// On gray
.text-engraved-gray-bg {
  color: #000;
  background: #666;
  text-shadow: 0px 1px 1px #fff;
}

// On black

.text-engraved-black-bg {
  color: #666;
  background: #000;
  text-shadow: 0px 1px 0px #ccc;
}

// effects

.text-neon {
  text-shadow: 
  // white
  0 0 0.1em #fff, 
  0 0 0.2em #fff, 
  0 0 0.3em #fff, 
  0 0 0.4em #f7f, 
  0 0 0.6em #f0f, 
  0 0 0.8em #f0f, 
  0 0 1em #f0f, 
  0 0 1.2em #f0f
}

.text-neon-2 { 
  background: #000;
  background-image:
    radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0), rgba(0,0,0,1)), 
    url(../image/elements/black-brick-wall-texture.jpg);
    width: 768px;
    text-align: center;
    // font-family: Neon80sRegular, Arial Narrow, sans-serif;
    color: #fee;
    width: 768px;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 2rem;
    text-shadow: 0 0 30px rgba(255,0,84,0.6),
      0 0 60px rgba(255,0,84,0.4),
      0 0 100px rgba(255,0,84,0.2),
      0 0 90px rgba(255,0,84,0.1);
}
// Try making it flicker
// http://thenewcode.com/610/Create-A-Flickering-Neon-Bar-Sign-With-CSS3
