///*      C O L O R   V A R I A B L E S     */


// Default Variables
// Override these in settings.scss


// @import "settings";


// Colors
$red:      rgb( 237, 28, 36 );  // #ed1c24 cmy red
$green:    rgb( 0, 166, 81 );   // #00a651 cmy green
$blue:     rgb( 46, 49, 146 );  // #2e3192 cmy blue
$cyan:     rgb( 0, 174, 239 );  // #00aeef cmy cyan
$magenta:  rgb( 236, 0, 140 );  // #ec008c cmy magenta
$yellow:   rgb( 255, 242, 0 );  // #fff200 cmy yellow

// @import "settings";

