///*      S C A L E   V A R I A B L E S     */

// relative number scale
// floor() rounds down
// ceil() rounds up

$u-0: -.2 !default;
$u-1: -.1875 !default;
$u-2: -.175 !default;
$u-3: -.1625 !default;
$u-4: -.15 !default;
$u-5: -.1375 !default;
$u-6: -.125 !default;
$u-7: -.1 !default;
$u-8: -.075 !default;
$u-9: -.05 !default;
$u-10: -.025 !default;   // negative
$u-11: 0 !default;
$u-12: .025 !default;    // positive
$u-13: .05 !default;
$u-14: .1 !default;
$u-15: .15 !default;
$u-16: .2 !default;
$u-17: .275 !default;
$u-18: .375 !default;  	     // 6px // text size might render as 8px
$u-19: .5 !default;          // 8px // smallest useful text size // smallest useful lowercase leading // avenir // georgia
// $u-19b: .5625 !default; // optimized for lowercase touching // arial // gotham
$u-20: .625 !default;        // 10px
$u-21: .75 !default;         // 12px // smallest useful uppercase leading
$u-22: .875 !default;        // 14px
$u-23: floor(1.02) !default; // 16px // default text size
$u-24: 1.125 !default;       // 18px
$u-25: 1.3125 !default;      // 21px
$u-26: 1.4375 !default;      // 23px // default text base unitless leading
$u-27: 1.875 !default;       // 30px
$u-28: 2.3125 !default;      // 37px
$u-29: 2.6875 !default;      // 43px
$u-30: floor(3.05) !default; // 48px
$u-31: 3.75 !default;        // 60px
$u-32: ceil(4.935) !default; // 80px
$u-33: floor(6.1) !default;  // 96px
$u-34: ceil(7.985) !default; // 128px
$u-35: ceil(9.87) !default;  // 160px
$u-36: ceil(12.92) !default; // 208px
$u-37: ceil(15.97) !default; // 256px
$u-38: ceil(20.905) !default; // 336px
$u-39: ceil(25.84) !default; // 416px
$u-40: ceil(33.825) !default; // 544px
$u-41: ceil(41.81) !default; // 672px
$u-42: ceil(54.73) !default; // 880px
$u-43: ceil(67.65) !default; // 1088px


// pixel scale
// sizes 1px - 5px should just be entered directly as needed

$px-0: 6px !default;
$px-1: 8px !default;
$px-2: 10px !default;
$px-3: 12px !default;
$px-4: 14px !default;
$px-5: 16px !default; // default text size
$px-6: 18px !default;
$px-7: 21px !default;
$px-8: 23px !default;
$px-9: 30px !default;
$px-10: 37px !default;
$px-11: 43px !default;
$px-12: 48px !default;
$px-13: 60px !default;
$px-14: 80px !default;
$px-15: 96px !default;
$px-16: 128px !default;
$px-17: 160px !default;
$px-18: 208px !default;
$px-19: 256px !default;
$px-20: 336px !default;
$px-21: 416px !default;
$px-22: 544px !default;
$px-23: 672px !default;
$px-24: 880px !default;
$px-25: 1088px !default;
// 1423 101.64285714rem
// 1760 125.71428571REM

// @import "settings";

