///*      V A R I A B L E S     */


// Default Variables
// Override these in settings.scss


// Spacers
$space_height:						floor(3.05rem) !default;  // 48px, or make it 1px
$space_width:						auto !default; // or make it 100%
$space_clear_float:					both !default;

// @import "settings";

