///*      B O X   M I X I N S    */

@import "../evo_variables/evo_variables";


// THIS BOX MIXIN CONFLICTS WITH THE EVO-BOX CLASS IN THE _BOX.SCSS PAGE

#{$evo}-box {
border-top-width:      #{$box_width}; // initial
border-bottom-width:   #{$box_width}; // initial 
border-right-width:    #{$box_width}; // initial 
border-left-width:     #{$box_width}; // initial
border-top-style:      #{$box_style}; // solid
border-bottom-style:   #{$box_style}; // solid
border-right-style:    #{$box_style}; // solid
border-left-style:     #{$box_style}; // solid
border-top-color:      #{$box_color}; // initial
border-bottom-color:   #{$box_color}; // initial 
border-right-color:    #{$box_color}; // initial 
border-left-color:     #{$box_color}; // initial
border-left-style:     #{$box_style}; // solid

// // https://developer.mozilla.org/en-US/docs/Web/CSS/border-right-style
// #{$evo}-box-unset          { border-width: unset; }
// #{$evo}-box-hidden         { border-width: hidden; }
// #{$evo}-box-none           { border-width: none; }
// ADD Inherit


// &-top            { @extend #{$evo}-line; } // medium width
// &-bottom         { border-bottom-width: #{$line_width}; border-bottom-style: #{$line_style}; border-bottom-color: #{$line_color}; } // medium width
// &-right          { border-right-width: #{$line_width}; border-right-style: #{$line_style}; border-right-color: #{$line_color}; } // medium width
// &-left           { border-left-width: #{$line_width}; border-left-style: #{$line_style}; border-left-color: #{$line_color}; } // medium width


&-0              { @extend #{$evo}-box; border-top-width: 0; border-bottom-width: 0; border-right-width: 0; border-left-width: 0; }
&-1              { @extend #{$evo}-box; border-top-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-left-width: 1px; }
&-2              { @extend #{$evo}-box; border-top-width: 2px; border-bottom-width: 2px; border-right-width: 2px; border-left-width: 2px; }
&-3              { @extend #{$evo}-box; border-top-width: 3px; border-bottom-width: 3px; border-right-width: 3px; border-left-width: 3px; }
&-4              { @extend #{$evo}-box; border-top-width: 4px; border-bottom-width: 4px; border-right-width: 4px; border-left-width: 4px; }
&-5              { @extend #{$evo}-box; border-top-width: 5px; border-bottom-width: 5px; border-right-width: 5px; border-left-width: 5px; }
&-6              { @extend #{$evo}-box; border-top-width: #{$px-0}; border-bottom-width: #{$px-0}; border-right-width: #{$px-0}; border-left-width: #{$px-0}; } // 6px
&-7              { @extend #{$evo}-box; border-top-width: #{$px-1}; border-bottom-width: #{$px-1}; border-right-width: #{$px-1}; border-left-width: #{$px-1}; } // 8px
&-8              { @extend #{$evo}-box; border-top-width: #{$px-2}; border-bottom-width: #{$px-2}; border-right-width: #{$px-2}; border-left-width: #{$px-2}; } // 10px
&-9              { @extend #{$evo}-box; border-top-width: #{$px-3}; border-bottom-width: #{$px-3}; border-right-width: #{$px-3}; border-left-width: #{$px-3}; } // 12px
&-10             { @extend #{$evo}-box; border-top-width: #{$px-4}; border-bottom-width: #{$px-4}; border-right-width: #{$px-4}; border-left-width: #{$px-4}; } // 14px
&-11             { @extend #{$evo}-box; border-top-width: #{$px-5}; border-bottom-width: #{$px-5}; border-right-width: #{$px-5}; border-left-width: #{$px-5}; } // 16px
&-12             { @extend #{$evo}-box; border-top-width: #{$px-6}; border-bottom-width: #{$px-6}; border-right-width: #{$px-6}; border-left-width: #{$px-6}; } // 18px
&-13             { @extend #{$evo}-box; border-top-width: #{$px-7}; border-bottom-width: #{$px-7}; border-right-width: #{$px-7}; border-left-width: #{$px-7}; } // 21px
&-14             { @extend #{$evo}-box; border-top-width: #{$px-8}; border-bottom-width: #{$px-8}; border-right-width: #{$px-8}; border-left-width: #{$px-8}; } // 23px
&-15             { @extend #{$evo}-box; border-top-width: #{$px-9}; border-bottom-width: #{$px-9}; border-right-width: #{$px-9}; border-left-width: #{$px-9}; } // 30px

&-thin           { @extend #{$evo}-box; border-top-width: thin; border-bottom-width: thin; border-right-width: thin; border-left-width: thin; }
&-medium         { @extend #{$evo}-box; border-top-width: medium; border-bottom-width: medium; border-right-width: medium; border-left-width: medium; }
&-thick          { @extend #{$evo}-box; border-top-width: thick; border-bottom-width: thick; border-right-width: thick; border-left-width: thick; }

&-lightest       { @extend #{$evo}-box; border-top-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: dotted; }
&-lighter        { @extend #{$evo}-box; border-top-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-left-width: 1px; }
&-light          { @extend #{$evo}-box; border-top-width: 2px; border-bottom-width: 2px; border-right-width: 2px; border-left-width: 2px; }
&-heavy          { @extend #{$evo}-box; border-top-width: 4px; border-bottom-width: 4px; border-right-width: 4px; border-left-width: 4px; }
&-heavier        { @extend #{$evo}-box; border-top-width: 5px; border-bottom-width: 5px; border-right-width: 5px; border-left-width: 5px; }
&-heaviest       { @extend #{$evo}-box; border-top-width: #{$px-0}; border-bottom-width: #{$px-0}; border-right-width: #{$px-0}; border-left-width: #{$px-0}; }

&-solid          { @extend #{$evo}-box; border-top-style: solid; border-bottom-style: solid; border-right-style: solid; border-left-style: solid; }
&-dotted         { @extend #{$evo}-box; border-top-style: dotted; border-bottom-style: dotted; border-right-style: dotted; border-left-style: dotted; }
&-dashed         { @extend #{$evo}-box; border-top-style: dashed; border-bottom-style: dashed; border-right-style: dashed; border-left-style: dashed; }
&-double         { @extend #{$evo}-box; border-top-style: double; border-bottom-style: double; border-right-style: double; border-left-style: double; }
// &-groove         { @extend #{$evo}-box; border-top-style: groove; border-bottom-style: groove; border-right-style: groove; border-left-style: groove; }
// &-ridge          { @extend #{$evo}-box; border-top-style: ridge; border-bottom-style: ridge; border-right-style: ridge; border-left-style: ridge; }
// &-inset          { @extend #{$evo}-box; border-top-style: inset; border-bottom-style: inset; border-right-style: inset; border-left-style: inset; }
// &-outset         { @extend #{$evo}-box; border-top-style: outset; border-bottom-style: outset; border-right-style: outset; border-left-style: outset; }

&-gray           { @extend #{$evo}-box; border-top-color: #{$gray-light}; border-bottom-color: #{$gray-light}; border-right-color: #{$gray-light}; border-left-color: #{$gray-light}; }
&-white          { @extend #{$evo}-box; border-top-color: #{$white}; border-bottom-color: #{$white}; border-right-color: #{$white}; border-left-color: #{$white}; }
&-black          { @extend #{$evo}-box; border-top-color: #{$black}; border-bottom-color: #{$black}; border-right-color: #{$black}; border-left-color: #{$black}; }
  // Throw Warnings
  @else { @warn "Box mixin supports: need to make this"; }
}

}


