///*      B O X    */

@import "../evo_variables/evo_variables";


.inherit-box {
  border-top: inherit;
  border-bottom: inherit;
  border-left: inherit;
  border-right: inherit;
}

// box base styles
#{$evo}-box {
border-top-width:      #{$box_width}; // initial
border-bottom-width:   #{$box_width}; // initial 
border-right-width:    #{$box_width}; // initial 
border-left-width:     #{$box_width}; // initial
border-top-style:      #{$box_style}; // solid
border-bottom-style:   #{$box_style}; // solid
border-right-style:    #{$box_style}; // solid
border-left-style:     #{$box_style}; // solid
border-top-color:      #{$box_color}; // initial
border-bottom-color:   #{$box_color}; // initial 
border-right-color:    #{$box_color}; // initial 
border-left-color:     #{$box_color}; // initial
border-left-style:     #{$box_style}; // solid
}

#{$evo}-box-top {
border-top-width:      #{$box_width}; // initial
border-top-style:      #{$box_style}; // solid
border-top-color:      #{$box_color}; // initial
}

#{$evo}-box-bottom {
border-bottom-width:      #{$box_width}; // initial
border-bottom-style:      #{$box_style}; // solid
border-bottom-color:      #{$box_color}; // initial
}

#{$evo}-box-right {
border-right-width:      #{$box_width}; // initial
border-right-style:      #{$box_style}; // solid
border-right-color:      #{$box_color}; // initial
}

#{$evo}-box-left {
border-left-width:      #{$box_width}; // initial
border-left-style:      #{$box_style}; // solid
border-left-color:      #{$box_color}; // initial
}


// // https://developer.mozilla.org/en-US/docs/Web/CSS/border-right-style
// #{$evo}-box-unset          { border-width: unset; }
// #{$evo}-box-hidden         { border-width: hidden; }
// #{$evo}-box-none           { border-width: none; }
// ADD Inherit



// Use RGBA colors instead?
.box-gray       { border-top-color: #{$gray-light}; border-bottom-color: #{$gray-light}; border-right-color: #{$gray-light}; border-left-color: #{$gray-light}; }
.box-white      { border-top-color: #{$white}; border-bottom-color: #{$white}; border-right-color: #{$white}; border-left-color: #{$white}; }
.box-black      { border-top-color: #{$black}; border-bottom-color: #{$black}; border-right-color: #{$black}; border-left-color: #{$black}; }

.box-top-black      { border-top-color: #{$black}; }
.box-top-gray       { border-top-color: #{$gray-light}; }
.box-top-white      { border-top-color: #{$white}; }

.box-bottom-black   { border-bottom-color: #{$black}; }
.box-bottom-gray    { border-bottom-color: #{$gray-light}; }
.box-bottom-white   { border-bottom-color: #{$white}; }

.box-left-black     { border-left-color: #{$black}; }
.box-left-gray      { border-left-color: #{$gray-light}; }
.box-left-white     { border-left-color: #{$white}; }

.box-right-black    { border-right-color: #{$black}; }
.box-right-gray     { border-right-color: #{$gray-light}; }
.box-right-white    { border-right-color: #{$white}; }


// box background colors
// potential ant-pattern? Delete?
// these can be solved with generic background colors
.box-gray-bg       { background-color: #{$gray-light} !important; }
.box-white-bg      { background-color: #{$white} !important; }
.box-black-bg      { background-color: #{$black} !important; }



// For Demo only

.demo-box div[class*="box-"],
.demo-box div[class*="evo-box"]  {
padding-bottom: 5rem;
/*background-color: #eee;*/
background-color: #eee;
margin-top: 3em;
margin-bottom: .5em;
/*border-width: 1px;*/
}

  // .pv5-l {
  //       padding-top: 4rem;
  //       padding-bottom: 4rem
  //   }