///*      B O X   S I Z E    */

@import "../evo_variables/evo_variables";

// Do we call these instead .box-size-10 ?

// Size of box border width
.box-0              { border-top-width: #{$px-0}; border-bottom-width: #{$px-0}; border-right-width: #{$px-0}; border-left-width: #{$px-0}; } // 0px
.box-1              { border-top-width: #{$px-1}; border-bottom-width: #{$px-1}; border-right-width: #{$px-1}; border-left-width: #{$px-1}; } // 1px
.box-2              { border-top-width: #{$px-2}; border-bottom-width: #{$px-2}; border-right-width: #{$px-2}; border-left-width: #{$px-2}; } // 2px
.box-3              { border-top-width: #{$px-3}; border-bottom-width: #{$px-3}; border-right-width: #{$px-3}; border-left-width: #{$px-3}; } // 3px
.box-4              { border-top-width: #{$px-4}; border-bottom-width: #{$px-4}; border-right-width: #{$px-4}; border-left-width: #{$px-4}; } // 4px
.box-5              { border-top-width: #{$px-5}; border-bottom-width: #{$px-5}; border-right-width: #{$px-5}; border-left-width: #{$px-5}; } // 5px
.box-6              { border-top-width: #{$px-6}; border-bottom-width: #{$px-6}; border-right-width: #{$px-6}; border-left-width: #{$px-6}; } // 6px
.box-7              { border-top-width: #{$px-7}; border-bottom-width: #{$px-7}; border-right-width: #{$px-7}; border-left-width: #{$px-7}; } // 8px
.box-8              { border-top-width: #{$px-8}; border-bottom-width: #{$px-8}; border-right-width: #{$px-8}; border-left-width: #{$px-8}; } // 10px
.box-9              { border-top-width: #{$px-9}; border-bottom-width: #{$px-9}; border-right-width: #{$px-9}; border-left-width: #{$px-9}; } // 12px
.box-10             { border-top-width: #{$px-10}; border-bottom-width: #{$px-10}; border-right-width: #{$px-10}; border-left-width: #{$px-10}; } // 14px
.box-11             { border-top-width: #{$px-11}; border-bottom-width: #{$px-11}; border-right-width: #{$px-11}; border-left-width: #{$px-11}; } // 16px
.box-12             { border-top-width: #{$px-12}; border-bottom-width: #{$px-12}; border-right-width: #{$px-12}; border-left-width: #{$px-12}; } // 18px
.box-13             { border-top-width: #{$px-13}; border-bottom-width: #{$px-13}; border-right-width: #{$px-13}; border-left-width: #{$px-13}; } // 21px
.box-14             { border-top-width: #{$px-14}; border-bottom-width: #{$px-14}; border-right-width: #{$px-14}; border-left-width: #{$px-14}; } // 23px
.box-15             { border-top-width: #{$px-15}; border-bottom-width: #{$px-15}; border-right-width: #{$px-15}; border-left-width: #{$px-15}; } // 30px


// Size of box border top width
.box-top-0          { border-top-width: #{$px-0}; } // 0px
.box-top-1          { border-top-width: #{$px-1}; } // 1px
.box-top-2          { border-top-width: #{$px-2}; } // 2px
.box-top-3          { border-top-width: #{$px-3}; } // 3px
.box-top-4          { border-top-width: #{$px-4}; } // 4px
.box-top-5          { border-top-width: #{$px-5}; } // 5px
.box-top-6          { border-top-width: #{$px-6}; } // 6px
.box-top-7          { border-top-width: #{$px-7}; } // 8px
.box-top-8          { border-top-width: #{$px-8}; } // 10px
.box-top-9          { border-top-width: #{$px-9}; } // 12px
.box-top-10         { border-top-width: #{$px-10}; } // 14px
.box-top-11         { border-top-width: #{$px-11}; } // 16px
.box-top-12         { border-top-width: #{$px-12}; } // 18px
.box-top-13         { border-top-width: #{$px-13}; } // 21px
.box-top-14         { border-top-width: #{$px-14}; } // 23px
.box-top-15         { border-top-width: #{$px-15}; } // 30px

// Size of box border bottom width
.box-bottom-0       { border-bottom-width: #{$px-0}; } // 0px
.box-bottom-1       { border-bottom-width: #{$px-1}; } // 1px
.box-bottom-2       { border-bottom-width: #{$px-2}; } // 2px
.box-bottom-3       { border-bottom-width: #{$px-3}; } // 3px
.box-bottom-4       { border-bottom-width: #{$px-4}; } // 4px
.box-bottom-5       { border-bottom-width: #{$px-5}; } // 5px
.box-bottom-6       { border-bottom-width: #{$px-6}; } // 6px
.box-bottom-7       { border-bottom-width: #{$px-7}; } // 8px
.box-bottom-8       { border-bottom-width: #{$px-8}; } // 10px
.box-bottom-9       { border-bottom-width: #{$px-9}; } // 12px
.box-bottom-10      { border-bottom-width: #{$px-10}; } // 14px
.box-bottom-11      { border-bottom-width: #{$px-11}; } // 16px
.box-bottom-12      { border-bottom-width: #{$px-12}; } // 18px
.box-bottom-13      { border-bottom-width: #{$px-13}; } // 21px
.box-bottom-14      { border-bottom-width: #{$px-14}; } // 23px
.box-bottom-15      { border-bottom-width: #{$px-15}; } // 30px

// Size of box border right width
.box-right-0        { border-right-width: #{$px-0}; } // 0px
.box-right-1        { border-right-width: #{$px-1}; } // 1px
.box-right-2        { border-right-width: #{$px-2}; } // 2px
.box-right-3        { border-right-width: #{$px-3}; } // 3px
.box-right-4        { border-right-width: #{$px-4}; } // 4px
.box-right-5        { border-right-width: #{$px-5}; } // 5px
.box-right-6        { border-right-width: #{$px-6}; } // 6px
.box-right-7        { border-right-width: #{$px-7}; } // 8px
.box-right-8        { border-right-width: #{$px-8}; } // 10px
.box-right-9        { border-right-width: #{$px-9}; } // 12px
.box-right-10       { border-right-width: #{$px-10}; } // 14px
.box-right-11       { border-right-width: #{$px-11}; } // 16px
.box-right-12       { border-right-width: #{$px-12}; } // 18px
.box-right-13       { border-right-width: #{$px-13}; } // 21px
.box-right-14       { border-right-width: #{$px-14}; } // 23px
.box-right-15       { border-right-width: #{$px-15}; } // 30px

// Size of box border left width
.box-left-0         { border-left-width: #{$px-0}; } // 0px
.box-left-1         { border-left-width: #{$px-1}; } // 1px
.box-left-2         { border-left-width: #{$px-2}; } // 2px
.box-left-3         { border-left-width: #{$px-3}; } // 3px
.box-left-4         { border-left-width: #{$px-4}; } // 4px
.box-left-5         { border-left-width: #{$px-5}; } // 5px
.box-left-6         { border-left-width: #{$px-6}; } // 6px
.box-left-7         { border-left-width: #{$px-7}; } // 8px
.box-left-8         { border-left-width: #{$px-8}; } // 10px
.box-left-9         { border-left-width: #{$px-9}; } // 12px
.box-left-10        { border-left-width: #{$px-10}; } // 14px
.box-left-11        { border-left-width: #{$px-11}; } // 16px
.box-left-12        { border-left-width: #{$px-12}; } // 18px
.box-left-13        { border-left-width: #{$px-13}; } // 21px
.box-left-14        { border-left-width: #{$px-14}; } // 23px
.box-left-15        { border-left-width: #{$px-15}; } // 30px


// css border width values

.box-thin           { border-top-width: thin; border-bottom-width: thin; border-right-width: thin; border-left-width: thin; }
.box-medium         { border-top-width: medium; border-bottom-width: medium; border-right-width: medium; border-left-width: medium; }
.box-thick          { border-top-width: thick; border-bottom-width: thick; border-right-width: thick; border-left-width: thick; }

.box-top-thin       { border-top-width: thin; }
.box-top-medium     { border-top-width: medium; }
.box-top-thick      { border-top-width: thick; }

.box-bottom-thin    { border-bottom-width: thin; }
.box-bottom-medium  { border-bottom-width: medium; }
.box-bottom-thick   { border-bottom-width: thick; }

.box-right-thin     { border-right-width: thin; }
.box-right-medium   { border-right-width: medium; }
.box-right-thick    { border-right-width: thick; }

.box-left-thin      { border-left-width: thin; }
.box-left-medium    { border-left-width: medium; }
.box-left-thick     { border-left-width: thick; }

