///*      B U T T O N    */

@import "../evo_variables/evo_variables";

a#{$evo}-button-inverse,
#{$evo}-button-inverse a,
input#{$evo}-button-inverse,
a#{$evo}-button,
input#{$evo}-button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
     // Type
     font-family: #{$button_font_family};
     // font-size: #{$button_font_size}; // DISABLED
     font-weight: #{$button_font_weight};
     text-transform: #{$button_text_transform};
     text-align: #{$button_text_align};
     // border
     border-width: #{$button_border_width};
     border-style: #{$button_border_style};
     border-radius: #{$button_corner};
     // padding
     padding-top: #{$button_padding_top};
     padding-bottom: #{$button_padding_bottom};
     padding-left: #{$button_padding_left};
     padding-right: #{$button_padding_right};
     // hover
     transition-duration: #{$button_hover_duration};
     transition-timing-function: #{$button_hover_timing};
     transition-delay: #{$button_hover_delay};

}

#{$evo}-button {
     color: #{$button_color};
     background-color: #{$button_background_color};
     border-color: #{$button_border_color};
}


#{$evo}-button:hover,
button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
     color: #{$button_hover_color};
     background-color: #{$button_hover_background_color};
     border-color: #{$button_hover_border_color};
}

#{$evo}-button-inverse {
     // color
     color: #{$inverse_button_color} !important;
     background-color: #{$inverse_button_background_color};
     border-color: #{$inverse_button_border_color};
}



#{$evo}-button-inverse:hover {
     // color
     color: #{$inverse_button_hover_color} !important;
     background-color: #{$inverse_button_hover_background_color};
     border-color: #{$inverse_button_hover_border_color};
     // structure
     border-style: #{$inverse_button_hover_border_style};
     border-width: #{$inverse_button_hover_border_width};
}