///*      C O D E     */

@import "../evo_variables/evo_variables";

.code-inline {
  // -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

// Evo Code
// Place Code tag within Pre tag
// https://developer.mozilla.org/en-US/docs/Web/CSS/white-space

// pre {
//   font-family: #{$base_code_font_family};
//   font-size: #{$base_code_font_size};
//   // font-size: 80%; // or 1rem or 1em
//   overflow: auto;
// }



pre,
pre#{$evo}-code,
pre#{$evo}-code-inverse {
  margin: 0 auto;
  white-space: pre; // or normal
  font-family: #{$base_code_font_family};
  font-size: #{$base_code_font_size};
  overflow: auto;
}

code,
code#{$evo}-code,
pre#{$evo}-code > code {
    color: #{$code_color}; // darkslateblue; // bootstrap is #bd4147
    border-color: #{$code_border_color};
    background-color: #{$code_background_color}; // #eee
}

// code {
//   padding: .2rem .4rem;
//   color: #{$code_color}; // darkslateblue; // bootstrap is #bd4147
//   border-color: #{$code_border_color};
//   background-color: #{$code_background_color}; // #eee
//   // base
//   border-width: #{$base_code_border_width};
//   border-style: #{$base_code_border_style};
//   border-radius: #{$base_code_border_radius};
//   border-radius: #{$base_code_border_radius};
//   font-size: #{$base_code_font_size};
//   // font-size: 80%;
//   font-family: #{$base_code_font_family};
// }

pre#{$evo}-code-inverse > code,
code#{$evo}-code-inverse,
code.code-inverse {
    color: #{$inverse_code_color}; // darkslateblue; // bootstrap is #bd4147
    border-color: #{$inverse_code_border_color};
    background-color: #{$inverse_code_background_color}; // #eee
  }

code,
pre#{$evo}-code > code,
pre#{$evo}-code-inverse > code {
    // width: calc(100%);
    // padding: 10px;
    padding: .2rem .4rem;
    margin: 5px 0;
    display: inline-block;
    border-width: #{$base_code_border_width};
    border-style: #{$base_code_border_style};
    border-radius: #{$base_code_border_radius};
    font-family: #{$base_code_font_family};
    font-size: #{$base_code_font_size};
    overflow-wrap: break-word;
  }

pre#{$evo}-code > code,
pre#{$evo}-code-inverse > code {
      width: calc(100%);
}

pre.code-no-wrap > code {
    white-space: nowrap;
    overflow: scroll;
  }

pre.code-short > code {
    width: auto;
    // width: calc(50% - 22px);
    max-width: calc(100% - 22px);
    // max-width: #{$u-42}rem; // ceil(54.73)
    display: inline-block;
    white-space: nowrap;
    overflow: scroll;
  }

// @media screen and (max-width: 480px) {
//   code.short {
//     // width: auto;
//     width: calc(100% - 22px);
//   }
// }



// referenced from bootstrap 4
// http://v4-alpha.getbootstrap.com/content/code/

// pre {
//   font-family: #{$monospace};
//   font-size: 1em;
//   // font-size: 80%; // or 1rem or 1em
//   overflow: auto;
// }

// code {
//   padding: .2rem .4rem;
//   font-size: 1em;
//   // font-size: 80%;
//   color: darkslateblue; // bootstrap is #bd4147
//   // background-color: #f7f7f9;
//   background-color: #eee;
//   border-radius: .25rem;
//   font-family: #{$monospace};
// }
