///*      C O L O R   P L A Y     */

@import "../evo_variables/evo_variables";


// Random interesting color palettes



// Muted colors based around the gold

$muted_color_1:  rgb( 143, 122, 80 ); // #8f7a50 Gold

$muted_color_2:  rgb( 143, 90, 80 ); // #8F5A50 Red

$muted_color_3:  rgb( 80, 132, 143 ); // #50848F Blue

$muted_color_4:  rgb( 80, 143, 122 ); // #508F7A Green



// Brown colors

$brown_color_1:  rgb( 51, 48, 43 ); // #33302b Brown 1

$brown_color_1:  rgb( 53, 43, 37 ); // #352b25 Brown 2



// // Colors
// $yellow:   rgb( 255, 242, 0 );  // #fff200 cmy yellow
// $orange:
// $red:      rgb( 237, 28, 36 );  // #ed1c24 cmy red
// $pink:  rgb( 236, 0, 140 );  // #ec008c cmy magenta
// $purple:
// $dark-blue:;
// $blue:     rgb( 46, 49, 146 );  // #2e3192 cmy blue
// $light-blue:;
// $cyan:     rgb( 0, 174, 239 );  // #00aeef cmy cyan
// $green:    rgb( 0, 166, 81 );   // #00a651 cmy green
// $lime:;
// $gold:;

// need purple
// need orange
// spin around the color wheel?
// add cmy to these and move the simple class to settings?

$original_evo_cyan:     rgba(0, 174, 239, .8);
$nice_pink:             rgba(255, 115, 185, 0.6);

$gold: #8f7a50;