///*      F O N T   S T Y L E    */

@import "../evo_variables/evo_variables";

// Marked as !important due to common use-case of overriding a style

// Font Style
// Added text- class as alias for common errors
.text-italic,
.font-italic           { font-style: italic !important; }

.font-oblique          { font-style: oblique !important; }

.font-no-style         { font-style: normal !important; }


