///*      F O R M   H O V E R       */

@import "../evo_variables/evo_variables";




// /*********************
//     EVO FORM HOVER
// *********************/

// How to get labels to highlight when focused / hovered on the field

// http://stackoverflow.com/questions/36647427/selecting-a-label-placed-before-an-input-in-various-states



// Default hover state (matches focus state)
#{$evo}-form-hover-demo,
#{$evo}-form-hover:hover,
select#{$evo}-form-hover:hover,
input#{$evo}-form-hover:hover,
input[type]#{$evo}-form-hover:hover,
textarea#{$evo}-form-hover:hover {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$hover_border_color};
    border-bottom-color: #{$hover_border_color};
    border-left-color: #{$hover_border_color};
    border-right-color: #{$hover_border_color};
    box-shadow: #{$hover_box_shadow};
    transition: #{$hover_transition};
    outline: 0 none;
        & + label {
      color: #{$hover_border_color};
      cursor: pointer; // "hand" cursor
    }
  }

  // Default hover state (matches focus state)
#{$evo}-form-hover-inverse-demo,
#{$evo}-form-hover-inverse:hover,
select#{$evo}-form-hover-inverse:hover,
input#{$evo}-form-hover-inverse:hover,
input[type]#{$evo}-form-hover-inverse:hover,
textarea#{$evo}-form-hover-inverse:hover {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$inverse_hover_border_color};
    border-bottom-color: #{$inverse_hover_border_color};
    border-left-color: #{$inverse_hover_border_color};
    border-right-color: #{$inverse_hover_border_color};
    box-shadow: #{$inverse_hover_box_shadow};
    transition: #{$hover_transition};
    outline: 0 none;
        & + label {
      color: #{$inverse_hover_border_color};
      cursor: pointer; // "hand" cursor
    }
  }


// /*********************
//     FORM HOVER COLOR
// *********************/


.form-hover-color-demo,
.form-hover-color:hover,
select.form-hover-color:hover,
input.form-hover-color:hover,
input[type].form-hover-color:hover,
textarea.form-hover-color:hover {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$evo_color};
    border-bottom-color: #{$evo_color};
    border-left-color: #{$evo_color};
    border-right-color: #{$evo_color};
    box-shadow: #{$hover_box_shadow};
    transition: #{$hover_transition};
    outline: 0 none;
        & + label {
      color: #{$evo_color};
      cursor: pointer; // "hand" cursor
    }
  }


// /*********************
//     FORM STATUS
// *********************/


.form-hover-info-demo,
.form-hover-info:hover,
select.form-hover-info:hover,
input.form-hover-info:hover,
input[type].form-hover-info:hover,
textarea.form-hover-info:hover {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$evo_info};
    border-bottom-color: #{$evo_info};
    border-left-color: #{$evo_info};
    border-right-color: #{$evo_info};
    box-shadow: #{$hover_box_shadow};
    transition: #{$hover_transition};
    outline: 0 none;
        & + label {
      color: #{$evo_info};
      cursor: pointer; // "hand" cursor
    }
  }

.form-hover-success-demo,
.form-hover-success:hover,
select.form-hover-success:hover,
input.form-hover-success:hover,
input[type].form-hover-success:hover,
textarea.form-hover-success:hover {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$evo_success};
    border-bottom-color: #{$evo_success};
    border-left-color: #{$evo_success};
    border-right-color: #{$evo_success};
    box-shadow: #{$hover_box_shadow};
    transition: #{$hover_transition};
    outline: 0 none;
        & + label {
      color: #{$evo_success};
      cursor: pointer; // "hand" cursor
    }
  }

.form-hover-warning-demo,
.form-hover-warning:hover,
select.form-hover-warning:hover,
input.form-hover-warning:hover,
input[type].form-hover-warning:hover,
textarea.form-hover-warning:hover {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$evo_warning};
    border-bottom-color: #{$evo_warning};
    border-left-color: #{$evo_warning};
    border-right-color: #{$evo_warning};
    box-shadow: #{$hover_box_shadow};
    transition: #{$hover_transition};
    outline: 0 none;
        & + label {
      color: #{$evo_warning};
      cursor: pointer; // "hand" cursor
    }
  }


.form-hover-danger-demo,
.form-hover-danger:hover,
select.form-hover-danger:hover,
input.form-hover-danger:hover,
input[type].form-hover-danger:hover,
textarea.form-hover-danger:hover {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$evo_danger};
    border-bottom-color: #{$evo_danger};
    border-left-color: #{$evo_danger};
    border-right-color: #{$evo_danger};
    box-shadow: #{$hover_box_shadow};
    transition: #{$hover_transition};
    outline: 0 none;
        & + label {
      color: #{$evo_danger};
      cursor: pointer; // "hand" cursor
    }
  }


// /*********************
//     FORM NEUTRAL
// *********************/


.form-hover-white-demo,
.form-hover-white:hover,
select.form-hover-white:hover,
input.form-hover-white:hover,
input[type].form-hover-white:hover,
textarea.form-hover-white:hover {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$evo_white};
    border-bottom-color: #{$evo_white};
    border-left-color: #{$evo_white};
    border-right-color: #{$evo_white};
    box-shadow: #{$hover_box_shadow};
    transition: #{$hover_transition};
    outline: 0 none;
        & + label {
      color: #{$evo_white};
      cursor: pointer; // "hand" cursor
    }
  }

.form-hover-black-demo,
.form-hover-black:hover,
select.form-hover-black:hover,
input.form-hover-black:hover,
input[type].form-hover-black:hover,
textarea.form-hover-black:hover {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$evo_black};
    border-bottom-color: #{$evo_black};
    border-left-color: #{$evo_black};
    border-right-color: #{$evo_black};
    box-shadow: #{$hover_box_shadow};
    transition: #{$hover_transition};
    outline: 0 none;
        & + label {
      color: #{$evo_black};
      cursor: pointer; // "hand" cursor
    }
  }


.form-hover-gray-dark-demo,
.form-hover-gray-dark:hover,
select.form-hover-gray-dark:hover,
input.form-hover-gray-dark:hover,
input[type].form-hover-gray-dark:hover,
textarea.form-hover-gray-dark:hover {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$evo_gray_dark};
    border-bottom-color: #{$evo_gray_dark};
    border-left-color: #{$evo_gray_dark};
    border-right-color: #{$evo_gray_dark};
    box-shadow: #{$hover_box_shadow};
    transition: #{$hover_transition};
    outline: 0 none;
        & + label {
      color: #{$evo_gray_dark};
      cursor: pointer; // "hand" cursor
    }
  }

.form-hover-gray-demo,
.form-hover-gray:hover,
select.form-hover-gray:hover,
input.form-hover-gray:hover,
input[type].form-hover-gray:hover,
textarea.form-hover-gray:hover {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$evo_gray};
    border-bottom-color: #{$evo_gray};
    border-left-color: #{$evo_gray};
    border-right-color: #{$evo_gray};
    box-shadow: #{$hover_box_shadow};
    transition: #{$hover_transition};
    outline: 0 none;
        & + label {
      color: #{$evo_gray};
      cursor: pointer; // "hand" cursor
    }
  }

.form-hover-gray-light-demo,
.form-hover-gray-light:hover,
select.form-hover-gray-light:hover,
input.form-hover-gray-light:hover,
input[type].form-hover-gray-light:hover,
textarea.form-hover-gray-light:hover {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$evo_gray_light};
    border-bottom-color: #{$evo_gray_light};
    border-left-color: #{$evo_gray_light};
    border-right-color: #{$evo_gray_light};
    box-shadow: #{$hover_box_shadow};
    transition: #{$hover_transition};
    outline: 0 none;
        & + label {
      color: #{$evo_gray_light};
      cursor: pointer; // "hand" cursor
    }
  }
