///*      F O R M   S I Z E    */

@import "../evo_variables/evo_variables";


// Forms do not need a custom size class
// Just change the text sizes on the buttons
// But just in case, here are a few sizes
// Note that these mirror _button_size.scss




// Form size large
.form-size-large {
     font-size: 125%;
}

// Form size normal
.form-size-medium {
     font-size: 100%;
}

// Form size small
.form-size-small {
     font-size: 75%;
}


// Form icon size
.form-icon-size-15 { background-size: #{$u-33}em !important; } // floor(6.1)
.form-icon-size-14 { background-size: #{$u-32}em !important; } // ceil(4.935)
.form-icon-size-13 { background-size: #{$u-31}em !important; } // 3.75
.form-icon-size-12 { background-size: #{$u-30}em !important; } // floor(3.05)
.form-icon-size-11 { background-size: #{$u-29}em !important; } // 2.6875
.form-icon-size-10 { background-size: #{$u-28}em !important; } // 2.3125
.form-icon-size-9 { background-size: #{$u-27}em !important; } // 1.875
.form-icon-size-8 { background-size: #{$u-26}em !important; } // 1.4375
.form-icon-size-7 { background-size: #{$u-25}em !important; } // 1.3125
.form-icon-size-6 { background-size: #{$u-24}em !important; } // 1.125
.form-icon-size-5 { background-size: #{$u-23}em !important; } // floor(1.02)
.form-icon-size-4 { background-size: #{$u-22}em !important; } // .875
.form-icon-size-3 { background-size: #{$u-21}em !important; } // .75
.form-icon-size-2 { background-size: #{$u-20}em !important; } // .625
.form-icon-size-1 { background-size: #{$u-19}em !important; } // .5

// // Form icon large
// .form-icon-size-6 {
//      background-size: 2em !important;
// }

// // Form icon large
// .form-icon-size-5 {
//      background-size: 1.75em !important;
// }

// // Form icon normal
// .form-icon-size-4 {
//      background-size: 1.25em !important;
// }

// // Form icon small
// .form-icon-size-3 {
//      background-size: 1em !important;
// }

// // Form icon small
// .form-icon--size-2 {
//      background-size: .75em !important;
// }

// // Form icon small
// .form-icon-size-1 {
//      background-size: .5em !important;
// }


// Padding

// Form padding thick
.form-padding-thick {
     padding-top: 1.25em;
     padding-bottom: 1.25em;
     padding-left: 2em;
     padding-right: 2em;
}

// Form padding medium
.form-padding-medium {
     padding-top: #{$form_padding_top};
     padding-bottom: #{$form_padding_bottom};
     padding-left: #{$form_padding_left};
     padding-right: #{$form_padding_right};
}

// Form padding thin
.form-padding-thin {
     padding-top: .25em;
     padding-bottom: .25em;
     padding-left: .5em;
     padding-right: .5em;
}


// Form padding collapsed

.form-padding-none {
     padding-top: 0;
     padding-bottom: 0;
     padding-left: .25em;
     padding-right: .25em;
}



// Border box width


// Thick box border

.form-box-thick {
     border-width: thick;
}

.form-box-thick:hover {
     border-width: thick;
}

.form-box-thick:focus {
     border-width: thick;
}


// Medium border box

.form-box-medium {
     border-width: medium;
}

.form-box-medium:hover {
     border-width: medium;
}

.form-box-medium:focus {
     border-width: medium;
}



// Thin border box

.form-box-thin {
     border-width: thin;
}

.form-box-thin:hover {
     border-width: thin;
}

.form-box-thin:focus {
     border-width: thin;
}



// No border box

.form-box-none {
     border-width: 0;
}

.form-box-none:hover {
     border-width: 0;
}

.form-box-none:focus {
     border-width: 0;
}
