///*      F O R M   P L A C E H O L D E R       */

@import "../evo_variables/evo_variables";


// !important is used so the focus classes can override the hover classes
// http://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css#2610741



// /*********************
//     EVO FORM PLACEHOLDER TEXT COLOR
// *********************/

// This talks about placeholder-shown
// https://css-tricks.com/almanac/selectors/p/placeholder-shown/


// Placeholder Text
// Includes hover classes
// Includes focus classes

textarea#{$evo}-form-placeholder::placeholder,
input#{$evo}-form-placeholder::placeholder,
textarea#{$evo}-form-placeholder-hover:hover::placeholder,
input#{$evo}-form-placeholder-hover:hover::placeholder {
    color: #{$placeholder_text_color};
    opacity: #{$placeholder_text_opacity};
}
textarea#{$evo}-form-placeholder-focus:focus::placeholder,
input#{$evo}-form-placeholder-focus:focus::placeholder {
    color: #{$placeholder_text_color} !important;
    opacity: #{$placeholder_text_opacity} !important;
}

// Inverse Placeholder Text
// Includes hover classes
// Includes focus classes

textarea#{$evo}-form-placeholder-inverse::placeholder,
input#{$evo}-form-placeholder-inverse::placeholder,
textarea#{$evo}-form-placeholder-hover-inverse:hover::placeholder,
input#{$evo}-form-placeholder-hover-inverse:hover::placeholder {
    color: #{$inverse_placeholder_text_color};
    opacity: #{$placeholder_text_opacity};
}
textarea#{$evo}-form-placeholder-focus-inverse:focus::placeholder,
input#{$evo}-form-placeholder-focus-inverse:focus::placeholder {
    color: #{$inverse_placeholder_text_color} !important;
    opacity: #{$placeholder_text_opacity} !important;
}


// /*********************
//     FORM PLACEHOLDER TEXT COLOR
// *********************/

// Colored placeholder text
// Includes hover classes
// Includes focus classes


// Color
textarea.form-placeholder-color::placeholder,
input.form-placeholder-color::placeholder,
textarea.form-placeholder-color-hover:hover::placeholder,
input.form-placeholder-color-hover:hover::placeholder {
     color: #{$evo_color};
}
textarea.form-placeholder-color-focus:focus::placeholder,
input.form-placeholder-color-focus:focus::placeholder {
     color: #{$evo_color} !important;
}



// /*********************
//     FORM PLACEHOLDER TEXT STATUS
// *********************/

// Colored placeholder text
// Includes hover classes
// Includes focus classes


// Info
textarea.form-placeholder-info::placeholder,
input.form-placeholder-info::placeholder,
textarea.form-placeholder-info-hover:hover::placeholder,
input.form-placeholder-info-hover:hover::placeholder {
     color: #{$color_15};
}
textarea.form-placeholder-info-focus:focus::placeholder,
input.form-placeholder-info-focus:focus::placeholder {
     color: #{$color_15} !important;
}


// Success
textarea.form-placeholder-success::placeholder,
input.form-placeholder-success::placeholder,
textarea.form-placeholder-success-hover:hover::placeholder,
input.form-placeholder-success-hover:hover::placeholder {
     color: #{$color_21};
}
textarea.form-placeholder-success-focus:focus::placeholder,
input.form-placeholder-success-focus:focus::placeholder {
     color: #{$color_21} !important;
}


// Warning
textarea.form-placeholder-warning::placeholder,
input.form-placeholder-warning::placeholder,
textarea.form-placeholder-warning-hover:hover::placeholder,
input.form-placeholder-warning-hover:hover::placeholder {
     color: #{$color_2};
}
textarea.form-placeholder-warning-focus:focus::placeholder,
input.form-placeholder-warning-focus:focus::placeholder {
     color: #{$color_2} !important;
}


// Danger
textarea.form-placeholder-danger::placeholder,
input.form-placeholder-danger::placeholder,
textarea.form-placeholder-danger-hover:hover::placeholder,
input.form-placeholder-danger-hover:hover::placeholder {
     color: #{$color_5};
}
textarea.form-placeholder-danger-focus:focus::placeholder,
input.form-placeholder-danger-focus:focus::placeholder {
     color: #{$color_5} !important;
}

// /*********************
//     FORM PLACEHOLDER TEXT NEUTRAL
// *********************/

// Neutral placeholder text
// Includes hover classes
// Includes focus classes


// White
textarea.form-placeholder-white::placeholder,
input.form-placeholder-white::placeholder,
textarea.form-placeholder-white-hover:hover::placeholder,
input.form-placeholder-white-hover:hover::placeholder {
    color: #{$evo_white};
}
textarea.form-placeholder-white-focus:focus::placeholder,
input.form-placeholder-white-focus:focus::placeholder {
    color: #{$evo_white} !important;
}



// Black
textarea.form-placeholder-black::placeholder,
input.form-placeholder-black::placeholder,
textarea.form-placeholder-black-hover:hover::placeholder,
input.form-placeholder-black-hover:hover::placeholder {
    color: #{$evo_black};
}
textarea.form-placeholder-black-focus:focus::placeholder,
input.form-placeholder-black-focus:focus::placeholder {
    color: #{$evo_black} !important;
}



// Dark Gray
textarea.form-placeholder-gray-dark::placeholder,
input.form-placeholder-gray-dark::placeholder,
textarea.form-placeholder-gray-dark-hover:hover::placeholder,
input.form-placeholder-gray-dark-hover:hover::placeholder {
    color: #{$evo_gray_dark};
}
textarea.form-placeholder-gray-dark-focus:focus::placeholder,
input.form-placeholder-gray-dark-focus:focus::placeholder {
    color: #{$evo_gray_dark} !important;
}



// Gray
textarea.form-placeholder-gray::placeholder,
input.form-placeholder-gray::placeholder,
textarea.form-placeholder-gray-hover:hover::placeholder,
input.form-placeholder-gray-hover:hover::placeholder {
    color: #{$evo_gray};
}
textarea.form-placeholder-gray-focus:focus::placeholder,
input.form-placeholder-gray-focus:focus::placeholder {
    color: #{$evo_gray} !important;
}



// Light Gray
textarea.form-placeholder-gray-light::placeholder,
input.form-placeholder-gray-light::placeholder,
textarea.form-placeholder-gray-light-hover:hover::placeholder,
input.form-placeholder-gray-light-hover:hover::placeholder {
    color: #{$evo_gray_light};
}
textarea.form-placeholder-gray-light-focus:focus::placeholder,
input.form-placeholder-gray-light-focus:focus::placeholder {
    color: #{$evo_gray_light} !important;
}


// /*********************
//     FORM PLACEHOLDER TEXT OPACITY
// *********************/


// Opacity 9
textarea.form-placeholder-opacity-9::placeholder,
input.form-placeholder-opacity-9::placeholder,
textarea.form-placeholder-opacity-9-hover:hover::placeholder,
input.form-placeholder-opacity-9-hover:hover::placeholder {
    opacity:.9;
}
textarea.form-placeholder-opacity-9-focus:focus::placeholder,
input.form-placeholder-opacity-9-focus:focus::placeholder {
    opacity:.9 !important;
}



// Opacity 8
textarea.form-placeholder-opacity-8::placeholder,
input.form-placeholder-opacity-8::placeholder,
textarea.form-placeholder-opacity-8-hover:hover::placeholder,
input.form-placeholder-opacity-8-hover:hover::placeholder {
    opacity:.8;
}
textarea.form-placeholder-opacity-8-hover:focus::placeholder,
input.form-placeholder-opacity-8-hover:focus::placeholder {
    opacity:.8 !important;
}




// Opacity 7
textarea.form-placeholder-opacity-7::placeholder,
input.form-placeholder-opacity-7::placeholder,
textarea.form-placeholder-opacity-7-hover:hover::placeholder,
input.form-placeholder-opacity-7-hover:hover::placeholder {
    opacity:.7;
}
textarea.form-placeholder-opacity-7-hover:focus::placeholder,
input.form-placeholder-opacity-7-hover:focus::placeholder {
    opacity:.7 !important;
}




// Opacity 6
textarea.form-placeholder-opacity-6::placeholder,
input.form-placeholder-opacity-6::placeholder,
textarea.form-placeholder-opacity-6-hover:hover::placeholder,
input.form-placeholder-opacity-6-hover:hover::placeholder {
    opacity:.6;
}
textarea.form-placeholder-opacity-6-hover:focus::placeholder,
input.form-placeholder-opacity-6-hover:focus::placeholder {
    opacity:.6 !important;
}



// Opacity 5
textarea.form-placeholder-opacity-5::placeholder,
input.form-placeholder-opacity-5::placeholder,
textarea.form-placeholder-opacity-5-hover:hover::placeholder,
input.form-placeholder-opacity-5-hover:hover::placeholder {
    opacity:.5;
}
textarea.form-placeholder-opacity-5-focus:focus::placeholder,
input.form-placeholder-opacity-5-focus:focus::placeholder {
    opacity:.5 !important;
}



// Opacity 4
textarea.form-placeholder-opacity-4::placeholder,
input.form-placeholder-opacity-4::placeholder,
textarea.form-placeholder-opacity-4-hover:hover::placeholder,
input.form-placeholder-opacity-4-hover:hover::placeholder {
    opacity:.4;
}
textarea.form-placeholder-opacity-4-focus:focus::placeholder,
input.form-placeholder-opacity-4-focus:focus::placeholder {
    opacity:.4 !important;
}



// Opacity 3
textarea.form-placeholder-opacity-3::placeholder,
input.form-placeholder-opacity-3::placeholder,
textarea.form-placeholder-opacity-3-hover:hover::placeholder,
input.form-placeholder-opacity-3-hover:hover::placeholder {
    opacity:.3;
}
textarea.form-placeholder-opacity-3-focus:focus::placeholder,
input.form-placeholder-opacity-3-focus:focus::placeholder {
    opacity:.3 !important;
}



// Opacity 2
textarea.form-placeholder-opacity-2::placeholder,
input.form-placeholder-opacity-2::placeholder,
textarea.form-placeholder-opacity-2-hover:hover::placeholder,
input.form-placeholder-opacity-2-hover:hover::placeholder {
    opacity:.2;
}
textarea.form-placeholder-opacity-2-focus:focus::placeholder,
input.form-placeholder-opacity-2-focus:focus::placeholder {
    opacity:.2 !important;
}



// Opacity 1
textarea.form-placeholder-opacity-1::placeholder,
input.form-placeholder-opacity-1::placeholder,
textarea.form-placeholder-opacity-1-hover:hover::placeholder,
input.form-placeholder-opacity-1-hover:hover::placeholder {
    opacity:.1;
}
textarea.form-placeholder-opacity-1-focus:focus::placeholder,
input.form-placeholder-opacity-1-focus:focus::placeholder {
    opacity:.1 !important;
}



