///*      F O R M   F O C U S       */

@import "../evo_variables/evo_variables";

// !important is applied to override the hover colors

// Combine with floating labels

// input:focus,
// input#{$evo}-form:focus { 
//     // border-width: 2px;
//     // border-style: solid;
//     border-top-color: #{$focus_border_color} !important;
//     border-bottom-color: #{$focus_border_color} !important;
//     border-left-color: #{$focus_border_color} !important;
//     border-right-color: #{$focus_border_color} !important;
//     box-shadow: #{$focus_box_shadow} !important;
//     transition: #{$focus_transition} !important;
//     outline: 0 none;
//         & + label {
//       color: #{$focus_border_color} !important;
//       cursor: pointer !important; // "hand" cursor
//     }
//   }

// textarea:focus,
// textarea#{$evo}-form:focus { 
//     // border-width: 2px;
//     // border-style: solid;
//     border-top-color: #{$focus_border_color} !important;
//     border-bottom-color: #{$focus_border_color} !important;
//     border-left-color: #{$focus_border_color} !important;
//     border-right-color: #{$focus_border_color} !important;
//     box-shadow: #{$focus_box_shadow} !important;
//     transition: #{$focus_transition} !important;
//     outline: 0 none;
//         & + label {
//       color: #{$focus_border_color} !important;
//       cursor: pointer !important; // "hand" cursor
//     }
//   }


// /*********************
//     EVO FORM FOCUS
// *********************/

// How to get labels to highlight when focused / hovedanger on the field

// http://stackoverflow.com/questions/36647427/selecting-a-label-placed-before-an-input-in-various-states

// Default focus state
// Default hover state (matches focus state)
#{$evo}-form-focus-demo,
#{$evo}-form-focus:focus,
select.#{$evo}-form-focus:focus,
input#{$evo}-form-focus:focus,
// input[type]#{$evo}-form-focus:focus,
textarea#{$evo}-form-focus:focus {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$focus_border_color} !important;
    border-bottom-color: #{$focus_border_color} !important;
    border-left-color: #{$focus_border_color} !important;
    border-right-color: #{$focus_border_color} !important;
    box-shadow: #{$focus_box_shadow} !important;
    transition: #{$focus_transition} !important;
    outline: 0 none;
        & + label {
      color: #{$focus_border_color} !important;
      cursor: pointer; // "hand" cursor
    }
  }

#{$evo}-form-focus-inverse-demo,
#{$evo}-form-focus-inverse:focus,
select.#{$evo}-form-focus-inverse:focus,
input#{$evo}-form-focus-inverse:focus,
// input[type]#{$evo}-form-focus-inverse:focus,
textarea#{$evo}-form-focus-inverse:focus {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$inverse_focus_border_color} !important;
    border-bottom-color: #{$inverse_focus_border_color} !important;
    border-left-color: #{$inverse_focus_border_color} !important;
    border-right-color: #{$inverse_focus_border_color} !important;
    box-shadow: #{$inverse_focus_box_shadow} !important;
    transition: #{$focus_transition} !important;
    outline: 0 none;
        & + label {
      color: #{$inverse_focus_border_color} !important;
      cursor: pointer; // "hand" cursor
    }
  }



// /*********************
//     FORM FOCUS COLOR
// *********************/


// Default focus state
// Default hover state (matches focus state)
.form-focus-color-demo,
.form-focus-color:focus,
select.form-focus-color:focus,
input.form-focus-color:focus,
// input[type].form-focus-color:focus,
textarea.form-focus-color:focus {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$evo_color} !important;
    border-bottom-color: #{$evo_color} !important;
    border-left-color: #{$evo_color} !important;
    border-right-color: #{$evo_color} !important;
    box-shadow: #{$focus_box_shadow} !important;
    transition: #{$focus_transition} !important;
    outline: 0 none;
        & + label {
      color: #{$evo_color} !important;
      cursor: pointer; // "hand" cursor
    }
  }


// /*********************
//     FORM FOCUS STATUS
// *********************/


// info color focus
.form-focus-info-demo,
.form-focus-info:focus,
select.form-focus-info:focus,
input.form-focus-info:focus,
textarea.form-focus-info:focus {
    border-top-color: #{$evo_info} !important;
    border-bottom-color: #{$evo_info} !important;
    border-left-color: #{$evo_info} !important;
    border-right-color: #{$evo_info} !important;
    border-color: #{$evo_info} !important;
    // box-shadow: 0 1px 1px rgba(0, 115, 185, 0.075) inset, 0 0 8px rgba(0, 115, 185, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$evo_info} !important;
      cursor: pointer; // "hand" cursor
    }
}

// success color focus
.form-focus-success-demo,
.form-focus-success:focus,
select.form-focus-success:focus,
input.form-focus-success:focus,
textarea.form-focus-success:focus {
    border-top-color: #{$evo_success} !important;
    border-bottom-color: #{$evo_success} !important;
    border-left-color: #{$evo_success} !important;
    border-right-color: #{$evo_success} !important;
    border-color: #{$evo_success} !important;
    // box-shadow: 0 1px 1px rgba(0, 164, 83, 0.075) inset, 0 0 8px rgba(0, 164, 83, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$evo_success} !important;
      cursor: pointer; // "hand" cursor
    }
}

// warning color focus
.form-focus-warning-demo,
.form-focus-warning:focus,
select.form-focus-warning:focus,
input.form-focus-warning:focus,
textarea.form-focus-warning:focus {
    border-top-color: #{$evo_warning} !important;
    border-bottom-color: #{$evo_warning} !important;
    border-left-color: #{$evo_warning} !important;
    border-right-color: #{$evo_warning} !important;
    border-color: #{$evo_warning} !important;
    // box-shadow: 0 1px 1px rgba(0, 164, 83, 0.075) inset, 0 0 8px rgba(0, 164, 83, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$evo_warning} !important;
      cursor: pointer; // "hand" cursor
    }
}

// danger color focus
.form-focus-danger-demo,
.form-focus-danger:focus,
select.form-focus-danger:focus,
input.form-focus-danger:focus,
textarea.form-focus-danger:focus {
    border-top-color: #{$evo_danger} !important;
    border-bottom-color: #{$evo_danger} !important;
    border-left-color: #{$evo_danger} !important;
    border-right-color: #{$evo_danger} !important;
    border-color: #{$evo_danger} !important;
    // box-shadow: 0 1px 1px rgba(0, 164, 83, 0.075) inset, 0 0 8px rgba(0, 164, 83, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$evo_danger} !important;
      cursor: pointer; // "hand" cursor
    }
}


// /*********************
//     FORM FOCUS NEUTRAL
// *********************/



// Black color focus
.form-focus-black-demo,
.form-focus-black:focus,
select.form-focus-black:focus,
input.form-focus-black:focus,
textarea.form-focus-black:focus {
    border-top-color: #{$evo_black} !important;
    border-bottom-color: #{$evo_black} !important;
    border-left-color: #{$evo_black} !important;
    border-right-color: #{$evo_black} !important;
    // border-color: #{$evo_black};
    // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$evo_black} !important;
      cursor: pointer; // "hand" cursor
    }
}

// Dark Gray color focus
.form-focus-gray-dark-demo,
.form-focus-gray-dark:focus,
select.form-focus-gray-dark:focus,
input.form-focus-gray-dark:focus,
textarea.form-focus-gray-dark:focus {
    border-top-color: #{$evo_gray_dark} !important;
    border-bottom-color: #{$evo_gray_dark} !important;
    border-left-color: #{$evo_gray_dark} !important;
    border-right-color: #{$evo_gray_dark} !important;
    border-color: #{$evo_gray_dark} !important;
    // box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$evo_gray_dark} !important;
      cursor: pointer; // "hand" cursor
    }
}

// Gray color focus
.form-focus-gray-demo,
.form-focus-gray:focus,
select.form-focus-gray:focus,
input.form-focus-gray:focus,
textarea.form-focus-gray:focus {
    border-top-color: #{$evo_gray} !important;
    border-bottom-color: #{$evo_gray} !important;
    border-left-color: #{$evo_gray} !important;
    border-right-color: #{$evo_gray} !important;
    border-color: #{$evo_gray} !important;
    // box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$evo_gray} !important;
      cursor: pointer; // "hand" cursor
    }
}

// Light Gray color focus
.form-focus-gray-light-demo,
.form-focus-gray-light:focus,
select.form-focus-gray-light:focus,
input.form-focus-gray-light:focus,
textarea.form-focus-gray-light:focus {
    border-top-color: #{$evo_gray_light} !important;
    border-bottom-color: #{$evo_gray_light} !important;
    border-left-color: #{$evo_gray_light} !important;
    border-right-color: #{$evo_gray_light} !important;
    border-color: #{$evo_gray_light} !important;
    // box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$evo_gray_light} !important;
      cursor: pointer; // "hand" cursor
    }
}

// White color focus
.form-focus-white-demo,
.form-focus-white:focus,
select.form-focus-white:focus,
input.form-focus-white:focus,
textarea.form-focus-white:focus {
    border-top-color: #{$evo_white} !important;
    border-bottom-color: #{$evo_white} !important;
    border-left-color: #{$evo_white} !important;
    border-right-color: #{$evo_white} !important;
    border-color: #{$evo_white} !important;
    // box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$evo_white} !important;
      cursor: pointer; // "hand" cursor
    }
}


