///*      F O R M   F O C U S       */

@import "../evo_variables/evo_variables";

// !important is applied to override the hover colors

// Combine with floating labels

// input:focus,
// input#{$evo}-form:focus { 
//     // border-width: 2px;
//     // border-style: solid;
//     border-top-color: #{$focus_border_color} !important;
//     border-bottom-color: #{$focus_border_color} !important;
//     border-left-color: #{$focus_border_color} !important;
//     border-right-color: #{$focus_border_color} !important;
//     box-shadow: #{$focus_box_shadow} !important;
//     transition: #{$focus_transition} !important;
//     outline: 0 none;
//         & + label {
//       color: #{$focus_border_color} !important;
//       cursor: pointer !important; // "hand" cursor
//     }
//   }

// textarea:focus,
// textarea#{$evo}-form:focus { 
//     // border-width: 2px;
//     // border-style: solid;
//     border-top-color: #{$focus_border_color} !important;
//     border-bottom-color: #{$focus_border_color} !important;
//     border-left-color: #{$focus_border_color} !important;
//     border-right-color: #{$focus_border_color} !important;
//     box-shadow: #{$focus_box_shadow} !important;
//     transition: #{$focus_transition} !important;
//     outline: 0 none;
//         & + label {
//       color: #{$focus_border_color} !important;
//       cursor: pointer !important; // "hand" cursor
//     }
//   }


// /*********************
//     FORM FOCUS
// *********************/

// How to get labels to highlight when focused / hovered on the field

// http://stackoverflow.com/questions/36647427/selecting-a-label-placed-before-an-input-in-various-states

// Default focus state
// Default hover state (matches focus state)
.form-focus-demo,
#{$evo}-form-focus:focus,
select.form-focus:focus,
input.form-focus:focus,
// input[type].form-focus:focus,
textarea.form-focus:focus {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$focus_border_color} !important;
    border-bottom-color: #{$focus_border_color} !important;
    border-left-color: #{$focus_border_color} !important;
    border-right-color: #{$focus_border_color} !important;
    box-shadow: #{$focus_box_shadow} !important;
    transition: #{$focus_transition} !important;
    outline: 0 none;
        & + label {
      color: #{$focus_border_color} !important;
      cursor: pointer; // "hand" cursor
    }
  }

// Default focus state
// Default hover state (matches focus state)
.form-focus-color-demo,
#{$evo}-form-focus-color:focus,
select.form-focus-color:focus,
input.form-focus-color:focus,
// input[type].form-focus-color:focus,
textarea.form-focus-color:focus {
    // border-width: 2px;
    // border-style: solid;
    border-top-color: #{$evo_color} !important;
    border-bottom-color: #{$evo_color} !important;
    border-left-color: #{$evo_color} !important;
    border-right-color: #{$evo_color} !important;
    box-shadow: #{$focus_box_shadow} !important;
    transition: #{$focus_transition} !important;
    outline: 0 none;
        & + label {
      color: #{$evo_color} !important;
      cursor: pointer; // "hand" cursor
    }
  }


// Black color focus
.form-focus-black-demo,
#{$evo}-form-focus-black:focus,
select.form-focus-black:focus,
input.form-focus-black:focus,
textarea.form-focus-black:focus {
    border-top-color: #{$evo_black} !important;
    border-bottom-color: #{$evo_black} !important;
    border-left-color: #{$evo_black} !important;
    border-right-color: #{$evo_black} !important;
    // border-color: #{$evo_black};
    // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$evo_black} !important;
      cursor: pointer; // "hand" cursor
    }
}

// Gray color focus
.form-focus-gray-demo,
#{$evo}-form-focus-gray:focus,
select.form-focus-gray:focus,
input.form-focus-gray:focus,
textarea.form-focus-gray:focus {
    border-top-color: #{$evo_gray} !important;
    border-bottom-color: #{$evo_gray} !important;
    border-left-color: #{$evo_gray} !important;
    border-right-color: #{$evo_gray} !important;
    border-color: #{$evo_gray} !important;
    // box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$evo_gray} !important;
      cursor: pointer; // "hand" cursor
    }
}


// White color focus
.form-focus-white-demo,
#{$evo}-form-focus-white:focus,
select.form-focus-white:focus,
input.form-focus-white:focus,
textarea.form-focus-white:focus {
    border-top-color: #{$evo_white} !important;
    border-bottom-color: #{$evo_white} !important;
    border-left-color: #{$evo_white} !important;
    border-right-color: #{$evo_white} !important;
    border-color: #{$evo_white} !important;
    // box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$evo_white} !important;
      cursor: pointer; // "hand" cursor
    }
}


// Blue color focus
.form-focus-blue-demo,
#{$evo}-form-focus-blue:focus,
select.form-focus-blue:focus,
input.form-focus-blue:focus,
textarea.form-focus-blue:focus {
    border-top-color: #{$color_15} !important;
    border-bottom-color: #{$color_15} !important;
    border-left-color: #{$color_15} !important;
    border-right-color: #{$color_15} !important;
    border-color: #{$color_15} !important;
    // box-shadow: 0 1px 1px rgba(0, 115, 185, 0.075) inset, 0 0 8px rgba(0, 115, 185, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$color_15} !important;
      cursor: pointer; // "hand" cursor
    }
}

// Green color focus
.form-focus-green-demo,
#{$evo}-form-focus-green:focus,
select.form-focus-green:focus,
input.form-focus-green:focus,
textarea.form-focus-green:focus {
    border-top-color: #{$color_21} !important;
    border-bottom-color: #{$color_21} !important;
    border-left-color: #{$color_21} !important;
    border-right-color: #{$color_21} !important;
    border-color: #{$color_21} !important;
    // box-shadow: 0 1px 1px rgba(0, 164, 83, 0.075) inset, 0 0 8px rgba(0, 164, 83, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$color_21} !important;
      cursor: pointer; // "hand" cursor
    }
}

// Red color focus
.form-focus-red-demo,
#{$evo}-form-focus-red:focus,
select.form-focus-red:focus,
input.form-focus-red:focus,
textarea.form-focus-red:focus {
    border-top-color: #{$color_5} !important;
    border-bottom-color: #{$color_5} !important;
    border-left-color: #{$color_5} !important;
    border-right-color: #{$color_5} !important;
    border-color: #{$color_5} !important;
    // box-shadow: 0 1px 1px rgba(0, 164, 83, 0.075) inset, 0 0 8px rgba(0, 164, 83, 0.6);
    // outline: 0 none;
        & + label {
      color: #{$color_5} !important;
      cursor: pointer; // "hand" cursor
    }
}
