///*      H I G H L I G H T   M A R K     */

// Highlight state for the mark tag

@import "../evo_variables/evo_variables";


// mark {
//     background-color: yellow;
//     color: black;
// }


mark {
  background: #ff0;
  background-color: #ff0;
  color: #000;
  font-style:normal;
  font-weight:normal;
}