///*      H I G H L I G H T   G R A Y     */


@import "../evo_variables/evo_variables";


// Need to create trans (transparent) styles and other gray colors


// Gray 0

.highlight-gray-0 {
    background-color: #{$gray_0};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-0 {
    background-color: #{$gray_0};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 1

.highlight-gray-1 {
    background-color: #{$gray_1};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-1 {
    background-color: #{$gray_1};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 2

.highlight-gray-2 {
    background-color: #{$gray_2};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-2 {
    background-color: #{$gray_2};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 3

.highlight-gray-3 {
    background-color: #{$gray_3};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-3 {
    background-color: #{$gray_3};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 4

.highlight-gray-4 {
    background-color: #{$gray_4};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-4 {
    background-color: #{$gray_4};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 5

.highlight-gray-5 {
    background-color: #{$gray_5};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-5 {
    background-color: #{$gray_5};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 6

.highlight-gray-6 {
    background-color: #{$gray_6};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-6 {
    background-color: #{$gray_6};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 7

.highlight-gray-7 {
    background-color: #{$gray_7};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-7 {
    background-color: #{$gray_7};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 8

.highlight-gray-8 {
    background-color: #{$gray_8};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-8 {
    background-color: #{$gray_8};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 9

.highlight-gray-9 {
    background-color: #{$gray_9};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-9 {
    background-color: #{$gray_9};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}



// Gray 10

.highlight-gray-10 {
    background-color: #{$gray_10};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-10 {
    background-color: #{$gray_10};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 11

.highlight-gray-11 {
    background-color: #{$gray_11};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-11 {
    background-color: #{$gray_11};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 12

.highlight-gray-12 {
    background-color: #{$gray_12};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-12 {
    background-color: #{$gray_12};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 13

.highlight-gray-13 {
    background-color: #{$gray_13};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-13 {
    background-color: #{$gray_13};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 14

.highlight-gray-14 {
    background-color: #{$gray_14};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-14 {
    background-color: #{$gray_14};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 15

.highlight-gray-15 {
    background-color: #{$gray_15};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-15 {
    background-color: #{$gray_15};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 16

.highlight-gray-16 {
    background-color: #{$gray_16};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-16 {
    background-color: #{$gray_16};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 17

.highlight-gray-17 {
    background-color: #{$gray_17};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-17 {
    background-color: #{$gray_17};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 18

.highlight-gray-18 {
    background-color: #{$gray_18};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-18 {
    background-color: #{$gray_18};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 19

.highlight-gray-19 {
    background-color: #{$gray_19};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-19 {
    background-color: #{$gray_19};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 20

.highlight-gray-20 {
    background-color: #{$gray_20};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-20 {
    background-color: #{$gray_20};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 21

.highlight-gray-21 {
    background-color: #{$gray_21};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-21 {
    background-color: #{$gray_21};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 22

.highlight-gray-22 {
    background-color: #{$gray_22};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-22 {
    background-color: #{$gray_22};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 23

.highlight-gray-23 {
    background-color: #{$gray_23};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-23 {
    background-color: #{$gray_23};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 24

.highlight-gray-24 {
    background-color: #{$gray_24};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-24 {
    background-color: #{$gray_24};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 25

.highlight-gray-25 {
    background-color: #{$gray_25};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-25 {
    background-color: #{$gray_25};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 26

.highlight-gray-26 {
    background-color: #{$gray_26};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-26 {
    background-color: #{$gray_26};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 27

.highlight-gray-27 {
    background-color: #{$gray_27};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-27 {
    background-color: #{$gray_27};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 28

.highlight-gray-28 {
    background-color: #{$gray_28};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-28 {
    background-color: #{$gray_28};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}



// Gray 29

.highlight-gray-29 {
    background-color: #{$gray_29};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-29 {
    background-color: #{$gray_29};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}


// Gray 30

.highlight-gray-30 {
    background-color: #{$gray_30};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.trans-highlight-gray-30 {
    background-color: #{$gray_30};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}