///*      I C O N   L I S T    */

@import "../evo_variables/evo_variables";


// Evo list style
#{$evo}-icon-list li,
.icon-list-inverse li {
    margin-left: 1.5em;
    position: relative;
    list-style-type: none;
    // vertical-align: middle;
    // padding-left: -3em;
}

// Evo list icons
#{$evo}-icon-list li:before {
content:''; 
// display:inline-block; 
position: absolute;
height: 1em;
width: 1em;
background-image: url(#{$icon_list_background}); 
background-size: contain;
background-position: center;
background-repeat:no-repeat; 
left: -1.5em;
top: 0;
vertical-align: middle;
}

// Evo list icons
.icon-list-inverse li:before {
background-image: url(#{$inverse_icon_list_background}); 
}