///*      I C O N   */

@import "../evo_variables/evo_variables";


.icon-twitter {
background-image: #{$icon_twitter}; 
}

.icon-twitter-after::after {
background-image: #{$icon_twitter}; 
}


.icon-twitter-white {
background-image: #{$icon_twitter_white}; 
}

.icon-twitter-white-after::after {
background-image: #{$icon_twitter_white}; 
}



.icon-twitter-gray {
background-image: #{$icon_twitter_white}; 
}

.icon-twitter-gray-after::after {
background-image: #{$icon_twitter_gray}; 
}