///*      I M A G E   E F F E C T     */


@import "../evo_variables/evo_variables";


// https://www.w3schools.com/howto/howto_css_image_overlay.asp

// Evo transition
// Need to hook into variables
#{$evo}-transition                 { transition: .5s ease; }
#{$evo}-transition-before::before  { transition: .5s ease; }
#{$evo}-transition-after::after    { transition: .5s ease; }

// Transitions
.transition-1      { transition: .1s; }
.transition-2      { transition: .2s; }
.transition-3      { transition: .3s; }
.transition-4      { transition: .4s; }
.transition-5      { transition: .5s; }
.transition-6      { transition: .6s; }
.transition-7      { transition: .7s; }
.transition-8      { transition: .8s; }
.transition-9      { transition: .9s; }
.transition-10      { transition: 1s; }

// Transitions with ease
.transition-1-ease { transition: .1s ease; }
.transition-2-ease { transition: .2s ease; }
.transition-3-ease { transition: .3s ease; }
.transition-4-ease { transition: .4s ease; }
.transition-5-ease { transition: .5s ease; }
.transition-6-ease { transition: .6s ease; }
.transition-7-ease { transition: .7s ease; }
.transition-8-ease { transition: .8s ease; }
.transition-9-ease { transition: .9s ease; }
.transition-10-ease { transition: 1s ease; }

// Transitions with ease
.transition-1-delay { transition-delay: .1s; }
.transition-2-delay { transition-delay: .2s; }
.transition-3-delay { transition-delay: .3s; }
.transition-4-delay { transition-delay: .4s; }
.transition-5-delay { transition-delay: .5s; }
.transition-6-delay { transition-delay: .6s; }
.transition-7-delay { transition-delay: .7s; }
.transition-8-delay { transition-delay: .8s; }
.transition-9-delay { transition-delay: .9s; }
.transition-10-delay { transition-delay: 1s; }



// Evo opacity
// Need to hook into variables
// Need before hover and after hovers

#{$evo}-opacity                 { opacity: .5; }
#{$evo}-opacity-before::before  { opacity: .5; }
#{$evo}-opacity-after::after    { opacity: .5; }

#{$evo}-opacity-hover            { opacity: 0; }
#{$evo}-opacity-hover:hover      { opacity: .5; }

#{$evo}-opacity-hover-none       { opacity: .5; }
#{$evo}-opacity-hover-none:hover { opacity: 1; }



// Opacity
.opacity-none,
.opacity-0    { opacity: 0; }
.opacity-1    { opacity: .02; }
.opacity-2    { opacity: .05; }
.opacity-3    { opacity: .1; }
.opacity-4    { opacity: .2; }
.opacity-5    { opacity: .3; }
.opacity-6    { opacity: .4; }
.opacity-half,
.opacity-7    { opacity: .5; }
.opacity-8    { opacity: .6; }
.opacity-9    { opacity: .7; }
.opacity-10    { opacity: .8; }
.opacity-11    { opacity: .9; }
.opacity-12    { opacity: .95; }
.opacity-13    { opacity: .98; }
.opacity-14    { opacity: .99; }
.opacity-15,
.opacity-full  { opacity: 1; }

// No opacity, to a percent opacity on-hover
.opacity-none-hover:hover,
.opacity-0-hover:hover { opacity: 0; }
.opacity-1-hover:hover { opacity: .02; }
.opacity-2-hover:hover { opacity: .05; }
.opacity-3-hover:hover { opacity: .1; }
.opacity-4-hover:hover { opacity: .2; }
.opacity-5-hover:hover { opacity: .3; }
.opacity-6-hover:hover { opacity: .4; }
.opacity-half-hover:hover,
.opacity-7-hover:hover { opacity: .5; }
.opacity-8-hover:hover { opacity: .6; }
.opacity-9-hover:hover { opacity: .7; }
.opacity-10-hover:hover { opacity: .8; }
.opacity-11-hover:hover { opacity: .9; }
.opacity-12-hover:hover { opacity: .95; }
.opacity-13-hover:hover { opacity: .98; }
.opacity-14-hover:hover { opacity: .99; }
.opacity-15-hover:hover,
.opacity-full-hover:hover { opacity: 1; }

.opacity-none-hover,
.opacity-0-hover,
.opacity-1-hover,
.opacity-2-hover,
.opacity-3-hover,
.opacity-4-hover,
.opacity-half-hover,
.opacity-5-hover,
.opacity-6-hover,
.opacity-7-hover,
.opacity-8-hover,
.opacity-9-hover,
.opacity-10-hover,
.opacity-11-hover,
.opacity-12-hover,
.opacity-13-hover,
.opacity-14-hover,
.opacity-15-hover,
.opacity-full-hover  { opacity: 0; }


// Percent opacity, to none on-hover
.opacity-none-hover-none,
.opacity-0-hover-none { opacity: 0; }
.opacity-1-hover-none { opacity: .02; }
.opacity-2-hover-none { opacity: .05; }
.opacity-3-hover-none { opacity: .1; }
.opacity-4-hover-none { opacity: .2; }
.opacity-5-hover-none { opacity: .3; }
.opacity-6-hover-none { opacity: .4; }
.opacity-half-hover-none,
.opacity-7-hover-none { opacity: .5; }
.opacity-8-hover-none { opacity: .6; }
.opacity-9-hover-none { opacity: .7; }
.opacity-10-hover-none { opacity: .8; }
.opacity-11-hover-none { opacity: .9; }
.opacity-12-hover-none { opacity: .95; }
.opacity-13-hover-none { opacity: .98; }
.opacity-14-hover-none { opacity: .99; }
.opacity-15-hover-none,
.opacity-full-hover-none { opacity: 1; }

.opacity-none-hover-none:hover,
.opacity-0-hover-none:hover,
.opacity-1-hover-none:hover,
.opacity-2-hover-none:hover,
.opacity-3-hover-none:hover,
.opacity-4-hover-none:hover,
.opacity-half-hover-none:hover,
.opacity-5-hover-none:hover,
.opacity-6-hover-none:hover,
.opacity-7-hover-none:hover,
.opacity-8-hover-none:hover,
.opacity-9-hover-none:hover,
.opacity-10-hover-none:hover,
.opacity-11-hover-none:hover,
.opacity-12-hover-none:hover,
.opacity-13-hover-none:hover,
.opacity-14-hover-none:hover,
.opacity-15-hover-none:hover,
.opacity-full-hover-none:hover { opacity: 1; }


// Linear Gradient Shadow
// https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient

.gradient-bg {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.6),transparent);
}

.gradient-bg-to-right {
  background-image: linear-gradient(to right,hsla(0, 0%, 0%, 0.6),transparent);
}

.gradient-bg-to-left {
  background-image: linear-gradient(to left,hsla(0, 0%, 0%, 0.6),transparent);
}

.gradient-bg-to-top {
  background-image: linear-gradient(to top,hsla(0, 0%, 0%, 0.6),transparent);
}

// https://codepen.io/anon/pen/NgKaVJ?editors=0100


// Evo gradient Color

#{$evo}-gradient-bg {
  background-image: linear-gradient(#{$evo_color},transparent);
}

#{$evo}-gradient-bg-to-right {
  background-image: linear-gradient(to right,#{$evo_color},transparent);
}

#{$evo}-gradient-bg-to-left {
  background-image: linear-gradient(to left,#{$evo_color},transparent);
}

#{$evo}-gradient-bg-to-top {
  background-image: linear-gradient(to top,#{$evo_color},transparent);
}



// Backround image position
// https://developer.mozilla.org/en-US/docs/Web/CSS/background-position?v=control

.image-bg-center { background-repeat: no-repeat; background-position: center center; }
.image-bg-top    { background-repeat: no-repeat; background-position: top center; }
.image-bg-right  { background-repeat: no-repeat; background-position: center right; }
.image-bg-bottom { background-repeat: no-repeat; background-position: bottom center; }
.image-bg-left   { background-repeat: no-repeat; background-position: center left; }

// .image-bg-top-center   { background-repeat: no-repeat; background-position: top center; }
// .image-bg-top-right    { background-repeat: no-repeat; background-position: top right; }
// .image-bg-bottom-right { background-repeat: no-repeat; background-position: bottom right; }
// .image-bg-top-left     { background-repeat: no-repeat; background-position: top left; }
// .image-bg-bottom-left  { background-repeat: no-repeat; background-position: bottom left; }




// Animation
// https://developer.mozilla.org/en-US/docs/Web/CSS/animation?v=control

// .fadeinup {animation: fadeInUp 1s;}