///*      I M A G E   E F F E C T     */


@import "../evo_variables/evo_variables";


// https://www.w3schools.com/howto/howto_css_image_overlay.asp

// Evo transition
// Need to hook into variables
.evo-transition           { transition: .5s; }
.evo-transition-after::after    { transition: .5s; }

// Transitions
.transition-1      { transition: .1s; }
.transition-2      { transition: .2s; }
.transition-3      { transition: .3s; }
.transition-4      { transition: .4s; }
.transition-5      { transition: .5s; }
.transition-6      { transition: .6s; }
.transition-7      { transition: .7s; }
.transition-8      { transition: .8s; }
.transition-9      { transition: .9s; }
.transition-10      { transition: 1s; }

// Transitions with ease
.transition-1-ease { transition: .1s ease; }
.transition-2-ease { transition: .2s ease; }
.transition-3-ease { transition: .3s ease; }
.transition-4-ease { transition: .4s ease; }
.transition-5-ease { transition: .5s ease; }
.transition-6-ease { transition: .6s ease; }
.transition-7-ease { transition: .7s ease; }
.transition-8-ease { transition: .8s ease; }
.transition-9-ease { transition: .9s ease; }
.transition-10-ease { transition: 1s ease; }



// Evo opacity
// Need to hook into variables
.evo-opacity             { opacity: .5; }
.evo-opacity-after::after  { opacity: .5; }

.evo-opacity-hover       { opacity: 0; }
.evo-opacity-hover:hover { opacity: .5; }

.evo-opacity-hover-none  { opacity: .5; }
.evo-opacity-hover-none:hover { opacity: 1; }


// Opacity
.opacity-none,
.opacity-0,
.opacity-00    { opacity: 0; }
.opacity-02    { opacity: .02; }
.opacity-05    { opacity: .05; }
.opacity-10    { opacity: .1; }
.opacity-20    { opacity: .2; }
.opacity-30    { opacity: .3; }
.opacity-40    { opacity: .4; }
.opacity-50    { opacity: .5; }
.opacity-60    { opacity: .6; }
.opacity-70    { opacity: .7; }
.opacity-80    { opacity: .8; }
.opacity-90    { opacity: .9; }
.opacity-95    { opacity: .95; }
.opacity-98    { opacity: .98; }
.opacity-100,
.opacity-full  { opacity: 1; }

// No opacity, to a percent opacity on-hover
.opacity-none-hover:hover,
.opacity-0-hover:hover,
.opacity-00-hover:hover { opacity: 0; }
.opacity-02-hover:hover { opacity: .02; }
.opacity-05-hover:hover { opacity: .05; }
.opacity-10-hover:hover { opacity: .1; }
.opacity-20-hover:hover { opacity: .2; }
.opacity-30-hover:hover { opacity: .3; }
.opacity-40-hover:hover { opacity: .4; }
.opacity-50-hover:hover { opacity: .5; }
.opacity-60-hover:hover { opacity: .6; }
.opacity-70-hover:hover { opacity: .7; }
.opacity-80-hover:hover { opacity: .8; }
.opacity-90-hover:hover { opacity: .9; }
.opacity-95-hover:hover { opacity: .95; }
.opacity-98-hover:hover { opacity: .98; }
.opacity-100-hover:hover,
.opacity-full-hover:hover { opacity: 1; }

.opacity-none-hover,
.opacity-0-hover,
.opacity-00-hover,
.opacity-02-hover,
.opacity-05-hover,
.opacity-10-hover,
.opacity-20-hover,
.opacity-30-hover,
.opacity-40-hover,
.opacity-50-hover,
.opacity-60-hover,
.opacity-70-hover,
.opacity-80-hover,
.opacity-90-hover,
.opacity-95-hover,
.opacity-98-hover,
.opacity-100-hover,
.opacity-full-hover  { opacity: 0; }


// Percent opacity, to none on-hover
.opacity-none-hover-none,
.opacity-0-hover-none,
.opacity-00-hover-none { opacity: 0; }
.opacity-02-hover-none { opacity: .02; }
.opacity-05-hover-none { opacity: .05; }
.opacity-10-hover-none { opacity: .1; }
.opacity-20-hover-none { opacity: .2; }
.opacity-30-hover-none { opacity: .3; }
.opacity-40-hover-none { opacity: .4; }
.opacity-50-hover-none { opacity: .5; }
.opacity-60-hover-none { opacity: .6; }
.opacity-70-hover-none { opacity: .7; }
.opacity-80-hover-none { opacity: .8; }
.opacity-90-hover-none { opacity: .9; }
.opacity-95-hover-none { opacity: .95; }
.opacity-98-hover-none { opacity: .98; }
.opacity-100-hover-none,
.opacity-full-hover-none { opacity: 1; }

.opacity-none-hover-none:hover,
.opacity-0-hover-none:hover,
.opacity-00-hover-none:hover,
.opacity-02-hover-none:hover,
.opacity-05-hover-none:hover,
.opacity-10-hover-none:hover,
.opacity-20-hover-none:hover,
.opacity-30-hover-none:hover,
.opacity-40-hover-none:hover,
.opacity-50-hover-none:hover,
.opacity-60-hover-none:hover,
.opacity-70-hover-none:hover,
.opacity-80-hover-none:hover,
.opacity-90-hover-none:hover,
.opacity-95-hover-none:hover,
.opacity-98-hover-none:hover,
.opacity-100-hover-none:hover,
.opacity-full-hover-none:hover { opacity: 1; }


// Linear Gradient Shadow
// https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient

.gradient-bg {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.6),transparent);
}

.gradient-bg-to-right {
  background-image: linear-gradient(to right,hsla(0, 0%, 0%, 0.6),transparent);
}

.gradient-bg-to-left {
  background-image: linear-gradient(to left,hsla(0, 0%, 0%, 0.6),transparent);
}

.gradient-bg-to-top {
  background-image: linear-gradient(to top,hsla(0, 0%, 0%, 0.6),transparent);
}

// https://codepen.io/anon/pen/NgKaVJ?editors=0100




// Backround image position
// https://developer.mozilla.org/en-US/docs/Web/CSS/background-position?v=control

.image-bg-center { background-repeat: no-repeat; background-position: center center; }
.image-bg-top    { background-repeat: no-repeat; background-position: top center; }
.image-bg-right  { background-repeat: no-repeat; background-position: center right; }
.image-bg-bottom { background-repeat: no-repeat; background-position: bottom center; }
.image-bg-left   { background-repeat: no-repeat; background-position: center left; }

// .image-bg-top-center   { background-repeat: no-repeat; background-position: top center; }
// .image-bg-top-right    { background-repeat: no-repeat; background-position: top right; }
// .image-bg-bottom-right { background-repeat: no-repeat; background-position: bottom right; }
// .image-bg-top-left     { background-repeat: no-repeat; background-position: top left; }
// .image-bg-bottom-left  { background-repeat: no-repeat; background-position: bottom left; }




// Animation
// https://developer.mozilla.org/en-US/docs/Web/CSS/animation?v=control

// .fadeinup {animation: fadeInUp 1s;}