///*      L A Y O U T   M A S O N R Y     */

// Pinterest Style Layout

@import "../evo_variables/evo_variables";


#{$evo}-masonry {
    column-count: #{$masonry_column_count_large};
    margin: 1.5em 0;
    padding: 0;
    // -moz-column-gap: 1.5em;
    // -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
}


.masonry-item {
    margin: 0 0 1.5em;
    display: inline-block;
    padding: .25rem;
    width: 100%;
}

#{$evo}-masonry .masonry-item {
    background: #{$evo_white};
    color: inherit;
}

// Inverse masonry that changes the background color of block
#{$evo}-masonry-inverse .masonry-item {
    background: #{$evo_black};
    @extend .text-inverse;
}

.masonry-item > figcaption {
     font-size: #{$masonry_font_size};
     column-break-inside: avoid;
     display: inline-block;
}

@media only screen and (min-width: #{$media_query_extra_small}px)  {
    #{$evo}-masonry-inverse, #{$evo}-masonry {
        // -moz-column-count: 1;
        // -webkit-column-count: 1;
        column-count: #{$masonry_column_count_extra_small};
    }
}

@media only screen and (min-width: #{$media_query_small}px)  {
    #{$evo}-masonry-inverse, #{$evo}-masonry {
        // -moz-column-count: 2;
        // -webkit-column-count: 2;
        column-count: #{$masonry_column_count_small};
    }
}

@media only screen and (min-width: #{$media_query_medium}px) {
    #{$evo}-masonry-inverse, #{$evo}-masonry {
        // -moz-column-count: 3;
        // -webkit-column-count: 3;
        column-count: #{$masonry_column_count_medium};
    }
}

@media only screen and (min-width: #{$media_query_large}px) {
    #{$evo}-masonry-inverse, #{$evo}-masonry {
        // -moz-column-count: 4;
        // -webkit-column-count: 4;
        column-count: #{$masonry_column_count_large};
    }
}

@media only screen and (min-width: #{$media_query_extra_large}px) {
    #{$evo}-masonry-inverse, #{$evo}-masonry {
        // -moz-column-count: 6;
        // -webkit-column-count: 6;
        column-count: #{$masonry_column_count_extra_large};
    }
}