///*      L A Y O U T   G R I D     */

// Align elements on a grid across a page

@import "../evo_variables/evo_variables";




// Just for the website


.layout-example > div {
  height: 7vh;
  padding-top:3px;
  padding-bottom:2px;
  padding-left:8px;
  margin-bottom: 10px;
  background-color: #ccc;
}

.layout-example > div:first-child() {
    background-color: #ccc !important;
}

.layout-example > div:nth-child(even) {
    background-color: #ccc;
}

.layout-example > div:nth-child(odd) {
    background-color: #eee;
}



// Simple grid

.grid-1 {
  width:8.333333333%;
  float:left;
}

.grid-2 {
  width:16.666666666%;
  float:left;
}

.grid-3 {
  width:25%;
  float:left;
}

.grid-4 {
  width:33.333333333%;
  float:left;
}

.grid-5 {
  width:41.666666666666667%;
  float:left;
}

.grid-6 {
  width:50%;
  float:left;
}

.grid-7 {
  width:58.333333333%;
  float:left;
}

.grid-8 {
  width:66.666666666666667%;
  float:left;
}

.grid-9 {
  width:75%;
  float:left;
}

.grid-10 {
  width:83.333333333%;
  float:left;
}

.grid-11 {
  width:91.666666666666667%;
  float:left;
}

.grid-12 {
  width:100%;
  float:left;
}


@media only screen and (max-width: #{$media_query_medium}px) {
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
    width: 100%;
    // display: inline-block;
    float: left;

    }
}



// Grid media queries




.six-up,
.six-up-vertical,
.four-up,
.four-up-vertical,
.two-up,
.two-up-vertical {
  transition: .5s ease;
}

// six-up-vertical
// Contains a slight vertical gap on left and right side

// @media only screen and (min-width: #{$media_query_small}px),
@media only screen and (min-width: #{$media_query_extra_small}px)  {
    .six-up-vertical  {
        width: 50%;
        // margin-right: 2.5%;
        // display: inline-block;
        float: left;

    }
}

@media only screen and (min-width: #{$media_query_medium}px) {
    .six-up-vertical  {
        width: 24.75%;
        margin-right: .25%;
        margin-bottom: .25%;
        // display: inline-block;
        float: left;

    }
}

// @media only screen and (min-width: #{$media_query_extra_large}px),
@media only screen and (min-width: #{$media_query_large}px) {
    .six-up-vertical  {
        width: 16.416666%;
        margin-right: .25%;
        margin-bottom: .25%;
        // display: inline-block;
        float: left;

    }
}





// six-up

// @media only screen and (min-width: #{$media_query_small}px),
@media only screen and (min-width: #{$media_query_extra_small}px)  {
    .six-up  {
        width: 50%;
        // margin-right: 2.5%;
        // display: inline-block;
        float: left;

    }
}


@media only screen and (min-width: #{$media_query_medium}px) {
    .six-up  {
        width: 25%;
        // margin-right: 2.5%;
        // display: inline-block;
        float: left;

    }
}


// @media only screen and (min-width: #{$media_query_extra_large}px),
@media only screen and (min-width: #{$media_query_large}px) {
    .six-up  {
        width: 16.666666%;
        // margin-right: 1.5%;
        // display: inline-block;
        float: left;

    }
}



// four-up-vertical
// Contains a slight vertical gap on left and right side

// @media only screen and (min-width: #{$media_query_small}px),
@media only screen and (min-width: #{$media_query_extra_small}px)  {
    .four-up-vertical  {
        width: 100%;
        // display: inline-block;
    float: left;

    }
}

@media only screen and (min-width: #{$media_query_medium}px) {
    .four-up-vertical  {
        width: 49.75%;
        margin-right: .25%;
        margin-bottom: .25%;
        // display: inline-block;
        float: left;

    }
}

// @media only screen and (min-width: #{$media_query_extra_large}px),
@media only screen and (min-width: #{$media_query_large}px) {
    .four-up-vertical  {
        width: 24.75%;
        margin-right: .25%;
        margin-bottom: .25%;
        // display: inline-block;
        float: left;

    }
}




// four-up

// @media only screen and (min-width: #{$media_query_small}px),
@media only screen and (min-width: #{$media_query_extra_small}px)  {
    .four-up  {
        width: 100%;
        // display: inline-block;
    float: left;

    }
}

@media only screen and (min-width: #{$media_query_medium}px) {
    .four-up  {
        width: 50%;
        // margin-right: 2.5%;
        // display: inline-block;
        float: left;

    }
}

// @media only screen and (min-width: #{$media_query_extra_large}px),
@media only screen and (min-width: #{$media_query_large}px) {
    .four-up  {
        width: 25%;
        // margin-right: 2.5%;
        // display: inline-block;
        float: left;

    }
}



// three-up-vertical
// Contains a slight vertical gap on left and right side

// @media only screen and (min-width: #{$media_query_small}px),
@media only screen and (min-width: #{$media_query_extra_small}px)  {
    .three-up-vertical  {
        width: 100%;
         // display: inline-block;
        float: left;
    }
}

@media only screen and (min-width: #{$media_query_medium}px) {
    .three-up-vertical  {
        width: 49.75%;
        margin-right: .25%;
        margin-bottom: .25%;
        // display: inline-block;
        float: left;
    }
}

@media only screen and (min-width: #{$media_query_large}px) {
    .three-up-vertical  {
        width: 33.083333%;
        margin-right: .25%;
        margin-bottom: .25%;
        // display: inline-block;
        float: left;
    }
}

// three-up

// @media only screen and (min-width: #{$media_query_small}px),
@media only screen and (min-width: #{$media_query_extra_small}px)  {
    .three-up  {
        width: 100%;
         // display: inline-block;
        float: left;
    }
}

@media only screen and (min-width: #{$media_query_medium}px) {
    .three-up  {
        width: 50%;
        // display: inline-block;
        float: left;
    }
}

// @media only screen and (min-width: #{$media_query_extra_large}px),
@media only screen and (min-width: #{$media_query_large}px) {
    .three-up  {
        width: 33.333333%;
        // display: inline-block;
        float: left;
    }
}


// two-up-vertical
// Contains a slight vertical gap on left and right side

// @media only screen and (min-width: #{$media_query_small}px),
@media only screen and (min-width: #{$media_query_extra_small}px)  {
    .two-up-vertical  {
        width: 100%;
         // display: inline-block;
        float: left;
    }
}

@media only screen and (min-width: #{$media_query_medium}px) {
    .two-up-vertical  {
        width: 49.75%;
        margin-right: .25%;
        margin-bottom: .25%;
        // display: inline-block;
        float: left;
    }
}

@media only screen and (min-width: #{$media_query_large}px) {
    .two-up-vertical  {
        width: 49.75%;
        margin-right: .25%;
        margin-bottom: .25%;
        // display: inline-block;
        float: left;
    }
}

// two-up

// @media only screen and (min-width: #{$media_query_small}px),
@media only screen and (min-width: #{$media_query_extra_small}px)  {
    .two-up  {
        width: 100%;
         // display: inline-block;
        float: left;
    }
}

@media only screen and (min-width: #{$media_query_medium}px) {
    .two-up  {
        width: 50%;
        // display: inline-block;
        float: left;
    }
}

// @media only screen and (min-width: #{$media_query_extra_large}px),
@media only screen and (min-width: #{$media_query_large}px) {
    .two-up  {
        width: 50%;
        // display: inline-block;
        float: left;
    }
}

