///*      L I N K   I C O N    */

@import "../evo_variables/evo_variables";


a#{$evo}-link-icon {
    padding-left: 1.5em;
    // margin-left: 1.5em;
    position: relative;
    // list-style-type: none;
    // padding-left: -3em;
}

// Evo List button
a#{$evo}-link-icon:before {
content:''; 
display:inline-block; 
padding-left: 1.25ch;
margin-left: 1.5em;
position: absolute;
height: 1em;
width: 1em;
background-image: url(#{$icon_link_background}); 
background-size: contain;
background-position: center;
background-repeat:no-repeat; 
left: -1.5em;
top: 0;
vertical-align: middle;
opacity: .5;
}

a#{$evo}-link-icon:hover:before {
    opacity: 1;
}

// https://labelle.github.io/evolution-patterns/patterns-library/icons-links.html


