///*      L I S T   S I Z E    */

@import "../evo_variables/evo_variables";



// // List size large
// .list-size-large {
//      font-size: 115%;
// }

// // List size normal
// .list-size-medium {
//      font-size: 100%;
// }

// // List size small
// .list-size-small {
//      font-size: 85%;
// }





// Space between lines

// .list-tightest li {
//     padding-bottom: #{$u-14}em;
//     padding-top: #{$u-14}em;
// }

// .list-tighter li {
//     padding-bottom: #{$u-15}em;
//     padding-top: #{$u-15}em;
// }

// .list-tight li {
//     padding-bottom: #{$u-16}em; // .2em
//     padding-top: #{$u-16}em; // .2em
// }

.list-padding-thick li{
    padding-top: 1.25em;
    padding-bottom: 1.25em;
//    &:first-of-type {
//     padding-top: 0;
// }
//    &:last-of-type {
//     padding-bottom: 0;
// }
   &:before {
    padding-top: inherit;
    padding-bottom: inherit;
}
}

.list-padding-medium li {
    padding-top: 1em;
    padding-bottom: 1em;
//    &:first-of-type {
//     padding-top: 0;
// }
//    &:last-of-type {
//     padding-bottom: 0;
// }
   &:before {
    padding-top: inherit;
    padding-bottom: inherit;
}
}

.list-padding-thin li {
    padding-top: .65em;
    padding-bottom: .65em;
//    &:first-of-type {
//     padding-top: 0;
// }
//    &:last-of-type {
//     padding-bottom: 0;
// }
   &:before {
    padding-top: inherit;
    padding-bottom: inherit;
}
}

.list-padding-none li {
    padding-top: 0;
    padding-bottom: 0;
    &:before {
    padding-top: inherit;
    padding-bottom: inherit;
}
}


.list-margin-none li {
    margin-bottom: 0;
}


// // Delete?
// .list-loose li {
//     padding-bottom: #{$u-19}em; // .375em
//     padding-top: #{$u-19}em; // .375em
// }

// .list-looser li {
//     padding-bottom: #{$u-21}em;
//     padding-top: #{$u-21}em;
// }

// .list-loosest li {
//     padding-bottom: #{$u-24}em;
//     padding-top: #{$u-24}em;
// }



// Space between lines


// .list-loose li {
//     padding-bottom: 125%;
//     padding-top: 125%;
// }


// // Space between lines


// .list-tight li {
//     padding-bottom: .8em;
//     padding-top: .8em;
// }

// .list-loose li {
//     padding-bottom: 1.2em;
//     padding-top: 1.2em;
// }
