///*      L I S T   I N L I N E    */

@import "../evo_variables/evo_variables";


// Text and utility classes

// Make lists inline
// Note that line height, padding bottom, margin bottom don't work in conjunction with this
.list-inline {
  list-style:none;
  padding-left:0;
  // display: inline;
    & li {
    display: inline;
    padding-right:1ch;
  }
}


// Method 1
// Add classes by targeting spans

.span-bottom li > a > span {
	border-bottom: 1px solid gray;
}

.span-bottom li > a > span:hover {
	border-bottom: 1px dotted red;
}

// Prevent groups of words from breaking in styled lists
.no-break.span-bottom span,
.no-break li > a.borderborder {
	white-space:nowrap;
}


// Method 2
// Add underlines, but classes must be placed on each a inside of li

li > a.borderborder,
span.borderborder {
	border-bottom-padding: 1em;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: gray;
}

li > a.borderborder:hover,
span.borderborder:hover {
	border-bottom-style: dashed;
	border-bottom-color: red;
}