///*      L I S T   U N O R D E R E D    */

@import "../evo_variables/evo_variables";



// http://alistapart.com/article/taminglists/
// How to customize lists

// ul lists

ul {
list-style-position: #{$ul_list_style_position}; // outside

// ul base list class

  &#{$evo}-list {
  // @extend #{$evo}-list; // DISABLED - DELETE?
  list-style-type: #{$ul_list_style_type}; // none
}

// ul utility classes
  &.list-align,
  &.list-align ul,
  &.list-align ul ul {
  // @extend #{$evo}-list; // DISABLED - DELETE?
  list-style-position: outside;
  margin-left: 1em;
  // list-style-position: inside; // none
  }
  // Hang bullets to the left
  &.list-hang,
  &.list-hang ul,
  &.list-hand ul ul {
  // @extend #{$evo}-list; // DISABLED - DELETE?
  margin-left: -.1ch;
  }
  &.list-circle {
  // @extend #{$evo}-list; // DISABLED - DELETE?
  list-style-type: circle;
}
  &.list-square {
  // @extend #{$evo}-list; // DISABLED - DELETE?
  list-style-type: square;
}
  &.list-disc {
  // @extend #{$evo}-list; // DISABLED - DELETE?
  list-style-type: disc;
}
}

