///*      S P A C E   B L O C K     */

// Create space by using empty blocks between elements

@import "../evo_variables/evo_variables";


#{$evo}-space-thin     { height: #{$space_block_thin};   width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }
#{$evo}-space-medium   { height: #{$space_block_medium}; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }
#{$evo}-space-thick    { height: #{$space_block_thick};  width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }

.space-none            { height: 0; }


// // Space size scale
// #{$evo}-space-smallest    { height: #{$u-19}rem; width: #{$space_width}; clear: #{$space_clear_float}; }  // 8px
// #{$evo}-space-smaller     { height: #{$u-24}rem; width: #{$space_width}; clear: #{$space_clear_float}; }  // 18px
// #{$evo}-space-small       { height: #{$u-27}rem; width: #{$space_width}; clear: #{$space_clear_float}; }  // 30px
// #{$evo}-space-big         { height: #{$u-31}rem; width: #{$space_width}; clear: #{$space_clear_float}; }  // 60px
// #{$evo}-space-bigger      { height: #{$u-33}rem; width: #{$space_width}; clear: #{$space_clear_float}; }  // 96px
// #{$evo}-space-biggest     { height: #{$u-35}rem; width: #{$space_width}; clear: #{$space_clear_float}; }  // 160px

// Space number scale
#{$evo}-space-0   { height: 1px; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }
#{$evo}-space-1   { height: 2px; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }
#{$evo}-space-2   { height: 4px; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }
#{$evo}-space-3   { height: #{$u-18}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }   // 6px
#{$evo}-space-4   { height: #{$u-19}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }   // 8px
#{$evo}-space-5   { height: #{$u-20}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }   // 10px
#{$evo}-space-6   { height: #{$u-21}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }   // 12px
#{$evo}-space-7   { height: #{$u-22}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }   // 14px
#{$evo}-space-8   { height: #{$u-23}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }   // 16px
#{$evo}-space-9   { height: #{$u-24}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }   // 18px
#{$evo}-space-10  { height: #{$u-25}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 21px
#{$evo}-space-11  { height: #{$u-26}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 23px
#{$evo}-space-12  { height: #{$u-27}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 30px
#{$evo}-space-13  { height: #{$u-28}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 37px
#{$evo}-space-14  { height: #{$u-29}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 43px
#{$evo}-space-15  { height: #{$u-30}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 48px // 3rem
#{$evo}-space-16  { height: #{$u-31}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 60px
#{$evo}-space-17  { height: #{$u-32}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 80px 
#{$evo}-space-18  { height: #{$u-33}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 96px
#{$evo}-space-19  { height: #{$u-34}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 128px
#{$evo}-space-20  { height: #{$u-35}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 160px
#{$evo}-space-21  { height: #{$u-36}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 208px
#{$evo}-space-22  { height: #{$u-37}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 256px
#{$evo}-space-23  { height: #{$u-38}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 336px
#{$evo}-space-24  { height: #{$u-39}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 416px
#{$evo}-space-25  { height: #{$u-40}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 544px
#{$evo}-space-26  { height: #{$u-41}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 672px
#{$evo}-space-27  { height: #{$u-42}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 880px
#{$evo}-space-28  { height: #{$u-43}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 1088px
    // Are these two below the correct size?
#{$evo}-space-29  { height: #{$u-44}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 1423px
#{$evo}-space-30  { height: #{$u-45}rem; width: #{$space_width}; background-color: #{$space_background_color}; clear: #{$space_clear_float}; }  // 1760px


// Simple version of space size scale
.space-0   { height: 1px; }
.space-1   { height: 2px; }
.space-2   { height: 4px; }
.space-3   { height: #{$u-18}rem; }   // 6px
.space-4   { height: #{$u-19}rem; }   // 8px
.space-5   { height: #{$u-20}rem; }   // 10px
.space-6   { height: #{$u-21}rem; }   // 12px
.space-7   { height: #{$u-22}rem; }   // 14px
.space-8   { height: #{$u-23}rem; }   // 16px
.space-9   { height: #{$u-24}rem; }   // 18px
.space-10  { height: #{$u-25}rem; }  // 21px
.space-11  { height: #{$u-26}rem; }  // 23px
.space-12  { height: #{$u-27}rem; }  // 30px
.space-13  { height: #{$u-28}rem; }  // 37px
.space-14  { height: #{$u-29}rem; }  // 43px
.space-15  { height: #{$u-30}rem; }  // 48px // 3rem
.space-16  { height: #{$u-31}rem; }  // 60px
.space-17  { height: #{$u-32}rem; }  // 80px 
.space-18  { height: #{$u-33}rem; }  // 96px
.space-19  { height: #{$u-34}rem; }  // 128px
.space-20  { height: #{$u-35}rem; }  // 160px
.space-21  { height: #{$u-36}rem; }  // 208px
.space-22  { height: #{$u-37}rem; }  // 256px
.space-23  { height: #{$u-38}rem; }  // 336px
.space-24  { height: #{$u-39}rem; }  // 416px
.space-25  { height: #{$u-40}rem; }  // 544px
.space-26  { height: #{$u-41}rem; }  // 672px
.space-27  { height: #{$u-42}rem; }  // 880px
.space-28  { height: #{$u-43}rem; }  // 1088px
    // Are these two below the correct size?
.space-29  { height: #{$u-44}rem; }  // 1423px
.space-30  { height: #{$u-45}rem; }  // 1760px
