///*      T E X T   L E A D I N G    */

@import "../evo_variables/evo_variables";

// Utilities and helper mixins and classes
// see variables/scale for actual units
// https://css-tricks.com/confused-rem-em/


// /* Text Utilities */

// Global
#{$evo}-leading,
.text-leading         { line-height: #{$text_leading}; } // equal to text-leading-10

// // Relative Text Leading
// .text-leading-smallest  { @include leading(tightest); }
// .text-leading-smaller   { @include leading(tighter); }
// .text-leading-small     { @include leading(tight); }
// .text-leading-big       { @include leading(loose); }
// .text-leading-bigger    { @include leading(looser); }
// .text-leading-biggest   { @include leading(loosest); }


// Text Leading
// unitless: no em, rem, px, %
.text-leading-reset  { line-height: initial; }
.text-leading-0      { line-height: #{$u-18}; } // tight lowercase
.text-leading-1      { line-height: #{$u-19}; } // useful for some tight lowercase
.text-leading-2      { line-height: #{$u-20}; }
.text-leading-3      { line-height: #{$u-21}; } // tight uppercase
.text-leading-4      { line-height: #{$u-22}; }
.text-leading-5      { line-height: #{$u-23}; }
.text-leading-6      { line-height: #{$u-24}; } 
.text-leading-7      { line-height: #{$u-25}; }
.text-leading-8      { line-height: #{$u-26}; }
.text-leading-9      { line-height: #{$u-27}; }
.text-leading-10     { line-height: #{$u-28}; }
.text-leading-11     { line-height: #{$u-29}; }
.text-leading-12     { line-height: #{$u-30}; }
.text-leading-13     { line-height: #{$u-31}; }
.text-leading-14     { line-height: #{$u-32}; }
.text-leading-15     { line-height: #{$u-33}; }
// .text-leading-16     { line-height: #{$u-34}; }
// .text-leading-17     { line-height: #{$u-35}; }
// .text-leading-18     { line-height: #{$u-36}; }
// .text-leading-19     { line-height: #{$u-37}; }
// .text-leading-20     { line-height: #{$u-38}; }
// .text-leading-21     { line-height: #{$u-39}; }
// .text-leading-22     { line-height: #{$u-40}; }
// .text-leading-23     { line-height: #{$u-41}; }
// .text-leading-24     { line-height: #{$u-42}; }
// .text-leading-25     { line-height: #{$u-43}; }



// // Leading
// .text-leading-tightest  { line-height: .75; }
// .text-leading-tighter   { line-height: .85; }
// .text-leading-tight     { line-height: .95; }
// .text-leading-loose     { line-height: 1; }
// .text-leading-looser    { line-height: 1.15; }
// .text-leading-loosest   { line-height: 1.25; }



