///*      T E X T   S H A D O W     */

@import "../evo_variables/evo_variables";

// global

#{$evo}-text-shadow,
.text-shadow {
    text-shadow: #{$text_shadow};
}

#{$evo}-text-shadow-inverse,
.inverse-text-shadow {
    text-shadow: #{$inverse_text_shadow};
}


// Thickness

// Produces a sharp shadow edge to the text
.text-shadow-thin {
  text-shadow: .01em .01em .03em rgba(0, 0, 0, .5);
}

.text-shadow-medium {
  text-shadow: .02em .02em .06em rgba(0, 0, 0, .5);
}

.text-shadow-thick {
  text-shadow: .03em .03em .12em rgba(0, 0, 0, .5);
}


.inverse-text-shadow-thin {
  text-shadow: .01em .01em .03em rgba(255, 255, 255, .75);
}

.inverse-text-shadow-medium {
  text-shadow: .02em .02em .06em rgba(255, 255, 255, .75);
}

.inverse-text-shadow-thick {
  text-shadow: .03em .03em .12em rgba(255, 255, 255, .75);
}




// Number Scale

// Initial Value: none
// /* offset-x | offset-y | blur-radius | color */
// text-shadow: 1px 1px 2px black;…

// If you want to try REMS http://jsfiddle.net/4dgaurav/5Sptc/1/

.text-shadow-0 {
    text-shadow: .01em .01em .015em #{$text_shadow_color};
}

.text-shadow-1 {
    text-shadow: .02em .02em .06em #{$text_shadow_color};
}

.text-shadow-2 {
    text-shadow: .03em .03em .09em #{$text_shadow_color};
}

.text-shadow-3 {
    text-shadow: .04em .04em .12em #{$text_shadow_color};
}

.text-shadow-4 {
    text-shadow: .05em .05em .15em #{$text_shadow_color};
}

.text-shadow-5 {
    text-shadow: .06em .06em .18em #{$text_shadow_color};
}

.text-shadow-6 {
    text-shadow: .07em .07em .21em #{$text_shadow_color};
}

.text-shadow-7 {
    text-shadow: .08em .08em .24em #{$text_shadow_color};
}

.text-shadow-8 {
    text-shadow: .09em .09em .27em #{$text_shadow_color};
}

.text-shadow-9 {
    text-shadow: .1em .1em .3em #{$text_shadow_color};
}

.text-shadow-10 {
    text-shadow: .11em .11em .33em #{$text_shadow_color};
}

.text-shadow-11 {
    text-shadow: .12em .12em .36em #{$text_shadow_color};
}

.text-shadow-12 {
    text-shadow: .13em .13em .39em #{$text_shadow_color};
}

.text-shadow-13 {
    text-shadow: .14em .14em .42em #{$text_shadow_color};
}

.text-shadow-14 {
    text-shadow: .15em .15em .45em #{$text_shadow_color};
}

.text-shadow-15 {
    text-shadow: .16em .16em .48em #{$text_shadow_color};
}

.text-shadow-16 {
    text-shadow: .17em .17em .51em #{$text_shadow_color};
}

.text-shadow-17 {
    text-shadow: .18em .18em .54em #{$text_shadow_color};
}

.text-shadow-18 {
    text-shadow: .19em .19em .57em #{$text_shadow_color};
}

.text-shadow-19 {
    text-shadow: .2em .2em .61em #{$text_shadow_color};
}

.text-shadow-20 {
    text-shadow: .21em .21em .63em #{$text_shadow_color};
}

.text-shadow-21 {
    text-shadow: .22em .22em .66em #{$text_shadow_color};
}

.text-shadow-22 {
    text-shadow: .23em .23em .69em #{$text_shadow_color};
}

.text-shadow-23 {
    text-shadow: .24em .24em .72em #{$text_shadow_color};
}

.text-shadow-24 {
    text-shadow: .25em .25em .75em #{$text_shadow_color};
}

.text-shadow-25 {
    text-shadow: .26em .26em .78em #{$text_shadow_color};
}


// Inverse Numbered

.inverse-text-shadow-0 {
    text-shadow: .01em .01em .015em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-1 {
    text-shadow: .02em .02em .06em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-2 {
    text-shadow: .03em .03em .09em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-3 {
    text-shadow: .04em .04em .12em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-4 {
    text-shadow: .05em .05em .15em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-5 {
    text-shadow: .06em .06em .18em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-6 {
    text-shadow: .07em .07em .21em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-7 {
    text-shadow: .08em .08em .24em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-8 {
    text-shadow: .09em .09em .27em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-9 {
    text-shadow: .1em .1em .3em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-10 {
    text-shadow: .11em .11em .33em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-11 {
    text-shadow: .12em .12em .36em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-12 {
    text-shadow: .13em .13em .39em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-13 {
    text-shadow: .14em .14em .42em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-14 {
    text-shadow: .15em .15em .45em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-15 {
    text-shadow: .16em .16em .48em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-16 {
    text-shadow: .17em .17em .51em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-17 {
    text-shadow: .18em .18em .54em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-18 {
    text-shadow: .19em .19em .57em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-19 {
    text-shadow: .2em .2em .61em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-20 {
    text-shadow: .21em .21em .63em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-21 {
    text-shadow: .22em .22em .66em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-22 {
    text-shadow: .23em .23em .69em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-23 {
    text-shadow: .24em .24em .72em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-24 {
    text-shadow: .25em .25em .75em #{$inverse_text_shadow_color};
}

.inverse-text-shadow-25 {
    text-shadow: .26em .26em .78em #{$inverse_text_shadow_color};
}






// Simple shadows from tachyons

// .shadow-hover:after {
//     box-shadow: 0 0 8px 2px rgba(0, 0, 0, .2);
//     opacity: 0;
//     -webkit-transition: opacity .25s ease-in-out;
//     transition: opacity .25s ease-in-out
// }

// .shadow-hover:focus:after,
// .shadow-hover:hover:after {
//     opacity: 1
// }

// .bg-animate,
// .bg-animate:focus,
// .bg-animate:hover {
//     -webkit-transition: background-color .15s ease-in-out;
//     transition: background-color .15s ease-in-out
// }

// .bg-color {
//   background-color: blue;
//   background-display: none;
// }

