///*      T E X T   P L A Y     */

@import "../evo_variables/evo_variables";
// engraved
// https://kremalicious.com/make-cool-and-clever-text-effects-with-css-text-shadow/


// Fluid header concept
// Experimental
// http://codepen.io/chriscoyier/pen/RpKEzV?editors=1100
// https://css-tricks.com/simple-little-use-case-vmin/
// combine with hidden and visible classes from bootstrap

// Apply class to header tag
header.fluid-header {
  padding: 10vmin 1rem;
  // text-align: center;
  margin: 0 0 8vmin 0;
}

// Nest tag inside
header.fluid-header p {
  margin: 0;
  font-size: 3rem;
  font-size: calc(12px + (48 - 12) * ((100vw - 300px) / (1600 - 300)));

}


// TO DO: Needs refactoring. The class names don't make sense calling out just the bg color.

// On white
.text-engraved-white-bg {
  color: #666;
  background: #fff;
  text-shadow: 0px 1px 1px #000;
}

// On gray
.text-engraved-gray-bg {
  color: #000;
  background: #666;
  text-shadow: 0px 1px 1px #fff;
}

// On black

.text-engraved-black-bg {
  color: #666;
  background: #000;
  text-shadow: 0px 1px 0px #ccc;
}

// effects

.text-neon {
  text-shadow: 
  // white
  0 0 0.1em #fff, 
  0 0 0.2em #fff, 
  0 0 0.3em #fff, 
  0 0 0.4em #f7f, 
  0 0 0.6em #f0f, 
  0 0 0.8em #f0f, 
  0 0 1em #f0f, 
  0 0 1.2em #f0f
}

.text-neon-2 { 
  background: #000;
  background-image:
    // radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0), rgba(0,0,0,1)); 
    url("../image/black-brick-wall-texture.jpg");
    width: 768px;
    text-align: center;
    // font-family: Neon80sRegular, Arial Narrow, sans-serif;
    color: #fee;
    width: 768px;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 2rem;
    text-shadow: 0 0 30px rgba(255,0,84,0.6),
      0 0 60px rgba(255,0,84,0.4),
      0 0 100px rgba(255,0,84,0.2),
      0 0 90px rgba(255,0,84,0.1);
}
// Try making it flicker
// http://thenewcode.com/610/Create-A-Flickering-Neon-Bar-Sign-With-CSS3
