///*      T E X T   M E A S U R E    */

@import "../evo_variables/evo_variables";

// Utilities and helper mixins and classes
// see variables/scale for actual units
// https://css-tricks.com/confused-rem-em/


// Text Block Width
#{$evo}-measure,
.text-measure               { max-width: #{$text_measure}rem; }

// /* Text Utilities */


// Relative Text Measure
// .text-measure-1   { max-width: 10rem; }

// .text-measure-widest   { @include measure(widest); }
// .text-measure-wider    { @include measure(wider); }
// .text-measure-wide     { @include measure(wide); }
// .text-measure-tight    { @include measure(tight); }
// .text-measure-tighter  { @include measure(tighter); }
// .text-measure-tightest { @include measure(tightest); }

// .text-measure-wide     { @include measure(wide); }
// .text-measure-medium   { @include measure(wide); }
// .text-measure-tight    { @include measure(tight); }

// Text Measure alt TEST
.text-measure-1   { max-width: #{$u-35}rem; } // ceil(9.87)
.text-measure-2   { max-width: #{$u-36}rem; } // ceil(12.92)
.text-measure-3   { max-width: #{$u-37}rem; } // ceil(15.97)
.text-measure-4   { max-width: #{$u-38}rem; } // ceil(20.905)
.text-measure-5   { max-width: #{$u-39}rem; } // ceil(25.84)
.text-measure-6   { max-width: #{$u-40}rem; } // ceil(33.825)
.text-measure-7   { max-width: #{$u-41}rem; } // ceil(41.81)
.text-measure-8   { max-width: #{$u-42}rem; } // ceil(54.73)
.text-measure-9   { max-width: #{$u-43}rem; } // ceil(67.65)
.text-measure-10  { max-width: 80rem; } // max usefulness
// .text-measure-11  { max-width: 100rem; }
// .text-measure-12  { max-width: 120rem; }
// .text-measure-13  { max-width: 130rem; }
// .text-measure-14  { max-width: 140rem; }
// .text-measure-15  { max-width: 150rem; }
