///*      T E X T    */

@import "../evo_variables/evo_variables";

// Utilities and helper mixins and classes
// see variables/scale for actual units
// https://css-tricks.com/confused-rem-em/

// MOVE VARIABLES TO TEXT VARIABLES FILE

// Text Size
// HOOK VARIABLES INTO SETTINGS, USE MORE AGRESSIVE TRACKING AND LEADING AND TEXT STYLE CONTROLS
// rems
// Deprecate?
// This is what would be used if leveraging the _typograpy.scss file
// Or in future: text-size-10 will be just the size. evo-text-size-10 will be the size and also adjusted leading and letter-spacing
#{$evo}-text-reset     { font-size: initial; }
#{$evo}-text-0         { font-size: #{$u-19}rem; } // 8px
#{$evo}-text-1         { font-size: #{$u-20}rem; } // 10px
#{$evo}-text-2         { font-size: #{$u-21}rem; } // 12px
#{$evo}-text-3         { font-size: #{$u-22}rem; } // 14px
#{$evo}-text-4         { font-size: #{$u-23}rem; } // 16px default
#{$evo}-text-5         { font-size: #{$u-24}rem; } // 18px
#{$evo}-text-6         { font-size: #{$u-25}rem; } // 21px
#{$evo}-text-7         { font-size: #{$u-26}rem; } // 23px
#{$evo}-text-8         { font-size: #{$u-27}rem; } // 30px
#{$evo}-text-9         { font-size: #{$u-28}rem; } // 37px
#{$evo}-text-10        { font-size: #{$u-29}rem; } // 43px
#{$evo}-text-11        { font-size: #{$u-30}rem; } // 48px
#{$evo}-text-12        { font-size: #{$u-31}rem; } // 60px
#{$evo}-text-13        { font-size: #{$u-32}rem; } // 80px
#{$evo}-text-14        { font-size: #{$u-33}rem; } // 96px
#{$evo}-text-15        { font-size: #{$u-34}rem; } // 128px
#{$evo}-text-16        { font-size: #{$u-35}rem; } // 160px
#{$evo}-text-17        { font-size: #{$u-36}rem; } // 208px
#{$evo}-text-18        { font-size: #{$u-37}rem; } // 256px
#{$evo}-text-19        { font-size: #{$u-38}rem; } // 336px
#{$evo}-text-20        { font-size: #{$u-39}rem; } // 416px
// #{$evo}-text-21        { font-size: #{$u-40}rem; } 
// #{$evo}-text-22        { font-size: #{$u-41}rem; } 
// #{$evo}-text-23        { font-size: #{$u-42}rem; } 
// #{$evo}-text-24        { font-size: #{$u-43}rem; }
// #{$evo}-text-25        { font-size: #{$u-44}rem; }


// Text Size
// Just the size
// rems
.text-size-reset     { font-size: initial; }
.text-size-0         { font-size: #{$u-19}rem; } // 8px
.text-size-1         { font-size: #{$u-20}rem; } // 10px
.text-size-2         { font-size: #{$u-21}rem; } // 12px
.text-size-3         { font-size: #{$u-22}rem; } // 14px
.text-size-4         { font-size: #{$u-23}rem; } // 16px default
.text-size-5         { font-size: #{$u-24}rem; } // 18px
.text-size-6         { font-size: #{$u-25}rem; } // 21px
.text-size-7         { font-size: #{$u-26}rem; } // 23px
.text-size-8         { font-size: #{$u-27}rem; } // 30px
.text-size-9         { font-size: #{$u-28}rem; } // 37px
.text-size-10        { font-size: #{$u-29}rem; } // 43px
.text-size-11        { font-size: #{$u-30}rem; } // 48px
.text-size-12        { font-size: #{$u-31}rem; } // 60px
.text-size-13        { font-size: #{$u-32}rem; } // 80px
.text-size-14        { font-size: #{$u-33}rem; } // 96px
.text-size-15        { font-size: #{$u-34}rem; } // 128px
.text-size-16        { font-size: #{$u-35}rem; } // 160px
.text-size-17        { font-size: #{$u-36}rem; } // 208px
.text-size-18        { font-size: #{$u-37}rem; } // 256px
.text-size-19        { font-size: #{$u-38}rem; } // 336px
.text-size-20        { font-size: #{$u-39}rem; } // 416px
// .text-size-21        { font-size: #{$u-40}rem; } 
// .text-size-22        { font-size: #{$u-41}rem; } 
// .text-size-23        { font-size: #{$u-42}rem; } 
// .text-size-24        { font-size: #{$u-43}rem; }
// .text-size-25        { font-size: #{$u-44}rem; }




// Text Size Per Media Queries
// Just the size
// rems

// // text-size-reset
// @media screen and (min-width: #{$media_query_large}px) {
// .text-size-larger-screen-large  { font-size: 150%; }
// }
// @media screen and (max-width: #{$media_query_medium}px) {
// .text-size-larger-screen-medium  { font-size: 150%; }
// }
// @media screen and (max-width: #{$media_query_small}px)  {
// .text-size-larger-screen-small  { font-size: 150%; }
// }



// Text Size Per Media Queries
// Just the size
// rems

// text-size-reset
@media screen and (min-width: #{$media_query_large}px) {
.text-size-reset-screen-large  { font-size: initial; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-reset-screen-medium  { font-size: initial; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-reset-screen-small  { font-size: initial; }
}


// text-size-0
@media screen and (min-width: #{$media_query_large}px) {
.text-size-0-screen-large     { font-size: #{$u-19}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-0-screen-medium    { font-size: #{$u-19}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-0-screen-small     { font-size: #{$u-19}rem; }
}



// text-size-1
@media screen and (min-width: #{$media_query_large}px) {
.text-size-1-screen-large     { font-size: #{$u-20}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-1-screen-medium    { font-size: #{$u-20}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-1-screen-small     { font-size: #{$u-20}rem; }
}



// text-size-2
@media screen and (min-width: #{$media_query_large}px) {
.text-size-2-screen-large     { font-size: #{$u-21}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-2-screen-medium    { font-size: #{$u-21}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-2-screen-small     { font-size: #{$u-21}rem; }
}


// text-size-3
@media screen and (min-width: #{$media_query_large}px) {
.text-size-3-screen-large     { font-size: #{$u-22}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-3-screen-medium    { font-size: #{$u-22}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-3-screen-small     { font-size: #{$u-22}rem; }
}


// text-size-4
@media screen and (min-width: #{$media_query_large}px) {
.text-size-4-screen-large     { font-size: #{$u-23}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-4-screen-medium    { font-size: #{$u-23}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-4-screen-small     { font-size: #{$u-23}rem; }
}


// text-size-5
@media screen and (min-width: #{$media_query_large}px) {
.text-size-5-screen-large     { font-size: #{$u-24}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-5-screen-medium    { font-size: #{$u-24}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-5-screen-small     { font-size: #{$u-24}rem; }
}


// text-size-6
@media screen and (min-width: #{$media_query_large}px) {
.text-size-6-screen-large     { font-size: #{$u-25}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-6-screen-medium    { font-size: #{$u-25}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-6-screen-small     { font-size: #{$u-25}rem; }
}



// text-size-7
@media screen and (min-width: #{$media_query_large}px) {
.text-size-7-screen-large     { font-size: #{$u-26}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-7-screen-medium    { font-size: #{$u-26}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-7-screen-small     { font-size: #{$u-26}rem; }
}


// text-size-8
@media screen and (min-width: #{$media_query_large}px) {
.text-size-8-screen-large     { font-size: #{$u-27}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-8-screen-medium    { font-size: #{$u-27}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-8-screen-small     { font-size: #{$u-27}rem; }
}


// text-size-9
@media screen and (min-width: #{$media_query_large}px) {
.text-size-9-screen-large     { font-size: #{$u-28}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-9-screen-medium    { font-size: #{$u-28}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-9-screen-small     { font-size: #{$u-28}rem; }
}


// text-size-10
@media screen and (min-width: #{$media_query_large}px) {
.text-size-10-screen-large     { font-size: #{$u-29}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-10-screen-medium    { font-size: #{$u-29}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-10-screen-small     { font-size: #{$u-29}rem; }
}


// text-size-11
@media screen and (min-width: #{$media_query_large}px) {
.text-size-11-screen-large     { font-size: #{$u-30}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-11-screen-medium    { font-size: #{$u-30}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-11-screen-small     { font-size: #{$u-30}rem; }
}

// text-size-12
@media screen and (min-width: #{$media_query_large}px) {
.text-size-12-screen-large     { font-size: #{$u-31}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-12-screen-medium    { font-size: #{$u-31}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-12-screen-small     { font-size: #{$u-31}rem; }
}


// text-size-13
@media screen and (min-width: #{$media_query_large}px) {
.text-size-13-screen-large     { font-size: #{$u-32}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-13-screen-medium    { font-size: #{$u-32}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-13-screen-small     { font-size: #{$u-32}rem; }
}


// text-size-14
@media screen and (min-width: #{$media_query_large}px) {
.text-size-14-screen-large     { font-size: #{$u-33}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-14-screen-medium    { font-size: #{$u-33}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-14-screen-small     { font-size: #{$u-33}rem; }
}

// text-size-15
@media screen and (min-width: #{$media_query_large}px) {
.text-size-15-screen-large     { font-size: #{$u-34}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-15-screen-medium    { font-size: #{$u-34}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-15-screen-small     { font-size: #{$u-34}rem; }
}

// text-size-16
@media screen and (min-width: #{$media_query_large}px) {
.text-size-16-screen-large     { font-size: #{$u-35}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-16-screen-medium    { font-size: #{$u-35}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-16-screen-small     { font-size: #{$u-35}rem; }
}

// text-size-17
@media screen and (min-width: #{$media_query_large}px) {
.text-size-17-screen-large     { font-size: #{$u-36}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-17-screen-medium    { font-size: #{$u-36}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-17-screen-small     { font-size: #{$u-36}rem; }
}

// text-size-18
@media screen and (min-width: #{$media_query_large}px) {
.text-size-18-screen-large     { font-size: #{$u-37}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-18-screen-medium    { font-size: #{$u-37}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-18-screen-small    { font-size: #{$u-37}rem; }
}

// text-size-19
@media screen and (min-width: #{$media_query_large}px) {
.text-size-19-screen-large     { font-size: #{$u-38}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-19-screen-medium    { font-size: #{$u-38}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-19-screen-small    { font-size: #{$u-38}rem; }
}

// text-size-20
@media screen and (min-width: #{$media_query_large}px) {
.text-size-20-screen-large     { font-size: #{$u-39}rem; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-20-screen-medium    { font-size: #{$u-39}rem; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-20-screen-small     { font-size: #{$u-39}rem; }
}

// // text-size-21
// @media screen and (min-width: #{$media_query_large}px) {
// .text-size-21-screen-large     { font-size: #{$u-40}rem; }
// }
// @media screen and (max-width: #{$media_query_medium}px) {
// .text-size-21-screen-medium    { font-size: #{$u-40}rem; }
// }
// @media screen and (max-width: #{$media_query_small}px)  {
// .text-size-21-screen-small     { font-size: #{$u-40}rem; }
// }

// // text-size-22
// @media screen and (min-width: #{$media_query_large}px) {
// .text-size-22-screen-large     { font-size: #{$u-41}rem; }
// }
// @media screen and (max-width: #{$media_query_medium}px) {
// .text-size-22-screen-medium    { font-size: #{$u-41}rem; }
// }
// @media screen and (max-width: #{$media_query_small}px)  {
// .text-size-22-screen-small     { font-size: #{$u-41}rem; }
// }

// // text-size-23
// @media screen and (min-width: #{$media_query_large}px) {
// .text-size-23-screen-large     { font-size: #{$u-42}rem; }
// }
// @media screen and (max-width: #{$media_query_medium}px) {
// .text-size-23-screen-medium    { font-size: #{$u-42}rem; }
// }
// @media screen and (max-width: #{$media_query_small}px)  {
// .text-size-23-screen-small     { font-size: #{$u-42}rem; }
// }

// // text-size-24
// @media screen and (min-width: #{$media_query_large}px) {
// .text-size-24-screen-large     { font-size: #{$u-43}rem; }
// }
// @media screen and (max-width: #{$media_query_medium}px) {
// .text-size-24-screen-medium    { font-size: #{$u-43}rem; }
// }
// @media screen and (max-width: #{$media_query_small}px)  {
// .text-size-24-screen-small     { font-size: #{$u-43}rem; }
// }

// // text-size-25
// @media screen and (min-width: #{$media_query_large}px) {
// .text-size-25-screen-large     { font-size: #{$u-44}rem; }
// }
// @media screen and (max-width: #{$media_query_medium}px) {
// .text-size-25-screen-medium    { font-size: #{$u-44}rem; }
// }
// @media screen and (max-width: #{$media_query_small}px)  {
// .text-size-25-screen-small     { font-size: #{$u-44}rem; }
// }




