/* =========================== */
/*      B R A N D      */
/* =========================== */
.brand-logo-1-bg {
  background-image: url(../brand/evo/fpo/logo/logo-1.png); }

.brand-logo-2-bg {
  background-image: url(../brand/evo/fpo/logo/logo-2.png); }

.brand-font-1 {
  font-family: fontNameHere, sans-serif; }

.brand-font-2 {
  font-family: sans-serif; }

.brand-color-1 {
  color: #eb212e; }

.brand-color-1-bg {
  background-color: #eb212e; }

.brand-box-color-1 {
  border-color: #eb212e; }

.brand-color-2 {
  color: #cbd93e; }

.brand-color-2-bg {
  background-color: #cbd93e; }

.brand-box-color-2 {
  border-color: #cbd93e; }

.brand-color-3 {
  color: #00afec; }

.brand-color-3-bg {
  background-color: #00afec; }

.brand-box-color-3 {
  border-color: #00afec; }

.brand-color-4 {
  color: #c9ac40; }

.brand-color-4-bg {
  background-color: #c9ac40; }

.brand-box-color-4 {
  border-color: #c9ac40; }

.brand-icon-fpo-bg {
  background-image: url(../../brand/evo/fpo/guide/fpo-icon.png); }

.brand-icon-fpo-inverse-bg {
  background-image: url(../../brand/evo/fpo/guide/fpo-icon-inverse.png); }

.brand-icon-1-bg {
  background-image: url(../../brand/evo/fpo/icon/icon-1.png); }

.brand-icon-2-bg {
  background-image: url(../../brand/evo/fpo/icon/icon-1.png); }

.brand-icon-3-bg {
  background-image: url(../../brand/evo/fpo/icon/icon-1.png); }

.brand-icon-4-bg {
  background-image: url(../../brand/evo/fpo/icon/icon-1.png); }

.brand-image-1-bg {
  background-image: url(../../brand/evo/fpo/image/image-1.png); }

.brand-image-2-bg {
  background-image: url(../../brand/evo/fpo/image/image-2.png); }

.brand-image-3-bg {
  background-image: url(../../brand/evo/fpo/image/image-3.png); }

.brand-image-4-bg {
  background-image: url(../../brand/evo/fpo/image/image-4.png); }

.brand-image-person-bg {
  background-image: url(../../brand/evo/fpo/image/image-person.png); }

.brand-image-place-bg {
  background-image: url(../../brand/evo/fpo/image/image-place.png); }

.brand-image-thing-bg {
  background-image: url(../../brand/evo/fpo/image/image-thing.png); }

.brand-image-texture-bg {
  background-image: url(../../brand/evo/fpo/image/image-texture.png); }

.image-bg-brand-guide {
  background-image: url(./../brand/evo/fpo/guide/brand-guide.jpg); }

.image-bg-icon-library {
  background-image: url(./../brand/evo/fpo/guide/icon-library.jpg); }

.image-bg-image-library {
  background-image: url(./../brand/evo/fpo/guide/brand-images.jpg); }

.image-bg-code-playground {
  background-image: url(./../brand/evo/fpo/guide/code-playground.jpg); }

.brand-graphic-1-bg {
  background-image: url(../../brand/evo/fpo/graphic/graphic-1.png); }

.brand-graphic-2-bg {
  background-image: url(../../brand/evo/fpo/graphic/graphic-2.png); }

.brand-graphic-3-bg {
  background-image: url(../../brand/evo/fpo/graphic/graphic-3.png); }

.brand-graphic-4-bg {
  background-image: url(../../brand/evo/fpo/graphic/graphic-4.png); }
