

// Text Size Per Media Queries
// Just the size
// rems

// text-size-reset
@media screen and (min-width: #{$media_query_large}px) {
.text-size-reset-screen-large  { line-height: initial; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-reset-screen-medium  { line-height: initial; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-reset-screen-small  { line-height: initial; }
}


// text-size-0
@media screen and (min-width: #{$media_query_large}px) {
.text-size-0-screen-large     { font-size: #{$u-19}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-0-screen-medium    { font-size: #{$u-19}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-0-screen-small     { font-size: #{$u-19}rem !important; }
}



// text-size-1
@media screen and (min-width: #{$media_query_large}px) {
.text-size-1-screen-large     { font-size: #{$u-20}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-1-screen-medium    { font-size: #{$u-20}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-1-screen-small     { font-size: #{$u-20}rem !important; }
}



// text-size-2
@media screen and (min-width: #{$media_query_large}px) {
.text-size-2-screen-large     { font-size: #{$u-21}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-2-screen-medium    { font-size: #{$u-21}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-2-screen-small     { font-size: #{$u-21}rem !important; }
}


// text-size-3
@media screen and (min-width: #{$media_query_large}px) {
.text-size-3-screen-large     { font-size: #{$u-22}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-3-screen-medium    { font-size: #{$u-22}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-3-screen-small     { font-size: #{$u-22}rem !important; }
}


// text-size-4
@media screen and (min-width: #{$media_query_large}px) {
.text-size-4-screen-large     { font-size: #{$u-23}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-4-screen-medium    { font-size: #{$u-23}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-4-screen-small     { font-size: #{$u-23}rem !important; }
}


// text-size-5
@media screen and (min-width: #{$media_query_large}px) {
.text-size-5-screen-large     { font-size: #{$u-24}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-5-screen-medium    { font-size: #{$u-24}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-5-screen-small     { font-size: #{$u-24}rem !important; }
}


// text-size-6
@media screen and (min-width: #{$media_query_large}px) {
.text-size-6-screen-large     { font-size: #{$u-25}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-6-screen-medium    { font-size: #{$u-25}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-6-screen-small     { font-size: #{$u-25}rem !important; }
}



// text-size-7
@media screen and (min-width: #{$media_query_large}px) {
.text-size-7-screen-large     { font-size: #{$u-26}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-7-screen-medium    { font-size: #{$u-26}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-7-screen-small     { font-size: #{$u-26}rem !important; }
}


// text-size-8
@media screen and (min-width: #{$media_query_large}px) {
.text-size-8-screen-large     { font-size: #{$u-27}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-8-screen-medium    { font-size: #{$u-27}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-8-screen-small     { font-size: #{$u-27}rem !important; }
}


// text-size-9
@media screen and (min-width: #{$media_query_large}px) {
.text-size-9-screen-large     { font-size: #{$u-28}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-9-screen-medium    { font-size: #{$u-28}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-9-screen-small     { font-size: #{$u-28}rem !important; }
}


// text-size-10
@media screen and (min-width: #{$media_query_large}px) {
.text-size-10-screen-large     { font-size: #{$u-29}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-10-screen-medium    { font-size: #{$u-29}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-10-screen-small     { font-size: #{$u-29}rem !important; }
}


// text-size-11
@media screen and (min-width: #{$media_query_large}px) {
.text-size-11-screen-large     { font-size: #{$u-30}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-11-screen-medium    { font-size: #{$u-30}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-11-screen-small     { font-size: #{$u-30}rem !important; }
}

// text-size-12
@media screen and (min-width: #{$media_query_large}px) {
.text-size-12-screen-large     { font-size: #{$u-31}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-12-screen-medium    { font-size: #{$u-31}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-12-screen-small     { font-size: #{$u-31}rem !important; }
}


// text-size-13
@media screen and (min-width: #{$media_query_large}px) {
.text-size-13-screen-large     { font-size: #{$u-32}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-13-screen-medium    { font-size: #{$u-32}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-13-screen-small     { font-size: #{$u-32}rem !important; }
}


// text-size-14
@media screen and (min-width: #{$media_query_large}px) {
.text-size-14-screen-large     { font-size: #{$u-33}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-14-screen-medium    { font-size: #{$u-33}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-14-screen-small     { font-size: #{$u-33}rem !important; }
}

// text-size-15
@media screen and (min-width: #{$media_query_large}px) {
.text-size-15-screen-large     { font-size: #{$u-34}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-15-screen-medium    { font-size: #{$u-34}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-15-screen-small     { font-size: #{$u-34}rem !important; }
}

// text-size-16
@media screen and (min-width: #{$media_query_large}px) {
.text-size-16-screen-large     { font-size: #{$u-35}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-16-screen-medium    { font-size: #{$u-35}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-16-screen-small     { font-size: #{$u-35}rem !important; }
}

// text-size-17
@media screen and (min-width: #{$media_query_large}px) {
.text-size-17-screen-large     { font-size: #{$u-36}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-17-screen-medium    { font-size: #{$u-36}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-17-screen-small     { font-size: #{$u-36}rem !important; }
}

// text-size-18
@media screen and (min-width: #{$media_query_large}px) {
.text-size-18-screen-large     { font-size: #{$u-37}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-18-screen-medium    { font-size: #{$u-37}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-18-screen-small    { font-size: #{$u-37}rem !important; }
}

// text-size-19
@media screen and (min-width: #{$media_query_large}px) {
.text-size-19-screen-large     { font-size: #{$u-38}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-19-screen-medium    { font-size: #{$u-38}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-19-screen-small    { font-size: #{$u-38}rem !important; }
}

// text-size-20
@media screen and (min-width: #{$media_query_large}px) {
.text-size-20-screen-large     { font-size: #{$u-39}rem !important; }
}
@media screen and (max-width: #{$media_query_medium}px) {
.text-size-20-screen-medium    { font-size: #{$u-39}rem !important; }
}
@media screen and (max-width: #{$media_query_small}px)  {
.text-size-20-screen-small     { font-size: #{$u-39}rem !important; }
}

// // text-size-21
// @media screen and (min-width: #{$media_query_large}px) {
// .text-size-21-screen-large     { font-size: #{$u-40}rem !important; }
// }
// @media screen and (max-width: #{$media_query_medium}px) {
// .text-size-21-screen-medium    { font-size: #{$u-40}rem !important; }
// }
// @media screen and (max-width: #{$media_query_small}px)  {
// .text-size-21-screen-small     { font-size: #{$u-40}rem !important; }
// }

// // text-size-22
// @media screen and (min-width: #{$media_query_large}px) {
// .text-size-22-screen-large     { font-size: #{$u-41}rem !important; }
// }
// @media screen and (max-width: #{$media_query_medium}px) {
// .text-size-22-screen-medium    { font-size: #{$u-41}rem !important; }
// }
// @media screen and (max-width: #{$media_query_small}px)  {
// .text-size-22-screen-small     { font-size: #{$u-41}rem !important; }
// }

// // text-size-23
// @media screen and (min-width: #{$media_query_large}px) {
// .text-size-23-screen-large     { font-size: #{$u-42}rem !important; }
// }
// @media screen and (max-width: #{$media_query_medium}px) {
// .text-size-23-screen-medium    { font-size: #{$u-42}rem !important; }
// }
// @media screen and (max-width: #{$media_query_small}px)  {
// .text-size-23-screen-small     { font-size: #{$u-42}rem !important; }
// }

// // text-size-24
// @media screen and (min-width: #{$media_query_large}px) {
// .text-size-24-screen-large     { font-size: #{$u-43}rem !important; }
// }
// @media screen and (max-width: #{$media_query_medium}px) {
// .text-size-24-screen-medium    { font-size: #{$u-43}rem !important; }
// }
// @media screen and (max-width: #{$media_query_small}px)  {
// .text-size-24-screen-small     { font-size: #{$u-43}rem !important; }
// }

// // text-size-25
// @media screen and (min-width: #{$media_query_large}px) {
// .text-size-25-screen-large     { font-size: #{$u-44}rem !important; }
// }
// @media screen and (max-width: #{$media_query_medium}px) {
// .text-size-25-screen-medium    { font-size: #{$u-44}rem !important; }
// }
// @media screen and (max-width: #{$media_query_small}px)  {
// .text-size-25-screen-small     { font-size: #{$u-44}rem !important; }
// }

