///*      B A S E     */

// Base structures and styles
// Adjust in settings.scss
// Default values live in variables.scss
// Reset and normalize values live in evo-reset.scss


// Import default variables from variables.scss
@import "../variables";
// @import "type";


/*      GLOBAL     */

// html {
// 	font-size: #{$default_type_size}; // 1rem
// 	font-color: #{$default_type_color}; // initial
// 	font-family: #{$default_type_font}; // sans-serif
// 	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
// }

// From HTML5 Boilerplate
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

// ::-moz-selection {
//     background: #b3d4fc;
//     text-shadow: none;
// }

// ::selection {
//     background: #b3d4fc;
//     text-shadow: none;
// }

body { 
	margin:0px;
	// padding:0px;
	}

abbr[title] {
  border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}




/*      TYPE     */
// Default lives in variables.scss

// Font
// #{$evo}-font { 
//   font-family: #{$default_type_font}; // sans-serif
// }



// Text
#{$evo}-text {
	font-size: #{$text_font_size};
  color: #{$text_color};
  font-family: #{$text_font_family};
  font-weight: #{$text_font_weight};
	line-height: #{$text_line_height};
	margin-top: #{$text_margin_top};
	margin-bottom: #{$text_margin_bottom};
}

// Elemenet Mixins
@mixin base($base) { 
    @if $base == text            { @extend #{$evo}-text; }
    @else if $base == font       { @extend #{$evo}-font; }
    // Throw Warnings
  @else { @warn "Base mixin supports: text, font"; }
}

// Link


// Opinionated resets

a {
  color: initial; // color: #428bca;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:focus {
  color: initial; // color: #2a6496;
  text-decoration: initial; // text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


/*      BUTTON     */


// Opinionated resets

button[disabled] {
  cursor: default;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


button {
  font-family: sans-serif; // inherit
  // font-size: 100%;
  // line-height: 1.15;
  // margin: 0;
}


/*      FORM     */

// Opinionated resets

html input[disabled] {
  cursor: default;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; // inherit
  // font-size: 100%;
  // line-height: 1.15;
  // margin: 0;
}




/*      LINE     */

// Opinionated resets


hr {
  margin-top: initial; // margin-top: 20px;
  margin-bottom: initial; // margin-bottom: 20px;
  border: 0;
  border-top: 1px solid; // border-top: 1px solid #eeeeee;
}



/*      SPACE    */


// Space
.evo-space,
#{$evo}-space {
    height: $spacer_height; // 1rem
    width: $spacer_width; // auto
    clear: both;
}