///*      F O N T     */

@import "../variables";

/*      FONTS     */


// Global
html {
	font-size: #{$global_text_size}; // 1rem
	font-color: #{$global_text_color}; // initial
	font-family: #{$global_text_font_family}; // sans-serif
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


// General
#{$evo}-font { 
  font-family: #{$global_text_font_family}; // or #{sans-serif} or #{native}
}


// System fonts
#{$evo}-font-1 { 
  font-family: #{$global_text_font_family};
}

// #{$evo}-font-2 { 
//   font-family: #{$global_text_font_family};
// }
