///*      H E L P E R S     */

// Utilities and helper mixins and classes


@import "../variables";

// /* Text Utilities */

// // Style
// #{$evo}-style-bold       { font-weight: bold; }
// #{$evo}-style-caps       { font-style: italic; }
// #{$evo}-style-italic     { text-transform: uppercase; }
// #{$evo}-style-capital     { @include style(capital); }
// #{$evo}-style-strike      { @include style(strike); }
// #{$evo}-style-underline   { @include style(underline); }

// // Tracking
// #{$evo}-tracking-tightest  { letter-spacing: -.1em; }
// #{$evo}-tracking-tighter   { letter-spacing: -.065em; }
// #{$evo}-tracking-tight     { letter-spacing: -.035em; }
// #{$evo}-tracking-loose     { letter-spacing: .035em; }
// #{$evo}-tracking-looser    { letter-spacing: .065em; }
// #{$evo}-tracking-loosest   { letter-spacing: .1em; }

// // Leading
// #{$evo}-leading-tightest  { line-height: .75; }
// #{$evo}-leading-tighter   { line-height: .85; }
// #{$evo}-leading-tight     { line-height: .95; }
// #{$evo}-leading-loose     { line-height: 1; }
// #{$evo}-leading-looser    { line-height: 1.15; }
// #{$evo}-leading-loosest   { line-height: 1.25; }


/* Text Utilities */

// Text Style
#{$evo}-text-bold        { @include text(bold); }
#{$evo}-text-caps        { @include text(caps); }
#{$evo}-text-italic      { @include text(italic); }
#{$evo}-text-capital     { @include text(capital); }
#{$evo}-text-strike      { @include text(strike); }
#{$evo}-text-underline   { @include text(underline); }

// Text Tracking
#{$evo}-track-tightest { @include tracking(tightest); }
#{$evo}-track-tighter  { @include tracking(tighter); }
#{$evo}-track-tight    { @include tracking(tight); }
#{$evo}-track-loose    { @include tracking(loose); }
#{$evo}-track-looser   { @include tracking(looser); }
#{$evo}-track-loosest  { @include tracking(loosest); }

// Text Leading
#{$evo}-lead-tightest  { @include leading(1); }
#{$evo}-lead-tighter   { @include leading(5); }
#{$evo}-lead-tight     { @include leading(10); }
#{$evo}-lead-loose     { @include leading(15); }
#{$evo}-lead-looser    { @include leading(20); }
#{$evo}-lead-loosest   { @include leading(24); }

// Text Leading
#{$evo}-lead-0         { @include leading(0); }
#{$evo}-lead-1         { @include leading(1); }
#{$evo}-lead-2         { @include leading(2); }
#{$evo}-lead-3         { @include leading(3); }
#{$evo}-lead-4         { @include leading(4); }
#{$evo}-lead-5         { @include leading(5); }
#{$evo}-lead-6         { @include leading(6); }
#{$evo}-lead-7         { @include leading(7); }
#{$evo}-lead-8         { @include leading(8); }
#{$evo}-lead-9         { @include leading(9); }
#{$evo}-lead-10        { @include leading(10); }
#{$evo}-lead-11        { @include leading(11); }
#{$evo}-lead-12        { @include leading(12); }
#{$evo}-lead-13        { @include leading(13); }
#{$evo}-lead-14        { @include leading(14); }
#{$evo}-lead-15        { @include leading(15); }
#{$evo}-lead-16        { @include leading(16); }
#{$evo}-lead-17        { @include leading(17); }
#{$evo}-lead-18        { @include leading(18); }
#{$evo}-lead-19        { @include leading(19); }
#{$evo}-lead-20        { @include leading(20); }
#{$evo}-lead-21        { @include leading(21); }
#{$evo}-lead-22        { @include leading(22); }
#{$evo}-lead-23        { @include leading(23); }
#{$evo}-lead-24        { @include leading(24); }

// Text Sizes
#{$evo}-text-0         { @include text(0); }
#{$evo}-text-1         { @include text(1); }
#{$evo}-text-2         { @include text(2); }
#{$evo}-text-3         { @include text(3); }
#{$evo}-text-4         { @include text(4); }
#{$evo}-text-5         { @include text(5); }
#{$evo}-text-6         { @include text(6); }
#{$evo}-text-7         { @include text(7); }
#{$evo}-text-8         { @include text(8); }
#{$evo}-text-9         { @include text(9); }
#{$evo}-text-10        { @include text(10); }
#{$evo}-text-11        { @include text(11); }
#{$evo}-text-12        { @include text(12); }
#{$evo}-text-13        { @include text(13); }
#{$evo}-text-14        { @include text(14); }
#{$evo}-text-15        { @include text(15); }
#{$evo}-text-16        { @include text(16); }
#{$evo}-text-17        { @include text(17); }
#{$evo}-text-18        { @include text(18); }
#{$evo}-text-19        { @include text(19); }
#{$evo}-text-20        { @include text(20); }
#{$evo}-text-21        { @include text(21); }
#{$evo}-text-22        { @include text(22); }
#{$evo}-text-23        { @include text(23); }
#{$evo}-text-24        { @include text(24); }


// Measure
#{$evo}-measure-widest   { @include measure(widest); }
#{$evo}-measure-wider    { @include measure(wider); }
#{$evo}-measure-wide     { @include measure(wide); }
#{$evo}-measure-tight    { @include measure(tight); }
#{$evo}-measure-tighter  { @include measure(tighter); }
#{$evo}-measure-tightest { @include measure(tightest); }

