///*      S P A C E R S     */

// Create space between elements


@import "../variables";
// @import "base";

/*      EVO SPACE     */

// Default evo-space
// Adjust from _settings.scss
#{$evo}-space {
    height: $spacer_height; // 1rem
    width: $spacer_width; // auto
    clear: both;
}

// Generates spaceer sizes space-0 through space-24
// Silent classes are available e.g. %space-15
// Based on a half-measure of the golden raito
// 1. @for $i from 0 through 4
// 2. Creates e.g. evo-space- 15 and auto increments by 1
// 3. Extends the default evo-space
// 4. If / else allows for fine tuning the sizes


// Mousetype sizes
@for $i from 0 through 24 {
  #{$evo}-space-#{$i} {
  @extend #{$evo}-space !optional;
    @if ($i == 0) { height: 1px; }  // smallest
    @else if ($i == 1) { height: 2px; }
    @else if ($i == 2) { height: 4px; } // smaller
    @else if ($i == 3) { height: 6px; } 
// Copy sizes
    @else if ($i == 4) { height: .5rem; }
    @else if ($i == 5) { height: .625rem; } // small
    @else if ($i == 6) { height: .75rem; } 
    @else if ($i == 7) { height: .875rem; }
    @else if ($i == 8) { height: floor(1.02rem); } // normal
// Subheader sizes
    @else if ($i == 9) { height: 1.125rem; }
    @else if ($i == 10) { height: 1.3125rem; } 
    @else if ($i == 11) { height: 1.4375rem; } // big
    @else if ($i == 12) { height: 1.875rem; } 
// Header sizes
    @else if ($i == 13) { height: 2.3125rem; }
    @else if ($i == 14) { height: 2.6875rem; } // bigger
    @else if ($i == 15) { height: floor(3.05rem); }
    @else if ($i == 16) { height: 3.75rem; } 
// Giant sizes
    @else if ($i == 17) { height: ceil(4.935rem); } // biggest
    @else if ($i == 18) { height: floor(6.1rem); } 
    @else if ($i == 19) { height: ceil(7.985rem); }
    @else if ($i == 20) { height: ceil(9.87rem); } // jumbo
// Poster sizes
    @else if ($i == 21) { height: ceil(12.92rem); }
    @else if ($i == 22) { height: ceil(15.97rem); }
    @else if ($i == 23) { height: ceil(20.905rem); } // giant
    @else if ($i == 24) { height: ceil(25.84rem); }
// Additional Sizes
    // @else if ($i == 25) { height: ceil(33.825rem); }
    // @else if ($i == 26) { height: ceil(41.81rem); }
    // @else if ($i == 27) { height: ceil(54.73rem); }
    // @else if ($i == 28) { height: ceil(67.65rem); } 
  }
}



