///*      T E X T     */

@import "../variables";
@import "text_mixins";


/*      TEXT     */

// Default evo-text
// Adjust from _settings.scss
#{$evo}-text {
  font-size: $text_font_size;
  color: $text_color;
  font-family: $text_font_family;
  font-weight: $text_font_weight;
  line-height: $text_line_height;
  margin-top: $text_margin_top;
  margin-bottom: $text_margin_bottom;
      &-caps {
      @extend #{$evo}-text !optional;
      @include style(caps)
    }
}

// Generates text sizes text-0 through text-24
// Silent classes are available e.g. %text-15
// Based on a half-measure of the golden raito
// 1. @for $i from 0 through 4
// 2. Creates e.g. evo-text- 15 and auto increments by 1
// 3. Extends the default evo-text
// 4. Modifies the tracking and leading via mixins from _helpers.scss
// 5. If / else allows for fine tuning the sizes
// 6. $-caps etc. is optional fine tuning of typographic styles 

// Mousetype sizes
@for $i from 0 through 4 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
    @include tracking(loose);
    @include leading(11);
    @if ($i == 0) { font-size: #{$rem0}; }
    @else if ($i == 1) { font-size: #{$rem1}; }
    @else if ($i == 2) { font-size: #{$rem2}; } // smallest
    @else if ($i == 3) { font-size: #{$rem3}; }
    @else if ($i == 4) { font-size: #{$rem4}; } // smaller
    &-caps {
      @extend #{$evo}-text-#{$i} !optional;
      @include style(caps)
      @include tracking(null);
      @include leading(12);
    }
  }
}

// Copy sizes
@for $i from 5 through 8 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text !optional;
    @include leading(12);
    @if ($i == 5) { font-size: #{$rem5}; }
    @else if ($i == 6) { font-size: #{$rem6}; } // small
    @else if ($i == 7) { font-size: #{$rem7}; }
    @else if ($i == 8) { font-size: #{$rem8}; } // normal
    &-caps {
      @extend #{$evo}-text-#{$i} !optional;
      @include style(caps)
      @include tracking(null);
      @include leading(12);
    }
  }
}

// Subheader sizes
@for $i from 9 through 12 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text !optional;
    @include tracking(tight);
    @include leading(10);
    @if ($i == 9) { font-size: #{$rem9}; }
    @else if ($i == 10) { font-size: #{$rem10}; } // big
    @else if ($i == 11) { font-size: #{$rem11}; }
    @else if ($i == 12) { font-size: #{$rem12}; } // bigger
    &-caps {
      @extend #{$evo}-text-#{$i} !optional;
      @include style(caps)
      @include tracking(tight);
      @include leading(10);
    }
  }
}

// Header sizes
@for $i from 13 through 16 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text !optional;
    @include tracking(tight);
    @include leading(10);
    @if ($i == 13) { font-size: #{$rem13}; }
    @else if ($i == 14) { font-size: #{$rem14}; } // biggest
    @else if ($i == 15) { font-size: #{$rem15}; }
    @else if ($i == 16) { font-size: #{$rem16}; } // jumbo
    &-caps {
      @extend #{$evo}-text-#{$i} !optional;
      @include style(caps)
      @include tracking(tight);
      @include leading(5);
    }
  }
}

// Giant sizes
@for $i from 17 through 20 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text !optional;
    @include tracking(tight);
    @include leading(10);
    @if ($i == 17) { font-size: #{$rem17}; }
    @else if ($i == 18) { font-size: #{$rem18}; } // giant
    @else if ($i == 19) { font-size: #{$rem19}; }
    @else if ($i == 20) { font-size: #{$rem20}; }
    &-caps {
      @extend #{$evo}-text-#{$i} !optional;
      @include style(caps)
      @include tracking(tight);
      @include leading(5);
    }
  }
}

// Poster sizes
@for $i from 21 through 24 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text !optional;
  @include tracking(tightest);
  @include leading(8);
    @if ($i == 21) { font-size: #{$rem21}; }
    @else if ($i == 22) { font-size: #{$rem22}; }
    @else if ($i == 23) { font-size: #{$rem23}; }
    @else if ($i == 24) { font-size: #{$rem24}; }
    &-caps {
      @extend #{$evo}-text-#{$i} !optional;
      @include style(caps)
      @include tracking(tightest);
      @include leading(4);
    }
  }
}