body {
  height: auto;
  width: auto;
  background: white; }

.navi {
  background-color: #009777;
  height: 60px; }

.navi-brd a {
  height: 35px;
  border-left: 1px solid white;
  margin-top: 0px; }

.fullBackground {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.caption {
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 68%;
  left: 70%;
  transform: translate(-20%, -20%); }

.logo {
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 68%;
  transform: translate(-20%, -20%); }

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-of-type {
  margin-left: 0; }

.hamburger .line {
  width: 30px;
  height: 5px;
  background-color: white;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.hamburger:hover {
  cursor: pointer; }

/* ONE */
#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0; }

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg); }

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg); }

/* For small screen */
@media (max-width: 768px) {
  .ct-area {
    color: #585858;
    top: 440px;
    font-size: 1.4em;
    position: relative;
    margin-bottom: 10px; }

  .ct-area-title {
    left: 50px;
    color: #585858;
    font-family: merriweather; } }
/* For Mobile & landscap */
@media (max-width: 992px) {
  body {
    height: auto;
    width: auto;
    background: #d2f9f1; }

  .desktop-version {
    display: none; }

  .mobile-style {
    margin-left: 25px;
    width: 90%; }

  .ct-area {
    color: #585858;
    top: 520px;
    position: absolute;
    margin-top: 200px;
    font-size: 1.8em; }

  .ct-title-postion {
    margin-left: 24px;
    color: #585858; }

  /*  Mobile Design */
  .ct-area-mob {
    height: 300px;
    padding: 20px;
    font-size: 0.8em;
    margin: 3px;
    color: #585858;
    background: white;
    width: 94%;
    left: 5px;
    display: none;
    margin-top: 40px; }

  .ct-area-mob a {
    color: #585858;
    text-decoration: none; }

  .ct-area-mob a:hover {
    color: #585858;
    text-decoration: none;
    opacity: 0.7; }

  .ct-area-calender {
    height: 640px; }

  .ct-area-fund {
    height: 540px; }

  .ct-area-wwr {
    height: 680px; }

  .ft-bg-txt {
    background: white;
    padding: 10px;
    font-size: 0.8em; }

  .ft-bg-txt a {
    color: #585858;
    margin-top: 15px;
    text-decoration: none; }

  .ft-bg-txt a:hover {
    color: #585858;
    margin-top: 15px;
    text-decoration: none;
    opacity: 0.7; }

  .ft-bg-social a {
    padding: 5px;
    border: 1px solid #585858;
    border-radius: 100%; }

  .ft-bg-social a, i {
    margin-left: 10px;
    color: #585858;
    margin: 6px; }

  .md-caption {
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-35%, -10%);
    width: 100%; }

  /* Mobile Design End */
  .caption {
    display: none;
    color: #fff; }

  .logo {
    display: none; } }
/* For lcd/Laptop screen */
@media (min-width: 1200px) {
  .mobile-style {
    display: none; }

  .ct-area {
    color: #585858;
    top: 520px;
    position: absolute;
    margin-top: 200px;
    font-size: 1.6em;
    width: 100%; }

  .ct-title-postion {
    margin-left: 30px; }

  .ct-title {
    left: 50px;
    color: #585858;
    padding-top: 400px; }

  .ct-area-box {
    padding: 20px;
    font-size: 0.8em;
    height: 190px;
    left: 30px;
    margin: 3px;
    border: 1px solid #888888;
    border-right: 2px solid #888888;
    border-bottom: 2px solid #888888;
    border-radius: 1px;
    color: #585858; }

  .ct-area-box a {
    display: none; }

  .ct-area-hvr :hover {
    background: #009777;
    color: white;
    cursor: pointer; }

  .ct-box-right-width {
    width: 43%; }

  .ct-area .ct-area-bottom {
    height: 340px; }

  .ct-area .ct-area-bottom-right {
    margin-left: 12px; }

  .ct-bottom-right {
    width: 21%; }

  /*  2nd Ct area start Calendar */
  .ct-second {
    margin-top: 200px; }

  .ct-area-second-height {
    height: 490px; }

  .ct-des i, h3, a {
    color: #009777; }

  /* 3rd start */
  .ct-area .ct-third {
    margin-top: 196px; }

  .ct-area .ct-third-l {
    height: 195px; }

  .ct-third-r {
    height: 410px;
    width: 20%; }

  .ct-third-r-mgn {
    margin-left: 4px; }

  .ct-third-r-sec {
    margin-left: 19px; }

  .ct-third-mgn {
    margin-left: 50px; }

  .ct-third-bot {
    margin: 0px;
    position: relative; }

  .ct-area .ct-third-size {
    height: 360px; }

  .chart-2 {
    padding-top: 50px; }

  /* Footer Css  */
  footer {
    width: 100%;
    background: #009777;
    height: 340px;
    margin-top: 80px; }

  .ft-bg-txt hr {
    color: white; }

  .ft-bg-txt h4 {
    padding-top: 30px;
    color: white;
    margin-top: 16px; }

  .ft-bg-txt p {
    color: white;
    font-size: 0.6em; }

  .ft-bg-svg {
    margin-top: 50px; }

  .ft-bg-social a {
    padding: 5px;
    border: 1px solid white;
    border-radius: 100%; }

  .ft-bg-social a, i {
    color: white;
    margin: 6px; } }
/*  Section is added on top media class */
/*  #Section is end */

/*# sourceMappingURL=style.css.map */
