@charset "UTF-8";
/*******************************************************************************
*
* The goal of this CSS file is to capture all Evo-Elements HTML and CSS styles.
* This CSS resets classes and then offers unstyled structure for you to modify.
* The order of CSS placement – or links to CSS files – has an impact on styles.
*
* Outline: (update as needed)
*   _GLOBAL - General HTML, BODY, BUTTON, LINK settings (optional)
*   _FONTS - Several different font families for quick styling
*   _TYPE - 2 different text styles: regular and caps (size 1 - 24)
// *         - _TEXT is also used within ordered/unordered list
// *         - 4 different list styes: regular/no-style, bullets, numbers and lines
// *         - bullets list are using custom SVGs
// *   _COLORS - 5 different color palettes are included in this file
// *   _BUTTONS - 30 different button sizes (sizes are incrementing from min 1 to max 30)
// *            - http://elements.humanig.com/#/buttons
// *   _FORMS - selection of input types: date input, file input, time input, radio button, checkbox, 
// *            dropdown menu, text input, number input
// *   _LINES - few different options with lines: solid, dots, dash (size 1 - 10)
// *          - borders: top border (solid, dots, dash), (size 1 - 10)
// *                     bottom border (solid, dots, dash), (size 1 - 10)
// *          - boxes: (solid, dots, dash), (size 1 - 10)        
// *          - double: (solid), (size 1 - 10)
// *   _IMAGES - 3 different styles: Equal(square, rounded, circle), Wide, Tall
*   _SPACERS - Create space between elements (size 1 - 24)
// *   _ERRORS - A selection of aliases that forgive common mistypes
*
*******************************************************************************/
.font-arial {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.font-georgia {
  font-family: Georgia, Times, "Times New Roman", serif; }

.font-times-new-roman {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; }

.font-courier-new {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }

.font-helvetica-neue {
  font-family: "helvetica neue", helvetica, arial, sans-serif; }

.font-helvetica-neue-thin {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

/*      TEXT     */
.text,
.text-0,
.text-1,
.text-2,
.text-3,
.text-4,
.text-5,
.text-6,
.text-7,
.text-8,
.text-9,
.text-10,
.text-11,
.text-12,
.text-13,
.text-14,
.text-15,
.text-16,
.text-17,
.text-18,
.text-19,
.text-20,
.text-21,
.text-22,
.text-23,
.text-24 {
  color: initial;
  font-family: initial;
  font-weight: initial;
  line-height: initial;
  margin-top: 0px;
  margin-bottom: 0px; }

.text-0 {
  font-size: .5rem; }

.text-1 {
  font-size: .625rem; }

.text-2 {
  font-size: .75rem; }

.text-3 {
  font-size: .875rem; }

.text-4 {
  font-size: 1rem; }

.text-5 {
  font-size: 1.125rem; }

.text-6 {
  font-size: 1.3125rem; }

.text-7 {
  font-size: 1.4375rem; }

.text-8 {
  font-size: 1.875rem; }

.text-9 {
  font-size: 2.3125rem; }

.text-10 {
  font-size: 2.6875rem; }

.text-11 {
  font-size: 3rem; }

.text-12 {
  font-size: 3.75rem; }

.text-13 {
  font-size: 5rem; }

.text-14 {
  font-size: 6rem; }

.text-15 {
  font-size: 8rem; }

.text-16 {
  font-size: 10rem; }

.text-17 {
  font-size: 13rem; }

.text-18 {
  font-size: 16rem; }

.text-19 {
  font-size: 21rem; }

.text-20 {
  font-size: 26rem; }

.text-21 {
  font-size: 34rem; }

.text-22 {
  font-size: 42rem; }

.text-23 {
  font-size: 55rem; }

.text-24 {
  font-size: 68rem; }

/*      SPACE     */
.space,
.space-0,
.space-1,
.space-2,
.space-3,
.space-4,
.space-5,
.space-6,
.space-7,
.space-8,
.space-9,
.space-10,
.space-11,
.space-12,
.space-13,
.space-14,
.space-15,
.space-16,
.space-17,
.space-18,
.space-19,
.space-20,
.space-21,
.space-22,
.space-23,
.space-24 {
  width: auto;
  clear: both; }

.space-0 {
  height: 1px; }

.space-1 {
  height: 2px; }

.space-2 {
  height: 4px; }

.space-3 {
  height: 6px; }

.space-4 {
  height: .5rem; }

.space-5 {
  height: .625rem; }

.space-6 {
  height: .75rem; }

.space-7 {
  height: .875rem; }

.space-8 {
  height: 1rem; }

.space-9 {
  height: 1.125rem; }

.space-10 {
  height: 1.3125rem; }

.space-11 {
  height: 1.4375rem; }

.space-12 {
  height: 1.875rem; }

.space-13 {
  height: 2.3125rem; }

.space-14 {
  height: 2.6875rem; }

.space-15 {
  height: 3rem; }

.space-16 {
  height: 3.75rem; }

.space-17 {
  height: 5rem; }

.space-18 {
  height: 6rem; }

.space-19 {
  height: 8rem; }

.space-20 {
  height: 10rem; }

.space-21 {
  height: 13rem; }

.space-22 {
  height: 16rem; }

.space-23 {
  height: 21rem; }

.space-24 {
  height: 26rem; }
