.evo-text-bold {
  font-weight: bold;
}

.evo-text-caps {
  text-transform: uppercase;
}

.evo-text-italic {
  font-style: italic;
}

.evo-text-loose {
  letter-spacing: 1.5rem;
}

.evo-text-tight {
  letter-spacing: -.5rem;
}

.evo-text-0 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-0 .evo-text-bold {
  font-weight: bold;
}
.evo-text-0 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-0 .evo-text-italic {
  font-style: italic;
}
.evo-text-0 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-0 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-0 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-0 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-1 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-1 .evo-text-bold {
  font-weight: bold;
}
.evo-text-1 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-1 .evo-text-italic {
  font-style: italic;
}
.evo-text-1 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-1 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-1 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-1 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-2 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-2 .evo-text-bold {
  font-weight: bold;
}
.evo-text-2 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-2 .evo-text-italic {
  font-style: italic;
}
.evo-text-2 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-2 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-2 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-2 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-3 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-3 .evo-text-bold {
  font-weight: bold;
}
.evo-text-3 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-3 .evo-text-italic {
  font-style: italic;
}
.evo-text-3 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-3 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-3 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-3 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-4 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-4 .evo-text-bold {
  font-weight: bold;
}
.evo-text-4 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-4 .evo-text-italic {
  font-style: italic;
}
.evo-text-4 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-4 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-4 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-4 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-5 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-5 .evo-text-bold {
  font-weight: bold;
}
.evo-text-5 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-5 .evo-text-italic {
  font-style: italic;
}
.evo-text-5 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-5 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-5 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-5 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-6 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-6 .evo-text-bold {
  font-weight: bold;
}
.evo-text-6 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-6 .evo-text-italic {
  font-style: italic;
}
.evo-text-6 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-6 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-6 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-6 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-7 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-7 .evo-text-bold {
  font-weight: bold;
}
.evo-text-7 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-7 .evo-text-italic {
  font-style: italic;
}
.evo-text-7 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-7 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-7 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-7 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-8 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-8 .evo-text-bold {
  font-weight: bold;
}
.evo-text-8 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-8 .evo-text-italic {
  font-style: italic;
}
.evo-text-8 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-8 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-8 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-8 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-9 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-9 .evo-text-bold {
  font-weight: bold;
}
.evo-text-9 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-9 .evo-text-italic {
  font-style: italic;
}
.evo-text-9 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-9 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-9 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-9 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-10 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-10 .evo-text-bold {
  font-weight: bold;
}
.evo-text-10 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-10 .evo-text-italic {
  font-style: italic;
}
.evo-text-10 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-10 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-10 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-10 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-11 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-11 .evo-text-bold {
  font-weight: bold;
}
.evo-text-11 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-11 .evo-text-italic {
  font-style: italic;
}
.evo-text-11 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-11 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-11 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-11 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-12 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-12 .evo-text-bold {
  font-weight: bold;
}
.evo-text-12 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-12 .evo-text-italic {
  font-style: italic;
}
.evo-text-12 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-12 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-12 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-12 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-13 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-13 .evo-text-bold {
  font-weight: bold;
}
.evo-text-13 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-13 .evo-text-italic {
  font-style: italic;
}
.evo-text-13 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-13 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-13 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-13 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-14 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-14 .evo-text-bold {
  font-weight: bold;
}
.evo-text-14 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-14 .evo-text-italic {
  font-style: italic;
}
.evo-text-14 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-14 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-14 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-14 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-15 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-15 .evo-text-bold {
  font-weight: bold;
}
.evo-text-15 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-15 .evo-text-italic {
  font-style: italic;
}
.evo-text-15 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-15 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-15 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-15 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-16 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-16 .evo-text-bold {
  font-weight: bold;
}
.evo-text-16 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-16 .evo-text-italic {
  font-style: italic;
}
.evo-text-16 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-16 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-16 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-16 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-17 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-17 .evo-text-bold {
  font-weight: bold;
}
.evo-text-17 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-17 .evo-text-italic {
  font-style: italic;
}
.evo-text-17 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-17 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-17 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-17 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-18 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-18 .evo-text-bold {
  font-weight: bold;
}
.evo-text-18 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-18 .evo-text-italic {
  font-style: italic;
}
.evo-text-18 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-18 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-18 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-18 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-19 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-19 .evo-text-bold {
  font-weight: bold;
}
.evo-text-19 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-19 .evo-text-italic {
  font-style: italic;
}
.evo-text-19 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-19 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-19 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-19 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-20 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-20 .evo-text-bold {
  font-weight: bold;
}
.evo-text-20 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-20 .evo-text-italic {
  font-style: italic;
}
.evo-text-20 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-20 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-20 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-20 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-21 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-21 .evo-text-bold {
  font-weight: bold;
}
.evo-text-21 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-21 .evo-text-italic {
  font-style: italic;
}
.evo-text-21 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-21 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-21 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-21 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-22 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-22 .evo-text-bold {
  font-weight: bold;
}
.evo-text-22 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-22 .evo-text-italic {
  font-style: italic;
}
.evo-text-22 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-22 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-22 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-22 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-23 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-23 .evo-text-bold {
  font-weight: bold;
}
.evo-text-23 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-23 .evo-text-italic {
  font-style: italic;
}
.evo-text-23 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-23 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-23 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-23 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-24 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-24 .evo-text-bold {
  font-weight: bold;
}
.evo-text-24 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-24 .evo-text-italic {
  font-style: italic;
}
.evo-text-24 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-24 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-24 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-24 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-25 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-25 .evo-text-bold {
  font-weight: bold;
}
.evo-text-25 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-25 .evo-text-italic {
  font-style: italic;
}
.evo-text-25 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-25 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-25 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-25 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-26 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-26 .evo-text-bold {
  font-weight: bold;
}
.evo-text-26 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-26 .evo-text-italic {
  font-style: italic;
}
.evo-text-26 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-26 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-26 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-26 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-27 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-27 .evo-text-bold {
  font-weight: bold;
}
.evo-text-27 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-27 .evo-text-italic {
  font-style: italic;
}
.evo-text-27 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-27 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-27 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-27 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-28 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-28 .evo-text-bold {
  font-weight: bold;
}
.evo-text-28 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-28 .evo-text-italic {
  font-style: italic;
}
.evo-text-28 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-28 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-28 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-28 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-29 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-29 .evo-text-bold {
  font-weight: bold;
}
.evo-text-29 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-29 .evo-text-italic {
  font-style: italic;
}
.evo-text-29 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-29 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-29 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-29 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-30 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-30 .evo-text-bold {
  font-weight: bold;
}
.evo-text-30 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-30 .evo-text-italic {
  font-style: italic;
}
.evo-text-30 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-30 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-30 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-30 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-31 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-31 .evo-text-bold {
  font-weight: bold;
}
.evo-text-31 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-31 .evo-text-italic {
  font-style: italic;
}
.evo-text-31 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-31 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-31 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-31 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-32 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-32 .evo-text-bold {
  font-weight: bold;
}
.evo-text-32 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-32 .evo-text-italic {
  font-style: italic;
}
.evo-text-32 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-32 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-32 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-32 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-33 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-33 .evo-text-bold {
  font-weight: bold;
}
.evo-text-33 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-33 .evo-text-italic {
  font-style: italic;
}
.evo-text-33 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-33 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-33 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-33 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-34 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-34 .evo-text-bold {
  font-weight: bold;
}
.evo-text-34 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-34 .evo-text-italic {
  font-style: italic;
}
.evo-text-34 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-34 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-34 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-34 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-35 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-35 .evo-text-bold {
  font-weight: bold;
}
.evo-text-35 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-35 .evo-text-italic {
  font-style: italic;
}
.evo-text-35 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-35 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-35 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-35 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-36 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-36 .evo-text-bold {
  font-weight: bold;
}
.evo-text-36 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-36 .evo-text-italic {
  font-style: italic;
}
.evo-text-36 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-36 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-36 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-36 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-37 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-37 .evo-text-bold {
  font-weight: bold;
}
.evo-text-37 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-37 .evo-text-italic {
  font-style: italic;
}
.evo-text-37 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-37 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-37 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-37 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-38 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-38 .evo-text-bold {
  font-weight: bold;
}
.evo-text-38 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-38 .evo-text-italic {
  font-style: italic;
}
.evo-text-38 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-38 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-38 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-38 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-39 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-39 .evo-text-bold {
  font-weight: bold;
}
.evo-text-39 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-39 .evo-text-italic {
  font-style: italic;
}
.evo-text-39 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-39 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-39 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-39 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.evo-text-40 {
  color: #333333;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.1rem;
  padding-bottom: 0.25rem;
}
.evo-text-40 .evo-text-bold {
  font-weight: bold;
}
.evo-text-40 .evo-text-caps {
  text-transform: uppercase;
}
.evo-text-40 .evo-text-italic {
  font-style: italic;
}
.evo-text-40 .evo-text-bold .evo-text-caps {
  font-weight: bold;
  text-transform: uppercase;
}
.evo-text-40 .evo-text-bold .evo-text-italic {
  font-weight: bold;
  font-style: italic;
}
.evo-text-40 .evo-text-caps .evo-text-italic {
  text-transform: uppercase;
  font-style: italic;
}
.evo-text-40 .evo-text-caps .evo-text-italic .evo-text-bold {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}
