@charset "UTF-8";
/*******************************************************************************
*
* The goal of this CSS file is to capture all Evo-Elements HTML and CSS styles.
* This CSS resets classes and then offers unstyled structure for you to modify.
* The order of CSS placement – or links to CSS files – has an impact on styles.
*
* Outline: (update as needed)
*   _GLOBAL - General HTML, BODY, BUTTON, LINK settings (optional)
*   _FONTS - Several different font families for quick styling
*   _TYPE - 2 different text styles: regular and caps (size 1 - 24)
// *         - _TEXT is also used within ordered/unordered list
// *         - 4 different list styes: regular/no-style, bullets, numbers and lines
// *         - bullets list are using custom SVGs
// *   _COLORS - 5 different color palettes are included in this file
// *   _BUTTONS - 30 different button sizes (sizes are incrementing from min 1 to max 30)
// *            - http://elements.humanig.com/#/buttons
// *   _FORMS - selection of input types: date input, file input, time input, radio button, checkbox, 
// *            dropdown menu, text input, number input
// *   _LINES - few different options with lines: solid, dots, dash (size 1 - 10)
// *          - borders: top border (solid, dots, dash), (size 1 - 10)
// *                     bottom border (solid, dots, dash), (size 1 - 10)
// *          - boxes: (solid, dots, dash), (size 1 - 10)        
// *          - double: (solid), (size 1 - 10)
// *   _IMAGES - 3 different styles: Equal(square, rounded, circle), Wide, Tall
*   _SPACERS - Create space between elements (size 1 - 24)
// *   _ERRORS - A selection of aliases that forgive common mistypes
*
*******************************************************************************/
html {
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 100%;
  line-height: 1.4375;
  font-weight: initial; }

p {
  color: #333333;
  -webkit-tap-highlight-color: transparent; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

/*      FONTS     */
.evo-font {
  font-family: sans-serif; }

.evo-font-1 {
  font-family: sans-serif; }

.evo-font-sans-serif {
  font-family: sans-serif; }

.evo-font-serif {
  font-family: serif; }

.evo-font-monospace {
  font-family: monospace; }

.evo-font-cursive {
  font-family: cursive; }

.evo-font-arial {
  font-family: arial, Helvetica Neue, helvetica, sans-serif; }

.evo-font-arial-black {
  font-family: Arial Black, Arial Bold, gadget, sans-serif; }

.evo-font-athelas {
  font-family: athelas, georgia, serif; }

.evo-font-avenir {
  font-family: avenir next, avenir, sans-serif; }

.evo-font-baskerville {
  font-family: baskerville, serif; }

.evo-font-bodoni {
  font-family: Bodoni MT, serif; }

.evo-font-calisto {
  font-family: Calisto MT, serif; }

.evo-font-consolas {
  font-family: Consolas, monaco, monospace; }

.evo-font-courier {
  font-family: Courier Next, courier, monospace; }

.evo-font-courier-new {
  font-family: Courier New, courier, Lucida Sans Typewriter, Lucida Typewriter, monospace; }

.evo-font-didot {
  font-family: didot, serif; }

.evo-font-garamond {
  font-family: garamond, serif; }

.evo-font-georgia {
  font-family: georgia, times, Times New Roman, serif; }

.evo-font-gotham {
  font-family: gotham, serif; }

.evo-font-helvetica {
  font-family: helvetica neue, helvetica, arial, sans-serif; }

.evo-font-helvetica-thin {
  font-family: HelveticaNeue-Thin, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; }

.evo-font-menlo {
  font-family: menlo, consolas, monaco, Courier New, monospace; }

.evo-font-monaco {
  font-family: monaco, consolas, menlo, Courier New, monospace; }

.evo-font-times {
  font-family: TimesNewRoman, Times New Roman, times, baskerville, georgia, serif; }

.evo-font-times-new {
  font-family: times, serif; }

.evo-font-native {
  font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; }

.evo-font-native-bootstrap {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; }

.evo-font-native-tachyons {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif; }

.evo-font-google-open-sans {
  font-family: Open Sans, sans-serif;
  font-weight: 400; }

.evo-font-google-open-sans-light {
  font-family: Open Sans, sans-serif;
  font-weight: 300; }

.evo-font-google-open-sans-extra-bold {
  font-family: Open Sans, sans-serif;
  font-weight: 800; }

.evo-font-adobe-open-sans {
  font-family: open sans, open-sans, sans-serif;
  font-weight: 400; }

.evo-font-adobe-open-sans-light {
  font-family: open sans, open-sans, sans-serif;
  font-weight: 300; }

.evo-font-adobe-open-sans-extra-bold {
  font-family: open sans, open-sans, sans-serif;
  font-weight: 800; }

/* Text */
.evo-text {
  font-size: 1rem;
  color: #333333;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.4375;
  margin-top: 0em;
  margin-bottom: 1.4375rem 0; }

.evo-text-reset {
  font-size: initial;
  color: initial;
  font-family: initial;
  font-weight: initial;
  font-weight: initial;
  font-style: initial;
  line-height: initial;
  text-decoration: initial;
  text-transform: initial;
  text-align: initial;
  margin-top: initial;
  margin-bottom: initial; }

.evo-text-bold {
  font-weight: bold; }

.evo-text-italic {
  font-style: italic; }

.evo-text-capitalize {
  text-transform: capitalize; }

.evo-text-uppercase {
  text-transform: uppercase; }

.evo-text-lowercase {
  text-transform: lowercase; }

.evo-text-strike {
  text-decoration: line-through; }

.evo-text-underline {
  text-decoration: underline; }

.evo-text-no-underline a,
.evo-text-no-underline {
  text-decoration: none; }

.evo-text-no-transform {
  text-transform: none; }

.evo-text-left {
  text-align: left; }

.evo-text-right {
  text-align: right; }

.evo-text-center {
  text-align: center; }

.evo-text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.evo-text-clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip; }

.evo-text-reset {
  line-height: initial; }

.evo-text-0 {
  font-size: 0.375rem; }

.evo-text-1 {
  font-size: 0.5rem; }

.evo-text-2 {
  font-size: 0.625rem; }

.evo-text-3 {
  font-size: 0.75rem; }

.evo-text-4 {
  font-size: 0.875rem; }

.evo-text-5 {
  font-size: 1rem; }

.evo-text-6 {
  font-size: 1.125rem; }

.evo-text-7 {
  font-size: 1.3125rem; }

.evo-text-8 {
  font-size: 1.4375rem; }

.evo-text-9 {
  font-size: 1.875rem; }

.evo-text-10 {
  font-size: 2.3125rem; }

.evo-text-11 {
  font-size: 2.6875rem; }

.evo-text-12 {
  font-size: 3rem; }

.evo-text-13 {
  font-size: 3.75rem; }

.evo-text-14 {
  font-size: 5rem; }

.evo-text-15 {
  font-size: 6rem; }

.evo-text-16 {
  font-size: 8rem; }

.evo-text-17 {
  font-size: 10rem; }

.evo-text-18 {
  font-size: 13rem; }

.evo-text-19 {
  font-size: 16rem; }

.evo-text-20 {
  font-size: 21rem; }

.evo-text-21 {
  font-size: 26rem; }

.evo-text-22 {
  font-size: 34rem; }

.evo-text-23 {
  font-size: 42rem; }

.evo-text-24 {
  font-size: 55rem; }

.evo-text-25 {
  font-size: 68rem; }

.evo-leading-reset {
  line-height: initial; }

.evo-leading-0 {
  line-height: 0.2; }

.evo-leading-1 {
  line-height: 0.275; }

.evo-leading-2 {
  line-height: 0.375; }

.evo-leading-3 {
  line-height: 0.5; }

.evo-leading-4 {
  line-height: 0.625; }

.evo-leading-5 {
  line-height: 0.75; }

.evo-leading-6 {
  line-height: 0.875; }

.evo-leading-7 {
  line-height: 1; }

.evo-leading-8 {
  line-height: 1.125; }

.evo-leading-9 {
  line-height: 1.3125; }

.evo-leading-10 {
  line-height: 1.4375; }

.evo-leading-11 {
  line-height: 1.875; }

.evo-leading-12 {
  line-height: 2.3125; }

.evo-leading-13 {
  line-height: 2.6875; }

.evo-leading-14 {
  line-height: 3; }

.evo-leading-15 {
  line-height: 3.75; }

.evo-tracking-reset {
  letter-spacing: initial; }

.evo-tracking-0 {
  letter-spacing: -0.2em; }

.evo-tracking-1 {
  letter-spacing: -0.1875em; }

.evo-tracking-2 {
  letter-spacing: -0.175em; }

.evo-tracking-3 {
  letter-spacing: -0.1625em; }

.evo-tracking-4 {
  letter-spacing: -0.15em; }

.evo-tracking-5 {
  letter-spacing: -0.1375em; }

.evo-tracking-6 {
  letter-spacing: -0.125em; }

.evo-tracking-7 {
  letter-spacing: -0.1em; }

.evo-tracking-8 {
  letter-spacing: -0.075em; }

.evo-tracking-9 {
  letter-spacing: -0.05em; }

.evo-tracking-10 {
  letter-spacing: -0.025em; }

.evo-tracking-11 {
  letter-spacing: 0em; }

.evo-tracking-12 {
  letter-spacing: 0.025em; }

.evo-tracking-13 {
  letter-spacing: 0.05em; }

.evo-tracking-14 {
  letter-spacing: 0.1em; }

.evo-tracking-15 {
  letter-spacing: 0.15em; }

.evo-tracking-16 {
  letter-spacing: 0.2em; }

.evo-tracking-17 {
  letter-spacing: 0.275em; }

.evo-tracking-18 {
  letter-spacing: 0.375em; }

.evo-tracking-19 {
  letter-spacing: 0.5em; }

.evo-tracking-20 {
  letter-spacing: 0.625em; }

.evo-tracking-21 {
  letter-spacing: 0.75em; }

.evo-tracking-22 {
  letter-spacing: 0.875em; }

.evo-tracking-23 {
  letter-spacing: 1em; }

.evo-tracking-24 {
  letter-spacing: 1.125em; }

.evo-tracking-25 {
  letter-spacing: 1.3125em; }

.evo-text-smallest {
  font-size: 0.5rem; }

.evo-text-smaller {
  font-size: 0.75rem; }

.evo-text-small {
  font-size: 1rem; }

.evo-text-big {
  font-size: 1.875rem; }

.evo-text-bigger {
  font-size: 2.6875rem; }

.evo-text-biggest {
  font-size: 3.75rem; }

.evo-text-jumbo {
  font-size: 6rem; }

.evo-text-giant {
  font-size: 10rem; }

.evo-leading-tightest {
  line-height: 0.5; }

.evo-leading-tighter {
  line-height: 0.75; }

.evo-leading-tight {
  line-height: 1; }

.evo-leading-loose {
  line-height: 1.3125; }

.evo-leading-looser {
  line-height: 1.875; }

.evo-leading-loosest {
  line-height: 2.6875; }

.evo-tracking-tightest {
  letter-spacing: -0.075em; }

.evo-tracking-tighter {
  letter-spacing: -0.05em; }

.evo-tracking-tight {
  letter-spacing: -0.025em; }

.evo-tracking-loose {
  letter-spacing: 0.025em; }

.evo-tracking-looser {
  letter-spacing: 0.05em; }

.evo-tracking-loosest {
  letter-spacing: 0.1em; }

.evo-measure-1 {
  max-width: 10rem; }

.evo-measure-widest {
  max-width: 70rem; }

.evo-measure-wider {
  max-width: 60rem; }

.evo-measure-wide {
  max-width: 50rem; }

.evo-measure-tight {
  max-width: 40rem; }

.evo-measure-tighter {
  max-width: 30rem; }

.evo-measure-tightest {
  max-width: 20rem; }

.evo-measure-1 {
  max-width: 10rem; }

.evo-measure-2 {
  max-width: 13rem; }

.evo-measure-3 {
  max-width: 16rem; }

.evo-measure-4 {
  max-width: 21rem; }

.evo-measure-5 {
  max-width: 26rem; }

.evo-measure-6 {
  max-width: 34rem; }

.evo-measure-7 {
  max-width: 42rem; }

.evo-measure-8 {
  max-width: 55rem; }

.evo-measure-9 {
  max-width: 68rem; }

.evo-measure-10 {
  max-width: 80rem; }

.evo-measure-11 {
  max-width: 100rem; }

.evo-measure-12 {
  max-width: 120rem; }

.evo-measure-13 {
  max-width: 130rem; }

.evo-measure-14 {
  max-width: 140rem; }

.evo-measure-15 {
  max-width: 150rem; }

/* COLORS */
.evo-red {
  color: #ed1c24; }

.evo-red-bg {
  background-color: #ed1c24; }

.evo-green {
  color: #00a651; }

.evo-green-bg {
  background-color: #00a651; }

.evo-blue {
  color: #2e3192; }

.evo-blue-bg {
  background-color: #2e3192; }

.evo-cyan {
  color: #00aeef; }

.evo-cyan-bg {
  background-color: #00aeef; }

.evo-magenta {
  color: #ec008c; }

.evo-magenta-bg {
  background-color: #ec008c; }

.evo-yellow {
  color: #fff200; }

.evo-yellow-bg {
  background-color: #fff200; }

/*      SPACE     */
.evo-space, .evo-space-0, .evo-space-1, .evo-space-2, .evo-space-3, .evo-space-4, .evo-space-5, .evo-space-6, .evo-space-7, .evo-space-8, .evo-space-9, .evo-space-10, .evo-space-11, .evo-space-12, .evo-space-13, .evo-space-14, .evo-space-15, .evo-space-16, .evo-space-17, .evo-space-18, .evo-space-19, .evo-space-20, .evo-space-21, .evo-space-22, .evo-space-23, .evo-space-24 {
  width: auto;
  clear: both; }

.evo-space-0 {
  height: 1px; }

.evo-space-1 {
  height: 2px; }

.evo-space-2 {
  height: 4px; }

.evo-space-3 {
  height: 6px; }

.evo-space-4 {
  height: .5rem; }

.evo-space-5 {
  height: .625rem; }

.evo-space-6 {
  height: .75rem; }

.evo-space-7 {
  height: .875rem; }

.evo-space-8 {
  height: 1rem; }

.evo-space-9 {
  height: 1.125rem; }

.evo-space-10 {
  height: 1.3125rem; }

.evo-space-11 {
  height: 1.4375rem; }

.evo-space-12 {
  height: 1.875rem; }

.evo-space-13 {
  height: 2.3125rem; }

.evo-space-14 {
  height: 2.6875rem; }

.evo-space-15 {
  height: 3rem; }

.evo-space-16 {
  height: 3.75rem; }

.evo-space-17 {
  height: 5rem; }

.evo-space-18 {
  height: 6rem; }

.evo-space-19 {
  height: 8rem; }

.evo-space-20 {
  height: 10rem; }

.evo-space-21 {
  height: 13rem; }

.evo-space-22 {
  height: 16rem; }

.evo-space-23 {
  height: 21rem; }

.evo-space-24 {
  height: 26rem; }

/* SHADOWS */
.text-shadow-0 {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5); }

.text-shadow-1 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.text-shadow-2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }

.text-shadow-3 {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); }

.text-shadow-4 {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); }

.text-shadow-5 {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }

.text-shadow-6 {
  text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5); }

.box-shadow-reset {
  box-shadow: initial; }

.box-shadow-none {
  box-shadow: none; }

.box-shadow-inherit {
  box-shadow: inherit; }

.box-shadow {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05); }

.box-shadow-inset {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.03) inset; }

.box-shadow-offset {
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.07); }

.box-shadow-offset-more {
  box-shadow: 8px 8px 20px 2px rgba(0, 0, 0, 0.06); }

.box-shadow-offset-most {
  box-shadow: 12px 12px 30px 2px rgba(0, 0, 0, 0.05); }

.box-shadow-test {
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2); }

.box-shadow-0 {
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.2); }

.box-shadow-1 {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1); }

.box-shadow-2 {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1); }

.box-shadow-3 {
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1); }

.box-shadow-4 {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1); }

.box-shadow-5 {
  box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.1); }

.box-shadow-6 {
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.1); }

.box-shadow-7 {
  box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.1); }

.box-shadow-8 {
  box-shadow: 0 0 32px 16px rgba(0, 0, 0, 0.1); }

.box-shadow-9 {
  box-shadow: 0 0 48px 24px rgba(0, 0, 0, 0.1); }

.box-shadow-10 {
  box-shadow: 0 0 64px 32px rgba(0, 0, 0, 0.1); }

.box-shadow-11 {
  box-shadow: 0 0 96px 48px rgba(0, 0, 0, 0.1); }

.box-shadow-12 {
  box-shadow: 0 0 128px 64px rgba(0, 0, 0, 0.1); }

.box-shadow-right-0 {
  box-shadow: 0px; }

.box-shadow-right-1 {
  box-shadow: 1px; }

.box-shadow-right-2 {
  box-shadow: 2px 0; }

.box-shadow-right-3 {
  box-shadow: 3px 0; }

.box-shadow-right-4 {
  box-shadow: 4px 0; }

.box-shadow-right-5 {
  box-shadow: 5px 0; }

.box-shadow-right-6 {
  box-shadow: 6px 0; }

.box-shadow-right-7 {
  box-shadow: 7px 0; }

.box-shadow-right-8 {
  box-shadow: 8px 0; }

.box-shadow-right-9 {
  box-shadow: 9px 0; }

.box-shadow-right-10 {
  box-shadow: 10px 0; }

.box-shadow-right-15 {
  box-shadow: 15px 0; }

.box-shadow-right-20 {
  box-shadow: 20px 0; }

.box-shadow-right-25 {
  box-shadow: 25px 0; }

.box-shadow-right-30 {
  box-shadow: 30px 0; }

.box-shadow-right-35 {
  box-shadow: 35px 0; }

.box-shadow-right-40 {
  box-shadow: 40px 0; }

.box-shadow-right-45 {
  box-shadow: 45px 0; }

.box-shadow-right-50 {
  box-shadow: 50px 0; }

.box-shadow-down-0 {
  box-shadow: 0 0px 1px -1px; }

.box-shadow-down-1 {
  box-shadow: 0 1px 1px -1px; }

.box-shadow-down-2 {
  box-shadow: 0 2px 1px -1px; }

.box-shadow-down-3 {
  box-shadow: 0 3px 1px -1px; }

.box-shadow-down-4 {
  box-shadow: 0 4px 1px -1px; }

.box-shadow-down-5 {
  box-shadow: 0 5px 1px -1px; }

.box-shadow-down-6 {
  box-shadow: 0 6px 1px -1px; }

.box-shadow-down-7 {
  box-shadow: 0 7px 1px -1px; }

.box-shadow-down-8 {
  box-shadow: 0 8px 1px -1px; }

.box-shadow-down-9 {
  box-shadow: 0 9px 1px -1px; }

.box-shadow-down-10 {
  box-shadow: 0 10px 1px -1px; }

.box-shadow-down-15 {
  box-shadow: 0 15px 1px -1px; }

.box-shadow-down-20 {
  box-shadow: 0 20px 1px -1px; }

.box-shadow-down-25 {
  box-shadow: 0 25px 1px -1px; }

.box-shadow-down-30 {
  box-shadow: 0 30px 1px -1px; }

.box-shadow-down-35 {
  box-shadow: 0 35px 1px -1px; }

.box-shadow-down-40 {
  box-shadow: 0 40px 1px -1px; }

.box-shadow-down-45 {
  box-shadow: 0 45px 1px -1px; }

.box-shadow-down-50 {
  box-shadow: 0 50px 1px -1px; }

.box-shadow-alpha-0 {
  box-shadow: transparent; }

.box-shadow-alpha-1 {
  box-shadow: rgba(0, 0, 0, 0.1); }

.box-shadow-alpha-2 {
  box-shadow: rgba(0, 0, 0, 0.2); }

.box-shadow-alpha-3 {
  box-shadow: rgba(0, 0, 0, 0.3); }

.box-shadow-alpha-4 {
  box-shadow: rgba(0, 0, 0, 0.4); }

.box-shadow-alpha-5 {
  box-shadow: rgba(0, 0, 0, 0.5); }

.box-shadow-alpha-6 {
  box-shadow: rgba(0, 0, 0, 0.6); }

.box-shadow-alpha-7 {
  box-shadow: rgba(0, 0, 0, 0.7); }

.box-shadow-alpha-8 {
  box-shadow: rgba(0, 0, 0, 0.8); }

.box-shadow-alpha-9 {
  box-shadow: rgba(0, 0, 0, 0.9); }

.box-shadow-alpha-10 {
  box-shadow: black; }

.box-shadow-spread-1 {
  box-shadow: 0 0 0 1px; }

.box-shadow-spread-2 {
  box-shadow: 0 0 0 2px; }

.box-shadow-spread-3 {
  box-shadow: 0 0 0 3px; }

.box-shadow-spread-4 {
  box-shadow: 0 0 0 4px; }

.box-shadow-spread-5 {
  box-shadow: 0 0 0 5px; }

.box-shadow-spread-6 {
  box-shadow: 0 0 0 6px; }

.box-shadow-spread-7 {
  box-shadow: 0 0 0 7px; }

.box-shadow-spread-8 {
  box-shadow: 0 0 0 8px; }

.box-shadow-spread-9 {
  box-shadow: 0 0 0 9px; }

.box-shadow-spread-10 {
  box-shadow: 0 0 0 10px; }

.box-shadow-spread-15 {
  box-shadow: 0 0 0 15px; }

.box-shadow-spread-20 {
  box-shadow: 0 0 0 20px; }

.box-shadow-spread-25 {
  box-shadow: 0 0 0 25px; }

.box-shadow-spread-30 {
  box-shadow: 0 0 0 30px; }

.box-shadow-spread-35 {
  box-shadow: 0 0 0 35px; }

.box-shadow-spread-40 {
  box-shadow: 0 0 0 40px; }

.box-shadow-spread-45 {
  box-shadow: 0 0 0 45px; }

.box-shadow-spread-50 {
  box-shadow: 0 0 0 50px; }

.box-shadow-spread-55 {
  box-shadow: 0 0 0 55px; }

.box-shadow-spread-60 {
  box-shadow: 0 0 0 60px; }

.box-shadow-spread-65 {
  box-shadow: 0 0 0 65px; }

.box-shadow-spread-70 {
  box-shadow: 0 0 0 70px; }

.box-shadow-spread-75 {
  box-shadow: 0 0 0 75px; }

.box-shadow-spread-80 {
  box-shadow: 0 0 0 80px; }

.box-shadow-spread-85 {
  box-shadow: 0 0 0 85px; }

.box-shadow-spread-85 {
  box-shadow: 0 0 0 85px; }

.box-shadow-spread-90 {
  box-shadow: 0 0 0 90px; }

.box-shadow-spread-95 {
  box-shadow: 0 0 0 95px; }

.box-shadow-spread-100 {
  box-shadow: 0 0 0 100px; }

.box-shadow-spread-150 {
  box-shadow: 0 0 0 150px; }

.box-shadow-blur-1 {
  box-shadow: 0 0 1px; }

.box-shadow-blur-2 {
  box-shadow: 0 0 2px; }

.box-shadow-blur-3 {
  box-shadow: 0 0 3px; }

.box-shadow-blur-4 {
  box-shadow: 0 0 4px; }

.box-shadow-blur-5 {
  box-shadow: 0 0 5px; }

.box-shadow-blur-6 {
  box-shadow: 0 0 6px; }

.box-shadow-blur-7 {
  box-shadow: 0 0 7px; }

.box-shadow-blur-8 {
  box-shadow: 0 0 8px; }

.box-shadow-blur-9 {
  box-shadow: 0 0 9px; }

.box-shadow-blur-10 {
  box-shadow: 0 0 10px; }

.box-shadow-blur-15 {
  box-shadow: 0 0 15px; }

.box-shadow-blur-20 {
  box-shadow: 0 0 20px; }

.box-shadow-blur-25 {
  box-shadow: 0 0 25px; }

.box-shadow-blur-30 {
  box-shadow: 0 0 30px; }

.box-shadow-blur-35 {
  box-shadow: 0 0 35px; }

.box-shadow-blur-40 {
  box-shadow: 0 0 40px; }

.box-shadow-blur-45 {
  box-shadow: 0 0 45px; }

.box-shadow-blur-50 {
  box-shadow: 0 0 50px; }

.box-shadow-blur-55 {
  box-shadow: 0 0 55px; }

.box-shadow-blur-60 {
  box-shadow: 0 0 60px; }

.box-shadow-blur-65 {
  box-shadow: 0 0 65px; }

.box-shadow-blur-70 {
  box-shadow: 0 0 70px; }

.box-shadow-blur-75 {
  box-shadow: 0 0 75px; }

.box-shadow-blur-80 {
  box-shadow: 0 0 80px; }

.box-shadow-blur-85 {
  box-shadow: 0 0 85px; }

.box-shadow-blur-90 {
  box-shadow: 0 0 90px; }

.box-shadow-blur-95 {
  box-shadow: 0 0 95px; }

.box-shadow-blur-100 {
  box-shadow: 0 0 100px; }

.box-shadow-blur-150 {
  box-shadow: 0 0 150px; }

.l-grid-block {
  background-color: #FFFFFF;
  /* E4DDCA */
  height: 300px;
  margin: 40px;
  /*  border: 1px solid #ccc;
  -moz-box-shadow: 2px 3px 5px 4px #ccc;
  -webkit-box-shadow: 2px 3px 5px 4px #ccc;
  box-shadow: 2px 3px 5px 4px #ccc;*/
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 14px #fff, 0px 0px 0px 15px rgba(0, 0, 0, 0.1), 3px 3px 4px 15px #ccc;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 14px #fff, 0px 0px 0px 15px rgba(0, 0, 0, 0.1), 3px 3px 4px 15px #ccc;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 14px #fff, 0px 0px 0px 15px rgba(0, 0, 0, 0.1), 3px 3px 4px 15px #ccc; }

div.ad-shadow-300 {
  width: 300px;
  box-shadow: 0 34px 58px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center; }
