/*******************************************************************************
*
* evolution.css
*
* The goal of this file is to capture all Evolution styles, used throughout the 
* Elements site; some page specific styles are captured in seperate css files 
* which are animation.css, style.css and stylguide.css. These three files can be 
* found in same directory (css/)
*
*
* Outline: (update as needed)
*   _VARIABLES - Variables for controlling certain element structures and styles
*              - All the variables are in this file
*   _COLORS - 5 different color palettes are included in this file
*   _FONTS - 4 different font families are included in this file
*   _HEADERS - 30 different button sizes (sizes are incrementing from min 1 to max 30)
*              4 different styles: regular, bold, caps, bold-caps
*              By default comes with line above headers (just use .evo-no-line class to toggle line)
*   _TEXT - 2 different styles: regular and bold (size 1 - 30)
*         - _TEXT is also used within orderd/unorderd list
*         - 4 different list styes: regular/no-style, bullets, numbers and lines
*         - bullets list are using custom SVGs
*   _BUTTONS - 30 different button sizes (sizes are incrementing from min 1 to max 30)
*            - http://elements.humanig.com/#/buttons
*   _FORMS - selection of input types: date input, file input, time input, radio button, checkbox, 
*            dropdown menu, text input, number input
*   _LINES - few different options with lines: solid, dots, dash (size 1 - 10)
*          - borders: top border (solid, dots, dash), (size 1 - 10)
*                     bottom border (solid, dots, dash), (size 1 - 10)
*          - boxes: (solid, dots, dash), (size 1 - 10)        
*          - double: (solid), (size 1 - 10)
*   _IMAGES - 3 different styles: Equal(square, rounded, circle), Wide, Tall
*   _SPACERS - Create space between elements (size 1 - 30)
*   _ERRORS - A selection of aliases that forgive common mistypes
*
*******************************************************************************/
/* Reset Bootstrap 3 Opinions */
html,
body {
  font-weight: initial;
  color: initial;
  font-style: initial; }

body {
  line-height: initial;
  background-color: initial; }

h1,
h2,
h3,
h4,
h5,
h6,
div,
p {
  font-size: initial;
  margin: 0;
  padding: 0; }

a {
  color: initial;
  text-decoration: none; }

a:hover,
a:focus {
  color: initial;
  text-decoration: initial; }

button,
input {
  line-height: normal; }

img {
  vertical-align: initial; }

address {
  font-style: normal; }

abbr[title] {
  border-bottom: 0px; }

dfn {
  font-style: normal; }

hr {
  margin-top: initial;
  margin-bottom: initial;
  border: 0;
  border-top: 1px solid; }

/* Useful Bootstrap 3 settings */
html {
  -webkit-tap-highlight-color: transparent; }

mark {
  background: #ff0;
  color: #000; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  margin: 0.67em 0; }

figcaption,
figure,
main {
  /* 1 */
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

fieldset {
  border: initial;
  margin: initial;
  padding: initial; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

/* This CSS is generated by Evolution version 2.0.0 https://labelle.github.io/evolution/ Copyright 2016 Labelle Creative LLC License MIT */
