a.evo-icon-circle-chevron-right-book:hover {
   background-image: url(../icons-gray/book-gray/circle-chevron-book-gray.svg);
}

a.evo-icon-circle-chevron-right-book-inverse:hover {
   background-image: url(../icons-gray/book-gray/circle-chevron-book-gray.svg);
}


a.evo-icon-double-chevron-right-book:hover {
   background-image: url(../icons-gray/book-gray/double-chevron-book-gray.svg);
}

a.evo-icon-double-chevron-right-book-inverse:hover {
   background-image: url(../icons-gray/book-gray/double-chevron-book-gray.svg);
}

a.evo-icon-double-chevron-down-book-inverse:hover {
   background-image: url(../icons-gray/book-gray/double-chevron-book-gray.svg);
}


/* evo-icon-mail */
a.evo-icon-mail-book:hover {
   background-image: url(../icons-gray/book-gray/mail-book-gray.svg);
}

a.evo-icon-mail-book-inverse:hover {
   background-image: url(../icons-gray/book-gray/mail-book-gray.svg);
}

a.evo-icon-close:hover {
   background-image: url(../icons-gray/book-gray/close-book-gray.svg);
   cursor: pointer;
}

a.hamburger:hover, a.hamburger-inverse:hover {
   background-image: url(../icons-gray/book-gray/menu-book-gray.svg);
}


