#inner-header {
  width: 100%;
  text-align: center; }
  #inner-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right; }
  #inner-header li {
    display: inline-block;
    margin-right: 20px;
    line-height: 30px; }
    #inner-header li:last-child {
      margin-right: 0; }

.logo {
  display: block;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: -10px;
  margin-top: 15px;
  padding-bottom: 4px; }

/* Elements Header */
/*********************
         BREADCRUMBS
*********************/
.breadcrumb-library {
  margin-left: -50px;
  margin-top: -7px; }

.breadcrumb-elements {
  margin-left: -13px;
  margin-top: -7px; }

.breadcrumb-documentation {
  margin-left: -24px;
  margin-top: -7px; }

.breadcrumb-download {
  margin-left: -50px;
  margin-top: -7px; }

/*********************
NAVIGATION STYLES
*********************/
.main-nav {
  margin: 0;
  display: none; }
  .main-nav li a {
    display: block;
    color: #000000;
    text-decoration: none;
    text-align: left;
    padding: 1em; }

.main-nav li a:hover {
    color: #7f7f7f; }

/*********************
NAVIGATION STYLES
*********************/
.text-sidenav {
  margin-left: 28px; }
  .text-sidenav li {
    font-size: 0.80rem; }

/*********************
BANNER
*********************/
.elements-banner-links {
  display: inline-block;
  position: absolute;
  width: 100%;
  margin-left: 5px;
  margin-top: -2px; }

.signup-banner {
  height: 400px;
  max-width: 100%;
  width: auto\9;
  /* ie8 */
  padding-top: 1px;
  background-attachment: relative;
  background-position: center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.banner-wrapper {
  display: block; }

/*********************
RESPONSIVE NAV
*********************/
.hamburger:hover, .hamburger:focus, .hamburger-inverse:hover, .hamburger-inverse:focus {
  text-decoration: none; }

.hamburger {
  background-image: url("../img/icons/book/menu-book.svg");
  background-size: 22px 22px;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-top: 8px;
  content: ""; }

.hamburger-inverse {
  background-image: url("../icons-inverse/book-inverse/menu-book-inverse.svg");
  background-size: 22px 22px;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-top: 8px;
  content: ""; }

.responsive-wrapper {
  display: none; }
  .responsive-wrapper a {
    display: block;
    width: 100%;
    line-height: 2;
    text-align: center;
    background: #fff; }

#evo-logo {
  margin-top: 17px; }

/*********************
    BANNER STYLES
*********************/
.elements-banner {
  background-color: #ededed; }

.ng-pageslide {
  background: #eee; }

body.ng-pageslide-body-open::before {
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  background-color: black;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.5;
  transition: opacity 1s; }

body.ng-pageslide-body-closed::before {
  transition: opacity 1s;
  opacity: 0;
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  background-color: black;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none; }

/*********************
MAIN NAVIGATION
*********************/
a:hover {
  color: #7f7f7f;
  cursor: pointer; }

/*********************
DEFAULT
*********************/
.default-hover {
  color: #7f7f7f;
}

.default-highlight {
  background-color: #7f7f7f;
  color: #ffffff;
}

.default-solid {
  color: #ffffff;
  background-color: #7f7f7f;
}


/*********************
MAIN PAGE
*********************/
#content {
  margin-top: 1.5em; }

.slider {
  margin-bottom: 30px; }

.image-slider {
  max-height: 400px; }
  .image-slider img {
    width: 100%; }

/*********************
        PATTERN
*********************/
.pattern-bg {
  background-image: url("../img/pattern-stripes.jpg"); }

/*********************
ELEMENTS LIBRARY
*********************/
.clearfix {
  overflow: auto; }

.margin-top-120 {
  margin-top: 120px; }

.margin-top-100 {
  margin-top: 100px; }

.margin-top-85 {
  margin-top: 85px; }

.margin-top-80 {
  margin-top: 80px; }

.padding-top-7 {
  padding-top: 7px; }

.padding-top-10 {
  padding-top: 10px; }

.margin-right-35 {
  padding-right: 35px; }

.margin-right-50 {
  padding-right: 50px; }

.margin-right-75 {
  padding-right: 75px; }

.container-elements-library {
  height: 200px; }

.container-elements-library-big {
  height: 300px; }

.img-height {
  min-height: 150px; }

.evo-unindent {
  margin-left: -40px; }

.evo-line-handle {
  display: inline-block;
  width: 100%;
  height: 30px; }

.evo-border-handle {
  display: inline-block;
  width: 100%;
  height: 100px; }

.evo-border-handle-doc {
  display: inline-block;
  width: 100%;
  height: 48px; }

.evo-box-handle {
  display: inline-block;
  width: 100%;
  height: 50px; }

.evo-box-handle-big {
  display: inline-block;
  width: 100%;
  height: 75px; }

.evo-box-handle-bigger {
  display: inline-block;
  width: 100%;
  height: 100px; }

.line-desktop {
  width: 115%; }

.no-wrap {
  white-space: nowrap; }

/*********************
BRANDING
*********************/
.use {
  position: relative;
  right: 1%;
  top: 46px; }

.use-within {
  right: 10.5%;
  top: 22px; }

.use-big {
  position: relative;
  right: 1%;
  top: 56px; }

.use-small {
  position: relative;
  right: 1%;
  top: 41px; }

.social-media-modal .btn-social-modal {
  display: inline-block;
  width: 55px;
  height: 55px;
  border: 1px solid #000000;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0 0 1px 0px #000000 inset, 0 0 1px 0px #000000;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  line-height: 20px; }

.social-media-modal .btn-social-modal i {
  color: #000000; }

.social-media-modal .socials-modal > li {
  margin: 0px -1px; }

.social-media-modal .socials-modal > li i {
  margin: 15px 0; }

.social-media-modal .socials-modal li:nth-child(1):hover a {
  background: #000000;
  border: none; }

.social-media-modal .socials-modal li:nth-child(2):hover a {
  background: #000000;
  border: none; }

.social-media-modal .socials-modal li:nth-child(3):hover a {
  background: #000000;
  border: none; }

.social-media-modal .socials-modal li:nth-child(4):hover a {
  background: #000000;
  border: none; }

.social-media-modal .socials-modal li:nth-child(5):hover a {
  background: #000000;
  border: none; }

.social-media-modal .socials-modal > li:hover i {
  color: #ffffff; }

/*********************
    TOOLKIT
*********************/
.remove-hover-decoration a, .remove-hover-decoration a:hover {
  cursor: default !important;
  border: 1px solid #000000 !important;
  color: black !important; }

.color-box-full {
  display: inline-block;
  height: 140px; }

.dash-box {
  border-style: dashed;
  border-width: 1px;
  color: #7f7f7f;
  clear: both; }

/*********************
  DOCUMENTATION
*********************/
.color-box-doc {
  width: 100%;
  height: 70px; }

.color-box-light-doc {
  position: absolute;
  width: 87%;
  height: 50%;
  margin-top: 12px;
  margin-left: 15px; }

/*********************
  DOWNLOADS
*********************/
.download-bash {
  margin-left: -85px; }

/*********************
ngCloak 
*********************/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/*********************************************
 *********************************************
    IMPORTED AND TRANSLATED FROM TOUCH.LESS FILE
 *********************************************
**********************************************/
/***********************************
Image toggle in templates/images.html file
***********************************/
.evo_wrapper {
  width: 150px;
  display: inline-block; }

.col-img-toggle {
  margin-top: 25px; }

.img_toggle {
  background-image: url("../img/monolake.jpg"); }

.monolake-img {
  background-image: url("../img/monolake.jpg"); }

/***********************************
Toggle space outlines in templates/spacers.html file
***********************************/
.evo_divs span {
  padding-left: 5px; }

/* show divider outlines and line */
.divider_outline {
  outline: 1px dashed #ec008c; }

/********************************************************
Toggle lines above headers in templates/spacers.html file
********************************************************/
.give_spec {
  position: relative; }

.no-line {
  border-top: 0px !important; }

/********************************************************
"code" boxes that show examples of programming language
********************************************************/
.value {
  color: #7f7f7f;
  background-color: rgba(0, 166, 81, .04);
}

.code {
  display: block;
  width: 100%;
  margin: 25px 0;
  border: 1px solid #B2B2B2;
  padding: 25px;
  background-color: #F2F2F2;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  word-wrap: break-word; }


.input-focus>select,
input[type="text"].text-focus {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.38rem;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline-color: rgba(59, 153, 252, 1);
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}


.input-focus-inverse>select,
input[type="text"].text-focus-inverse {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.38rem;
  border-radius: 5px;
  color: #ffffff;
  background-color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline-color: rgba(59, 153, 252, 1);
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}


/*Disabled Form Input*/

input[type="text"]:disabled {
  border-color: rgba(0,0,0, .15);
}
input[type="text"]:disabled::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0,0,0, .15);
}
input[type="text"]:disabled::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0,0,0, .15);
}
input[type="text"]:disabled:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0,0,0, .15);
}
input[type="text"]:disabled:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0, .15);
}


/*Disabled Inverse Form Input*/

input[type="text"].text-inverse-disabled {
  border-color: rgba(255,255,255, .15);
  pointer-events: none;
  cursor: default;
}
input[type="text"].text-inverse-disabled::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255, .15);
}
input[type="text"].text-inverse-disabled::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255, .15);
}
input[type="text"].text-inverse-disabled:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255, .15);
}
input[type="text"].text-inverse-disabled:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255, .15);
}




/*Disabled Dropdown Input*/

select:disabled {
  border-color: rgba(0,0,0, .15);
  color: rgba(0,0,0, .15);
  background-color: rgba(0,0,0, .03);
}


/*Disabled Inverse Dropdown Input*/

select.dropdown-inverse-disabled {
  border-color: rgba(255,255,255, .15);
  color: rgba(255,255,255, .15);
  background-color: rgba(255,255,255, .03);
  pointer-events: none;
  cursor: default;
}


/*Disabled Checkbox Input*/

input[type=checkbox]:disabled + label:before {
  border-color: rgba(0,0,0, .15);
  pointer-events: none;
  cursor: default;
}

input[type=checkbox]:disabled + label {
  color: rgba(0,0,0, .15);
  pointer-events: none;
  cursor: default;
}


/*Disabled Inverse Checkbox Input*/

input[type=checkbox].checkbox-inverse-disabled + label:before {
  border-color: rgba(255,255,255, .15);
  pointer-events: none;
  cursor: default;

}

input[type=checkbox].checkbox-inverse-disabled + label {
  color: rgba(255,255,255, .15);
  pointer-events: none;
  cursor: default;
}




/*Disabled radio Input*/

input[type=radio]:disabled + label:before {
  border-color: rgba(0,0,0, .15);
  pointer-events: none;
  cursor: default;
}

input[type=radio]:disabled + label {
  color: rgba(0,0,0, .15);
  pointer-events: none;
  cursor: default;
}


/*Disabled Inverse radio Input*/

input[type=radio].radio-inverse-disabled + label:before {
  border-color: rgba(255,255,255, .15);
  pointer-events: none;
  cursor: default;

}

input[type=radio].radio-inverse-disabled + label {
  color: rgba(255,255,255, .15);
  pointer-events: none;
  cursor: default;
}





pre.code {
  border-radius: 0px; }

.indent-10 {
  margin-left: 10px; }

.indent-20 {
  margin-left: 20px; }

.indent-30 {
  margin-left: 30px; }

.indent-40 {
  margin-left: 40px; }

.indent-50 {
  margin-left: 50px; }

.indent-60 {
  margin-left: 60px; }

.indent-70 {
  margin-left: 70px; }

.indent-80 {
  margin-left: 70px; }

.indent-90 {
  margin-left: 70px; }

.comment-color {
  color: #999; }

.tag-color {
  color: #7f7f7f; }

.attribute-color {
  color: #00aeef; }

.value-color {
  color: #4B0082; }

/********************************************************
neutral colors translating from touch.less file
********************************************************/
.color_swatch_bar {
  cursor: pointer;
  outline: 1px solid transparent;
  transition: outline linear .3s;
  width: 100%;
  height: 44px; }

.color_swatch_bar:hover {
  outline: 1px solid #000000;
  transition: outline linear 0s; }

.color_swatch_bar span:nth-of-type(2) {
  float: right; }

.color_column_white_container {
  min-height: 245px;
  color: #FFFFFF;
  background-color: #ec008c;
  font-size: 0.8rem; }

.color_column_white_container .color_swatch_bar:hover {
  outline: 1px solid #FFFFFF; }

.color_column_white_container .color_column_container {
  background-color: #ec008c; }

.color_column_white_container {
  background-color: #000000; }

.color_column_container {
  font-size: 0.8rem;
  position: relative;
  float: left;
  padding: 15px; }

.color_column_row {
  position: relative;
  float: left;
  width: 100%;
  height: 45px; }

.reverse {
  color: #FFFFFF !important;
  border-color: #FFFFFF; }

.tag {
  line-height: 0.69rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.57rem;
  letter-spacing: 0.035rem;
  float: left;
  margin: 5px 15px 15px 10px;
  color: #262626; }

/********************************************************
ANNOTATIONS
********************************************************/
.annotation, .annotation-inverse {
  line-height: 0.82rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.66rem;
  letter-spacing: 0.03rem;
  padding-bottom: 10px;
  padding-top: 25px; }

.annotation-big, .annotation-inverse-big {
  line-height: 0.82rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.66rem;
  letter-spacing: 0.03rem;
  padding-bottom: 20px;
  padding-top: 35px; }

.annotation-small, .annotation-inverse-small {
  line-height: 0.82rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.66rem;
  letter-spacing: 0.03rem;
  padding-bottom: 5px;
  padding-top: 25px; }

.annotation-inverse-small {
  color: #ffffff; }

.annotation-inverse {
  color: #ffffff; }

.annotation-inverse-big {
  color: #ffffff; }

/***************************************
grid translating from touch.less file
****************************************/
.bootstrap_info div {
  outline: 1px solid #7f7f7f;
  box-sizing: border-box; }

.bootstrap_info .inner {
  background-color: #FFFFFF;
  height: 50px;
  overflow: hidden;
  outline: 1px solid #7f7f7f; }

.bootstrap_info .container {
  margin-top: 25px;
  margin-bottom: 25px;
  outline: 0px !important;
  outline: 1px solid #FFFFFF !important; }

.grid_bg {
  background-color: #CCCCCC;
  overflow: hidden; }

/***************************************
icons translating from touch.less file
****************************************/
.icons_row {
  margin: 0px auto;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem; }

.first-row {
  margin-top: 2rem; }

/***************************************
hamburger translating from touch.less file
****************************************/
.hamburger {
  cursor: pointer;
  float: right; }

.hamburger-inverse {
  cursor: pointer;
  float: right; }

.active {
  color: red; }

/***************************************
fullscreen bg video media query part
****************************************/
/* from http://slicejack.com/fullscreen-html5-video-background-css/ */
/* for fixed background use position: fixed; */
.fullscreen-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  overflow: hidden;
  width: auto\9;
  min-width: 100%;
  height: 624px; }

.fullscreen-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: auto\9;
  min-width: 100%;
  min-height: 100%; }

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("../img/IMG_5797.jpg") center center/cover no-repeat; }
  .fullscreen-bg video {
    display: none; } }

/*********************
MOBILE DEVICES
*********************/
@media only screen and (max-width: 320px) {
  /********************
FOOTER STYLES
*********************/
  .btn-social {
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 50px; }
  .footer-nav {
    margin: 0px 0px 0px 40%;
    font-size: 0.73rem; }
  /*********************
HEADER STYLES
*********************/
  /********************
RESPONSIVE NAVIGATION
*********************/ }

@media only screen and (max-width: 375px) {
  /*********************
HEADER STYLES
*********************/
  .elements-subnav li {
    width: 100%;
    margin-left: 7%; }
  .elements-subnav li:nth-child(4) {
    width: 110%; }
  /********************
FOOTER STYLES
*********************/
  .evo-button-inverse-big, .evo-button-inverse-large {
    font-size: 1.25rem !important; }
  .signup-notice {
    margin-top: 0px; }
  .btn-social {
    width: 53px;
    height: 53px;
    font-size: 25px;
    line-height: 50px; }
  .social-media {
    margin: 0px 0px; }
  .list-inline li {
    margin-left: -3.5%; }
  .list-inline li:nth-child(6) {
    margin-left: 1.6%; }
  .footer-nav ul {
    margin-left: -3.5%; }
  .footer-nav ul > li:nth-child(3) {
    margin-left: -40px; }
  .footer-nav ul > li {
    margin-right: 3px; }
  .footer-nav ul > li > i {
    margin-bottom: -4px; }
  /*********************
    BANNER STYLES
*********************/
  .elements-banner {
    height: 700px;
    max-width: 100%;
    width: auto\9;
    /* ie8 */
    padding-top: 1px;
    background-color: #ededed; }
  /********************
RESPONSIVE NAVIGATION
*********************/
  .hamburger {
    background-image: url("../img/icons/book/menu-book.svg");
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 11px;
    content: ""; }
  /********************
    BREADCRUMBS
*********************/
  .breadcrumb-library {
    margin-left: 38px;
    margin-top: -7px; }
  .breadcrumb-elements {
    margin-left: 90px;
    margin-top: -7px; }
  .breadcrumb-documentation {
    margin-left: 38px;
    margin-top: -7px; }
  .breadcrumb-download {
    margin-left: 37px; }
  /********************
SOCIAL BUTTONS INVERSE
*********************/
  .btn-social-inverse {
    width: 53px;
    height: 53px;
    font-size: 25px;
    line-height: 50px; }
  .social-media-inverse {
    margin: 0px 0px; }
  .socials-inverse > li {
    margin: 25px 0px; }
  .socials-inverse > li i {
    margin: 14px 0; }
  .footer-nav-inverse {
    margin-top: 10px;
    margin-left: 7%; }
    .footer-nav-inverse ul > li:nth-child(3) {
      margin-left: -33px; }
    .footer-nav-inverse ul > li {
      margin-right: 20px; }
    .footer-nav-inverse ul > li > i {
      margin-bottom: -4px; }
  /********************
SOCIAL BUTTONS MODAL
*********************/
  .social-media-modal {
    margin-top: 0px;
    margin-bottom: 50px; }
    .social-media-modal .btn-social-modal {
      width: 55px;
      height: 55px;
      font-size: 30px;
      line-height: 55px; }
    .social-media-modal .socials-modal > li {
      margin-left: -5px; }
    .social-media-modal .socials-modal > li i {
      margin: 0px; }
  /*********************
HEADER STYLES
*********************/
  #logo {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: -27px;
    margin-top: 14px;
    padding-bottom: 0px; }
  /*********************
RESPONSIVE NAV
*********************/
  ul.responsive-nav {
    white-space: nowrap; }
    ul.responsive-nav li {
      list-style: none; }
  .video-image {
    background: url("../img/photo-desk-small.jpg") no-repeat center;
    max-width: 100%;
    height: 210px; }
  .video-container {
    display: none !important; }
  /*********************
ELEMENTS LIBRARY
*********************/
  .clearfix {
    clear: both;
    margin-top: 20px; }
  .margin-top-13 {
    margin-top: 13px; }
  .margin-top-20 {
    margin-top: 20px; }
  .margin-top-25 {
    margin-top: 25px; }
  .margin-top-30 {
    margin-top: 30px; }
  .margin-top-80 {
    margin-top: 80px; }
  .margin-top-negative-40 {
    margin-top: -40px; }
  .margin-bottom-50 {
    margin-bottom: 50px; }
  .margin-bottom-mobile-120 {
    margin-bottom: 120px; }
  .text-small {
    font-size: 18px !important; }
  .color-height {
    height: 40px; }
  .use-within {
    right: 37%;
    top: 22px; }
  .line-mobile {
    margin-left: -28px;
    width: 118%; }
  .icons_row {
    height: 0px; } }

@media only screen and (max-width: 414px) {
  /*********************
FOOTER STYLES
*********************/
  .socials > li {
    margin: 10px 0px 30px 0px; }
  .list-inline > li {
    padding-right: 0px;
    padding-left: 11px; }
  .footer-nav {
    margin: 0px 30px 0px 0px; }
  .footer-nav > ul > li {
    padding-left: 35px; }
  .footer-nav {
    margin: 0px 30px 0px 0px;
    font-size: 0.73rem; }
  /*********************
HEADER STYLES
*********************/
  #inner-header {
    width: 100%;
    text-align: left; }
    #inner-header ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    #inner-header li {
      display: block; }
      #inner-header li:last-child {
        margin-right: 0; }
      #inner-header li:last-child p {
        margin-right: 230px; }
  /*********************
        LOGO
*********************/
  /*********************
      HAMBURGER
*********************/
  /*********************
RESPONSIVE NAV
*********************/
  ul.responsive-nav {
    white-space: nowrap; }
    ul.responsive-nav li {
      list-style: none; }
  .video-image {
    background: url("../img/monolake.jpg") no-repeat center;
    max-width: 100%;
    height: 210px; }
  .video-container {
    display: none !important; }
  /*********************
      BREADCRUMB
*********************/
  .breadcrumb-library {
    margin-left: 38px; }
  .breadcrumb-elements {
    margin-left: 90px; }
  .breadcrumb-documentation {
    margin-left: 38px; }
  .breadcrumb-download {
    margin-left: 37px; } }

  /*********************
      INTERACTIONS
*********************/
.brand-color-button-disabled,
.brand-color-solid-button-disabled,
.brand-color-inverse-button-disabled,
.brand-color-inverse-solid-button-disabled {
  margin-bottom: 80px;
}

.mobile-space {
  margin-bottom: 0;
}


/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (min-width: 481px) {
  /******************************************************************

481px and up

******************************************************************/
  /*********************
POSTS & CONTENT STYLES
*********************/
  .container {
    width: 480px; }
  /*********************
NAVIGATION STYLES
*********************/
  .sidenav-nodes {
    display: block; }
  .social-media-inverse {
    width: 430px; }
  /*********************
RESPONSIVE NAV
*********************/
  ul.responsive-nav {
    white-space: nowrap; }
    ul.responsive-nav li {
      list-style: none; } }

/*********************
TABLET & SMALLER LAPTOPS
*********************/
@media only screen and (min-width: 768px) {
  /******************************************************************

768px and up

******************************************************************/
  /*********************
GENERAL STYLES
*********************/
  /*********************
LAYOUT & GRID STYLES
*********************/
  .container {
    width: 760px; }
  /*********************
HEADER STYLES
*********************/
  /*********************
    BANNER STYLES
*********************/
  .elements-banner {
    height: 700px;
    max-width: 100%;
    width: auto\9;
    /* ie8 */
    padding-top: 1px;
    background: #e8eced url("../img/toolkit.gif") no-repeat center;
    background-attachment: relative;
    background-position: center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }
  /*********************
NAVIGATION STYLES
*********************/
  .nav {
    border: 0; }
    .nav ul {
      background: #000000;
      margin-top: 0; }
    .nav li {
      position: relative; }
      .nav li a {
        border-bottom: 0; }
        .nav li a:hover, .nav li a:focus {
          color: #FFFFFF;
          text-decoration: underline; }
  /***************************
RESPONSIVE NAVIGATION STYLES
***************************/
  .hamburger {
    background-image: url("../img/icons/book/menu-book.svg");
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 11px;
    content: ""; }
  .hamburger-inverse {
    background-image: url("../icons-inverse/book-inverse/menu-book-inverse.svg");
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 11px;
    content: ""; }
  ul.responsive-nav {
    white-space: nowrap; }
    ul.responsive-nav li {
      list-style: none; }
  /*********************
SIDENAV
*********************/
  /*********************
ELEMENTS LIBRARY
*********************/
  .margin-bottom-30 {
    margin-bottom: 30px; }
  /*********************
FOOTER
*********************/
  .footer-nav-inverse {
    width: 115%;
    margin-top: 30px;
    margin-left: 80px; } }

/*********************
DESKTOP
*********************/
@media only screen and (min-width: 992px) {
  /******************************************************************

992px and up

******************************************************************/
  .container {
    width: 992px;
    margin: 0 auto; }
  /*********************
HEADER STYLES
*********************/
  #inner-header {
    width: auto; }
  /*********************
NAVIGATION STYLES
*********************/
  .main-nav {
    display: block; }
  .elements-banner {
    height: 700px;
    max-width: 100%;
    width: auto\9;
    /* ie8 */
    padding-top: 1px;
    background: #e8eced url("../img/toolkit.gif") no-repeat center;
    background-attachment: relative;
    background-position: center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }
  /*********************
RESPONSIVE NAV
*********************/
  .hamburger, .hamburger-inverse {
    display: none; }
  .responsive-nav {
    display: none; }
  /*********************
ELEMENTS LIBRARY
*********************/
  .color-box {
    display: inline-block;
    width: 16.666%;
    height: 100px; }
  /*********************
FOOTER
*********************/
  .evo-text-7-inverse .copy {
    margin-left: 25px; }
  .evo-text-7 .copy, .evo-text-07 .copy {
    margin-left: 25px; } }

@media only screen and (min-width: 1030px) {
  /******************************************************************

1030px and up

******************************************************************/
  .container {
    width: 1030px;
    margin: 0 auto; }
  /*********************
HEADER STYLES
*********************/
  #inner-header {
    width: auto; }
  /*********************
NAVIGATION STYLES
*********************/
  .main-nav {
    display: block; }
  /*********************
RESPONSIVE NAV
*********************/
  .hamburger {
    display: none; }
  .responsive-nav {
    display: none; }
  #evo-logo {
    margin-top: 24px !important; }
  /*********************
ELEMENTS LIBRARY
*********************/
  .color-box {
    display: inline-block;
    width: 16.666%;
    height: 100px; }
  /*********************
FOOTER
*********************/
  .evo-text-7-inverse .copy {
    margin-left: 25px; }
  .evo-text-7 .copy, .evo-text-07 .copy {
    margin-left: 25px; } }

/*********************
LARGE VIEWING SIZE
*********************/
@media only screen and (min-width: 1240px) {
  /******************************************************************

1240px and up

******************************************************************/
  .container {
    width: 1240px; }
  /*********************
FOOTER
*********************/
  .evo-text-7-inverse .copy {
    margin-left: 352px; }
  .evo-text-7 .copy, .evo-text-07 .copy {
    margin-left: 352px; }
  /*********************
 RESPONSIVE NAV
*********************/
  #evo-logo {
    margin-top: 24px !important; } }

/*********************
RETINA (2x RESOLUTION DEVICES)
*********************/

/*# sourceMappingURL=style.css.map */
