///*      B R A N D   I M A G E    */


// Generic Brand Images

$brand-image-001:                    "../fpo/image/image-001.png";
$brand-image-002:                    "../fpo/image/image-002.png";
$brand-image-003:                    "../fpo/image/image-003.png";
$brand-image-004:                    "../fpo/image/image-004.png";

// Dark Generic Brand Images

$brand-image-001-dark:               "../fpo/image/image-001-dark.png";
$brand-image-002-dark:               "../fpo/image/image-002-dark.png";
$brand-image-003-dark:               "../fpo/image/image-003-dark.png";
$brand-image-004-dark:               "../fpo/image/image-004-dark.png";


// Brand Images
$brand-image-person:                 "../fpo/image/image-person.png";
$brand-image-place:                  "../fpo/image/image-place.png";
$brand-image-thing:                  "../fpo/image/image-thing.png";
$brand-image-texture:                "../fpo/image/image-texture.png";

$brand-image-fpo:                    "../fpo/image/image-fpo.png";
$brand-image-avatar:                 "../fpo/image/image-avatar.png";
$brand-image-video:                  "../fpo/image/image-video.png";

// Dark Brand Images
$brand-image-person-dark:            "../fpo/image/image-person-dark.png";
$brand-image-place-dark:             "../fpo/image/image-place-dark.png";
$brand-image-thing-dark:             "../fpo/image/image-thing-dark.png";
$brand-image-texture-dark:           "../fpo/image/image-texture-dark.png";

$brand-image-fpo-dark:               "../fpo/image/image-fpo-dark.png";
$brand-image-avatar-dark:            "../fpo/image/image-avatar-dark.png";
$brand-image-video-dark:             "../fpo/image/image-video-dark.png";

