///*      B R A N D   I C O N     */


// FPO Icons
// Found in /guide/

$brand-icon-fpo:                  "../fpo/guide/fpo-icon.png";
$brand-icon-fpo-inverse:          "../fpo/guide/fpo-icon-inverse.png";



// Generic Icons

$brand-icon-001:                  "../fpo/icon/icon-001.png";
$brand-icon-002:                  "../fpo/icon/icon-002.png";
$brand-icon-003:                  "../fpo/icon/icon-003.png";
$brand-icon-004:                  "../fpo/icon/icon-004.png";

// Generic Inverse Icons

$brand-icon-001-inverse:          "../fpo/icon/icon-001-inverse.png";
$brand-icon-002-inverse:          "../fpo/icon/icon-002-inverse.png";
$brand-icon-003-inverse:          "../fpo/icon/icon-003-inverse.png";
$brand-icon-004-inverse:          "../fpo/icon/icon-004-inverse.png";

// Brand Icons

$brand-icon-arrow:                 "../fpo/icon/icon-arrow.png";
$brand-icon-close:                 "../fpo/icon/icon-close.png";
$brand-icon-menu:                  "../fpo/icon/icon-menu.png";
$brand-icon-search:                "../fpo/icon/icon-search.png";

// Brand Inverse Icons

$brand-icon-arrow-inverse:         "../fpo/icon/icon-arrow-inverse.png";
$brand-icon-close-inverse:         "../fpo/icon/icon-close-inverse.png";
$brand-icon-menu-inverse:          "../fpo/icon/icon-menu-inverse.png";
$brand-icon-search-inverse:        "../fpo/icon/icon-search-inverse.png";


