///*      B R A N D   L O G O S     */



// Brand Logos

$brand-logo-001:        "../fpo/logo/logo-001.png";
$brand-logo-002:        "../fpo/logo/logo-002.png";
$brand-logo-003:        "../fpo/logo/logo-003.png";
$brand-logo-004:        "../fpo/logo/logo-004.png";


// Inverse Brand Logos

$brand-logo-001-inverse:        "../fpo/logo/logo-001-inverse.png";
$brand-logo-002-inverse:        "../fpo/logo/logo-002-inverse.png";
$brand-logo-003-inverse:        "../fpo/logo/logo-003-inverse.png";
$brand-logo-004-inverse:        "../fpo/logo/logo-004-inverse.png";

