///*      B R A N D   C O L O R     */




// Brand Colors

$brand-color-1:           		   #eb212e; // red

$brand-color-2:  				   #cbd93e; // lime

$brand-color-3:  				   #00afec; // light blue

$brand-color-4:                    #c9ac40; // gold

// $brand-color-5:                    #CCCCCC; // gray
