///*      B R A N D   C O L O R     */




// Brand Colors

$brand_color_1:           		   #eb212e; // red

$brand_color_2:  				   #cbd93e; // lime

$brand_color_3:  				   #00afec; // light blue

$brand_color_4:                    #c9ac40; // gold

// $brand_color_5:                    #CCCCCC; // gray
