///*      B R A N D   G R A P H I C    */


// Brand Graphics

$brand-graphic-001:                    "../../brand/evo/fpo/graphic/graphic-001.png";
$brand-graphic-002:                    "../../brand/evo/fpo/graphic/graphic-002.png";
$brand-graphic-003:                    "../../brand/evo/fpo/graphic/graphic-003.png";
$brand-graphic-004:                    "../../brand/evo/fpo/graphic/graphic-004.png";


// Dark Brand Graphics

$brand-graphic-001-dark:                    "../../brand/evo/fpo/graphic/graphic-001-dark.png";
$brand-graphic-002-dark:                    "../../brand/evo/fpo/graphic/graphic-002-dark.png";
$brand-graphic-003-dark:                    "../../brand/evo/fpo/graphic/graphic-003-dark.png";
$brand-graphic-004-dark:                    "../../brand/evo/fpo/graphic/graphic-004-dark.png";


// Brand Graphics

$brand-graphic-chart:                        "../../brand/evo/fpo/graphic/graphic-chart.png";
$brand-graphic-bar:                          "../../brand/evo/fpo/graphic/graphic-bar.png";
$brand-graphic-line:                         "../../brand/evo/fpo/graphic/graphic-line.png";
$brand-graphic-pie:                          "../../brand/evo/fpo/graphic/graphic-pie.png";

$brand-graphic-map:                          "../../brand/evo/fpo/graphic/graphic-map.png";
$brand-graphic-map-offset:                   "../../brand/evo/fpo/graphic/graphic-map-offset.png";
$brand-graphic-texture:                      "../../brand/evo/fpo/graphic/graphic-texture.png";


// Dark Brand Graphics

$brand-graphic-bar-dark:                          "../../brand/evo/fpo/graphic/graphic-bar-dark.png";
$brand-graphic-chart-dark:                        "../../brand/evo/fpo/graphic/graphic-chart-dark.png";
$brand-graphic-line-dark:                         "../../brand/evo/fpo/graphic/graphic-line-dark.png";
$brand-graphic-pie-dark:                          "../../brand/evo/fpo/graphic/graphic-pie-dark.png";

$brand-graphic-map-dark:                          "../../brand/evo/fpo/graphic/graphic-map-dark.png";
$brand-graphic-map-offset-dark:                   "../../brand/evo/fpo/graphic/graphic-map-offset-dark.png";
$brand-graphic-texture-dark:                      "../../brand/evo/fpo/graphic/graphic-texture-dark.png";
