///*      B R A N D   G R A P H I C    */


// Brand Graphics

$brand_graphic_1:                    "../../brand/evo/fpo/graphic/graphic-1.png";
$brand_graphic_2:                    "../../brand/evo/fpo/graphic/graphic-2.png";
$brand_graphic_3:                    "../../brand/evo/fpo/graphic/graphic-3.png";
$brand_graphic_4:                    "../../brand/evo/fpo/graphic/graphic-4.png";

