///*      B R A N D   G R A P H I C    */


// Brand Graphics

$brand-graphic-1:                    "../../brand/evo/fpo/graphic/graphic-1.png";
$brand-graphic-2:                    "../../brand/evo/fpo/graphic/graphic-2.png";
$brand-graphic-3:                    "../../brand/evo/fpo/graphic/graphic-3.png";
$brand-graphic-4:                    "../../brand/evo/fpo/graphic/graphic-4.png";

