///*      B R A N D   I C O N     */


// FPO Icons
// Found in /guide/

$brand-icon-fpo:                  "../../brand/evo/fpo/guide/fpo-icon.png";
$brand-icon-fpo-inverse:          "../../brand/evo/fpo/guide/fpo-icon-inverse.png";



// Generic Icons

$brand-icon-001:                  "../../brand/evo/fpo/icon/icon-001.png";
$brand-icon-002:                  "../../brand/evo/fpo/icon/icon-002.png";
$brand-icon-003:                  "../../brand/evo/fpo/icon/icon-003.png";
$brand-icon-004:                  "../../brand/evo/fpo/icon/icon-004.png";

// Generic Inverse Icons

$brand-icon-001-inverse:          "../../brand/evo/fpo/icon/icon-001-inverse.png";
$brand-icon-002-inverse:          "../../brand/evo/fpo/icon/icon-002-inverse.png";
$brand-icon-003-inverse:          "../../brand/evo/fpo/icon/icon-003-inverse.png";
$brand-icon-004-inverse:          "../../brand/evo/fpo/icon/icon-004-inverse.png";

// Brand Icons

$brand-icon-arrow:                 "../../brand/evo/fpo/icon/icon-arrow.png";
$brand-icon-close:                 "../../brand/evo/fpo/icon/icon-close.png";
$brand-icon-menu:                  "../../brand/evo/fpo/icon/icon-menu.png";
$brand-icon-search:                "../../brand/evo/fpo/icon/icon-search.png";

// Brand Inverse Icons

$brand-icon-arrow-inverse:         "../../brand/evo/fpo/icon/icon-arrow-inverse.png";
$brand-icon-close-inverse:         "../../brand/evo/fpo/icon/icon-close-inverse.png";
$brand-icon-menu-inverse:          "../../brand/evo/fpo/icon/icon-menu-inverse.png";
$brand-icon-search-inverse:        "../../brand/evo/fpo/icon/icon-search-inverse.png";


