///*      B R A N D   I C O N     */


// Icons
// Found in /brand/image/

$brand_icon_fpo:                  "../../brand/evo/fpo/guide/fpo-icon.png";

$brand_icon_fpo_inverse:          "../../brand/evo/fpo/guide/fpo-icon-inverse.png";

// Menu
$brand_icon_1:                     "../../brand/evo/fpo/icon/icon-1.png";

// Close
$brand_icon_2:                     "../../brand/evo/fpo/icon/icon-1.png";

// Arrow right or down
$brand_icon_3:                     "../../brand/evo/fpo/icon/icon-1.png";

// Search
$brand_icon_4:                     "../../brand/evo/fpo/icon/icon-1.png";

