///*      B R A N D   I C O N     */


// Icons
// Found in /brand/image/

$brand-icon-fpo:                  "../../brand/evo/fpo/guide/fpo-icon.png";

$brand-icon-fpo-inverse:          "../../brand/evo/fpo/guide/fpo-icon-inverse.png";

// Menu
$brand-icon-1:                     "../../brand/evo/fpo/icon/icon-1.png";

// Close
$brand-icon-2:                     "../../brand/evo/fpo/icon/icon-1.png";

// Arrow right or down
$brand-icon-3:                     "../../brand/evo/fpo/icon/icon-1.png";

// Search
$brand-icon-4:                     "../../brand/evo/fpo/icon/icon-1.png";

