///*      B R A N D   I M A G E    */


// Brand Images

$brand-image-1:                    "../../brand/evo/fpo/image/image-1.png";
$brand-image-2:                    "../../brand/evo/fpo/image/image-2.png";
$brand-image-3:                    "../../brand/evo/fpo/image/image-3.png";
$brand-image-4:                    "../../brand/evo/fpo/image/image-4.png";



// person
$brand-image-person:               "../../brand/evo/fpo/image/image-person.png";

// place
$brand-image-place:                "../../brand/evo/fpo/image/image-place.png";

// thing
$brand-image-thing:                "../../brand/evo/fpo/image/image-thing.png";

// texture
$brand-image-texture:              "../../brand/evo/fpo/image/image-texture.png";
