///*      B R A N D   I M A G E    */


// Brand Images

$brand_image_1:                    "../../brand/evo/fpo/image/image-1.png";
$brand_image_2:                    "../../brand/evo/fpo/image/image-2.png";
$brand_image_3:                    "../../brand/evo/fpo/image/image-3.png";
$brand_image_4:                    "../../brand/evo/fpo/image/image-4.png";



// person
$brand_image_person:               "../../brand/evo/fpo/image/image-person.png";

// place
$brand_image_place:                "../../brand/evo/fpo/image/image-place.png";

// thing
$brand_image_thing:                "../../brand/evo/fpo/image/image-thing.png";

// texture
$brand_image_texture:              "../../brand/evo/fpo/image/image-texture.png";
