///*      B R A N D   I M A G E    */


// Generic Brand Images

$brand-image-001:                    "../../brand/evo/fpo/image/image-001.png";
$brand-image-002:                    "../../brand/evo/fpo/image/image-002.png";
$brand-image-003:                    "../../brand/evo/fpo/image/image-003.png";
$brand-image-004:                    "../../brand/evo/fpo/image/image-004.png";

// Dark Generic Brand Images

$brand-image-001-dark:               "../../brand/evo/fpo/image/image-001-dark.png";
$brand-image-002-dark:               "../../brand/evo/fpo/image/image-002-dark.png";
$brand-image-003-dark:               "../../brand/evo/fpo/image/image-003-dark.png";
$brand-image-004-dark:               "../../brand/evo/fpo/image/image-004-dark.png";


// Brand Images
$brand-image-person:               "../../brand/evo/fpo/image/image-person.png";
$brand-image-place:                "../../brand/evo/fpo/image/image-place.png";
$brand-image-thing:                "../../brand/evo/fpo/image/image-thing.png";
$brand-image-texture:              "../../brand/evo/fpo/image/image-texture.png";

$brand-image-fpo:                  "../../brand/evo/fpo/image/image-fpo.png";
$brand-image-avatar:               "../../brand/evo/fpo/image/image-avatar.png";
$brand-image-video:                "../../brand/evo/fpo/image/image-video.png";

// Dark Brand Images
$brand-image-person-dark:               "../../brand/evo/fpo/image/image-person-dark.png";
$brand-image-place-dark:                "../../brand/evo/fpo/image/image-place-dark.png";
$brand-image-thing-dark:                "../../brand/evo/fpo/image/image-thing-dark.png";
$brand-image-texture-dark:              "../../brand/evo/fpo/image/image-texture-dark.png";

$brand-image-fpo-dark:                  "../../brand/evo/fpo/image/image-fpo-dark.png";
$brand-image-avatar-dark:               "../../brand/evo/fpo/image/image-avatar-dark.png";
$brand-image-video-dark:                "../../brand/evo/fpo/image/image-video-dark.png";

