///*      B O X   S H A D O W     */

@import "../variables";

// Simple shadows from tachyons

// .shadow-hover:after {
//     box-shadow: 0 0 8px 2px rgba(0, 0, 0, .2);
//     opacity: 0;
//     -webkit-transition: opacity .25s ease-in-out;
//     transition: opacity .25s ease-in-out
// }

// .shadow-hover:focus:after,
// .shadow-hover:hover:after {
//     opacity: 1
// }

// .bg-animate,
// .bg-animate:focus,
// .bg-animate:hover {
//     -webkit-transition: background-color .15s ease-in-out;
//     transition: background-color .15s ease-in-out
// }

// .bg-color {
//   background-color: blue;
//   background-display: none;
// }


// Initial Value: none
// Syntax:
// box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit;
// Note that box-shadow does not seem to allow our 'utility' classes


// MOVE THESE TO A SHADOW GROUP?

// Values

.box-shadow-reset {
    box-shadow: initial;
}

.box-shadow-none {
    box-shadow: none;
}

// .box-shadow-inset {
//     box-shadow: 0 0 0 0 0 inset;
// } /* does not work as an add-on */

.box-shadow-inherit {
    box-shadow: inherit;
}


// Default shadow

.box-shadow {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);
}

.box-shadow-inset {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .03) inset
}

.box-shadow-offset {
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, .07);
}


.box-shadow-offset-more {
    box-shadow: 8px 8px 20px 2px rgba(0, 0, 0, .06);
}

.box-shadow-offset-most {
    box-shadow: 12px 12px 30px 2px rgba(0, 0, 0, .05);
}

.box-shadow-test {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .2);
}

// General scale

.box-shadow-0 {
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, .2)
}

.box-shadow-1 {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1)
}

.box-shadow-2 {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1)
}

.box-shadow-3 {
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, .1)
}

.box-shadow-4 {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, .1)
}

.box-shadow-5 {
    box-shadow: 0 0  12px 6px rgba(0, 0, 0, .1)
}

.box-shadow-6 {
    box-shadow: 0 0  16px 8px rgba(0, 0, 0, .1)
}

.box-shadow-7 {
    box-shadow: 0 0 24px 12px rgba(0, 0, 0, .1)
}

.box-shadow-8 {
    box-shadow: 0 0 32px 16px rgba(0, 0, 0, .1)
}

.box-shadow-9 {
    box-shadow: 0 0 48px 24px rgba(0, 0, 0, .1)
}

.box-shadow-10 {
    box-shadow: 0 0 64px 32px rgba(0, 0, 0, .1)
}

.box-shadow-11 {
    box-shadow: 0 0 96px 48px rgba(0, 0, 0, .1)
}

.box-shadow-12 {
    box-shadow: 0 0 128px 64px rgba(0, 0, 0, .1)
}


// // Experiments

// .box-shadow-1 {
//     box-shadow: 0 0 30px 1px rgba(0, 0, 0, .2)
// }

// .box-shadow-2 {
//     box-shadow: 0 0 30px 2px rgba(0, 0, 0, .2)
// }




// right

.box-shadow-right-0 {
    box-shadow: 0px
}

.box-shadow-right-1 {
    box-shadow: 1px
}

.box-shadow-right-2 {
    box-shadow: 2px 0
}

.box-shadow-right-3 {
    box-shadow: 3px 0
}

.box-shadow-right-4 {
    box-shadow: 4px 0
}

.box-shadow-right-5 {
    box-shadow: 5px 0
}

.box-shadow-right-6 {
    box-shadow: 6px 0
}

.box-shadow-right-7 {
    box-shadow: 7px 0
}

.box-shadow-right-8 {
    box-shadow: 8px 0
}

.box-shadow-right-9 {
    box-shadow: 9px 0
}

.box-shadow-right-10 {
    box-shadow: 10px 0
}

.box-shadow-right-15 {
    box-shadow: 15px 0
}

.box-shadow-right-20 {
    box-shadow: 20px 0
}

.box-shadow-right-25 {
    box-shadow: 25px 0
}

.box-shadow-right-30 {
    box-shadow: 30px 0
}

.box-shadow-right-35 {
    box-shadow: 35px 0
}

.box-shadow-right-40 {
    box-shadow: 40px 0
}

.box-shadow-right-45 {
    box-shadow: 45px 0
}

.box-shadow-right-50 {
    box-shadow: 50px 0
}

// down

.box-shadow-down-0 {
    box-shadow: 0 0px 1px -1px
}

.box-shadow-down-1 {
    box-shadow: 0 1px 1px -1px
}

.box-shadow-down-2 {
    box-shadow: 0 2px 1px -1px
}

.box-shadow-down-3 {
    box-shadow: 0 3px 1px -1px
}

.box-shadow-down-4 {
    box-shadow: 0 4px 1px -1px
}

.box-shadow-down-5 {
    box-shadow: 0 5px 1px -1px
}

.box-shadow-down-6 {
    box-shadow: 0 6px 1px -1px
}

.box-shadow-down-7 {
    box-shadow: 0 7px 1px -1px
}

.box-shadow-down-8 {
    box-shadow: 0 8px 1px -1px
}

.box-shadow-down-9 {
    box-shadow: 0 9px 1px -1px
}

.box-shadow-down-10 {
    box-shadow: 0 10px 1px -1px
}

.box-shadow-down-15 {
    box-shadow: 0 15px 1px -1px
}

.box-shadow-down-20 {
    box-shadow: 0 20px 1px -1px
}

.box-shadow-down-25 {
    box-shadow: 0 25px 1px -1px
}

.box-shadow-down-30 {
    box-shadow: 0 30px 1px -1px
}

.box-shadow-down-35 {
    box-shadow: 0 35px 1px -1px
}

.box-shadow-down-40 {
    box-shadow: 0 40px 1px -1px
}

.box-shadow-down-45 {
    box-shadow: 0 45px 1px -1px
}

.box-shadow-down-50 {
    box-shadow: 0 50px 1px -1px
}



// alpha

.box-shadow-alpha-0 {
    box-shadow: rgba(0, 0, 0, 0)
}

.box-shadow-alpha-1 {
    box-shadow: rgba(0, 0, 0, .1)
}

.box-shadow-alpha-2 {
    box-shadow: rgba(0, 0, 0, .2)
}

.box-shadow-alpha-3 {
    box-shadow: rgba(0, 0, 0, .3)
}

.box-shadow-alpha-4 {
    box-shadow: rgba(0, 0, 0, .4)
}

.box-shadow-alpha-5 {
    box-shadow: rgba(0, 0, 0, .5)
}

.box-shadow-alpha-6 {
    box-shadow: rgba(0, 0, 0, .6)
}

.box-shadow-alpha-7 {
    box-shadow: rgba(0, 0, 0, .7)
}

.box-shadow-alpha-8 {
    box-shadow: rgba(0, 0, 0, .8)
}

.box-shadow-alpha-9 {
    box-shadow: rgba(0, 0, 0, .9)
}

.box-shadow-alpha-10 {
    box-shadow: rgba(0, 0, 0, 1)
}


// spread

.box-shadow-spread-1 {
    box-shadow: 0 0 0 1px
}

.box-shadow-spread-2 {
    box-shadow: 0 0 0 2px
}

.box-shadow-spread-3 {
    box-shadow: 0 0 0 3px
}

.box-shadow-spread-4 {
    box-shadow: 0 0 0 4px
}

.box-shadow-spread-5 {
    box-shadow: 0 0 0 5px
}

.box-shadow-spread-6 {
    box-shadow: 0 0 0 6px
}

.box-shadow-spread-7 {
    box-shadow: 0 0 0 7px
}

.box-shadow-spread-8 {
    box-shadow: 0 0 0 8px
}

.box-shadow-spread-9 {
    box-shadow: 0 0 0 9px
}

.box-shadow-spread-10 {
    box-shadow: 0 0 0 10px
}

.box-shadow-spread-15 {
    box-shadow: 0 0 0 15px
}

.box-shadow-spread-20 {
    box-shadow: 0 0 0 20px
}

.box-shadow-spread-25 {
    box-shadow: 0 0 0 25px
}

.box-shadow-spread-30 {
    box-shadow: 0 0 0 30px
}

.box-shadow-spread-35 {
    box-shadow: 0 0 0 35px
}

.box-shadow-spread-40 {
    box-shadow: 0 0 0 40px
}

.box-shadow-spread-45 {
    box-shadow: 0 0 0 45px
}

.box-shadow-spread-50 {
    box-shadow: 0 0 0 50px
}

.box-shadow-spread-55 {
    box-shadow: 0 0 0 55px
}

.box-shadow-spread-60 {
    box-shadow: 0 0 0 60px
}

.box-shadow-spread-65 {
    box-shadow: 0 0 0 65px
}

.box-shadow-spread-70 {
    box-shadow: 0 0 0 70px
}

.box-shadow-spread-75 {
    box-shadow: 0 0 0 75px
}

.box-shadow-spread-80 {
    box-shadow: 0 0 0 80px
}

.box-shadow-spread-85 {
    box-shadow: 0 0 0 85px
}

.box-shadow-spread-85 {
    box-shadow: 0 0 0 85px
}

.box-shadow-spread-90 {
    box-shadow: 0 0 0 90px
}

.box-shadow-spread-95 {
    box-shadow: 0 0 0 95px
}

.box-shadow-spread-100 {
    box-shadow: 0 0 0 100px
}

.box-shadow-spread-150 {
    box-shadow: 0 0 0 150px
}


// size

.box-shadow-blur-1 {
    box-shadow: 0 0 1px
}

.box-shadow-blur-2 {
    box-shadow: 0 0 2px
}

.box-shadow-blur-3 {
    box-shadow: 0 0 3px
}

.box-shadow-blur-4 {
    box-shadow: 0 0 4px
}

.box-shadow-blur-5 {
    box-shadow: 0 0 5px
}

.box-shadow-blur-6 {
    box-shadow: 0 0 6px
}

.box-shadow-blur-7 {
    box-shadow: 0 0 7px
}

.box-shadow-blur-8 {
    box-shadow: 0 0 8px
}

.box-shadow-blur-9 {
    box-shadow: 0 0 9px
}

.box-shadow-blur-10 {
    box-shadow: 0 0 10px
}

.box-shadow-blur-15 {
    box-shadow: 0 0 15px
}

.box-shadow-blur-20 {
    box-shadow: 0 0 20px
}

.box-shadow-blur-25 {
    box-shadow: 0 0 25px
}

.box-shadow-blur-30 {
    box-shadow: 0 0 30px
}

.box-shadow-blur-35 {
    box-shadow: 0 0 35px
}

.box-shadow-blur-40 {
    box-shadow: 0 0 40px
}

.box-shadow-blur-45 {
    box-shadow: 0 0 45px
}

.box-shadow-blur-50 {
    box-shadow: 0 0 50px
}

.box-shadow-blur-55 {
    box-shadow: 0 0 55px
}

.box-shadow-blur-60 {
    box-shadow: 0 0 60px
}

.box-shadow-blur-65 {
    box-shadow: 0 0 65px
}

.box-shadow-blur-70 {
    box-shadow: 0 0 70px
}

.box-shadow-blur-75 {
    box-shadow: 0 0 75px
}

.box-shadow-blur-80 {
    box-shadow: 0 0 80px
}

.box-shadow-blur-85 {
    box-shadow: 0 0 85px
}

.box-shadow-blur-90 {
    box-shadow: 0 0 90px
}

.box-shadow-blur-95 {
    box-shadow: 0 0 95px
}

.box-shadow-blur-100 {
    box-shadow: 0 0 100px
}

.box-shadow-blur-150 {
    box-shadow: 0 0 150px
}




// Text shadows rem?
// https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/

// Shadows from human projects

.l-grid-block {
  background-color: #FFFFFF; /* E4DDCA */
  height: 300px;
  margin: 40px;
/*  border: 1px solid #ccc;
  -moz-box-shadow: 2px 3px 5px 4px #ccc;
  -webkit-box-shadow: 2px 3px 5px 4px #ccc;
  box-shadow: 2px 3px 5px 4px #ccc;*/
  -webkit-box-shadow:
     0px 0px 0px 1px rgba(0,0,0,0.1),
                0px 0px 0px 14px #fff,
                0px 0px 0px 15px rgba(0,0,0,0.1),
                3px 3px 4px 15px #ccc;
  
     -moz-box-shadow:
     0px 0px 0px 1px rgba(0,0,0,0.1),
                0px 0px 0px 14px #fff,
                0px 0px 0px 15px rgba(0,0,0,0.1),
                3px 3px 4px 15px #ccc;
  
          box-shadow:
     0px 0px 0px 1px rgba(0,0,0,0.1),
                0px 0px 0px 14px #fff,
                0px 0px 0px 15px rgba(0,0,0,0.1),
                3px 3px 4px 15px #ccc;

}


div.ad-shadow-300 {
    width: 300px;
    box-shadow: 0 34px 58px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
