///*      C O R N E R    */

@import "../variables";
// @import "../variables/scale";
// @import "corner_mixin";



// basic shapes
#{$evo}-box-circle  { border-radius: 50%; }
#{$evo}-box-pill    { border-radius: 9999px; }
#{$evo}-box-square  { border-radius: 0; }



// all box corners - scale
// Based on _scale.scss in variables
#{$evo}-box-round-0 { border-radius: #{$u-15}rem; }
#{$evo}-box-round-1 { border-radius: #{$u-16}rem; }
#{$evo}-box-round-2 { border-radius: #{$u-17}rem; }
#{$evo}-box-round-3 { border-radius: #{$u-18}rem; }
#{$evo}-box-round-4 { border-radius: #{$u-19}rem; }
#{$evo}-box-round-5 { border-radius: #{$u-20}rem; }
#{$evo}-box-round-6 { border-radius: #{$u-21}rem; }
#{$evo}-box-round-7 { border-radius: #{$u-22}rem; }
#{$evo}-box-round-8 { border-radius: #{$u-23}rem; }
#{$evo}-box-round-9 { border-radius: #{$u-24}rem; }
#{$evo}-box-round-10 { border-radius: #{$u-25}rem; }
#{$evo}-box-round-11 { border-radius: #{$u-26}rem; }
#{$evo}-box-round-12 { border-radius: #{$u-27}rem; }
#{$evo}-box-round-13 { border-radius: #{$u-28}rem; }
#{$evo}-box-round-14 { border-radius: #{$u-29}rem; }
#{$evo}-box-round-15 { border-radius: #{$u-30}rem; }
// #{$evo}-box-round-16 { border-radius: #{$u-31}rem; }
// #{$evo}-box-round-17 { border-radius: #{$u-32}rem; }
// #{$evo}-box-round-18 { border-radius: #{$u-33}rem; }
// #{$evo}-box-round-19 { border-radius: #{$u-34}rem; }
// #{$evo}-box-round-20 { border-radius: #{$u-35}rem; }
// #{$evo}-box-round-21 { border-radius: #{$u-36}rem; }
// #{$evo}-box-round-22 { border-radius: #{$u-37}rem; }
// #{$evo}-box-round-23 { border-radius: #{$u-38}rem; }
// #{$evo}-box-round-24 { border-radius: #{$u-39}rem; }
// #{$evo}-box-round-25 { border-radius: #{$u-40}rem; }


// box corners are all round 
#{$evo}-box-round {
	border-top-right-radius:    #{$box_corner_top_right};
	border-top-left-radius:     #{$box_corner_top_left};
	border-bottom-right-radius: #{$box_corner_bottom_right};
	border-bottom-left-radius:  #{$box_corner_bottom_left};
}

// box top is round
#{$evo}-box-round-top {
	border-top-right-radius:    #{$box_corner_top_right};
	border-top-left-radius:     #{$box_corner_top_left};
	border-bottom-right-radius: 0;
	border-bottom-left-radius:  0;
}

// box bottom is round
#{$evo}-box-round-bottom {
	border-top-right-radius:    0;
	border-top-left-radius:     0;
	border-bottom-right-radius: #{$box_corner_bottom_right};
	border-bottom-left-radius:  #{$box_corner_bottom_left};
}

// box right side is round
#{$evo}-box-round-right {
	border-top-right-radius:    #{$box_corner_top_right};
	border-top-left-radius:     0;
	border-bottom-right-radius: #{$box_corner_bottom_right};
	border-bottom-left-radius:  0;
}

// box left side is round
#{$evo}-box-round-left {
	border-top-right-radius:    0;
	border-top-left-radius:     #{$box_corner_top_left};
	border-bottom-right-radius: 0;
	border-bottom-left-radius:  #{$box_corner_bottom_left};
}

// box top left is round
#{$evo}-box-round-top-left {
	border-top-right-radius:    0;
	border-top-left-radius:     #{$box_corner_top_left};
	border-bottom-right-radius: 0;
	border-bottom-left-radius:  0;
}

// box top right is round
#{$evo}-box-round-top-right {
	border-top-right-radius:    #{$box_corner_top_right};
	border-top-left-radius:     0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius:  0;
}

// box bottom left is round
#{$evo}-box-round-bottom-left {
	border-top-right-radius:    0;
	border-top-left-radius:     0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius:  #{$box_corner_bottom_left};
}

// box bottom right is round
#{$evo}-box-round-bottom-right {
	border-top-right-radius:    0;
	border-top-left-radius:     0;
	border-bottom-right-radius: #{$box_corner_bottom_right};
	border-bottom-left-radius:  0;
}

 
// Corner Utilities
// Force specific rounded corners to be squared
// This is potentially an anti-pattern due to 
// 1) forced local reset of an already locally set classs
// 2) use of !important to force an override

// force zero radius to pairs of box corners on a single side
#{$evo}-box-corner-top    { border-top-right-radius: 0 !important; border-top-left-radius: 0 !important; }
#{$evo}-box-corner-bottom { border-bottom-right-radius: 0 !important; border-bottom-left-radius: 0 !important; }
#{$evo}-box-corner-left   { border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; }
#{$evo}-box-corner-right  { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; }

// force zero radius to invividual box corners
#{$evo}-box-corner-top-left      { border-top-left-radius: 0 !important; }
#{$evo}-box-corner-top-right     { border-top-right-radius: 0 !important; }
#{$evo}-box-corner-bottom-left   { border-bottom-left-radius: 0 !important; }
#{$evo}-box-corner-bottom-right  { border-bottom-right-radius: 0 !important; }

