///*      B O X    */

@import "../variables";
// @import "../variables/scale";
// @import "box_mixin";


// SHOULD SOME OF THESE INHERIT?
// SHOULD SOME BE PERCENTAGES OR EMS?
$box_width:      initial; // border-top-width, initial = medium
$box_style:      solid;   // border-top-style
$box_color:      #{$gray-light}; // border-top-color


// box reset
#{$evo}-box-reset           { 
	border: initial;
	border-top-width: initial;
	border-bottom-width: initial;
	border-right-width: initial;
	border-left-width: initial;
	border-top-style: initial;
	border-bottom-style: initial;
	border-right-style: initial;
	border-left-style: initial;
	border-top-color: initial;
	border-bottom-color: initial;
	border-right-color: initial;
	border-left-color: initial;
}

#{$evo}-box-top-reset       { border-top-width: initial; border-top-style: initial; border-top-color: initial; }
#{$evo}-box-bottom-reset    { border-bottom-width: initial;border-bottom-style: initial;  border-bottom-color: initial; }
#{$evo}-box-right-reset     { border-right-width: initial; border-right-style: initial; border-right-color: initial; }
#{$evo}-box-left-reset      { border-left-width: initial; border-left-style: initial; border-left-color: initial; }


// box base styles
#{$evo}-box {
border-top-width:      #{$box_width}; // initial
border-bottom-width:   #{$box_width}; // initial 
border-right-width:    #{$box_width}; // initial 
border-left-width:     #{$box_width}; // initial
border-top-style:      #{$box_style}; // solid
border-bottom-style:   #{$box_style}; // solid
border-right-style:    #{$box_style}; // solid
border-left-style:     #{$box_style}; // solid
border-top-color:      #{$box_color}; // initial
border-bottom-color:   #{$box_color}; // initial 
border-right-color:    #{$box_color}; // initial 
border-left-color:     #{$box_color}; // initial
border-left-style:     #{$box_style}; // solid
}

#{$evo}-box-top {
border-top-width:      #{$box_width}; // initial
border-top-style:      #{$box_style}; // solid
border-top-color:      #{$box_color}; // initial
}

#{$evo}-box-bottom {
border-bottom-width:      #{$box_width}; // initial
border-bottom-style:      #{$box_style}; // solid
border-bottom-color:      #{$box_color}; // initial
}

#{$evo}-box-right {
border-right-width:      #{$box_width}; // initial
border-right-style:      #{$box_style}; // solid
border-right-color:      #{$box_color}; // initial
}

#{$evo}-box-left {
border-left-width:      #{$box_width}; // initial
border-left-style:      #{$box_style}; // solid
border-left-color:      #{$box_color}; // initial
}

// // https://developer.mozilla.org/en-US/docs/Web/CSS/border-right-style
// #{$evo}-box-unset          { border-width: unset; }
// #{$evo}-box-hidden         { border-width: hidden; }
// #{$evo}-box-none           { border-width: none; }
// ADD Inherit


// box border styles
#{$evo}-box-solid          { border-top-style: solid; border-bottom-style: solid; border-right-style: solid; border-left-style: solid; }
#{$evo}-box-dotted         { border-top-style: dotted; border-bottom-style: dotted; border-right-style: dotted; border-left-style: dotted; }
#{$evo}-box-dashed         { border-top-style: dashed; border-bottom-style: dashed; border-right-style: dashed; border-left-style: dashed; }
#{$evo}-box-double         { border-top-style: double; border-bottom-style: double; border-right-style: double; border-left-style: double; }
// #{$evo}-box-groove         { border-top-style: groove; border-bottom-style: groove; border-right-style: groove; border-left-style: groove; }
// #{$evo}-box-ridge          { border-top-style: ridge; border-bottom-style: ridge; border-right-style: ridge; border-left-style: ridge; }
// #{$evo}-box-inset          { border-top-style: inset; border-bottom-style: inset; border-right-style: inset; border-left-style: inset; }
// #{$evo}-box-outset         { border-top-style: outset; border-bottom-style: outset; border-right-style: outset; border-left-style: outset; }


// box border side styles

#{$evo}-box-top-solid           { border-top-style: solid; }
#{$evo}-box-top-dotted          { border-top-style: dotted; }
#{$evo}-box-top-dashed          { border-top-style: dashed; }
#{$evo}-box-top-double          { border-top-style: double; }
// #{$evo}-box-top-groove          { border-top-style: groove; }
// #{$evo}-box-top-ridge           { border-top-style: ridge; }
// #{$evo}-box-top-inset           { border-top-style: inset; }
// #{$evo}-box-top-outset          { border-top-style: outset; }

#{$evo}-box-bottom-solid        { border-bottom-style: solid; }
#{$evo}-box-bottom-dotted       { border-bottom-style: dotted; }
#{$evo}-box-bottom-dashed       { border-bottom-style: dashed; }
#{$evo}-box-bottom-double       { border-bottom-style: double; }
// #{$evo}-box-bottom-groove       { border-bottom-style: groove; }
// #{$evo}-box-bottom-ridge        { border-bottom-style: ridge; }
// #{$evo}-box-bottom-inset        { border-bottom-style: inset; }
// #{$evo}-box-bottom-outset       { border-bottom-style: outset; }

#{$evo}-box-right-solid         { border-right-style: solid; }
#{$evo}-box-right-dotted        { border-right-style: dotted; }
#{$evo}-box-right-dashed        { border-right-style: dashed; }
#{$evo}-box-right-double        { border-right-style: double; }
// #{$evo}-box-right-groove        { border-right-style: groove; }
// #{$evo}-box-right-ridge         { border-right-style: ridge; }
// #{$evo}-box-right-inset         { border-right-style: inset; }
// #{$evo}-box-right-outset        { border-right-style: outset; }

#{$evo}-box-left-solid          { border-left-style: solid; }
#{$evo}-box-left-dotted         { border-left-style: dotted; }
#{$evo}-box-left-dashed         { border-left-style: dashed; }
#{$evo}-box-left-double         { border-left-style: double; }
// #{$evo}-box-left-groove         { border-left-style: groove; }
// #{$evo}-box-left-ridge          { border-left-style: ridge; }
// #{$evo}-box-left-inset          { border-left-style: inset; }
// #{$evo}-box-left-outset         { border-left-style: outset; }



