///*      B O X   E F F E C T     */

@import "../variables";


.shadow-hover-up {
    transition: 0.4s ease-out;
}

.shadow-hover-up:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(-1em);
}

// Simple shadows from tachyons

// .shadow-hover:after {
//     box-shadow: 0 0 8px 2px rgba(0, 0, 0, .2);
//     opacity: 0;
//     -webkit-transition: opacity .25s ease-in-out;
//     transition: opacity .25s ease-in-out
// }

// .shadow-hover:focus:after,
// .shadow-hover:hover:after {
//     opacity: 1
// }

// .bg-animate,
// .bg-animate:focus,
// .bg-animate:hover {
//     -webkit-transition: background-color .15s ease-in-out;
//     transition: background-color .15s ease-in-out
// }

// .bg-color {
//   background-color: blue;
//   background-display: none;
// }


// Initial Value: none
// Syntax:
// box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit;
// Note that box-shadow does not seem to allow our 'utility' classes

// Values


