///*      B O X   S C A L E    */

@import "../variables";
// @import "../variables/scale";
// @import "box_mixins";


// SHOULD SOME OF THESE INHERIT?
// SHOULD SOME BE PERCENTAGES OR EMS?
$box_width:      initial; // border-top-width, initial = medium
$box_style:      solid;   // border-top-style
$box_color:      #{$gray-light}; // border-top-color

#{$evo}-box-0              { border-top-width: 0; border-bottom-width: 0; border-right-width: 0; border-left-width: 0; }
#{$evo}-box-1              { border-top-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-left-width: 1px; }
#{$evo}-box-2              { border-top-width: 2px; border-bottom-width: 2px; border-right-width: 2px; border-left-width: 2px; }
#{$evo}-box-3              { border-top-width: 3px; border-bottom-width: 3px; border-right-width: 3px; border-left-width: 3px; }
#{$evo}-box-4              { border-top-width: 4px; border-bottom-width: 4px; border-right-width: 4px; border-left-width: 4px; }
#{$evo}-box-5              { border-top-width: 5px; border-bottom-width: 5px; border-right-width: 5px; border-left-width: 5px; }
#{$evo}-box-6              { border-top-width: #{$px-0}; border-bottom-width: #{$px-0}; border-right-width: #{$px-0}; border-left-width: #{$px-0}; } // 6px
#{$evo}-box-7              { border-top-width: #{$px-1}; border-bottom-width: #{$px-1}; border-right-width: #{$px-1}; border-left-width: #{$px-1}; } // 8px
#{$evo}-box-8              { border-top-width: #{$px-2}; border-bottom-width: #{$px-2}; border-right-width: #{$px-2}; border-left-width: #{$px-2}; } // 10px
#{$evo}-box-9              { border-top-width: #{$px-3}; border-bottom-width: #{$px-3}; border-right-width: #{$px-3}; border-left-width: #{$px-3}; } // 12px
#{$evo}-box-10             { border-top-width: #{$px-4}; border-bottom-width: #{$px-4}; border-right-width: #{$px-4}; border-left-width: #{$px-4}; } // 14px
#{$evo}-box-11             { border-top-width: #{$px-5}; border-bottom-width: #{$px-5}; border-right-width: #{$px-5}; border-left-width: #{$px-5}; } // 16px
#{$evo}-box-12             { border-top-width: #{$px-6}; border-bottom-width: #{$px-6}; border-right-width: #{$px-6}; border-left-width: #{$px-6}; } // 18px
#{$evo}-box-13             { border-top-width: #{$px-7}; border-bottom-width: #{$px-7}; border-right-width: #{$px-7}; border-left-width: #{$px-7}; } // 21px
#{$evo}-box-14             { border-top-width: #{$px-8}; border-bottom-width: #{$px-8}; border-right-width: #{$px-8}; border-left-width: #{$px-8}; } // 23px
#{$evo}-box-15             { border-top-width: #{$px-9}; border-bottom-width: #{$px-9}; border-right-width: #{$px-9}; border-left-width: #{$px-9}; } // 30px

// #{$evo}-box-lightest       { @extend #{$evo}-box; border-top-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: dotted; }
// #{$evo}-box-lighter        { @extend #{$evo}-box; border-top-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-left-width: 1px; }
// #{$evo}-box-light          { @extend #{$evo}-box; border-top-width: 2px; border-bottom-width: 2px; border-right-width: 2px; border-left-width: 2px; }
// #{$evo}-box-heavy          { @extend #{$evo}-box; border-top-width: 4px; border-bottom-width: 4px; border-right-width: 4px; border-left-width: 4px; }
// #{$evo}-box-heavier        { @extend #{$evo}-box; border-top-width: 5px; border-bottom-width: 5px; border-right-width: 5px; border-left-width: 5px; }
// #{$evo}-box-heaviest       { @extend #{$evo}-box; border-top-width: #{$px-0}; border-bottom-width: #{$px-0}; border-right-width: #{$px-0}; border-left-width: #{$px-0}; }

#{$evo}-box-thin           { border-top-width: thin; border-bottom-width: thin; border-right-width: thin; border-left-width: thin; }
#{$evo}-box-medium         { border-top-width: medium; border-bottom-width: medium; border-right-width: medium; border-left-width: medium; }
#{$evo}-box-thick          { border-top-width: thick; border-bottom-width: thick; border-right-width: thick; border-left-width: thick; }

