///*      C O R N E R    */

@import "../variables";
// @import "../variables/scale";
// @import "corner_mixins";


// Define individual corners of boxes
// Based on _scale.scss in variables
$box_corner_top_right:     #{$u-23}rem;
$box_corner_top_left:      #{$u-23}rem;
$box_corner_bottom_right:  #{$u-23}rem;
$box_corner_bottom_left:   #{$u-23}rem;


// box corners are all round 
#{$evo}-box-round {
	border-top-right-radius:    #{$box_corner_top_right};
	border-top-left-radius:     #{$box_corner_top_left};
	border-bottom-right-radius: #{$box_corner_bottom_right};
	border-bottom-left-radius:  #{$box_corner_bottom_left};
}

// box top is round
#{$evo}-box-round-top {
	border-top-right-radius:    #{$box_corner_top_right};
	border-top-left-radius:     #{$box_corner_top_left};
	border-bottom-right-radius: 0;
	border-bottom-left-radius:  0;
}

// box bottom is round
#{$evo}-box-round-bottom {
	border-top-right-radius:    0;
	border-top-left-radius:     0;
	border-bottom-right-radius: #{$box_corner_bottom_right};
	border-bottom-left-radius:  #{$box_corner_bottom_left};
}

// box right side is round
#{$evo}-box-round-right {
	border-top-right-radius:    #{$box_corner_top_right};
	border-top-left-radius:     0;
	border-bottom-right-radius: #{$box_corner_bottom_right};
	border-bottom-left-radius:  0;
}

// box left side is round
#{$evo}-box-round-left {
	border-top-right-radius:    0;
	border-top-left-radius:     #{$box_corner_top_left};
	border-bottom-right-radius: 0;
	border-bottom-left-radius:  #{$box_corner_bottom_left};
}

// basic shapes
#{$evo}-box-circle  { border-radius: 50%; }
#{$evo}-box-pill    { border-radius: 9999px; }
#{$evo}-box-square  { border-radius: 0; }


// /* Corner Utilities */
// Force specific rounded corners to be squared
// This is potentially an anti-pattern due to 
// 1) forced local reset of an already locally set classs
// 2) use of !important to force an override

// force zero radius to invividual box corners
#{$evo}-box-corner-top-left      { border-top-left-radius: 0 !important; }
#{$evo}-box-corner-top-right     { border-bottom-right-radius: 0 !important; }
#{$evo}-box-corner-bottom-left   { border-bottom-left-radius: 0 !important; }
#{$evo}-box-corner-bottom-right  { border-bottom-right-radius: 0 !important; }

// force zero radius to pairs of box corners on a single side
#{$evo}-box-corner-top    { border-top-right-radius: 0 !important; border-top-left-radius: 0 !important; }
#{$evo}-box-corner-bottom { border-bottom-right-radius: 0 !important; border-bottom-left-radius: 0 !important; }
#{$evo}-box-corner-left   { border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; }
#{$evo}-box-corner-right  { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; }
