///*      C O D E   I N L I N E     */

@import "../variables";

// Evo Code
// Place Code within Pre

pre#{$evo}-code,
pre#{$evo}-code-inverse {
  margin: 0 auto;
  white-space: pre; // or normal
}

pre#{$evo}-code > code {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #{$black};
    font-family: #{$monospace};
    // font-size:1em;
}

pre#{$evo}-code-inverse > code {
    background-color: #{$black};
    border: 1px solid #{$gray};
    color: #{$white};
  }

pre#{$evo}-code > code,
pre#{$evo}-code-inverse > code {
    width: calc(100%);
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
  }

pre.code-no-wrap > code {
    white-space: nowrap;
    overflow: scroll;
  }

pre.code-short > code {
    width: auto;
    // width: calc(50% - 22px);
    max-width: calc(100% - 22px);
    // max-width: #{$u-42}rem; // ceil(54.73)
    display: inline-block;
    white-space: nowrap;
    overflow: scroll;
  }

// @media screen and (max-width: 480px) {
//   code.short {
//     // width: auto;
//     width: calc(100% - 22px);
//   }
// }
