///*      C O L O R   G R A Y     */

@import "../variables";
// @import "colors_mixin";

// Base colors are located in _variables.scss


/* 

--------------------------- GRAY COLORS --------------------------- 

*/

// Solid Grays
// These solid grays correspond to increments of black opacity


#{$evo}-gray-30            { color: $gray_30; }             // Black
#{$evo}-gray-30-bg         { background-color: $gray_30; }

#{$evo}-gray-29            { color: $gray_29; }
#{$evo}-gray-29-bg         { background-color: $gray_29; }

#{$evo}-gray-28            { color: $gray_28; }
#{$evo}-gray-28-bg         { background-color: $gray_28; }

#{$evo}-gray-27            { color: $gray_27; }
#{$evo}-gray-27-bg         { background-color: $gray_27; }

#{$evo}-gray-26            { color: $gray_26; }
#{$evo}-gray-26-bg         { background-color: $gray_26; }

#{$evo}-gray-25            { color: $gray_25; }
#{$evo}-gray-25-bg         { background-color: $gray_25; }

#{$evo}-gray-24            { color: $gray_24; }
#{$evo}-gray-24-bg         { background-color: $gray_24; }

#{$evo}-gray-23            { color: $gray_23; }
#{$evo}-gray-23-bg         { background-color: $gray_23; }

#{$evo}-gray-22            { color: $gray_22; }
#{$evo}-gray-22-bg         { background-color: $gray_22; }

#{$evo}-gray-21            { color: $gray_21; }
#{$evo}-gray-21-bg         { background-color: $gray_21; }

#{$evo}-gray-20            { color: $gray_20; }
#{$evo}-gray-20-bg         { background-color: $gray_20; }

#{$evo}-gray-19            { color: $gray_19; }
#{$evo}-gray-19-bg         { background-color: $gray_19; }

#{$evo}-gray-18            { color: $gray_18; }
#{$evo}-gray-18-bg         { background-color: $gray_18; }

#{$evo}-gray-17            { color: $gray_17; }
#{$evo}-gray-17-bg         { background-color: $gray_17; }

#{$evo}-gray-16            { color: $gray_16; }
#{$evo}-gray-16-bg         { background-color: $gray_16; }

#{$evo}-gray-15            { color: $gray_15; }             // Middle gray
#{$evo}-gray-15-bg         { background-color: $gray_15; }

#{$evo}-gray-14            { color: $gray_14; }
#{$evo}-gray-14-bg         { background-color: $gray_14; }

#{$evo}-gray-13            { color: $gray_13; }
#{$evo}-gray-13-bg         { background-color: $gray_13; }

#{$evo}-gray-12            { color: $gray_12; }
#{$evo}-gray-12-bg         { background-color: $gray_12; }

#{$evo}-gray-11            { color: $gray_11; }
#{$evo}-gray-11-bg         { background-color: $gray_11; }

#{$evo}-gray-10            { color: $gray_10; }
#{$evo}-gray-10-bg         { background-color: $gray_10; }

#{$evo}-gray-9             { color: $gray_9; }
#{$evo}-gray-9-bg          { background-color: $gray_9; }

#{$evo}-gray-8             { color: $gray_8; }
#{$evo}-gray-8-bg          { background-color: $gray_8; }

#{$evo}-gray-7             { color: $gray_7; }
#{$evo}-gray-7-bg          { background-color: $gray_7; }

#{$evo}-gray-6             { color: $gray_6; }
#{$evo}-gray-6-bg          { background-color: $gray_6; }

#{$evo}-gray-5             { color: $gray_5; }
#{$evo}-gray-5-bg          { background-color: $gray_5; }

#{$evo}-gray-4             { color: $gray_4; }
#{$evo}-gray-4-bg          { background-color: $gray_4; }

#{$evo}-gray-3             { color: $gray_3; }
#{$evo}-gray-3-bg          { background-color: $gray_3; }

#{$evo}-gray-2             { color: $gray_2; }
#{$evo}-gray-2-bg          { background-color: $gray_2; }

#{$evo}-gray-1             { color: $gray_1; }
#{$evo}-gray-1-bg          { background-color: $gray_1; }

#{$evo}-gray-0             { color: $gray_0; }              // White
#{$evo}-gray-0-bg          { background-color: $gray_0; }



/* 

--------------------------- GRAY TRANSLUCENT COLORS --------------------------- 

*/

// These are colors with increments of opacity.
// Base color is black and defined in variables
// As a black color on a white background they correspond to solid hex grays.


#{$evo}-trans-gray-30            { color: transparentize($base_dark_translucent, 0); }
#{$evo}-trans-gray-30-bg         { background-color: transparentize($base_dark_translucent, 0); }

#{$evo}-trans-gray-29            { color: transparentize($base_dark_translucent, .02); }
#{$evo}-trans-gray-29-bg         { background-color: transparentize($base_dark_translucent, .02); }

#{$evo}-trans-gray-28            { color: transparentize($base_dark_translucent, .03); }
#{$evo}-trans-gray-28-bg         { background-color: transparentize($base_dark_translucent, .03); }

#{$evo}-trans-gray-27            { color: transparentize($base_dark_translucent, .04); }
#{$evo}-trans-gray-27-bg         { background-color: transparentize($base_dark_translucent, .04); }

#{$evo}-trans-gray-26            { color: transparentize($base_dark_translucent, .05); }
#{$evo}-trans-gray-26-bg         { background-color: transparentize($base_dark_translucent, .05); }

#{$evo}-trans-gray-25            { color: transparentize($base_dark_translucent, .06); }
#{$evo}-trans-gray-25-bg         { background-color: transparentize($base_dark_translucent, .06); }

#{$evo}-trans-gray-24            { color: transparentize($base_dark_translucent, .08); }
#{$evo}-trans-gray-24-bg         { background-color: transparentize($base_dark_translucent, .08); }

#{$evo}-trans-gray-23            { color: transparentize($base_dark_translucent, .1); }
#{$evo}-trans-gray-23-bg         { background-color: transparentize($base_dark_translucent, .1); }

#{$evo}-trans-gray-22            { color: transparentize($base_dark_translucent, .15); }
#{$evo}-trans-gray-22-bg         { background-color: transparentize($base_dark_translucent, .15); }

#{$evo}-trans-gray-21            { color: transparentize($base_dark_translucent, .2); }
#{$evo}-trans-gray-21-bg         { background-color: transparentize($base_dark_translucent, .2); }

#{$evo}-trans-gray-20            { color: transparentize($base_dark_translucent, .25); }
#{$evo}-trans-gray-20-bg         { background-color: transparentize($base_dark_translucent, .25); }

#{$evo}-trans-gray-19            { color: transparentize($base_dark_translucent, .3); }
#{$evo}-trans-gray-19-bg         { background-color: transparentize($base_dark_translucent, .3); }

#{$evo}-trans-gray-18            { color: transparentize($base_dark_translucent, .35); }
#{$evo}-trans-gray-18-bg         { background-color: transparentize($base_dark_translucent, .35); }

#{$evo}-trans-gray-17            { color: transparentize($base_dark_translucent, .4); }
#{$evo}-trans-gray-17-bg         { background-color: transparentize($base_dark_translucent, .4); }

#{$evo}-trans-gray-16            { color: transparentize($base_dark_translucent, .45); }
#{$evo}-trans-gray-16-bg         { background-color: transparentize($base_dark_translucent, .45); }

#{$evo}-trans-gray-15            { color: transparentize($base_dark_translucent, .5); }
#{$evo}-trans-gray-15-bg         { background-color: transparentize($base_dark_translucent, .5); }

#{$evo}-trans-gray-14            { color: transparentize($base_dark_translucent, .55); }
#{$evo}-trans-gray-14-bg         { background-color: transparentize($base_dark_translucent, .55); }

#{$evo}-trans-gray-13            { color: transparentize($base_dark_translucent, .6); }
#{$evo}-trans-gray-13-bg         { background-color: transparentize($base_dark_translucent, .6); }

#{$evo}-trans-gray-12            { color: transparentize($base_dark_translucent, .65); }
#{$evo}-trans-gray-12-bg         { background-color: transparentize($base_dark_translucent, .65); }

#{$evo}-trans-gray-11            { color: transparentize($base_dark_translucent, .7); }
#{$evo}-trans-gray-11-bg         { background-color: transparentize($base_dark_translucent, .7); }

#{$evo}-trans-gray-10            { color: transparentize($base_dark_translucent, .75); }
#{$evo}-trans-gray-10-bg         { background-color: transparentize($base_dark_translucent, .75); }

#{$evo}-trans-gray-9             { color: transparentize($base_dark_translucent, .8); }
#{$evo}-trans-gray-9-bg          { background-color: transparentize($base_dark_translucent, .8); }

#{$evo}-trans-gray-8             { color: transparentize($base_dark_translucent, .85); }
#{$evo}-trans-gray-8-bg          { background-color: transparentize($base_dark_translucent, .85); }

#{$evo}-trans-gray-7             { color: transparentize($base_dark_translucent, .9); }
#{$evo}-trans-gray-7-bg          { background-color: transparentize($base_dark_translucent, .9); }

#{$evo}-trans-gray-6             { color: transparentize($base_dark_translucent, .92); }
#{$evo}-trans-gray-6-bg          { background-color: transparentize($base_dark_translucent, .92); }

#{$evo}-trans-gray-5             { color: transparentize($base_dark_translucent, .94); }
#{$evo}-trans-gray-5-bg          { background-color: transparentize($base_dark_translucent, .94); }

#{$evo}-trans-gray-4             { color: transparentize($base_dark_translucent, .95); }
#{$evo}-trans-gray-4-bg          { background-color: transparentize($base_dark_translucent, .95); }

#{$evo}-trans-gray-3             { color: transparentize($base_dark_translucent, .96); }
#{$evo}-trans-gray-3-bg          { background-color: transparentize($base_dark_translucent, .96); }

#{$evo}-trans-gray-2             { color: transparentize($base_dark_translucent, .97); }
#{$evo}-trans-gray-2-bg          { background-color: transparentize($base_dark_translucent, .97); }

#{$evo}-trans-gray-1             { color: transparentize($base_dark_translucent, .98); }
#{$evo}-trans-gray-1-bg          { background-color: transparentize($base_dark_translucent, .98); }

#{$evo}-trans-gray-0             { color: transparentize($base_dark_translucent, 1); }
#{$evo}-trans-gray-0-bg          { background-color: transparentize($base_dark_translucent, 1); }


/* 

--------------------------- INVERSE GRAY TRANSLUCENT COLORS --------------------------- 

*/

// These are white colors with increments of opacity.
// As a white color on a black background they correspond to the solid gray colors.


#{$evo}-inverse-trans-gray-30            { color: transparentize($base_light_translucent, 0); }
#{$evo}-inverse-trans-gray-30-bg         { background-color: transparentize($base_light_translucent, 0); }

#{$evo}-inverse-trans-gray-29            { color: transparentize($base_light_translucent, .02); }
#{$evo}-inverse-trans-gray-29-bg         { background-color: transparentize($base_light_translucent, .02); }

#{$evo}-inverse-trans-gray-28            { color: transparentize($base_light_translucent, .03); }
#{$evo}-inverse-trans-gray-28-bg         { background-color: transparentize($base_light_translucent, .03); }

#{$evo}-inverse-trans-gray-27            { color: transparentize($base_light_translucent, .04); }
#{$evo}-inverse-trans-gray-27-bg         { background-color: transparentize($base_light_translucent, .04); }

#{$evo}-inverse-trans-gray-26            { color: transparentize($base_light_translucent, .05); }
#{$evo}-inverse-trans-gray-26-bg         { background-color: transparentize($base_light_translucent, .05); }

#{$evo}-inverse-trans-gray-25            { color: transparentize($base_light_translucent, .06); }
#{$evo}-inverse-trans-gray-25-bg         { background-color: transparentize($base_light_translucent, .06); }

#{$evo}-inverse-trans-gray-24            { color: transparentize($base_light_translucent, .08); }
#{$evo}-inverse-trans-gray-24-bg         { background-color: transparentize($base_light_translucent, .08); }

#{$evo}-inverse-trans-gray-23            { color: transparentize($base_light_translucent, .1); }
#{$evo}-inverse-trans-gray-23-bg         { background-color: transparentize($base_light_translucent, .1); }

#{$evo}-inverse-trans-gray-22            { color: transparentize($base_light_translucent, .15); }
#{$evo}-inverse-trans-gray-22-bg         { background-color: transparentize($base_light_translucent, .15); }

#{$evo}-inverse-trans-gray-21            { color: transparentize($base_light_translucent, .2); }
#{$evo}-inverse-trans-gray-21-bg         { background-color: transparentize($base_light_translucent, .2); }

#{$evo}-inverse-trans-gray-20            { color: transparentize($base_light_translucent, .25); }
#{$evo}-inverse-trans-gray-20-bg         { background-color: transparentize($base_light_translucent, .25); }

#{$evo}-inverse-trans-gray-19            { color: transparentize($base_light_translucent, .3); }
#{$evo}-inverse-trans-gray-19-bg         { background-color: transparentize($base_light_translucent, .3); }

#{$evo}-inverse-trans-gray-18            { color: transparentize($base_light_translucent, .35); }
#{$evo}-inverse-trans-gray-18-bg         { background-color: transparentize($base_light_translucent, .35); }

#{$evo}-inverse-trans-gray-17            { color: transparentize($base_light_translucent, .4); }
#{$evo}-inverse-trans-gray-17-bg         { background-color: transparentize($base_light_translucent, .4); }

#{$evo}-inverse-trans-gray-16            { color: transparentize($base_light_translucent, .45); }
#{$evo}-inverse-trans-gray-16-bg         { background-color: transparentize($base_light_translucent, .45); }

#{$evo}-inverse-trans-gray-15            { color: transparentize($base_light_translucent, .5); }
#{$evo}-inverse-trans-gray-15-bg         { background-color: transparentize($base_light_translucent, .5); }

#{$evo}-inverse-trans-gray-14            { color: transparentize($base_light_translucent, .55); }
#{$evo}-inverse-trans-gray-14-bg         { background-color: transparentize($base_light_translucent, .55); }

#{$evo}-inverse-trans-gray-13            { color: transparentize($base_light_translucent, .6); }
#{$evo}-inverse-trans-gray-13-bg         { background-color: transparentize($base_light_translucent, .6); }

#{$evo}-inverse-trans-gray-12            { color: transparentize($base_light_translucent, .65); }
#{$evo}-inverse-trans-gray-12-bg         { background-color: transparentize($base_light_translucent, .65); }

#{$evo}-inverse-trans-gray-11            { color: transparentize($base_light_translucent, .7); }
#{$evo}-inverse-trans-gray-11-bg         { background-color: transparentize($base_light_translucent, .7); }

#{$evo}-inverse-trans-gray-10            { color: transparentize($base_light_translucent, .75); }
#{$evo}-inverse-trans-gray-10-bg         { background-color: transparentize($base_light_translucent, .75); }

#{$evo}-inverse-trans-gray-9             { color: transparentize($base_light_translucent, .8); }
#{$evo}-inverse-trans-gray-9-bg          { background-color: transparentize($base_light_translucent, .8); }

#{$evo}-inverse-trans-gray-8             { color: transparentize($base_light_translucent, .85); }
#{$evo}-inverse-trans-gray-8-bg          { background-color: transparentize($base_light_translucent, .85); }

#{$evo}-inverse-trans-gray-7             { color: transparentize($base_light_translucent, .9); }
#{$evo}-inverse-trans-gray-7-bg          { background-color: transparentize($base_light_translucent, .9); }

#{$evo}-inverse-trans-gray-6             { color: transparentize($base_light_translucent, .92); }
#{$evo}-inverse-trans-gray-6-bg          { background-color: transparentize($base_light_translucent, .92); }

#{$evo}-inverse-trans-gray-5             { color: transparentize($base_light_translucent, .94); }
#{$evo}-inverse-trans-gray-5-bg          { background-color: transparentize($base_light_translucent, .94); }

#{$evo}-inverse-trans-gray-4             { color: transparentize($base_light_translucent, .95); }
#{$evo}-inverse-trans-gray-4-bg          { background-color: transparentize($base_light_translucent, .95); }

#{$evo}-inverse-trans-gray-3             { color: transparentize($base_light_translucent, .96); }
#{$evo}-inverse-trans-gray-3-bg          { background-color: transparentize($base_light_translucent, .96); }

#{$evo}-inverse-trans-gray-2             { color: transparentize($base_light_translucent, .97); }
#{$evo}-inverse-trans-gray-2-bg          { background-color: transparentize($base_light_translucent, .97); }

#{$evo}-inverse-trans-gray-1             { color: transparentize($base_light_translucent, .98); }
#{$evo}-inverse-trans-gray-1-bg          { background-color: transparentize($base_light_translucent, .98); }

#{$evo}-inverse-trans-gray-0             { color: transparentize($base_light_translucent, 1); }
#{$evo}-inverse-trans-gray-0-bg          { background-color: transparentize($base_light_translucent, 1); }