///* ================================================================================ */
///*                         COLORS EXTENDED EVOLUTION ELEMENTS v2.0.1                */
///* ================================================================================ */

// Reference hexcolortool.com for quick picks


/* ================================================================================ */
/* ------------------------------- COLORS EXTENDED -------------------------------- */
/* ================================================================================ */



/* 

--------------------------- HEX SOLID GRAYS --------------------------- 

*/

// These solid hexidecimal grays correspond to increments of black opacity
// For example hex_95 corresponds to gray_95 and black_95.


#{$evo}-hex-gray-100             { color: $hex_gray_100_evo; }                // Black
#{$evo}-hex-gray-100-bg          { background-color: $hex_gray_100_evo; }

#{$evo}-hex-gray-99              { color: $hex_gray_99_evo; }
#{$evo}-hex-gray-99-bg           { background-color: $hex_gray_99_evo; }

#{$evo}-hex-gray-98              { color: $hex_gray_98_evo; }
#{$evo}-hex-gray-98-bg           { background-color: $hex_gray_98_evo; }

#{$evo}-hex-gray-97              { color: $hex_gray_97_evo; }
#{$evo}-hex-gray-97-bg           { background-color: $hex_gray_97_evo; }

#{$evo}-hex-gray-96              { color: $hex_gray_96_evo; }
#{$evo}-hex-gray-96-bg           { background-color: $hex_gray_96_evo; }

#{$evo}-hex-gray-95              { color: $hex_gray_95_evo; }
#{$evo}-hex-gray-95-bg           { background-color: $hex_gray_95_evo; }

#{$evo}-hex-gray-90      { color: $hex_gray_90_evo; }
#{$evo}-hex-gray-90-bg     { background-color: $hex_gray_90_evo; }

#{$evo}-hex-gray-85      { color: $hex_gray_85_evo; }
#{$evo}-hex-gray-85-bg     { background-color: $hex_gray_85_evo; }

#{$evo}-hex-gray-80              { color: $hex_gray_80_evo; }
#{$evo}-hex-gray-80-bg           { background-color: $hex_gray_80_evo; }

#{$evo}-hex-gray-75      { color: $hex_gray_75_evo; }
#{$evo}-hex-gray-75-bg     { background-color: $hex_gray_75_evo; }

#{$evo}-hex-gray-70      { color: $hex_gray_70_evo; }
#{$evo}-hex-gray-70-bg     { background-color: $hex_gray_70_evo; }

#{$evo}-hex-gray-65              { color: $hex_gray_65_evo; }
#{$evo}-hex-gray-65-bg           { background-color: $hex_gray_65_evo; }

#{$evo}-hex-gray-60      { color: $hex_gray_60_evo; }
#{$evo}-hex-gray-60-bg     { background-color: $hex_gray_60_evo; }

#{$evo}-hex-gray-55      { color: $hex_gray_55_evo; }
#{$evo}-hex-gray-55-bg     { background-color: $hex_gray_55_evo; }

#{$evo}-hex-gray-50              { color: $hex_gray_50_evo; }
#{$evo}-hex-gray-50-bg           { background-color: $hex_gray_50_evo; }

#{$evo}-hex-gray-45      { color: $hex_gray_45_evo; }
#{$evo}-hex-gray-45-bg     { background-color: $hex_gray_45_evo; }

#{$evo}-hex-gray-40      { color: $hex_gray_40_evo; }
#{$evo}-hex-gray-40-bg     { background-color: $hex_gray_40_evo; }

#{$evo}-hex-gray-35              { color: $hex_gray_35_evo; }
#{$evo}-hex-gray-35-bg           { background-color: $hex_gray_35_evo; }

#{$evo}-hex-gray-30      { color: $hex_gray_30_evo; }
#{$evo}-hex-gray-30-bg     { background-color: $hex_gray_30_evo; }

#{$evo}-hex-gray-25      { color: $hex_gray_25_evo; }
#{$evo}-hex-gray-25-bg     { background-color: $hex_gray_25_evo; }

#{$evo}-hex-gray-20              { color: $hex_gray_20_evo; }
#{$evo}-hex-gray-20-bg           { background-color: $hex_gray_20_evo; }

#{$evo}-hex-gray-15      { color: $hex_gray_15_evo; }
#{$evo}-hex-gray-15-bg     { background-color: $hex_gray_15_evo; }

#{$evo}-hex-gray-10              { color: $hex_gray_10_evo; }
#{$evo}-hex-gray-10-bg           { background-color: $hex_gray_10_evo; }

#{$evo}-hex-gray-5                    { color: $hex_gray_5_evo; }
#{$evo}-hex-gray-5-bg            { background-color: $hex_gray_5_evo; }

#{$evo}-hex-gray-4                    { color: $hex_gray_4_evo; }
#{$evo}-hex-gray-4-bg            { background-color: $hex_gray_4_evo; }

#{$evo}-hex-gray-3                    { color: $hex_gray_3_evo; }
#{$evo}-hex-gray-3-bg            { background-color: $hex_gray_3_evo; }

#{$evo}-hex-gray-2                    { color: $hex_gray_2_evo; }
#{$evo}-hex-gray-2-bg            { background-color: $hex_gray_2_evo; }

#{$evo}-hex-gray-1                    { color: $hex_gray_1_evo; }
#{$evo}-hex-gray-1-bg            { background-color: $hex_gray_1_evo; }

#{$evo}-hex-gray-0                    { color: $hex_gray_0_evo; }                  // White
#{$evo}-hex-gray-0-bg            { background-color: $hex_gray_0_evo; }




/* 

--------------------------- RGB SOLID GRAYS --------------------------- 

*/

// These solid hexidecimal grays correspond to increments of black opacity


#{$evo}-rgb-gray-100             { color: $rgb_gray_100_evo; }
#{$evo}-rgb-gray-100-bg          { background-color: $rgb_gray_100_evo; }

#{$evo}-rgb-gray-99              { color: $rgb_gray_99_evo; }
#{$evo}-rgb-gray-99-bg           { background-color: $rgb_gray_99_evo; }

#{$evo}-rgb-gray-98              { color: $rgb_gray_98_evo; }
#{$evo}-rgb-gray-98-bg           { background-color: $rgb_gray_98_evo; }

#{$evo}-rgb-gray-97              { color: $rgb_gray_97_evo; }
#{$evo}-rgb-gray-97-bg           { background-color: $rgb_gray_97_evo; }

#{$evo}-rgb-gray-96              { color: $rgb_gray_96_evo; }
#{$evo}-rgb-gray-96-bg           { background-color: $rgb_gray_96_evo; }

#{$evo}-rgb-gray-95              { color: $rgb_gray_95_evo; }
#{$evo}-rgb-gray-95-bg           { background-color: $rgb_gray_95_evo; }

#{$evo}-rgb-gray-90          { color: $rgb_gray_90_evo; }
#{$evo}-rgb-gray-90-bg       { background-color: $rgb_gray_90_evo; }

#{$evo}-rgb-gray-85          { color: $rgb_gray_85_evo; }
#{$evo}-rgb-gray-85-bg       { background-color: $rgb_gray_85_evo; }

#{$evo}-rgb-gray-80              { color: $rgb_gray_80_evo; }
#{$evo}-rgb-gray-80-bg           { background-color: $rgb_gray_80_evo; }

#{$evo}-rgb-gray-75          { color: $rgb_gray_75_evo; }
#{$evo}-rgb-gray-75-bg       { background-color: $rgb_gray_75_evo; }

#{$evo}-rgb-gray-70          { color: $rgb_gray_70_evo; }
#{$evo}-rgb-gray-70-bg       { background-color: $rgb_gray_70_evo; }

#{$evo}-rgb-gray-65              { color: $rgb_gray_65_evo; }
#{$evo}-rgb-gray-65-bg           { background-color: $rgb_gray_65_evo; }

#{$evo}-rgb-gray-60          { color: $rgb_gray_60_evo; }
#{$evo}-rgb-gray-60-bg       { background-color: $rgb_gray_60_evo; }

#{$evo}-rgb-gray-55          { color: $rgb_gray_55_evo; }
#{$evo}-rgb-gray-55-bg       { background-color: $rgb_gray_55_evo; }

#{$evo}-rgb-gray-50              { color: $rgb_gray_50_evo; }
#{$evo}-rgb-gray-50-bg           { background-color: $rgb_gray_50_evo; }

#{$evo}-rgb-gray-45          { color: $rgb_gray_45_evo; }
#{$evo}-rgb-gray-45-bg       { background-color: $rgb_gray_45_evo; }

#{$evo}-rgb-gray-40          { color: $rgb_gray_40_evo; }
#{$evo}-rgb-gray-40-bg       { background-color: $rgb_gray_40_evo; }

#{$evo}-rgb-gray-35              { color: $rgb_gray_35_evo; }
#{$evo}-rgb-gray-35-bg           { background-color: $rgb_gray_35_evo; }

#{$evo}-rgb-gray-30          { color: $rgb_gray_30_evo; }
#{$evo}-rgb-gray-30-bg       { background-color: $rgb_gray_30_evo; }

#{$evo}-rgb-gray-25          { color: $rgb_gray_25_evo; }
#{$evo}-rgb-gray-25-bg       { background-color: $rgb_gray_25_evo; }

#{$evo}-rgb-gray-20              { color: $rgb_gray_20_evo; }
#{$evo}-rgb-gray-20-bg           { background-color: $rgb_gray_20_evo; }

#{$evo}-rgb-gray-15          { color: $rgb_gray_15_evo; }
#{$evo}-rgb-gray-15-bg       { background-color: $rgb_gray_15_evo; }

#{$evo}-rgb-gray-10              { color: $rgb_gray_10_evo; }
#{$evo}-rgb-gray-10-bg           { background-color: $rgb_gray_10_evo; }

#{$evo}-rgb-gray-5               { color: $rgb_gray_5_evo; }
#{$evo}-rgb-gray-5-bg            { background-color: $rgb_gray_5_evo; }

#{$evo}-rgb-gray-4               { color: $rgb_gray_4_evo; }
#{$evo}-rgb-gray-4-bg            { background-color: $rgb_gray_4_evo; }

#{$evo}-rgb-gray-3               { color: $rgb_gray_3_evo; }
#{$evo}-rgb-gray-3-bg            { background-color: $rgb_gray_3_evo; }

#{$evo}-rgb-gray-2               { color: $rgb_gray_2_evo; }
#{$evo}-rgb-gray-2-bg            { background-color: $rgb_gray_2_evo; }

#{$evo}-rgb-gray-1               { color: $rgb_gray_1_evo; }
#{$evo}-rgb-gray-1-bg            { background-color: $rgb_gray_1_evo; }

#{$evo}-rgb-gray-0               { color: $rgb_gray_0_evo; }
#{$evo}-rgb-gray-0-bg            { background-color: $rgb_gray_0_evo; }




/* -------------------------- WARM SOLID GRAYS --------------------------- */

// Grays made by mixing equal amounts of CMY colors without the K
// For example warm_100 mixed in photoshop is 100 C 100 M 100 Y 0 K


#{$evo}-warm-100           { color: $warm_gray_100_evo; }
#{$evo}-warm-100-bg        { background-color: $warm_gray_100_evo; }

#{$evo}-warm-99            { color: $warm_gray_99_evo; }
#{$evo}-warm-99-bg         { background-color: $warm_gray_99_evo; }

#{$evo}-warm-98            { color: $warm_gray_98_evo; }
#{$evo}-warm-98-bg         { background-color: $warm_gray_98_evo; }

#{$evo}-warm-97            { color: $warm_gray_97_evo; }
#{$evo}-warm-97-bg         { background-color: $warm_gray_97_evo; }

#{$evo}-warm-96            { color: $warm_gray_96_evo; }
#{$evo}-warm-96-bg         { background-color: $warm_gray_96_evo; }

#{$evo}-warm-95            { color: $warm_gray_95_evo; }
#{$evo}-warm-95-bg         { background-color: $warm_gray_95_evo; }

#{$evo}-warm-90            { color: $warm_gray_90_evo; }
#{$evo}-warm-90-bg         { background-color: $warm_gray_90_evo; }

#{$evo}-warm-85            { color: $warm_gray_85_evo; }
#{$evo}-warm-85-bg         { background-color: $warm_gray_85_evo; }

#{$evo}-warm-80            { color: $warm_gray_80_evo; }
#{$evo}-warm-80-bg         { background-color: $warm_gray_80_evo; }

#{$evo}-warm-75            { color: $warm_gray_75_evo; }
#{$evo}-warm-75-bg         { background-color: $warm_gray_75_evo; }

#{$evo}-warm-70            { color: $warm_gray_70_evo; }
#{$evo}-warm-70-bg         { background-color: $warm_gray_70_evo; }

#{$evo}-warm-65            { color: $warm_gray_65_evo; }
#{$evo}-warm-65-bg         { background-color: $warm_gray_65_evo; }

#{$evo}-warm-60            { color: $warm_gray_60_evo; }
#{$evo}-warm-60-bg         { background-color: $warm_gray_60_evo; }

#{$evo}-warm-55            { color: $warm_gray_55_evo; }
#{$evo}-warm-55-bg         { background-color: $warm_gray_55_evo; }

#{$evo}-warm-50            { color: $warm_gray_50_evo; }
#{$evo}-warm-50-bg         { background-color: $warm_gray_50_evo; }

#{$evo}-warm-45            { color: $warm_gray_45_evo; }
#{$evo}-warm-45-bg         { background-color: $warm_gray_45_evo; }

#{$evo}-warm-40            { color: $warm_gray_40_evo; }
#{$evo}-warm-40-bg         { background-color: $warm_gray_40_evo; }

#{$evo}-warm-35            { color: $warm_gray_35_evo; }
#{$evo}-warm-35-bg         { background-color: $warm_gray_35_evo; }

#{$evo}-warm-30            { color: $warm_gray_30_evo; }
#{$evo}-warm-30-bg         { background-color: $warm_gray_30_evo; }

#{$evo}-warm-25            { color: $warm_gray_25_evo; }
#{$evo}-warm-25-bg         { background-color: $warm_gray_25_evo; }

#{$evo}-warm-20            { color: $warm_gray_20_evo; }
#{$evo}-warm-20-bg         { background-color: $warm_gray_20_evo; }

#{$evo}-warm-15            { color: $warm_gray_15_evo; }
#{$evo}-warm-15-bg         { background-color: $warm_gray_15_evo; }

#{$evo}-warm-10            { color: $warm_gray_10_evo; }
#{$evo}-warm-10-bg         { background-color: $warm_gray_10_evo; }

#{$evo}-warm-5           { color: $warm_gray_5_evo; }
#{$evo}-warm-5-bg        { background-color: $warm_gray_5_evo; }

#{$evo}-warm-4           { color: $warm_gray_4_evo; }
#{$evo}-warm-4-bg        { background-color: $warm_gray_4_evo; }

#{$evo}-warm-3           { color: $warm_gray_3_evo; }
#{$evo}-warm-3-bg        { background-color: $warm_gray_3_evo; }

#{$evo}-warm-2           { color: $warm_gray_2_evo; }
#{$evo}-warm-2-bg        { background-color: $warm_gray_2_evo; }

#{$evo}-warm-1           { color: $warm_gray_1_evo; }
#{$evo}-warm-1-bg        { background-color: $warm_gray_1_evo; }

#{$evo}-warm-0           { color: $warm_gray_0_evo; }
#{$evo}-warm-0-bg        { background-color: $warm_gray_0_evo; }



///* --------------------------- COOL SOLID GRAYS --------------------------- */

// Not yet created



///* This variable should be in the style.scss page */

///* $base_cool_opacity:                 20%; // Desaturation, Need to make the cool grays in colors_extended.scss */




/* --------------------------- RGB PURE COLORS --------------------------- */

// These are pure RGB values. They appear very harsh to the eye.

 
#{$evo}-rgb-red      { color: $rgb_red_evo; }
#{$evo}-rgb-red-bg     { background-color: $rgb_red_evo; }

#{$evo}-rgb-green      { color: $rgb_green_evo; }
#{$evo}-rgb-green-bg   { background-color: $rgb_green_evo; }

#{$evo}-rgb-blue     { color: $rgb_blue_evo; }
#{$evo}-rgb-blue-bg    { background-color: $rgb_blue_evo; }

#{$evo}-rgb-cyan     { color: $rgb_cyan_evo; }
#{$evo}-rgb-cyan-bg    { background-color: $rgb_cyan_evo; }

#{$evo}-rgb-magenta    { color: $rgb_magenta_evo; }
#{$evo}-rgb-magenta-bg   { background-color: $rgb_magenta_evo; }

#{$evo}-rgb-yellow     { color: $rgb_yellow_evo; }
#{$evo}-rgb-yellow-bg    { background-color: $rgb_yellow_evo; }



/* --------------------------- SOCIAL MEDIA BRAND COLORS --------------------------- */

// These are popular social media brand colors.


#{$evo}-blogger      { color: $blogger_evo; }
#{$evo}-blogger-bg     { background-color: $blogger_evo; }

#{$evo}-dribbble     { color: $dribbble_evo; }
#{$evo}-dribbble-bg    { background-color: $dribbble_evo; }

#{$evo}-facebook     { color: $facebook_evo; }
#{$evo}-facebook-bg    { background-color: $facebook_evo; }

#{$evo}-flickr       { color: $flickr_evo; }
#{$evo}-flickr-bg      { background-color: $flickr_evo; }

#{$evo}-forrst       { color: $forrst_evo; }
#{$evo}-forrst-bg      { background-color: $forrst_evo; }

#{$evo}-foursquare     { color: $foursquare_evo; }
#{$evo}-foursquare-bg,   { background-color: $foursquare_evo; }

#{$evo}-googleplus     { color: $googleplus_evo; }
#{$evo}-googleplus-bg    { background-color: $googleplus_evo; }

#{$evo}-instagram      { color: $instagram_evo; }
#{$evo}-instagram-bg   { background-color: $instagram_evo; }

#{$evo}-linkedin     { color: $linkedin_evo; }
#{$evo}-linkedin-bg    { background-color: $linkedin_evo; }

#{$evo}-pinterest      { color: $pinterest_evo; }
#{$evo}-pinterest-bg   { background-color: $pinterest_evo; }

#{$evo}-quora        { color: $quora_evo; }
#{$evo}-quora-bg     { background-color: $quora_evo; }

#{$evo}-soundcloud     { color: $soundcloud_evo; }
#{$evo}-soundcloud-bg    { background-color: $soundcloud_evo; }

#{$evo}-stumbleupon    { color: $stumbleupon_evo; }
#{$evo}-stumbleupon-bg   { background-color: $stumbleupon_evo; }

#{$evo}-twitter      { color: $twitter_evo; }
#{$evo}-twitter-bg     { background-color: $twitter_evo; }

#{$evo}-tumblr       { color: $tumblr_evo; }
#{$evo}-tumblr-bg      { background-color: $tumblr_evo; }

#{$evo}-vimeo        { color: $vimeo_evo; }
#{$evo}-vimeo-bg     { background-color: $vimeo_evo; }

#{$evo}-vk         { color: $vk_evo; }
#{$evo}-vk-bg        { background-color: $vk_evo; }

#{$evo}-wordpress      { color: $wordpress_evo; }
#{$evo}-wordpress-bg   { background-color: $wordpress_evo; }

#{$evo}-yahoo        { color: $yahoo_evo; }
#{$evo}-yahoo-bg     { background-color: $yahoo_evo; }

#{$evo}-youtube      { color: $youtube_evo; }
#{$evo}-youtube-bg     { background-color: $youtube_evo; }



/* --------------------------- GRAY ARTISTIC COLORS--------------------------- */

#{$evo}-charcoal,      { color: $evo_gray_charcoal; }
#{$evo}-charcoal-bg    { background-color: $evo_gray_charcoal; }

#{$evo}-silver       { color: $evo_gray_silver; }
#{$evo}-silver-bg      { background-color: $evo_gray_silver; }

#{$evo}-snow       { color: $evo_gray_snow; }
#{$evo}-snow-bg      { background-color: $evo_gray_snow; }



/* --------------------------- CMY ARTISTIC COLORS --------------------------- */

#{$evo}-cmy-orange     { color: $cmy_orange_evo; }
#{$evo}-cmy-orange-bg    { background-color: $cmy_orange_evo; }

#{$evo}-cmy-purple     { color: $cmy_purple_evo; }
#{$evo}-cmy-purple-bg    { background-color: $cmy_purple_evo; }

#{$evo}-cmy-red-violet   { color: $cmy_red_violet_evo; }
#{$evo}-cmy-red-violet-bg  { background-color: $cmy_red_violet_evo; }

#{$evo}-cmy-pink     { color: $cmy_pink_evo; }
#{$evo}-cmy-pink-bg    { background-color: $cmy_pink_evo; }



/* --------------------------- FILTERS --------------------------- */

// Advanced filters for creating color effects
// May require testing and debugging

/* DESATURATE */

     img.desaturate {

     -webkit-filter: grayscale(100%); ///* Google Chrome, Safari 6+ & Opera 15+ */

     -moz-filter: grayscale(100%) !important;

     filter: grayscale(100%);

     filter: url(filters.svg#grayscale); ///* Firefox 3.5+ */

     filter: gray; ///* IE6-9 */

     }

     img.desaturate:hover {

     filter: none;

     -webkit-filter: grayscale(0)

          }

///* PULSING COLOR */

// pulsing color background, needs testing

///* $-webkit-keyframes colorPulse { 0% { background-color: #45CEEF; } 25% { background-color: #FFF5A5; } 50% { background-color: #FFD4DA; } 75% { background-color: #99D2E4; } 100% { background-color: #D8CAB4; } } body { background-color: #45CEEF; -webkit-animation: pulse 40s infinite alternate; } #pulse { -webkit-animation: colorPulse 10s infinite alternate; } */

///* CROSS-BROWSER TRANSPARENCY */
// http://css-tricks.com/css-transparency-settings-for-all-broswers

///* .transparent {           */
///*  zoom: 1;            */
///*  filter: alpha(opacity=50);    */
///*  opacity: 0.5;           */
///* }                */
