///*      F O N T S     */

// Font-Family Stacks

@import "../variables";

// WEB SAFE FONTS
// Font stacks referenced from http://www.cssfontstack.com/

.font-arial,
%font-arial                       { font-family: $font_arial; }

.font-georgia,
%font-georgia                     { font-family: $font_georgia; }

.font-times-new-roman,
%font-times-new-roman             { font-family: $font_times_new_roman; }

.font-courier-new,
%font-courier-new                 { font-family: $font_courier_new; }


// OTHER

.font-helvetica-neue,
%font-helvetica-neue              { font-family: $font_helvetica_neue; }

.font-helvetica-neue-thin,
%font-helvetica-neue-thin         { font-family: $font_helvetica_neue_thin; }
// didot here
// gotham here

// GOOGLE
// #{$evo}-font-open-sans                 { font-family: $font_open_sans !important; }

// ADOBE
// Place adobe fonts here