///* ================================================================================ */

///*                         FONTS EVOLUTION ELEMENTS v2.0.1                          */

///* ================================================================================ */


/* ================================================================================ */
/* ----------------------------------- FONTS -------------------------------------- */
/* ================================================================================ */


// --------------------------- WEB SAFE FONTS --------------------------- 

#{$evo}-font-arial                       { font-family: $font_stack_arial; }
#{$evo}-font-georgia                     { font-family: $font_stack_georgia; }
#{$evo}-font-times-new-roman             { font-family: $font_stack_times_new_roman; }
#{$evo}-font-courier-new                 { font-family: $font_stack_courier_new; }

// Font stacks referenced from http://www.cssfontstack.com/

// Ubiquitous installation rate


// High Installation rate

// webdings?

// --------------------------- FASHION INSPIRED FONTS --------------------------- 

#{$evo}-helvetica-neue              { font-family: $font_stack_helvetica_neue; }
#{$evo}-helvetica-neue-thin         { font-family: $font_stack_helvetica_neue_thin; }


// didot here
// gotham here

// --------------------------- GOOGLE FONTS --------------------------- 

// #{$evo}-font-open-sans                 { font-family: $font_stack_open_sans !important; }

// --------------------------- FONT SQUIRREL --------------------------- 

// Place go-to fontsquirrel fonts here