///*      H I G H L I G H T   C O L O R     */


@import "../variables";




// Color 0

.highlight-color-0 {
    background-color: #{$color_0};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-0 {
    background-color: #{$color_0};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 1

.highlight-color-1 {
    background-color: #{$color_1};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-1 {
    background-color: #{$color_1};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 2

.highlight-color-2 {
    background-color: #{$color_2};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-2 {
    background-color: #{$color_2};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 3

.highlight-color-3 {
    background-color: #{$color_3};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-3 {
    background-color: #{$color_3};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 4

.highlight-color-4 {
    background-color: #{$color_4};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-4 {
    background-color: #{$color_4};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 5

.highlight-color-5 {
    background-color: #{$color_5};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-5 {
    background-color: #{$color_5};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 6

.highlight-color-6 {
    background-color: #{$color_6};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-6 {
    background-color: #{$color_6};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 7

.highlight-color-7 {
    background-color: #{$color_7};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-7 {
    background-color: #{$color_7};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 8

.highlight-color-8 {
    background-color: #{$color_8};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-8 {
    background-color: #{$color_8};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 9

.highlight-color-9 {
    background-color: #{$color_9};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-9 {
    background-color: #{$color_9};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}



// Color 10

.highlight-color-10 {
    background-color: #{$color_10};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-10 {
    background-color: #{$color_10};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 11

.highlight-color-11 {
    background-color: #{$color_11};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-11 {
    background-color: #{$color_11};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 12

.highlight-color-12 {
    background-color: #{$color_12};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-12 {
    background-color: #{$color_12};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 13

.highlight-color-13 {
    background-color: #{$color_13};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-13 {
    background-color: #{$color_13};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 14

.highlight-color-14 {
    background-color: #{$color_14};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-14 {
    background-color: #{$color_14};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 15

.highlight-color-15 {
    background-color: #{$color_15};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-15 {
    background-color: #{$color_15};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 16

.highlight-color-16 {
    background-color: #{$color_16};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-16 {
    background-color: #{$color_16};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 17

.highlight-color-17 {
    background-color: #{$color_17};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-17 {
    background-color: #{$color_17};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 18

.highlight-color-18 {
    background-color: #{$color_18};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-18 {
    background-color: #{$color_18};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 19

.highlight-color-19 {
    background-color: #{$color_19};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-19 {
    background-color: #{$color_19};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 20

.highlight-color-20 {
    background-color: #{$color_20};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-20 {
    background-color: #{$color_20};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 21

.highlight-color-21 {
    background-color: #{$color_21};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-21 {
    background-color: #{$color_21};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 22

.highlight-color-22 {
    background-color: #{$color_22};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-22 {
    background-color: #{$color_22};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 23

.highlight-color-23 {
    background-color: #{$color_23};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-23 {
    background-color: #{$color_23};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 24

.highlight-color-24 {
    background-color: #{$color_24};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-24 {
    background-color: #{$color_24};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 25

.highlight-color-25 {
    background-color: #{$color_25};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-25 {
    background-color: #{$color_25};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 26

.highlight-color-26 {
    background-color: #{$color_26};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-26 {
    background-color: #{$color_26};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 27

.highlight-color-27 {
    background-color: #{$color_27};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-27 {
    background-color: #{$color_27};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 28

.highlight-color-28 {
    background-color: #{$color_28};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-28 {
    background-color: #{$color_28};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}



// Color 29

.highlight-color-29 {
    background-color: #{$color_29};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-29 {
    background-color: #{$color_29};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}


// Color 30

.highlight-color-30 {
    background-color: #{$color_30};
    color: #{$evo_white};
    text-shadow: #{$highlight_text_shadow};
}

.inverse-highlight-color-30 {
    background-color: #{$color_30};
    color: #{$evo_black};
    text-shadow: #{$highlight_text_shadow};
}