///*      I C O N   L I S T    */

@import "../variables";
// @import "../variables/scale";
@import "text_mixin";



// Evo List Icons
#{$evo}-icon-list li:before {
content:''; 
// display:inline-block; 
position: absolute;
height: 1em;
width: 1em;
background-image: #{$icon_list_background}; 
background-size: contain;
// background-position: auto;
background-repeat:no-repeat; 
left: -1.5em;
top: .15em;
}
#{$evo}-icon-list li {
    margin-left: 1.5em;
    position: relative;
    list-style-type: none;
    // padding-left: -3em;
}

