///*      I C O N   S I Z E    */

@import "../variables";
// @import "../variables/scale";
@import "text_mixin";



// XXX Large Icon
.icon-size-xxx-large li:before {
height: 2em;
width: 2em;
left: -2.5em;
top: -.45em;
}
.icon-size-xxx-large li {
    margin-left: 2.5em;
}

// XX Large Icon
.icon-size-xx-large li:before {
height: 1.75em;
width: 1.75em;
left: -2.25em;
top: -.3em;
}
.icon-size-xx-large li {
    margin-left: 2.25em;
}

// X large Icon
.icon-size-x-large li:before {
height: 1.5em;
width: 1.5em;
left: -2em;
top: -.15em;
}
.icon-size-x-large li {
    margin-left: 2em;
}

// Large Icon
.icon-size-large li:before {
height: 1.25em;
width: 1.25em;
left: -1.75em;
top: 0; // or -.05em
}
.icon-size-large li {
    margin-left: 1.75em;
}

// Medium Icon
.icon-size-medium li:before {
height: 1em;
width: 1em;
left: -1.5em;
top: .15em;
}
.icon-size-medium li {
    margin-left: 1.5em;
}


// Small Icon
.icon-size-small li:before {
height:.75em; 
width:.75em; 
left: -1.25em;
top: .3em;
}
.icon-size-small li {
    margin-left: 1.25em;
}

// X Small Icon
.icon-size-x-small li:before {
height:.5em; 
width:.5em; 
left: -1em;
top: .425em;
}
.icon-size-x-small li {
    margin-left: 1em;
}

// XX Small Icon
.icon-size-xx-small li:before {
height: .35em; 
width: .35em; 
left: -.75em;
top: .45em;
}
.icon-size-xx-small li {
    margin-left: .75em;
}
