///* ================================================================================ */

///*                         IMAGES EVOLUTION ELEMENTS v2.0.1                         */

///* ================================================================================ */


/* ================================================================================ */
/* --------------------------------- IMAGES --------------------------------------- */
/* ================================================================================ */


/* IMAGE BASE CSS */

#{$evo}-image-base {
     display: block;
     float: left;
     // width: 100%; 
     height: 0;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     vertical-align: top;
}


/* WIDE IMAGES */

#{$evo}-image-wide-100 {@extend #{$evo}-image-square;} // Not Needed

#{$evo}-image-wide-95 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 95%;
}

#{$evo}-image-wide-90 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 90%;
}

#{$evo}-image-wide-85 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 85%;
}

#{$evo}-image-wide-80 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 80%;
}

#{$evo}-image-wide-75 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 75%;
}

#{$evo}-image-wide-70 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 70%;
}

#{$evo}-image-wide-65 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 65%;
}

#{$evo}-image-wide-60 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 60%;
}

#{$evo}-image-wide-55 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 55%;
}

#{$evo}-image-wide-50 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 50%;
}

#{$evo}-image-wide-45 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 45%;
}

#{$evo}-image-wide-40 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 40%;
}

#{$evo}-image-wide-35 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 35%;
}

#{$evo}-image-wide-30 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 30%;
}

#{$evo}-image-wide-25 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 25%;
}

#{$evo}-image-wide-20 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 20%;
}

#{$evo}-image-wide-15 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 15%;
}

#{$evo}-image-wide-12 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 12%;
}

#{$evo}-image-wide-10 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 10%;
}

#{$evo}-image-wide-7 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 7%;
}

#{$evo}-image-wide-5 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 5%;
}

#{$evo}-image-wide-3 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 3%;
}

#{$evo}-image-wide-1 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 1%;
}

/* SQUARE IMAGE */

#{$evo}-image-square {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 100%;
}

#{$evo}-image-circle {
     @extend #{$evo}-image-square;
     border-radius: 50%; 
}

#{$evo}-image-rounded {
     @extend #{$evo}-image-square;
     border-radius: 5px;
}


/* TALL IMAGES */

#{$evo}-image-tall-500 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 600%;
}

#{$evo}-image-tall-475 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 575%;
}

#{$evo}-image-tall-450 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 550%;
}

#{$evo}-image-tall-425 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 525%;
}

#{$evo}-image-tall-400 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 500%;
}

#{$evo}-image-tall-375 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 475%;
}

#{$evo}-image-tall-350 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 450%;
}

#{$evo}-image-tall-325 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 425%;
}

#{$evo}-image-tall-300 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 400%;
}

#{$evo}-image-tall-275 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 375%;
}

#{$evo}-image-tall-250 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 350%;
}

#{$evo}-image-tall-225 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 325%;
}

#{$evo}-image-tall-200 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 300%;
}

#{$evo}-image-tall-175 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 275%;
}

#{$evo}-image-tall-150 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 250%;
}

#{$evo}-image-tall-125 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 225%;
}

#{$evo}-image-tall-100 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 200%;
}

#{$evo}-image-tall-95 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 195%;
}

#{$evo}-image-tall-90 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 190%;
}

#{$evo}-image-tall-85 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 185%;
}

#{$evo}-image-tall-80 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 180%;
}

#{$evo}-image-tall-75 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 175%;
}

#{$evo}-image-tall-70 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 170%;
}

#{$evo}-image-tall-65 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 165%;
}

#{$evo}-image-tall-60 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 160%;
}

#{$evo}-image-tall-55 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 155%;
}

#{$evo}-image-tall-50 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 150%;
}

#{$evo}-image-tall-45 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 145%;
}

#{$evo}-image-tall-40 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 140%;
}

#{$evo}-image-tall-35 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 135%;
}

#{$evo}-image-tall-30 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 130%;
}

#{$evo}-image-tall-25 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 125%;
}

#{$evo}-image-tall-20 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 120%;
}

#{$evo}-image-tall-15 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 115%;
}

#{$evo}-image-tall-10 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 110%;
}

#{$evo}-image-tall-5 {
     @extend #{$evo}-image-base;
     width: 100%;
     padding-bottom: 105%;
}

#{$evo}-image-tall-0 {@extend #{$evo}-image-square;}  // Not needed
