///*      L A Y O U T   S C R E E N     */

// Screen width and height size units

@import "../variables";

// Just for the website

// .screen-example > div {
//   margin-left:-5%;
//   margin-right:-5%;
// }

// http://www.w3schools.com/howto/howto_css_full_page.asp
// Divs or tags must be placed directly within body, and not be nested in main, section, or other div tags


// Full screen percent blocks

.screen-full,
.screen-100 { width: 100%; height: 100%; }

.screen-75 { width: 75%; height: 75%; }

.screen-66 { width: 66%; height: 66%; }

.screen-half,
.screen-50 { width: 50%; height: 50%; }

.screen-third,
.screen-33 { width: 33%; height: 33%; }

.screen-quarter,
.screen-25 { width: 25%; height: 25%; }

.screen-none,
.screen-0 { width: 0; height: 0; }



// Wide percent blocks

.screen-wide-full,
.screen-wide-100 { width: 100%; }

.screen-wide-75 { width: 75%; }

.screen-wide-66 { width: 66%; }

.screen-wide-half,
.screen-wide-50 { width: 50%; }

.screen-wide-third,
.screen-wide-33 { width: 33%; }

.screen-wide-quarter,
.screen-wide-25 { width: 25%; }

.screen-wide-none,
.screen-wide-0 { width: 0; }


// Tall percent blocks

.screen-tall-full,
.screen-tall-100 { height: 100%; }

.screen-tall-75 { height: 75%; }

.screen-tall-66 { height: 66%; }

.screen-tall-half,
.screen-tall-50 { height: 50%; }

.screen-tall-third,
.screen-tall-33 { height: 33%; }

.screen-tall-quarter,
.screen-tall-25 { height: 25%; }

.screen-tall-none,
.screen-tall-0 { height: 0; }


