///*      L I N E   B L U R    */

@import "../variables";
// @import "../variables/scale";
// @import "line_mixin";

// Artistic lines
// http://www.cssportal.com/blog/style-hr-tag-with-css/


// Shadow Blurs

hr#{$evo}-line-blur-0 {
  border: 0;
  height: 0;
  box-shadow: 0 0 3px 1px black;
}

hr#{$evo}-line-blur-1 {
  border: 0;
  height: 0;
  box-shadow: 0 0 5px 1px black;
}

hr#{$evo}-line-blur-2 {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px black;
}

hr#{$evo}-line-blur-3 {
  border: 0;
  height: 0;
  box-shadow: 0 0 15px 1px black;
}

hr#{$evo}-line-blur-4 {
  border: 0;
  height: 0;
  box-shadow: 0 0 20px 1px black;
}

hr#{$evo}-line-blur-5 {
  border: 0;
  height: 0;
  box-shadow: 0 0 25px 1px black;
}

hr#{$evo}-line-blur-6 {
  border: 0;
  height: 0;
  box-shadow: 0 0 30px 1px black;
}

hr#{$evo}-line-blur-7 {
  border: 0;
  height: 0;
  box-shadow: 0 0 35px 1px black;
}

hr#{$evo}-line-blur-8 {
  border: 0;
  height: 0;
  box-shadow: 0 0 40px 1px black;
}

hr#{$evo}-line-blur-9 {
  border: 0;
  height: 0;
  box-shadow: 0 0 45px 1px black;
}

hr#{$evo}-line-blur-10 {
  border: 0;
  height: 0;
  box-shadow: 0 0 50px 1px black;
}
