///*      L I N E   S C A L E   */

@import "../variables";
// @import "../variables/scale";
// @import "line_mixins";


// SHOULD SOME OF THESE INHERIT?
// SHOULD SOME BE PERCENTAGES OR EMS?
$line_width:      initial; // border-top-width, initial = medium
$line_style:      solid;   // border-top-style
$line_color:      #{$gray-light}; // border-top-color
// $hr_margin_top: 1em;
// $hr_margin_bottom: 1em;

// hr line scale

hr#{$evo}-line-0          { border-top-width: 0; }
hr#{$evo}-line-1          { border-top-width: 1px; }
hr#{$evo}-line-2          { border-top-width: 2px; }
hr#{$evo}-line-3          { border-top-width: 3px; }
hr#{$evo}-line-4          { border-top-width: 4px; }
hr#{$evo}-line-5          { border-top-width: 5px; }
hr#{$evo}-line-6          { border-top-width: #{$px-0}; } // 6px
hr#{$evo}-line-7          { border-top-width: #{$px-1}; } // 8px
hr#{$evo}-line-8          { border-top-width: #{$px-2}; } // 10px
hr#{$evo}-line-9          { border-top-width: #{$px-3}; } // 12px
hr#{$evo}-line-10         { border-top-width: #{$px-4}; } // 14px
hr#{$evo}-line-11         { border-top-width: #{$px-5}; } // 16px
hr#{$evo}-line-12         { border-top-width: #{$px-6}; } // 18px
hr#{$evo}-line-13         { border-top-width: #{$px-7}; } // 21px
hr#{$evo}-line-14         { border-top-width: #{$px-8}; } // 23px
hr#{$evo}-line-15         { border-top-width: #{$px-9}; } // 30px

hr#{$evo}-line-thin       { border-top-width: thin; }
hr#{$evo}-line-medium     { border-top-width: medium; }
hr#{$evo}-line-thick      { border-top-width: thick; }

// css quick scale

hr#{$evo}-line-lightest       { @extend #{$evo}-line; border-top-width: 1px; border-top-style: dotted; }
hr#{$evo}-line-lighter        { @extend #{$evo}-line; border-top-width: 1px; }
hr#{$evo}-line-light          { @extend #{$evo}-line; border-top-width: 2px; }
hr#{$evo}-line-heavy          { @extend #{$evo}-line; border-top-width: 4px; }
hr#{$evo}-line-heavier        { @extend #{$evo}-line; border-top-width: 5px; }
hr#{$evo}-line-heaviest       { @extend #{$evo}-line; border-top-width: #{$px-0}; }
