///*      L I N E   S T Y L E    */

@import "../variables";
// @import "../variables/scale";
// @import "line_mixin";


// Need line styles here such as dotted, dashed, etc.


// line styles

hr.line-solid           { border-top-style: solid; }
hr.line-dotted          { border-top-style: dotted; }
hr.line-dashed          { border-top-style: dashed; }
hr.line-double          { border-top-style: double; }
// hr.line-groove          { border-top-style: groove; }
// hr.line-ridge           { border-top-style: ridge; }
// hr.line-inset           { border-top-style: inset; }
// hr.line-outset          { border-top-style: outset; }
