///*      L I N E   S H A D O W    */

@import "../variables";
// @import "../variables/scale";
// @import "line_mixin";

// Artistic lines
// http://www.cssportal.com/blog/style-hr-tag-with-css/

// Vertical shadow gradients

hr#{$evo}-line-shadow-0 {
  height: 5px;
  border: 0;
  box-shadow: 0 6px 2px -6px rgba(0, 0, 0, 0.5) inset;
}

hr#{$evo}-line-shadow-1 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 3px -10px rgba(0, 0, 0, 0.5) inset;
}

hr#{$evo}-line-shadow-2 {
  height: 20px;
  border: 0;
  box-shadow: 0 20px 5px -20px rgba(0, 0, 0, 0.5) inset;
}

hr#{$evo}-line-shadow-3 {
  height: 30px;
  border: 0;
  box-shadow: 0 30px 10px -30px rgba(0, 0, 0, 0.5) inset;
}

hr#{$evo}-line-shadow-4 {
  height: 40px;
  border: 0;
  box-shadow: 0 40px 20px -40px rgba(0, 0, 0, 0.5) inset;
}

hr#{$evo}-line-shadow-5 {
  height: 50px;
  border: 0;
  box-shadow: 0 50px 30px -50px rgba(0, 0, 0, 0.5) inset;
}

hr#{$evo}-line-shadow-6 {
  height: 60px;
  border: 0;
  box-shadow: 0 60px 40px -60px rgba(0, 0, 0, 0.5) inset;
}

hr#{$evo}-line-shadow-7 {
  height: 70px;
  border: 0;
  box-shadow: 0 70px 60px -70px rgba(0, 0, 0, 0.5) inset;
}

hr#{$evo}-line-shadow-8 {
  height: 80px;
  border: 0;
  box-shadow: 0 80px 60px -80px rgba(0, 0, 0, 0.5) inset;
}

hr#{$evo}-line-shadow-9 {
  height: 90px;
  border: 0;
  box-shadow: 0 90px 70px -90px rgba(0, 0, 0, 0.5) inset;
}

hr#{$evo}-line-shadow-10 {
  height: 100px;
  border: 0;
  box-shadow: 0 100px 80px -100px rgba(0, 0, 0, 0.5) inset;
}
