///*      L I N E    */

@import "../variables";
// @import "../variables/scale";
@import "line_mixins";


// SHOULD SOME OF THESE INHERIT?
// SHOULD SOME BE PERCENTAGES OR EMS?
$line_width:      initial; // border-top-width, initial = medium
$line_style:      solid;   // border-top-style
$line_color:      #ccc; // border-top-color
// $hr_margin_top: 1em;
// $hr_margin_bottom: 1em;

$box_width:      initial; // border-top-width, initial = medium
$box_style:      solid;   // border-top-style
$box_color:      #ccc; // border-top-color

#{$evo}-box-reset,
#{$evo}-box-line-reset           { 
	border: initial;
	border-top-width: initial;
	border-bottom-width: initial;
	border-right-width: initial;
	border-left-width: initial;
	border-top-style: initial;
	border-bottom-style: initial;
	border-right-style: initial;
	border-left-style: initial;
	border-top-color: initial;
	border-bottom-color: initial;
	border-right-color: initial;
	border-left-color: initial;
}

#{$evo}-box {
border-top-width:      #{$box_width}; // initial
border-bottom-width:   #{$box_width}; // initial 
border-right-width:    #{$box_width}; // initial 
border-left-width:     #{$box_width}; // initial
border-top-style:      #{$box_style}; // solid
border-bottom-style:   #{$box_style}; // solid
border-right-style:    #{$box_style}; // solid
border-left-style:     #{$box_style}; // solid
border-top-color:      #{$box_color}; // initial
border-bottom-color:   #{$box_color}; // initial 
border-right-color:    #{$box_color}; // initial 
border-left-color:     #{$box_color}; // initial

// // https://developer.mozilla.org/en-US/docs/Web/CSS/border-right-style
// #{$evo}-box-unset          { border-width: unset; }
// #{$evo}-box-hidden         { border-width: hidden; }
// #{$evo}-box-none           { border-width: none; }
// ADD Inherit


&-0              { @extend #{$evo}-box; border-top-width: 0; border-bottom-width: 0; border-right-width: 0; border-left-width: 0; }
&-1              { @extend #{$evo}-box; border-top-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-left-width: 1px; }
&-2              { @extend #{$evo}-box; border-top-width: 2px; border-bottom-width: 2px; border-right-width: 2px; border-left-width: 2px; }
&-3              { @extend #{$evo}-box; border-top-width: 3px; border-bottom-width: 3px; border-right-width: 3px; border-left-width: 3px; }
&-4              { @extend #{$evo}-box; border-top-width: 4px; border-bottom-width: 4px; border-right-width: 4px; border-left-width: 4px; }
&-5              { @extend #{$evo}-box; border-top-width: 5px; border-bottom-width: 5px; border-right-width: 5px; border-left-width: 5px; }
&-6              { @extend #{$evo}-box; border-top-width: #{$px-0}; border-bottom-width: #{$px-0}; border-right-width: #{$px-0}; border-left-width: #{$px-0}; } // 6px
&-7              { @extend #{$evo}-box; border-top-width: #{$px-1}; border-bottom-width: #{$px-1}; border-right-width: #{$px-1}; border-left-width: #{$px-1}; } // 8px
&-8              { @extend #{$evo}-box; border-top-width: #{$px-2}; border-bottom-width: #{$px-2}; border-right-width: #{$px-2}; border-left-width: #{$px-2}; } // 10px
&-9              { @extend #{$evo}-box; border-top-width: #{$px-3}; border-bottom-width: #{$px-3}; border-right-width: #{$px-3}; border-left-width: #{$px-3}; } // 12px
&-10             { @extend #{$evo}-box; border-top-width: #{$px-4}; border-bottom-width: #{$px-4}; border-right-width: #{$px-4}; border-left-width: #{$px-4}; } // 14px
&-11             { @extend #{$evo}-box; border-top-width: #{$px-5}; border-bottom-width: #{$px-5}; border-right-width: #{$px-5}; border-left-width: #{$px-5}; } // 16px
&-12             { @extend #{$evo}-box; border-top-width: #{$px-6}; border-bottom-width: #{$px-6}; border-right-width: #{$px-6}; border-left-width: #{$px-6}; } // 18px
&-13             { @extend #{$evo}-box; border-top-width: #{$px-7}; border-bottom-width: #{$px-7}; border-right-width: #{$px-7}; border-left-width: #{$px-7}; } // 21px
&-14             { @extend #{$evo}-box; border-top-width: #{$px-8}; border-bottom-width: #{$px-8}; border-right-width: #{$px-8}; border-left-width: #{$px-8}; } // 23px
&-15             { @extend #{$evo}-box; border-top-width: #{$px-9}; border-bottom-width: #{$px-9}; border-right-width: #{$px-9}; border-left-width: #{$px-9}; } // 30px

&-thin           { @extend #{$evo}-box; border-top-width: thin; border-bottom-width: thin; border-right-width: thin; border-left-width: thin; }
&-medium         { @extend #{$evo}-box; border-top-width: medium; border-bottom-width: medium; border-right-width: medium; border-left-width: medium; }
&-thick          { @extend #{$evo}-box; border-top-width: thick; border-bottom-width: thick; border-right-width: thick; border-left-width: thick; }

&-solid          { @extend #{$evo}-box; border-top-style: solid; border-bottom-style: solid; border-right-style: solid; border-left-style: solid; }
&-dotted         { @extend #{$evo}-box; border-top-style: dotted; border-bottom-style: dotted; border-right-style: dotted; border-left-style: dotted; }
&-dashed         { @extend #{$evo}-box; border-top-style: dashed; border-bottom-style: dashed; border-right-style: dashed; border-left-style: dashed; }
&-double         { @extend #{$evo}-box; border-top-style: double; border-bottom-style: double; border-right-style: double; border-left-style: double; }
&-groove         { @extend #{$evo}-box; border-top-style: groove; border-bottom-style: groove; border-right-style: groove; border-left-style: groove; }
&-ridge          { @extend #{$evo}-box; border-top-style: ridge; border-bottom-style: ridge; border-right-style: ridge; border-left-style: ridge; }
&-inset          { @extend #{$evo}-box; border-top-style: inset; border-bottom-style: inset; border-right-style: inset; border-left-style: inset; }
&-outset         { @extend #{$evo}-box; border-top-style: outset; border-bottom-style: outset; border-right-style: outset; border-left-style: outset; }

&-gray           { @extend #{$evo}-box; border-top-color: #ccc; border-bottom-color: #ccc; border-right-color: #ccc; border-left-color: #ccc; }
&-white          { @extend #{$evo}-box; border-top-color: #fff; border-bottom-color: #fff; border-right-color: #fff; border-left-color: #fff; }
&-black          { @extend #{$evo}-box; border-top-color: #000; border-bottom-color: #000; border-right-color: #000; border-left-color: #000; }
}

#{$evo}-box-line-0              { border-top-width: 0; border-bottom-width: 0; border-right-width: 0; border-left-width: 0; }
#{$evo}-box-line-1              { border-top-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-left-width: 1px; }
#{$evo}-box-line-2              { border-top-width: 2px; border-bottom-width: 2px; border-right-width: 2px; border-left-width: 2px; }
#{$evo}-box-line-3              { border-top-width: 3px; border-bottom-width: 3px; border-right-width: 3px; border-left-width: 3px; }
#{$evo}-box-line-4              { border-top-width: 4px; border-bottom-width: 4px; border-right-width: 4px; border-left-width: 4px; }
#{$evo}-box-line-5              { border-top-width: 5px; border-bottom-width: 5px; border-right-width: 5px; border-left-width: 5px; }
#{$evo}-box-line-6              { border-top-width: #{$px-0}; border-bottom-width: #{$px-0}; border-right-width: #{$px-0}; border-left-width: #{$px-0}; } // 6px
#{$evo}-box-line-7              { border-top-width: #{$px-1}; border-bottom-width: #{$px-1}; border-right-width: #{$px-1}; border-left-width: #{$px-1}; } // 8px
#{$evo}-box-line-8              { border-top-width: #{$px-2}; border-bottom-width: #{$px-2}; border-right-width: #{$px-2}; border-left-width: #{$px-2}; } // 10px
#{$evo}-box-line-9              { border-top-width: #{$px-3}; border-bottom-width: #{$px-3}; border-right-width: #{$px-3}; border-left-width: #{$px-3}; } // 12px
#{$evo}-box-line-10             { border-top-width: #{$px-4}; border-bottom-width: #{$px-4}; border-right-width: #{$px-4}; border-left-width: #{$px-4}; } // 14px
#{$evo}-box-line-11             { border-top-width: #{$px-5}; border-bottom-width: #{$px-5}; border-right-width: #{$px-5}; border-left-width: #{$px-5}; } // 16px
#{$evo}-box-line-12             { border-top-width: #{$px-6}; border-bottom-width: #{$px-6}; border-right-width: #{$px-6}; border-left-width: #{$px-6}; } // 18px
#{$evo}-box-line-13             { border-top-width: #{$px-7}; border-bottom-width: #{$px-7}; border-right-width: #{$px-7}; border-left-width: #{$px-7}; } // 21px
#{$evo}-box-line-14             { border-top-width: #{$px-8}; border-bottom-width: #{$px-8}; border-right-width: #{$px-8}; border-left-width: #{$px-8}; } // 23px
#{$evo}-box-line-15             { border-top-width: #{$px-9}; border-bottom-width: #{$px-9}; border-right-width: #{$px-9}; border-left-width: #{$px-9}; } // 30px

#{$evo}-box-line-thin           { border-top-width: thin; border-bottom-width: thin; border-right-width: thin; border-left-width: thin; }
#{$evo}-box-line-medium         { border-top-width: medium; border-bottom-width: medium; border-right-width: medium; border-left-width: medium; }
#{$evo}-box-line-thick          { border-top-width: thick; border-bottom-width: thick; border-right-width: thick; border-left-width: thick; }

#{$evo}-box-line-solid          { border-top-style: solid; border-bottom-style: solid; border-right-style: solid; border-left-style: solid; }
#{$evo}-box-line-dotted         { border-top-style: dotted; border-bottom-style: dotted; border-right-style: dotted; border-left-style: dotted; }
#{$evo}-box-line-dashed         { border-top-style: dashed; border-bottom-style: dashed; border-right-style: dashed; border-left-style: dashed; }
#{$evo}-box-line-double         { border-top-style: double; border-bottom-style: double; border-right-style: double; border-left-style: double; }
#{$evo}-box-line-groove         { border-top-style: groove; border-bottom-style: groove; border-right-style: groove; border-left-style: groove; }
#{$evo}-box-line-ridge          { border-top-style: ridge; border-bottom-style: ridge; border-right-style: ridge; border-left-style: ridge; }
#{$evo}-box-line-inset          { border-top-style: inset; border-bottom-style: inset; border-right-style: inset; border-left-style: inset; }
#{$evo}-box-line-outset         { border-top-style: outset; border-bottom-style: outset; border-right-style: outset; border-left-style: outset; }


// Use RGBA colors instead?

#{$evo}-box-line-gray       { border-top-color: #ccc; border-bottom-color: #ccc; border-right-color: #ccc; border-left-color: #ccc; }
#{$evo}-box-line-white      { border-top-color: #fff; border-bottom-color: #fff; border-right-color: #fff; border-left-color: #fff; }
#{$evo}-box-line-black      { border-top-color: #000; border-bottom-color: #000; border-right-color: #000; border-left-color: #000; }



// http://www.cssportal.com/blog/style-hr-tag-with-css/

#{$evo}-line-reset           { 
	border: initial;
	border-top-width: initial;
	border-top-style: initial;
	border-top-color: initial;
}


#{$evo}-line-top-reset       { border-top-width: initial; border-top-style: initial; border-top-color: initial; }
#{$evo}-line-bottom-reset    { border-bottom-width: initial;border-bottom-style: initial;  border-bottom-color: initial; }
#{$evo}-line-right-reset     { border-right-width: initial; border-right-style: initial; border-right-color: initial; }
#{$evo}-line-left-reset      { border-left-width: initial; border-left-style: initial; border-left-color: initial; }



// works for tags: div, hr, ol, ul, li, p, h1, h2, h3, h4, h5, h6
#{$evo}-line {
	border: 0;
	margin: 0;
	// margin-top: #{$hr_margin_top}; // 1em
	// margin-bottom: #{$hr_margin_bottom}; // 1em
	border-top-width: #{$line_width}; // initial
	border-top-style: #{$line_style}; // solid
	border-top-color: #{$line_color}; // initial

&-0              { @extend #{$evo}-line; border-top-width: 0; }
&-1              { @extend #{$evo}-line; border-top-width: 1px; }
&-2              { @extend #{$evo}-line; border-top-width: 2px; }
&-3              { @extend #{$evo}-line; border-top-width: 3px; }
&-4              { @extend #{$evo}-line; border-top-width: 4px; }
&-5              { @extend #{$evo}-line; border-top-width: 5px; }
&-6              { @extend #{$evo}-line; border-top-width: #{$px-0}; } // 6px
&-7              { @extend #{$evo}-line; border-top-width: #{$px-1}; } // 8px
&-8              { @extend #{$evo}-line; border-top-width: #{$px-2}; } // 10px
&-9              { @extend #{$evo}-line; border-top-width: #{$px-3}; } // 12px
&-10             { @extend #{$evo}-line; border-top-width: #{$px-4}; } // 14px
&-11             { @extend #{$evo}-line; border-top-width: #{$px-5}; } // 16px
&-12             { @extend #{$evo}-line; border-top-width: #{$px-6}; } // 18px
&-13             { @extend #{$evo}-line; border-top-width: #{$px-7}; } // 21px
&-14             { @extend #{$evo}-line; border-top-width: #{$px-8}; } // 23px
&-15             { @extend #{$evo}-line; border-top-width: #{$px-9}; } // 30px

&-thin           { @extend #{$evo}-line; border-top-width: thin; }
&-medium         { @extend #{$evo}-line; border-top-width: medium; }
&-thick          { @extend #{$evo}-line; border-top-width: thick; }

&-solid          { @extend #{$evo}-line; border-top-style: solid; }
&-dotted         { @extend #{$evo}-line; border-top-style: dotted; }
&-dashed         { @extend #{$evo}-line; border-top-style: dashed; }
&-double         { @extend #{$evo}-line; border-top-style: double; }
&-groove         { @extend #{$evo}-line; border-top-style: groove; }
&-ridge          { @extend #{$evo}-line; border-top-style: ridge; }
&-inset          { @extend #{$evo}-line; border-top-style: inset; }
&-outset         { @extend #{$evo}-line; border-top-style: outset; }

&-gray           { @extend #{$evo}-line; border-top-color: #ccc; }
&-white          { @extend #{$evo}-line; border-top-color: #fff; }
&-black          { @extend #{$evo}-line; border-top-color: #000; }
}


#{$evo}-line-top-0          { border-top-width: 0; }
#{$evo}-line-top-1          { border-top-width: 1px; }
#{$evo}-line-top-2          { border-top-width: 2px; }
#{$evo}-line-top-3          { border-top-width: 3px; }
#{$evo}-line-top-4          { border-top-width: 4px; }
#{$evo}-line-top-5          { border-top-width: 5px; }
#{$evo}-line-top-6          { border-top-width: #{$px-0}; } // 6px
#{$evo}-line-top-7          { border-top-width: #{$px-1}; } // 8px
#{$evo}-line-top-8          { border-top-width: #{$px-2}; } // 10px
#{$evo}-line-top-9          { border-top-width: #{$px-3}; } // 12px
#{$evo}-line-top-10         { border-top-width: #{$px-4}; } // 14px
#{$evo}-line-top-11         { border-top-width: #{$px-5}; } // 16px
#{$evo}-line-top-12         { border-top-width: #{$px-6}; } // 18px
#{$evo}-line-top-13         { border-top-width: #{$px-7}; } // 21px
#{$evo}-line-top-14         { border-top-width: #{$px-8}; } // 23px
#{$evo}-line-top-15         { border-top-width: #{$px-9}; } // 30px

#{$evo}-line-bottom-0       { border-bottom-width: 0; }
#{$evo}-line-bottom-1       { border-bottom-width: 1px; }
#{$evo}-line-bottom-2       { border-bottom-width: 2px; }
#{$evo}-line-bottom-3       { border-bottom-width: 3px; }
#{$evo}-line-bottom-4       { border-bottom-width: 4px; }
#{$evo}-line-bottom-5       { border-bottom-width: 5px; }
#{$evo}-line-bottom-6       { border-bottom-width: #{$px-0}; } // 6px
#{$evo}-line-bottom-7       { border-bottom-width: #{$px-1}; } // 8px
#{$evo}-line-bottom-8       { border-bottom-width: #{$px-2}; } // 10px
#{$evo}-line-bottom-9       { border-bottom-width: #{$px-3}; } // 12px
#{$evo}-line-bottom-10      { border-bottom-width: #{$px-4}; } // 14px
#{$evo}-line-bottom-11      { border-bottom-width: #{$px-5}; } // 16px
#{$evo}-line-bottom-12      { border-bottom-width: #{$px-6}; } // 18px
#{$evo}-line-bottom-13      { border-bottom-width: #{$px-7}; } // 21px
#{$evo}-line-bottom-14      { border-bottom-width: #{$px-8}; } // 23px
#{$evo}-line-bottom-15      { border-bottom-width: #{$px-9}; } // 30px

#{$evo}-line-right-0        { border-right-width: 0; }
#{$evo}-line-right-1        { border-right-width: 1px; }
#{$evo}-line-right-2        { border-right-width: 2px; }
#{$evo}-line-right-3        { border-right-width: 3px; }
#{$evo}-line-right-4        { border-right-width: 4px; }
#{$evo}-line-right-5        { border-right-width: 5px; }
#{$evo}-line-right-6        { border-right-width: #{$px-0}; } // 6px
#{$evo}-line-right-7        { border-right-width: #{$px-1}; } // 8px
#{$evo}-line-right-8        { border-right-width: #{$px-2}; } // 10px
#{$evo}-line-right-9        { border-right-width: #{$px-3}; } // 12px
#{$evo}-line-right-10       { border-right-width: #{$px-4}; } // 14px
#{$evo}-line-right-11       { border-right-width: #{$px-5}; } // 16px
#{$evo}-line-right-12       { border-right-width: #{$px-6}; } // 18px
#{$evo}-line-right-13       { border-right-width: #{$px-7}; } // 21px
#{$evo}-line-right-14       { border-right-width: #{$px-8}; } // 23px
#{$evo}-line-right-15       { border-right-width: #{$px-9}; } // 30px

#{$evo}-line-left-0         { border-left-width: 0; }
#{$evo}-line-left-1         { border-left-width: 1px; }
#{$evo}-line-left-2         { border-left-width: 2px; }
#{$evo}-line-left-3         { border-left-width: 3px; }
#{$evo}-line-left-4         { border-left-width: 4px; }
#{$evo}-line-left-5         { border-left-width: 5px; }
#{$evo}-line-left-6         { border-left-width: #{$px-0}; } // 6px
#{$evo}-line-left-7         { border-left-width: #{$px-1}; } // 8px
#{$evo}-line-left-8         { border-left-width: #{$px-2}; } // 10px
#{$evo}-line-left-9         { border-left-width: #{$px-3}; } // 12px
#{$evo}-line-left-10        { border-left-width: #{$px-4}; } // 14px
#{$evo}-line-left-11        { border-left-width: #{$px-5}; } // 16px
#{$evo}-line-left-12        { border-left-width: #{$px-6}; } // 18px
#{$evo}-line-left-13        { border-left-width: #{$px-7}; } // 21px
#{$evo}-line-left-14        { border-left-width: #{$px-8}; } // 23px
#{$evo}-line-left-15        { border-left-width: #{$px-9}; } // 30px


#{$evo}-line-top-thin       { border-top-width: thin; }
#{$evo}-line-top-medium     { border-top-width: medium; }
#{$evo}-line-top-thick      { border-top-width: thick; }

#{$evo}-line-bottom-thin    { border-bottom-width: thin; }
#{$evo}-line-bottom-medium  { border-bottom-width: medium; }
#{$evo}-line-bottom-thick   { border-bottom-width: thick; }

#{$evo}-line-right-thin     { border-right-width: thin; }
#{$evo}-line-right-medium   { border-right-width: medium; }
#{$evo}-line-right-thick    { border-right-width: thick; }

#{$evo}-line-left-thin      { border-left-width: thin; }
#{$evo}-line-left-medium    { border-left-width: medium; }
#{$evo}-line-left-thick     { border-left-width: thick; }

#{$evo}-line-top-solid           { border-top-style: solid; }
#{$evo}-line-top-dotted          { border-top-style: dotted; }
#{$evo}-line-top-dashed          { border-top-style: dashed; }
#{$evo}-line-top-double          { border-top-style: double; }
#{$evo}-line-top-groove          { border-top-style: groove; }
#{$evo}-line-top-ridge           { border-top-style: ridge; }
#{$evo}-line-top-inset           { border-top-style: inset; }
#{$evo}-line-top-outset          { border-top-style: outset; }

#{$evo}-line-bottom-solid        { border-bottom-style: solid; }
#{$evo}-line-bottom-dotted       { border-bottom-style: dotted; }
#{$evo}-line-bottom-dashed       { border-bottom-style: dashed; }
#{$evo}-line-bottom-double       { border-bottom-style: double; }
#{$evo}-line-bottom-groove       { border-bottom-style: groove; }
#{$evo}-line-bottom-ridge        { border-bottom-style: ridge; }
#{$evo}-line-bottom-inset        { border-bottom-style: inset; }
#{$evo}-line-bottom-outset       { border-bottom-style: outset; }

#{$evo}-line-right-solid         { border-right-style: solid; }
#{$evo}-line-right-dotted        { border-right-style: dotted; }
#{$evo}-line-right-dashed        { border-right-style: dashed; }
#{$evo}-line-right-double        { border-right-style: double; }
#{$evo}-line-right-groove        { border-right-style: groove; }
#{$evo}-line-right-ridge         { border-right-style: ridge; }
#{$evo}-line-right-inset         { border-right-style: inset; }
#{$evo}-line-right-outset        { border-right-style: outset; }

#{$evo}-line-left-solid          { border-left-style: solid; }
#{$evo}-line-left-dotted         { border-left-style: dotted; }
#{$evo}-line-left-dashed         { border-left-style: dashed; }
#{$evo}-line-left-double         { border-left-style: double; }
#{$evo}-line-left-groove         { border-left-style: groove; }
#{$evo}-line-left-ridge          { border-left-style: ridge; }
#{$evo}-line-left-inset          { border-left-style: inset; }
#{$evo}-line-left-outset         { border-left-style: outset; }

#{$evo}-line-top-black      { border-top-color: #000; }
#{$evo}-line-top-gray       { border-top-color: #ccc; }
#{$evo}-line-top-white      { border-top-color: #fff; }

#{$evo}-line-bottom-black   { border-bottom-color: #000; }
#{$evo}-line-bottom-gray    { border-bottom-color: #ccc; }
#{$evo}-line-bottom-white   { border-bottom-color: #fff; }

#{$evo}-line-right-black    { border-right-color: #000; }
#{$evo}-line-right-gray     { border-right-color: #ccc; }
#{$evo}-line-right-white    { border-right-color: #fff; }

#{$evo}-line-left-black     { border-left-color: #000; }
#{$evo}-line-left-gray      { border-left-color: #ccc; }
#{$evo}-line-left-white     { border-left-color: #fff; }


// hr {
// 	border: 0;
// 	border-top-style: #{$hr_style}; // solid
// 	border-top-color: #{$hr_color}; // initial

// &#{$evo}-line-1              { border-top-width: 1px; }
// &#{$evo}-line-2              { border-top-width: 2px; }
// &#{$evo}-line-3              { border-top-width: 3px; }
// &#{$evo}-line-4              { border-top-width: 4px; }
// &#{$evo}-line-5              { border-top-width: 5px; }
// &#{$evo}-line-6              { border-top-width: #{$px-0}; } // 6px
// &#{$evo}-line-7              { border-top-width: #{$px-1}; } // 8px
// &#{$evo}-line-8              { border-top-width: #{$px-2}; } // 10px
// &#{$evo}-line-9              { border-top-width: #{$px-3}; } // 12px
// &#{$evo}-line-10             { border-top-width: #{$px-4}; } // 14px
// &#{$evo}-line-11             { border-top-width: #{$px-5}; } // 16px
// &#{$evo}-line-12             { border-top-width: #{$px-6}; } // 18px
// &#{$evo}-line-13             { border-top-width: #{$px-7}; } // 21px
// &#{$evo}-line-14             { border-top-width: #{$px-8}; } // 23px
// &#{$evo}-line-15             { border-top-width: #{$px-9}; } // 30px

// &#{$evo}-line-thin           { border-top-width: thin; }
// &#{$evo}-line-medium         { border-top-width: medium; }
// &#{$evo}-line-thick          { border-top-width: thick; }

// &#{$evo}-line-solid          { border-top-style: solid; }
// &#{$evo}-line-dotted         { border-top-style: dotted; }
// &#{$evo}-line-dashed         { border-top-style: dashed; }
// &#{$evo}-line-double         { border-top-style: double; }
// &#{$evo}-line-groove         { border-top-style: groove; }
// &#{$evo}-line-ridge          { border-top-style: ridge; }
// &#{$evo}-line-inset          { border-top-style: inset; }
// &#{$evo}-line-outset         { border-top-style: outset; }

// &#{$evo}-line-gray           { border-top-color: #ccc; }
// &#{$evo}-line-white          { border-top-color: #fff; }
// &#{$evo}-line-black          { border-top-color: #000; }
// }

//