///*      L I N K   B U L L E T    */

@import "../variables";
// @import "../variables/scale";

// Place this directly on a link class
// Make small and large version, each with correct number alignment?
a#{$evo}-link-bullet {
  // counter-reset: '•';
  // margin-top: 1.5em;
  position: relative;
  padding-left: 2ch; // #{$number_list_padding_left};
    // margin-bottom: 1.5em;
  }
a#{$evo}-link-bullet::before {
  content: '•';
  // content: counter(awesome-counter, decimal-leading-zero) "."; // Adds a zero and a dot
  position: absolute;
  // top: .5em; // use with transform: translateY();
  left: .2ch; // was left: 0;
  // transform: translateY(#{$number_list_number_position}); // use with top: 0;
  background: #{$bullet_list_background_color_1};
  width: auto;
  height: auto;
  border-radius: #{$bullet_list_background_corner};
  display: inline-block;
  line-height: inherit; // or #{$body_line_height}, was 1.5em
  color: #{$bullet_list_bullet_color};
  text-align: center;
  font-family: #{$bullet_list_bullet_font_family};
  opacity: .5;
  // margin-right: 0.5em;
}

a#{$evo}-link-bullet:hover::before {
  color: #{$bullet_list_bullet_color};
  opacity: 1;
}



// // DOES NOT WORK
// a.link-bullet {
//   position: relative;
//   // padding-right: 3em;
// }
// // DOES NOT WORK
// a.link-bullet::before {
//     position: absolute;
//     content: "•"; // insert content that looks like bullets
//     color: #{$bullet_list_bullet_color}; // or a color you prefer
// }
// // DOES NOT WORK
// a.link-bullet:hover::before {
//     content: "✓"; // insert content that looks like bullets
//     color: black; // or a color you prefer
// }


// Make small and large version, each with correct number alignment?
#{$evo}-link-bullet-span {
  // counter-reset: '•';
& > span,
& > li > a > span {
  // margin-top: 1.5em;
  position: relative;
  padding-left: 2ch; // #{$number_list_padding_left};
    // margin-bottom: 1.5em;
}
& > span::before,
& > li > a > span::before {
  content: '•';
  // content: counter(awesome-counter, decimal-leading-zero) "."; // Adds a zero and a dot
  position: absolute;
  // top: .5em; // use with transform: translateY();
  left: .2ch; // was left: 0;
  // transform: translateY(#{$number_list_number_position}); // use with top: 0;
  background: #{$bullet_list_background_color_1};
  width: auto;
  height: auto;
  border-radius: #{$bullet_list_background_corner};
  display: inline-block;
  line-height: inherit; // or #{$body_line_height}, was 1.5em
  color: #{$bullet_list_bullet_color};
  text-align: center;
  font-family: #{$bullet_list_bullet_font_family};
  opacity: .5;
  // margin-right: 0.5em;
}
}

#{$evo}-link-bullet-span:hover > span::before,
#{$evo}-link-bullet-span:hover > li > a > span::before {
  color: #{$bullet_list_bullet_color};
  opacity: 1;
}



// Make small and large version, each with correct number alignment?
.list-bullet-test-2 {
  & ul {
    list-style-type: none; // none
    }
& li > a {
  position: relative;
  // counter-increment: awesome-counter;
  // margin-left: -1em;
  padding-left:  2ch; // #{$number_list_padding_left};
}
& li > a:before {
  content: '•';
  // content: counter(awesome-counter, decimal-leading-zero) "."; // Adds a zero and a dot
  position: absolute;
  // top: .5em; // use with transform: translateY();
  left: .2ch; // was left: 0;
  // transform: translateY(#{$number_list_number_position}); // use with top: 0;
  background: #{$bullet_list_background_color_1};
  width: auto;
  height: auto;
  border-radius: #{$bullet_list_background_corner};
  display: inline-block;
  line-height: inherit; // or #{$body_line_height}, was 1.5em
  color: #{$bullet_list_bullet_color};
  text-align: center;
  font-family: #{$bullet_list_bullet_font_family};
  opacity: .5;
  // margin-right: 0.5em;
}
& li > a:before:hover {
  opacity: 1;
}
}



// A simpler list bullet
// May not align with paragragh text as well
// // https://www.w3schools.com/cssref/pr_gen_content.asp

ul.bullet-link-2 {
    list-style-type: none; // none
    & ul {
    margin-bottom: #{$bullet_list_margin_bottom};
}
& li:before {
  opacity: .5;
}
}

.bullet-link-2 > li:before a:hover {
  opacity: 1 !important;
  text-decoration: underline !important;
}

.link-bullet-test {
    & li > a:before {
  content: "•"; // insert content that looks like bullets
  padding-right: #{$bullet_list_bullet_padding};
  color: #{$bullet_list_bullet_color}; // or a color you prefer
  opacity: .5;
}
& li > a:hover {
 opacity: 1;
}

}


// // A simpler list bullet
// // May not align with paragragh text as well
// // // https://www.w3schools.com/cssref/pr_gen_content.asp

// ul.bullet-link {
// //     list-style-type: none; // none
// //     & ul {
// //     margin-bottom: #{$bullet_list_margin_bottom};
// // }
// & li:before {
//   opacity: .5;
// }
// }

// .bullet-link > li:before a:hover {
//   opacity: 1 !important;
//   text-decoration: underline !important;
// }


// // links states
// // order must be a:link, a:visited, a:hover, a:active

// // Activate link behaviors for bulletted lists
// ul.bullet-link:before > li a {
//   opacity: .5;
// }

// ul.bullet-link:hover > li a {
//   opacity: 1;
// }

.a-link,
a:link    { 
  color: #{$link_color};
  background-color: #{$link_background_color};
  text-decoration: #{$link_underline};
}

.a-visited,
a:visited { 
  color: #{$link_color_visited}; 
}

.a-hover,
a:hover {
  color: #{$link_color_hover};
  text-decoration: #{$link_underline_hover};
  outline-width: 0; // reset
  //   button {
  //   color: white;
  //   border: 1px black;
  //   background-color: red;
  // }
}

.a-active,
a:active {
  color: #{$link_color_active};
  text-decoration: #{$link_underline_active};
  outline-width: 0; // reset
}

.a-focus,
a:focus,
button:focus {
  color: #{$link_color_focus};
  text-decoration: #{$link_underline_focus};
  outline: unset; // reset foundation
  // outline: 5px auto -webkit-focus-ring-color; // what is this
  outline-color: #{$link_outline_color_focus};
  outline-width: #{$link_outline_width_focus};
  outline-style: #{$link_outline_style_focus};
  outline-offset: 0; // -2px; // from foundation
}