///* ================================================================================ */

///*                         LINES EVOLUTION ELEMENTS v2.0.1                          */

///* ================================================================================ */



/* ================================================================================ */
/* ----------------------------------- LINES -------------------------------------- */
/* ================================================================================ */


// Creates a solid line around an element

#{$evo}-box-base     {
  // clear: both;
  // border-style: $border_line_style_1;
}

#{$evo}-box-10       { border-width: 10px; border-style: $border_line_style_1; }
#{$evo}-box-9        { border-width: 9px; border-style: $border_line_style_1; }
#{$evo}-box-8        { border-width: 8px; border-style: $border_line_style_1; }
#{$evo}-box-7        { border-width: 7px; border-style: $border_line_style_1; }
#{$evo}-box-6        { border-width: 6px; border-style: $border_line_style_1; }
#{$evo}-box-5        { border-width: 5px; border-style: $border_line_style_1; }
#{$evo}-box-4        { border-width: 4px; border-style: $border_line_style_1; }
#{$evo}-box-3        { border-width: 3px; border-style: $border_line_style_1; }
#{$evo}-box-2        { border-width: 2px; border-style: $border_line_style_1; }
#{$evo}-box-1        { border-width: 1px; border-style: $border_line_style_1; }
#{$evo}-box-0        { border-width: 0px; border-style: $border_line_style_1; }


/* MODIFY BOX STYLES */

// Example box-10 box-dots will style a dotted line 10px wide around an element.

#{$evo}-box-dots           { border-style: dotted; clear: both; }
#{$evo}-box-dash           { border-style: dashed; clear: both; }
#{$evo}-box-double         { border-style: double; clear: both; }
#{$evo}-box-solid          { border-style: solid;  clear: both; }   // Not necessary
#{$evo}-box-inner          { border-style: inset;  clear: both; }
#{$evo}-box-outer          { border-style: outset; clear: both; }
#{$evo}-box-none           { border-style: none;   clear: both; }


// Hidden acts the same as none, but avoids border conflict with tables

#{$evo}-box-hide           { clear: both; border-style: hidden; }


/* ALTERNATIVE CSS CLASSES */

#{$evo}-hide-box           { border-style: hidden; clear: both; }
#{$evo}-no-box             { border-style: none;   clear: both; }


/* --------------------------- TOP BORDER LINES --------------------------- */

// Creates a top border line

#{$evo}-border-top-base  {
  // clear: both;
  // border-style: $border_line_style_1; 
}

#{$evo}-top-line-10        { border-top: 10px $border_line_style_1; }
#{$evo}-top-line-9         { border-top: 9px $border_line_style_1; }
#{$evo}-top-line-8         { border-top: 8px $border_line_style_1; }
#{$evo}-top-line-7         { border-top: 7px $border_line_style_1; }
#{$evo}-top-line-6         { border-top: 6px $border_line_style_1; }
#{$evo}-top-line-5         { border-top: 5px $border_line_style_1; }
#{$evo}-top-line-4         { border-top: 4px $border_line_style_1; }
#{$evo}-top-line-3         { border-top: 3px $border_line_style_1; }
#{$evo}-top-line-2         { border-top: 2px $border_line_style_1; }
#{$evo}-top-line-1         { border-top: 1px $border_line_style_1; }
#{$evo}-top-line-0         { border-top: 0px $border_line_style_1; }


/* STYLIZED CLASSES */

#{$evo}-top-dots         { border-top: 1px $border_line_style_2; clear: both; }
#{$evo}-top-dash         { border-top: 1px $border_line_style_3; clear: both; }


/* --------------------------- BOTTOM BORDER LINES --------------------------- */


#{$evo}-border-bottom-base {
  // clear: both;
  // border-style: $border_line_style_1; 
}

#{$evo}-bottom-line-10   { border-bottom: 10px $border_line_style_1; }
#{$evo}-bottom-line-9    { border-bottom: 9px $border_line_style_1; }
#{$evo}-bottom-line-8    { border-bottom: 8px $border_line_style_1; }
#{$evo}-bottom-line-7    { border-bottom: 7px $border_line_style_1; }
#{$evo}-bottom-line-6    { border-bottom: 6px $border_line_style_1; }
#{$evo}-bottom-line-5    { border-bottom: 5px $border_line_style_1; }
#{$evo}-bottom-line-4    { border-bottom: 4px $border_line_style_1; }
#{$evo}-bottom-line-3    { border-bottom: 3px $border_line_style_1; }
#{$evo}-bottom-line-2    { border-bottom: 2px $border_line_style_1; }
#{$evo}-bottom-line-1    { border-bottom: 1px $border_line_style_1; }
#{$evo}-bottom-line-0    { border-bottom: 0px $border_line_style_1; }

/* ALTERNATIVE CSS CLASSES */

#{$evo}-bottom-solid   { border-bottom: 1px $border_line_style_1; }
#{$evo}-bottom-dots    { border-bottom: 1px $border_line_style_2; clear: both; }
#{$evo}-bottom-dash    { border-bottom: 1px $border_line_style_3; clear: both; }


/* --------------------------- LINE STYLES --------------------------- */

// TO DO NEED TO TURN THESE INTO LEGACY ALIASES OR HR

#{$evo}-horizontal-line-base {
  // clear: both;
  // border-style: $border_line_style_1; 
}

/* SOLID LINES */
#{$evo}-line-10         { border-top: 10px $border_line_style_1; }
#{$evo}-line-9          { border-top: 9px $border_line_style_1; }
#{$evo}-line-8          { border-top: 8px $border_line_style_1; }
#{$evo}-line-7          { border-top: 7px $border_line_style_1; }
#{$evo}-line-6          { border-top: 6px $border_line_style_1; }
#{$evo}-line-5          { border-top: 5px $border_line_style_1; }
#{$evo}-line-4          { border-top: 4px $border_line_style_1; }
#{$evo}-line-3          { border-top: 3px $border_line_style_1; }
#{$evo}-line-2          { border-top: 2px $border_line_style_1; }
#{$evo}-line-1          { border-top: 1px $border_line_style_1; }



/* DOTTED LINES */
#{$evo}-line-10-dots         { border-top: 10px $border_line_style_2; }
#{$evo}-line-9-dots          { border-top: 9px $border_line_style_2; }
#{$evo}-line-8-dots          { border-top: 8px $border_line_style_2; }
#{$evo}-line-7-dots          { border-top: 7px $border_line_style_2; }
#{$evo}-line-6-dots          { border-top: 6px $border_line_style_2; }
#{$evo}-line-5-dots          { border-top: 5px $border_line_style_2; }
#{$evo}-line-4-dots          { border-top: 4px $border_line_style_2; }
#{$evo}-line-3-dots          { border-top: 3px $border_line_style_2; }
#{$evo}-line-2-dots          { border-top: 2px $border_line_style_2; }
#{$evo}-line-1-dots          { border-top: 1px $border_line_style_2; }



/* DASHED LINES */
#{$evo}-line-10-dash         { border-top: 10px $border_line_style_3; }
#{$evo}-line-9-dash          { border-top: 9px $border_line_style_3; }
#{$evo}-line-8-dash          { border-top: 8px $border_line_style_3; }
#{$evo}-line-7-dash          { border-top: 7px $border_line_style_3; }
#{$evo}-line-6-dash          { border-top: 6px $border_line_style_3; }
#{$evo}-line-5-dash          { border-top: 5px $border_line_style_3; }
#{$evo}-line-4-dash          { border-top: 4px $border_line_style_3; }
#{$evo}-line-3-dash          { border-top: 3px $border_line_style_3; }
#{$evo}-line-2-dash          { border-top: 2px $border_line_style_3; }
#{$evo}-line-1-dash          { border-top: 1px $border_line_style_3; }





/* --------------------------- BORDER TOP BASE --------------------------- */

/* SOLID BORDERS */
#{$evo}-border-10-top        { border-top: 10px $border_line_style_1; }
#{$evo}-border-9-top         { border-top: 9px $border_line_style_1; }
#{$evo}-border-8-top         { border-top: 8px $border_line_style_1; }
#{$evo}-border-7-top         { border-top: 7px $border_line_style_1; }
#{$evo}-border-6-top         { border-top: 6px $border_line_style_1; }
#{$evo}-border-5-top         { border-top: 5px $border_line_style_1; }
#{$evo}-border-4-top         { border-top: 4px $border_line_style_1; }
#{$evo}-border-3-top         { border-top: 3px $border_line_style_1; }
#{$evo}-border-2-top         { border-top: 2px $border_line_style_1; }
#{$evo}-border-1-top         { border-top: 1px $border_line_style_1; }



/* DOTTED BORDERS */
#{$evo}-border-10-top-dots        { border-top: 10px $border_line_style_2; }
#{$evo}-border-9-top-dots         { border-top: 9px $border_line_style_2; }
#{$evo}-border-8-top-dots         { border-top: 8px $border_line_style_2; }
#{$evo}-border-7-top-dots         { border-top: 7px $border_line_style_2; }
#{$evo}-border-6-top-dots         { border-top: 6px $border_line_style_2; }
#{$evo}-border-5-top-dots         { border-top: 5px $border_line_style_2; }
#{$evo}-border-4-top-dots         { border-top: 4px $border_line_style_2; }
#{$evo}-border-3-top-dots         { border-top: 3px $border_line_style_2; }
#{$evo}-border-2-top-dots         { border-top: 2px $border_line_style_2; }
#{$evo}-border-1-top-dots         { border-top: 1px $border_line_style_2; }



// DASHED BORDERS
#{$evo}-border-10-top-dash        { border-top: 10px $border_line_style_3; }
#{$evo}-border-9-top-dash         { border-top: 9px $border_line_style_3; }
#{$evo}-border-8-top-dash         { border-top: 8px $border_line_style_3; }
#{$evo}-border-7-top-dash         { border-top: 7px $border_line_style_3; }
#{$evo}-border-6-top-dash         { border-top: 6px $border_line_style_3; }
#{$evo}-border-5-top-dash         { border-top: 5px $border_line_style_3; }
#{$evo}-border-4-top-dash         { border-top: 4px $border_line_style_3; }
#{$evo}-border-3-top-dash         { border-top: 3px $border_line_style_3; }
#{$evo}-border-2-top-dash         { border-top: 2px $border_line_style_3; }
#{$evo}-border-1-top-dash         { border-top: 1px $border_line_style_3; }




/* --------------------------- BORDER BOTTOM BASE --------------------------- */

/* SOLID BORDERS */
#{$evo}-border-10-bottom        { border-bottom: 10px $border_line_style_1; }
#{$evo}-border-9-bottom         { border-bottom: 9px $border_line_style_1; }
#{$evo}-border-8-bottom         { border-bottom: 8px $border_line_style_1; }
#{$evo}-border-7-bottom         { border-bottom: 7px $border_line_style_1; }
#{$evo}-border-6-bottom         { border-bottom: 6px $border_line_style_1; }
#{$evo}-border-5-bottom         { border-bottom: 5px $border_line_style_1; }
#{$evo}-border-4-bottom         { border-bottom: 4px $border_line_style_1; }
#{$evo}-border-3-bottom         { border-bottom: 3px $border_line_style_1; }
#{$evo}-border-2-bottom         { border-bottom: 2px $border_line_style_1; }
#{$evo}-border-1-bottom         { border-bottom: 1px $border_line_style_1; }



/* DOTTED BORDERS */
#{$evo}-border-10-bottom-dots        { border-bottom: 10px $border_line_style_2; }
#{$evo}-border-9-bottom-dots         { border-bottom: 9px $border_line_style_2; }
#{$evo}-border-8-bottom-dots         { border-bottom: 8px $border_line_style_2; }
#{$evo}-border-7-bottom-dots         { border-bottom: 7px $border_line_style_2; }
#{$evo}-border-6-bottom-dots         { border-bottom: 6px $border_line_style_2; }
#{$evo}-border-5-bottom-dots         { border-bottom: 5px $border_line_style_2; }
#{$evo}-border-4-bottom-dots         { border-bottom: 4px $border_line_style_2; }
#{$evo}-border-3-bottom-dots         { border-bottom: 3px $border_line_style_2; }
#{$evo}-border-2-bottom-dots         { border-bottom: 2px $border_line_style_2; }
#{$evo}-border-1-bottom-dots         { border-bottom: 1px $border_line_style_2; }



/* DASHED BORDERS */
#{$evo}-border-10-bottom-dash        { border-bottom: 10px $border_line_style_3; }
#{$evo}-border-9-bottom-dash         { border-bottom: 9px $border_line_style_3; }
#{$evo}-border-8-bottom-dash         { border-bottom: 8px $border_line_style_3; }
#{$evo}-border-7-bottom-dash         { border-bottom: 7px $border_line_style_3; }
#{$evo}-border-6-bottom-dash         { border-bottom: 6px $border_line_style_3; }
#{$evo}-border-5-bottom-dash         { border-bottom: 5px $border_line_style_3; }
#{$evo}-border-4-bottom-dash         { border-bottom: 4px $border_line_style_3; }
#{$evo}-border-3-bottom-dash         { border-bottom: 3px $border_line_style_3; }
#{$evo}-border-2-bottom-dash         { border-bottom: 2px $border_line_style_3; }
#{$evo}-border-1-bottom-dash         { border-bottom: 1px $border_line_style_3; }




/* --------------------------- BOX DOTES --------------------------- */


#{$evo}-box-10-dots       { border-width: 10px; border-style: $border_line_style_2; }
#{$evo}-box-9-dots        { border-width: 9px; border-style: $border_line_style_2; }
#{$evo}-box-8-dots        { border-width: 8px; border-style: $border_line_style_2; }
#{$evo}-box-7-dots        { border-width: 7px; border-style: $border_line_style_2; }
#{$evo}-box-6-dots        { border-width: 6px; border-style: $border_line_style_2; }
#{$evo}-box-5-dots        { border-width: 5px; border-style: $border_line_style_2; }
#{$evo}-box-4-dots        { border-width: 4px; border-style: $border_line_style_2; }
#{$evo}-box-3-dots        { border-width: 3px; border-style: $border_line_style_2; }
#{$evo}-box-2-dots        { border-width: 2px; border-style: $border_line_style_2; }
#{$evo}-box-1-dots        { border-width: 1px; border-style: $border_line_style_2; }


/* --------------------------- BOX DASH --------------------------- */


#{$evo}-box-10-dash       { border-width: 10px; border-style: $border_line_style_3; }
#{$evo}-box-9-dash        { border-width: 9px; border-style: $border_line_style_3; }
#{$evo}-box-8-dash        { border-width: 8px; border-style: $border_line_style_3; }
#{$evo}-box-7-dash        { border-width: 7px; border-style: $border_line_style_3; }
#{$evo}-box-6-dash        { border-width: 6px; border-style: $border_line_style_3; }
#{$evo}-box-5-dash        { border-width: 5px; border-style: $border_line_style_3; }
#{$evo}-box-4-dash        { border-width: 4px; border-style: $border_line_style_3; }
#{$evo}-box-3-dash        { border-width: 3px; border-style: $border_line_style_3; }
#{$evo}-box-2-dash        { border-width: 2px; border-style: $border_line_style_3; }
#{$evo}-box-1-dash        { border-width: 1px; border-style: $border_line_style_3; }


/* --------------------------- BOX DOUBLE --------------------------- */

#{$evo}-box-10-double       { border-width: 30px; border-style: $border_line_style_4; }
#{$evo}-box-9-double        { border-width: 27px; border-style: $border_line_style_4; }
#{$evo}-box-8-double        { border-width: 24px; border-style: $border_line_style_4; }
#{$evo}-box-7-double        { border-width: 21px; border-style: $border_line_style_4; }
#{$evo}-box-6-double        { border-width: 18px; border-style: $border_line_style_4; }
#{$evo}-box-5-double        { border-width: 15px; border-style: $border_line_style_4; }
#{$evo}-box-4-double        { border-width: 12px; border-style: $border_line_style_4; }
#{$evo}-box-3-double        { border-width: 9px; border-style: $border_line_style_4; }
#{$evo}-box-2-double        { border-width: 6px; border-style: $border_line_style_4; }
#{$evo}-box-1-double        { border-width: 3px; border-style: $border_line_style_4; }


/* --------------------------- BOX INSET --------------------------- */

#{$evo}-box-10-inset       { border-width: 10px; border-style: $border_line_style_5; }
#{$evo}-box-9-inset        { border-width: 9px; border-style: $border_line_style_5; }
#{$evo}-box-8-inset        { border-width: 8px; border-style: $border_line_style_5; }
#{$evo}-box-7-inset        { border-width: 7px; border-style: $border_line_style_5; }
#{$evo}-box-6-inset        { border-width: 6px; border-style: $border_line_style_5; }
#{$evo}-box-5-inset        { border-width: 5px; border-style: $border_line_style_5; }
#{$evo}-box-4-inset        { border-width: 4px; border-style: $border_line_style_5; }
#{$evo}-box-3-inset        { border-width: 3px; border-style: $border_line_style_5; }
#{$evo}-box-2-inset        { border-width: 2px; border-style: $border_line_style_5; }
#{$evo}-box-1-inset        { border-width: 1px; border-style: $border_line_style_5; }


/* 

--------------------------- BOX OUTSET --------------------------- 

*/

#{$evo}-box-10-outset       { border-width: 10px; border-style: $border_line_style_6; }
#{$evo}-box-9-outset        { border-width: 9px; border-style: $border_line_style_6; }
#{$evo}-box-8-outset        { border-width: 8px; border-style: $border_line_style_6; }
#{$evo}-box-7-outset        { border-width: 7px; border-style: $border_line_style_6; }
#{$evo}-box-6-outset        { border-width: 6px; border-style: $border_line_style_6; }
#{$evo}-box-5-outset        { border-width: 5px; border-style: $border_line_style_6; }
#{$evo}-box-4-outset        { border-width: 4px; border-style: $border_line_style_6; }
#{$evo}-box-3-outset        { border-width: 3px; border-style: $border_line_style_6; }
#{$evo}-box-2-outset        { border-width: 2px; border-style: $border_line_style_6; }
#{$evo}-box-1-outset        { border-width: 1px; border-style: $border_line_style_6; }
