///*      L I S T    */

@import "../variables";
// @import "../variables/scale";
@import "text_mixin";


// /* Lists */
// http://alistapart.com/article/taminglists/
// How to customize lists


// List Resets (two options)

// #{$evo}-list-reset {
//   // Should this be list reset?
//   list-style:      initial;
//   list-style-type: initial;
//   list-style-position: initial;
//   list-style-image: initial;
//   padding:         initial;
//   padding-top:     initial;
//   padding-left:    initial;
//   padding-bottom:  initial;
//   padding-right:   initial;
// }


// List

  #{$evo}-list {
  margin-left:     #{$text_list_margin_left}; // 0
  padding-left:    #{$text_list_padding_left}; // 0
  padding-bottom:  #{$text_list_padding_bottom}; // 1.4375rem
  // list-style-image: none;
}


// Text and utility classes

#{$evo}-list-inline {
  list-style:none;
  padding-left:0;
  display: inline;
    & li {
    display: inline;
  }
}



#{$evo}-list-none            {
  list-style: disc outside none;
  list-style-type: disc;
  list-style-position: outside;
  list-style-image: none;
  padding-bottom:  #{$text_list_padding_bottom}; // 1.4375rem
}


#{$evo}-list-inherit         {
  list-style: inherit;
  list-style-type: inherit;
  list-style-position: inherit;
  list-style-image: inherit;
  padding-bottom: inherit;
}