///*      S P A C E     */

// Create space between elements

@import "../variables";

// /*      SPACE     */


#{$evo}-space {
     height: #{$space_height}; // 3rem
     width: #{$space_width}; // auto
     clear: #{$space_clear_float}; // both
}

// Resets space style
#{$evo}-space-reset {
     height: 0px;
     width: auto;
     clear: both;
}


// Need padding space

// Need margin space

// Need vh space