///* ================================================================================ */

///*                         SPACERS EVOLUTION ELEMENTS v2.0.1                        */

///* ================================================================================ */



/* ================================================================================ */
/* --------------------------------- SPACERS -------------------------------------- */
/* ================================================================================ */

// Create space between elements

/* SPACER BASE CSS */

#{$evo}-space-base {
     width: 100%;
     height: 1px;
     clear: both;
}


/* SPACERS */

#{$evo}-space-1   {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*1rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*1rem;
}

#{$evo}-space-2   {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*2rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*2rem;
}

#{$evo}-space-3   {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*3rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*3rem;
}

#{$evo}-space-4   {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*4rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*4rem;
}

#{$evo}-space-5   {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*5rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*5rem;
}

#{$evo}-space-6   {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*6rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*6rem;
}

#{$evo}-space-7   {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*7rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*7rem;
}

#{$evo}-space-8   {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*8rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*8rem;
}

#{$evo}-space-9   {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*9rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*9rem;
}

#{$evo}-space-10 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*10rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*10rem;
}

#{$evo}-space-11 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*11rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*11rem;
}

#{$evo}-space-12 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*12rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*12rem;
}

#{$evo}-space-13 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*13rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*13rem;
}

#{$evo}-space-14 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*14rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*14rem;
}

#{$evo}-space-15 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*15rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*15rem;
}

#{$evo}-space-16 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*17rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*17rem;
}

#{$evo}-space-17 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*19rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*19rem;
}

#{$evo}-space-18 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*21rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*21rem;
}

#{$evo}-space-19 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*23rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*23rem;
}

#{$evo}-space-20 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*25rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*25rem;
}

#{$evo}-space-21 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*28rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*28rem;
}

#{$evo}-space-22 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*31rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*31rem;
}

#{$evo}-space-23 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*34rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*34rem;
}

#{$evo}-space-24 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*37rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*37rem;
}

#{$evo}-space-25 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*40rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*40rem;
}

#{$evo}-space-26 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*44rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*44rem;
}

#{$evo}-space-27 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*48rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*48rem;
}

#{$evo}-space-28 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*52rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*52rem;
}

#{$evo}-space-29 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*56rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*56rem;
}

#{$evo}-space-30 {
     @extend #{$evo}-space-base;
     padding-top: $space_padding_top+$space_padding_top_increment*60rem;
     padding-bottom: $space_padding_bottom+$space_padding_bottom_increment*60rem;
}