///*      S P A C E   M I X I N S     */

// Create space between elements

@import "../variables";


// Space scale
@mixin space($space) {
  @if $space == reset  { height: 0px; width: auto; clear: both; }
  // @else if $space == null  { height: #{$space_height}; width: #{$space_width}; } // default space variables
  @else if $space == 0  { height: 1px; }
  @else if $space == 1   { height: 2px; }
  @else if $space == 2   { height: 4px; }
  @else if $space == 3   { height: #{$u-18}rem; }   // 6px
  @else if $space == 4   { height: #{$u-19}rem; }   // 8px
  @else if $space == 5   { height: #{$u-20}rem; }   // 10px
  @else if $space == 6   { height: #{$u-21}rem; }   // 12px
  @else if $space == 7   { height: #{$u-22}rem; }   // 14px
  @else if $space == 8   { height: #{$u-23}rem; }   // 16px
  @else if $space == 9  { height: #{$u-24}rem; }   // 18px
  @else if $space == 10  { height: #{$u-25}rem; }  // 21px
  @else if $space == 11  { height: #{$u-26}rem; }  // 23px
  @else if $space == 12  { height: #{$u-27}rem; }  // 30px
  @else if $space == 13  { height: #{$u-28}rem; }  // 37px
  @else if $space == 14  { height: #{$u-29}rem; }  // 43px
  @else if $space == 15  { height: #{$u-30}rem; }  // 48px // 3rem
  @else if $space == 16  { height: #{$u-31}rem; }  // 60px
  @else if $space == 17  { height: #{$u-32}rem; }  // 80px 
  @else if $space == 18  { height: #{$u-33}rem; }  // 96px
  @else if $space == 19  { height: #{$u-34}rem; }  // 128px
  @else if $space == 20  { height: #{$u-35}rem; }  // 160px
  @else if $space == 21  { height: #{$u-36}rem; }  // 208px
  @else if $space == 22  { height: #{$u-37}rem; }  // 256px
  @else if $space == 23  { height: #{$u-38}rem; }  // 336px
  @else if $space == 24  { height: #{$u-39}rem; }  // 416px
  @else if $space == 25  { height: #{$u-40}rem; }  // 544px
  @else if $space == 26  { height: #{$u-41}rem; }  // 672px
  @else if $space == 27  { height: #{$u-42}rem; }  // 880px
  @else if $space == 28  { height: #{$u-43}rem; }  // 1088px
    // Are these two below the correct size?
  @else if $space == 29  { height: #{$u-44}rem; }  // 1423px
  @else if $space == 30  { height: #{$u-45}rem; }  // 1760px
    // Throw Warnings
  @else { @warn "Space mixin supports: reset, numbers 0-30"; }
}


// Space quick scale
@mixin space($space) {
  @if $space == reset  { height: 0px; width: auto; clear: both; }
  // @else if $space == null  { height: #{$space_height}; width: #{$space_width}; } // default space variables
  @else if $space == smallest    { height: #{$u-19}rem; }  // 8px
  @else if $space == smaller     { height: #{$u-24}rem; }  // 18px
  @else if $space == small       { height: #{$u-27}rem; }  // 30px
  @else if $space == big         { height: #{$u-31}rem; }  // 60px
  @else if $space == bigger      { height: #{$u-33}rem; }  // 96px
  @else if $space == biggest     { height: #{$u-35}rem; }  // 160px
    // Throw Warnings
  @else { @warn "Space mixin supports: reset, smallest, smaller, small, big, bigger, biggest"; }
}
