///*      S P A C E     */

// Create space between elements

@import "../variables";

/*      SPACE     */

// Resets space style
#{$evo}-space-reset {
     height: 0px;
     width: auto;
     clear: both;
}

#{$evo}-space {
     height: #{$space_height}; // 3rem
     width: #{$space_width}; // auto
     clear: both;
}