///*      T E X T    */

@import "../variables";
// @import "../variables/scale";
@import "text_mixins";

// Utilities and helper mixins and classes
// see variables/scale for actual units


// /* Text Utilities */

// // Tracking
// #{$evo}-tracking-tightest  { letter-spacing: -.1em; }
// #{$evo}-tracking-tighter   { letter-spacing: -.065em; }
// #{$evo}-tracking-tight     { letter-spacing: -.035em; }
// #{$evo}-tracking-loose     { letter-spacing: .035em; }
// #{$evo}-tracking-looser    { letter-spacing: .065em; }
// #{$evo}-tracking-loosest   { letter-spacing: .1em; }

// // Leading
// #{$evo}-leading-tightest  { line-height: .75; }
// #{$evo}-leading-tighter   { line-height: .85; }
// #{$evo}-leading-tight     { line-height: .95; }
// #{$evo}-leading-loose     { line-height: 1; }
// #{$evo}-leading-looser    { line-height: 1.15; }
// #{$evo}-leading-loosest   { line-height: 1.25; }

// Text Size
// rems
#{$evo}-text-reset     { line-height: initial; }
#{$evo}-text-0         { font-size: #{$u-18}rem; }
#{$evo}-text-1         { font-size: #{$u-19}rem; } 
#{$evo}-text-2         { font-size: #{$u-20}rem; } 
#{$evo}-text-3         { font-size: #{$u-21}rem; } 
#{$evo}-text-4         { font-size: #{$u-22}rem; } 
#{$evo}-text-5         { font-size: #{$u-23}rem; } 
#{$evo}-text-6         { font-size: #{$u-24}rem; } 
#{$evo}-text-7         { font-size: #{$u-25}rem; } 
#{$evo}-text-8         { font-size: #{$u-26}rem; } 
#{$evo}-text-9         { font-size: #{$u-27}rem; } 
#{$evo}-text-10        { font-size: #{$u-28}rem; } 
#{$evo}-text-11        { font-size: #{$u-29}rem; } 
#{$evo}-text-12        { font-size: #{$u-30}rem; } 
#{$evo}-text-13        { font-size: #{$u-31}rem; } 
#{$evo}-text-14        { font-size: #{$u-32}rem; } 
#{$evo}-text-15        { font-size: #{$u-33}rem; } 
// #{$evo}-text-15        { font-size: #{$rem-33}; } 
#{$evo}-text-16        { font-size: #{$u-34}rem; } 
#{$evo}-text-17        { font-size: #{$u-35}rem; } 
#{$evo}-text-18        { font-size: #{$u-36}rem; } 
#{$evo}-text-19        { font-size: #{$u-37}rem; } 
#{$evo}-text-20        { font-size: #{$u-38}rem; } 
#{$evo}-text-21        { font-size: #{$u-39}rem; } 
#{$evo}-text-22        { font-size: #{$u-40}rem; } 
#{$evo}-text-23        { font-size: #{$u-41}rem; } 
#{$evo}-text-24        { font-size: #{$u-42}rem; }
#{$evo}-text-25        { font-size: #{$u-43}rem; }

// Text Leading
// unitless: no em, rem, px, %
#{$evo}-leading-reset  { line-height: initial; }
#{$evo}-leading-0      { line-height: #{$u-16}; }
#{$evo}-leading-1      { line-height: #{$u-17}; }
#{$evo}-leading-2      { line-height: #{$u-18}; }
#{$evo}-leading-3      { line-height: #{$u-19}; }
#{$evo}-leading-4      { line-height: #{$u-20}; } // tight lowercase
#{$evo}-leading-5      { line-height: #{$u-21}; } // useful for some tight lowercase
#{$evo}-leading-6      { line-height: #{$u-22}; } 
#{$evo}-leading-7      { line-height: #{$u-23}; } // tight uppercase
#{$evo}-leading-8      { line-height: #{$u-24}; }
#{$evo}-leading-9      { line-height: #{$u-25}; }
#{$evo}-leading-10     { line-height: #{$u-26}; }
#{$evo}-leading-11     { line-height: #{$u-27}; }
#{$evo}-leading-12     { line-height: #{$u-28}; }
#{$evo}-leading-13     { line-height: #{$u-29}; }
#{$evo}-leading-14     { line-height: #{$u-30}; }
#{$evo}-leading-15     { line-height: #{$u-31}; }
// #{$evo}-leading-16     { line-height: #{$u-32}; }
// #{$evo}-leading-17     { line-height: #{$u-33}; }
// #{$evo}-leading-18     { line-height: #{$u-34}; }
// #{$evo}-leading-19     { line-height: #{$u-35}; }
// #{$evo}-leading-20     { line-height: #{$u-36}; }
// #{$evo}-leading-21     { line-height: #{$u-37}; }
// #{$evo}-leading-22     { line-height: #{$u-38}; }
// #{$evo}-leading-23     { line-height: #{$u-39}; }
// #{$evo}-leading-24     { line-height: #{$u-40}; }
// #{$evo}-leading-25     { line-height: #{$u-41}; }


// TO DO: Pixel to rem mixin?
// https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
// #{$evo}-tracking-10      { letter-spacing: remCalc(#{$u-10})rem; }

// Text Leading rems
#{$evo}-tracking-reset  { letter-spacing: initial; }
#{$evo}-tracking-0      { letter-spacing: #{$u-0}em; }
#{$evo}-tracking-1      { letter-spacing: #{$u-1}em; }
#{$evo}-tracking-2      { letter-spacing: #{$u-2}em; }
#{$evo}-tracking-3      { letter-spacing: #{$u-3}em; }
#{$evo}-tracking-4      { letter-spacing: #{$u-4}em; }
#{$evo}-tracking-5      { letter-spacing: #{$u-5}em; }
#{$evo}-tracking-6      { letter-spacing: #{$u-6}em; }
#{$evo}-tracking-7      { letter-spacing: #{$u-7}em; }
#{$evo}-tracking-8      { letter-spacing: #{$u-8}em; }
#{$evo}-tracking-9      { letter-spacing: #{$u-9}em; } 
#{$evo}-tracking-10     { letter-spacing: #{$u-10}em; } // negative
#{$evo}-tracking-11     { letter-spacing: #{$u-11}em; } // zero
#{$evo}-tracking-12     { letter-spacing: #{$u-12}em; } // positive
#{$evo}-tracking-13     { letter-spacing: #{$u-13}em; }
#{$evo}-tracking-14     { letter-spacing: #{$u-14}em; }
#{$evo}-tracking-15     { letter-spacing: #{$u-15}em; }
#{$evo}-tracking-16     { letter-spacing: #{$u-16}em; }
#{$evo}-tracking-17     { letter-spacing: #{$u-17}em; }
#{$evo}-tracking-18     { letter-spacing: #{$u-18}em; }
#{$evo}-tracking-19     { letter-spacing: #{$u-19}em; }
#{$evo}-tracking-20     { letter-spacing: #{$u-20}em; }
#{$evo}-tracking-21     { letter-spacing: #{$u-21}em; }
#{$evo}-tracking-22     { letter-spacing: #{$u-22}em; } 
#{$evo}-tracking-23     { letter-spacing: #{$u-23}em; }
#{$evo}-tracking-24     { letter-spacing: #{$u-24}em; }
#{$evo}-tracking-25     { letter-spacing: #{$u-25}em; }


// Relative Text Size
#{$evo}-text-smallest  { @include size(smallest); }
#{$evo}-text-smaller   { @include size(smaller); }
#{$evo}-text-small     { @include size(small); }
#{$evo}-text-big       { @include size(big); }
#{$evo}-text-bigger    { @include size(bigger); }
#{$evo}-text-biggest   { @include size(biggest); }
#{$evo}-text-jumbo     { @include size(jumbo); }
#{$evo}-text-giant     { @include size(giant); }


// Relative Text Leading
#{$evo}-leading-tightest  { @include leading(tightest); }
#{$evo}-leading-tighter   { @include leading(tighter); }
#{$evo}-leading-tight     { @include leading(tight); }
#{$evo}-leading-loose     { @include leading(loose); }
#{$evo}-leading-looser    { @include leading(looser); }
#{$evo}-leading-loosest   { @include leading(loosest); }


// Relative Text Tracking
#{$evo}-tracking-tightest { @include tracking(tightest); }
#{$evo}-tracking-tighter  { @include tracking(tighter); }
#{$evo}-tracking-tight    { @include tracking(tight); }
#{$evo}-tracking-loose    { @include tracking(loose); }
#{$evo}-tracking-looser   { @include tracking(looser); }
#{$evo}-tracking-loosest  { @include tracking(loosest); }


// Relative Text Measure
#{$evo}-measure-widest   { @include measure(widest); }
#{$evo}-measure-wider    { @include measure(wider); }
#{$evo}-measure-wide     { @include measure(wide); }
#{$evo}-measure-tight    { @include measure(tight); }
#{$evo}-measure-tighter  { @include measure(tighter); }
#{$evo}-measure-tightest { @include measure(tightest); }

