///*      T E X T    */

@import "../variables";
// @import "../variables/scale";
@import "text_mixin";


/* Text */



// Text Reset

#{$evo}-text-reset {
  font-size:       initial;
  color:           initial;
  font-family:     initial;
  font-weight:     initial;
  font-weight:     initial;
  font-style:      initial;
  line-height:     initial;
  text-decoration: initial;
  text-transform:  initial;
  text-align:      initial;
  margin:          initial;
  margin-top:      initial;
  margin-bottom:   initial;
  margin-left:     initial;
  margin-right:    initial;
  text-rendering:  initial;
}


// Text
// Should we eliminate margin top and margin bottom? Or make them inherit?
#{$evo}-text {
  font-size:       #{$text_size};
  color:           #{$text_color};
  font-family:     #{$text_font_family};
  font-weight:     #{$text_font_weight};
  line-height:     #{$text_line_height};
  letter-spacing:  #{$text_letter_spacing};
  text-rendering:  #{$text_rendering};

  // margin-top:      inherit; // #{$text_margin_top}
  // margin-bottom:   inherit; // #{$text_margin_bottom}
  
  // margin-left:     #{$text_margin_left};
  // padding-left:    #{$text_padding_left};
  // list-style-position: #{$text_list_style_position};
}


// Element Mixins
@mixin base($base) { 
    @if $base == text            { @extend #{$evo}-text; }
    @else if $base == font       { @extend #{$evo}-font; }
    // Throw Warnings
  @else { @warn "Base mixin supports: text, font"; }
}


