///*      T E X T   S T Y L E    */

@import "../variables";
// @import "../variables/scale";
@import "text_mixin";

// Marked the resets as !important to insure an override

// Text Align
.text-left             { text-align: left; }
.text-right            { text-align: right; }
.text-center           { text-align: center; }


// Text Transform
.text-capitalize       { text-transform: capitalize; }
.text-uppercase        { text-transform: uppercase; }
.text-lowercase        { text-transform: lowercase; }

.text-no-capcase       { text-transform: none !important; }


// Text Decoration
.text-overline         { text-decoration: overline; }
.text-strikeline       { text-decoration: line-through; }
.text-underline        { text-decoration: underline; }

.text-no-line a,
.text-no-line          { text-decoration: none !important; }


// Text Overflow
.text-truncate         { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.text-clip             { white-space: nowrap; overflow: hidden; text-overflow: clip; }



