///*      T E X T    */

@import "../variables";
// @import "../variables/scale";
@import "text_mixins";


// Variables for text.scss typography
// variables to move to _variables.scss file
// SHOULD SOME OF THESE INHERIT?
// SHOULD SOME BE PERCENTAGES OR EMS?


// For default Ul and OL lists
$text_list_margin_top:                       0;
$text_list_margin_left:                      0;
$text_list_margin_bottom:                    #{$u-17}em; // .275em bottom of each list
$text_list_padding_left:                     0;
$text_list_padding_bottom:                   #{$u-17}em; // .275em space between list items


// For default Ul lists
$ul_list_style_type:                         none; // remove bullets
$ul_list_style_position:                     outside; // or inside, which indents. default is outside.


// For default OL lists
$ol_list_style_type:                         decimal; // remove bullets
$ol_list_style_position:                     inside; // or outisde, which aligns flush left with text.


// For lines Lists
// SHOULD THIS STYLE TYPE GO UNDER ALL LISTS INSTEAD
// https://developer.mozilla.org/en-US/docs/Web/CSS/border-top
// $text_line_list_margin_left:                 1.5em; // or -2.5
$line_list_padding_left:                0; // .5em
$line_list_bullet_type:                 none; // list-style-type of bullets

$line_list_margin_bottom:               #{$u-17}em; // .275em bottom of each list

$line_list_padding_top:                 #{$u-17}em; // .275em space between list item and line
$line_list_padding_bottom:              #{$u-17}em; // .275em space between list item and line

$line_list_top_line_width:              thick;
$line_list_top_line_style:              solid;
$line_list_top_line_color:              #000;

$line_list_middle_line_width:           thin;
$line_list_middle_line_style:           solid;
$line_list_middle_line_color:           #000;

$line_list_bottom_line_width:           medium;
$line_list_bottom_line_style:           solid;
$line_list_bottom_line_color:           #000;


// For custom image bullets Lists
// make background more specific than "background?" maybe background-image
// $bullet_list_margin_left:               0; // or -1.25em
// $bullet_list_padding_left:              0;
$bullet_list_icon_background:           url('circle-solid.svg');
$bullet_list_icon_background_size:      0px;
$bullet_list_icon_background_position:  0px 0.41667rem;


/* Lists */
// http://alistapart.com/article/taminglists/
// How to customize lists


// List Resets (two options)

// #{$evo}-list-reset {
//   // Should this be list reset?
//   list-style:      initial;
//   list-style-type: initial;
//   list-style-position: initial;
//   list-style-image: initial;
//   padding:         initial;
//   padding-top:     initial;
//   padding-left:    initial;
//   padding-bottom:  initial;
//   padding-right:   initial;
// }


#{$evo}-list-none            {
  list-style: disc outside none;
  list-style-type: disc;
  list-style-position: outside;
  list-style-image: none;
  padding-bottom:  #{$text_list_padding_bottom}; // 1.4375rem
}


#{$evo}-list-inherit         {
  list-style: inherit;
  list-style-type: inherit;
  list-style-position: inherit;
  list-style-image: inherit;
  padding-bottom: inherit;
}




// List

  #{$evo}-list {
  margin-left:     #{$text_list_margin_left}; // 0
  padding-left:    #{$text_list_padding_left}; // 0
  padding-bottom:  #{$text_list_padding_bottom}; // 1.4375rem
  // list-style-image: none;
}



// ul lists

ul {
list-style-position: #{$ul_list_style_position}; // outside

// ul base list class

  &#{$evo}-list {
  @extend #{$evo}-list;
  list-style-type: #{$ul_list_style_type}; // none
}

// ul utility classes
  &#{$evo}-list-hang {
  // @extend #{$evo}-list;
  margin-left: -1em;
  }
  &#{$evo}-list-align {
  // @extend #{$evo}-list;
  margin-left: 1em;
  // list-style-position: inside; // none
  }
  &#{$evo}-list-circle {
  @extend #{$evo}-list;
  list-style-type: circle;
}
  &#{$evo}-list-square {
  @extend #{$evo}-list;
  list-style-type: square;
}
  &#{$evo}-list-disc {
  @extend #{$evo}-list;
  list-style-type: disc;
}
  &#{$evo}-list-reset {
  list-style:      unset;
  list-style-type: initial;
  list-style-position: initial;
  list-style-image: initial;
  padding:         initial;
  padding-top:     initial;
  padding-left:    initial;
  padding-bottom:  initial;
  padding-right:   initial;
}
}


// ol lists

ol {
list-style-type: #{$ol_list_style_type}; // decimal-leading
list-style-position: #{$ol_list_style_position}; // inside

// ol base list class

  &#{$evo}-list {
  @extend #{$evo}-list;
}

// ol utility classes

// Hang the numbers and left align text to the other text blocks
  &#{$evo}-list-hang {
  // @extend #{$evo}-list;
  list-style-position: outside;
  }
  &#{$evo}-list-align {
  // @extend #{$evo}-list;
  list-style-position: inside;
  }
  &#{$evo}-list-decimal {
  @extend #{$evo}-list;
  list-style-type: decimal;
}
  &#{$evo}-list-decimal-zero {
  @extend #{$evo}-list;
  list-style-type: decimal-leading-zero;
}
  &#{$evo}-list-lower-alpha {
  @extend #{$evo}-list;
  list-style-type: lower-alpha;
}
  &#{$evo}-list-upper-alpha {
  @extend #{$evo}-list;
  list-style-type: upper-alpha;
}
  &#{$evo}-list-lower-latin {
  @extend #{$evo}-list;
  list-style-type: lower-latin;
}
  &#{$evo}-list-upper-latin {
  @extend #{$evo}-list;
  list-style-type: upper-latin;
}
  &#{$evo}-list-lower-roman {
  @extend #{$evo}-list;
  list-style-type: lower-roman;
}
  &#{$evo}-list-upper-roman {
  @extend #{$evo}-list;
  list-style-type: upper-roman;
}
  &#{$evo}-list-reset {
  list-style:      decimal;
  list-style-type: decimal;
  list-style-position: initial;
  padding:         initial;
  padding-top:     initial;
  padding-left:    initial;
  padding-bottom:  initial;
  padding-right:   initial;
}
}


// // ol extended utility classes
// ol.armenian           {list-style-type: armenian;}
// ol.cjk-ideographic    {list-style-type: cjk-ideographic;}
// ol.georgian           {list-style-type: georgian;}
// ol.hebrew             {list-style-type: hebrew;}
// ol.hiragana           {list-style-type: hiragana;}
// ol.hiragana-iroha     {list-style-type: hiragana-iroha;}
// ol.katakana           {list-style-type: katakana;}
// ol.katakana-iroha     {list-style-type: katakana-iroha;}
// ol.lower-greek        {list-style-type: lower-greek;}



// Lists with lines
// https://developer.mozilla.org/en-US/docs/Web/CSS/border-top

#{$evo}-list-lines {
// @extend #{$evo}-text;
  // margin-left: #{$text_line_list_margin_left};
  margin-bottom: #{$line_list_margin_bottom};
  list-style-type: #{$line_list_bullet_type};
// width: 90%;
& li{
  padding-top: #{$line_list_padding_top}; // .25em
  padding-left: #{$line_list_padding_left}; // 0
  padding-bottom: #{$line_list_padding_bottom}; // .25em
   &:first-child {
  // border-top: #{$line_list_top_line};
  border-top-style: #{$line_list_top_line_style};
  border-top-width: #{$line_list_top_line_width};
  border-top-color: #{$line_list_top_line_color};
}
   &:not(:first-child) {
  border-top-style: #{$line_list_middle_line_style};
  border-top-width: #{$line_list_middle_line_width};
  border-top-color: #{$line_list_middle_line_color};
}
   &:last-child {
  border-bottom-style: #{$line_list_bottom_line_style};
  border-bottom-width: #{$line_list_bottom_line_width};
  border-bottom-color: #{$line_list_bottom_line_color};
}
}
}


// Custom bullet images

// https://css-tricks.com/style-list-markers-css/
// http://stackoverflow.com/questions/22179094/list-style-image-svg-smaller-in-webkit

// // List 'list-style-image' approach
// // Doesn't work so well because the PNG image needs to be the exact size in px
// // There isn't a way to control the size of the list-style-image
// #{$evo}-list-bullets {
//   margin-left:     #{$text_list_margin_left}; // 0
//   padding-left:    #{$text_list_padding_left}; // 0
//   list-style-image: url('circle-solid-1x.png');
//   list-style-position: inside;
//   background-position: #{$text_bullet_list_icon_background_position};
//   background-size: #{$text_bullet_list_icon_background_size};
//   // padding-bottom:  #{$text_list_padding_bottom}; // .25em
// }






// List Background Image Approach
#{$evo}-list-bullets li:before {
content:''; 
// display:inline-block; 
position: absolute;
height:.5em; 
width:.5em; 
background-image: #{$bullet_list_icon_background}; 
background-size: contain; 
background-repeat:no-repeat; 
left: -1em;
top: .275em;
}
#{$evo}-list-bullets li {
    margin-left: 1em;
    position: relative;
    list-style-type: none;
    // padding-left: -3em;
}



// #{$evo}-list-bullets {
// @extend #{$evo}-list-circle;
// & li{
// // margin-left: #{$text_list_margin_left};
// // padding-left: #{$text_list_padding_left};
// // margin-bottom: #{$text_list_margin_bottom};
// // line-height: #{$text_list_line_height};
// // list-style-type: #{$text_list_style_type};
// background-image: #{$text_bullet_list_icon_background};
// background-position: #{$text_bullet_list_icon_background_position};
// background-size: #{$text_bullet_list_icon_background_size};
// }
// }


// // List Background Image Approach
// #{$evo}-list-bullets li:before {
// content:''; 
// display:inline-block; 
// height:.5em; 
// width:.5em; 
// background-image: #{$text_bullet_list_icon_background}; 
// background-size:contain; 
// background-repeat:no-repeat; 
// padding-left: 1em; 
// }
// #{$evo}-list-bullets {
// list-style-type: none;
// }



// Text and utility classes

#{$evo}-list-inline {
  list-style:none;
  padding-left:0;
  display: inline;
    & li {
    display: inline;
  }
}



#{$evo}-list-bullets-color-dot li:before {
    content: "•"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: #{$gray-lighter}; /* Or a color you prefer */
}

#{$evo}-list-bullets-color-dash li:before {
    content: "–"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: #{$gray-lighter}; /* Or a color you prefer */
}


ul.evo-list-bullets-color {
    list-style-type: none; // none
}


// List 'Counter' approach
// http://codepen.io/_lukewh/pen/WopzzO
// https://css-tricks.com/style-list-markers-css/

.list-counter {
  counter-reset: my-awesome-counter;
  margin-top: 1.5em;
}
.list-counter,
.list-counter ol,
.list-counter ol ol
 {
    list-style: none;
    // margin-bottom: 1.5em;
}
.list-counter li {
  position: relative;
  counter-increment: my-awesome-counter;
  // margin-left: -1em;
  padding-left: 2em;
}
.list-counter li::before {
  position: absolute;
  top: .5em;
  left: 0;
  transform: translateY(-50%);
  content: counter(my-awesome-counter);
  background: #662974;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: inline-block;
  line-height: 1.5em;
  color: white;
  text-align: center;
  // margin-right: 0.5em;
}
.list-counter ol ol li::before {
  background: #DE51FF;
}
.list-counter ol ol ol li::before {
  background: #EE9EFF;
}

// list striping
// IE 8 and earlier may require a jquery solution


#{$evo}-list-stripe,
#{$evo}-list-stripe-even {
 li:nth-child(even) {
  background-color: #{$gray-lighter};   
}
}

#{$evo}-list-stripe-odd {
 li:nth-child(odd) {
  background-color: #{$gray-lighter};   
}
}


// list indent
// useful with striping

#{$evo}-list-lines-indent li {
  padding-left: .5em;
  padding-right: .5em;
}



// Space between lines

#{$evo}-list-tightest li {
    padding-bottom: #{$u-14}em; // .2em
    padding-top: #{$u-14}em; // .2em
}

#{$evo}-list-tighter li {
    padding-bottom: #{$u-15}em; // .2em
    padding-top: #{$u-15}em; // .2em
}

#{$evo}-list-tight li {
    padding-bottom: #{$u-16}em; // .2em
    padding-top: #{$u-16}em; // .2em
}

#{$evo}-list-loose li {
    padding-bottom: #{$u-19}em; // .375em
    padding-top: #{$u-19}em; // .375em
}

#{$evo}-list-looser li {
    padding-bottom: #{$u-21}em; // .375em
    padding-top: #{$u-21}em; // .375em
}

#{$evo}-list-loosest li {
    padding-bottom: #{$u-24}em; // .375em
    padding-top: #{$u-24}em; // .375em
}



// line colors

#{$evo}-list-lines-black li {
  border-top-color: #{$black} !important;
  &:last-child {
  border-bottom-color: #{$black} !important;
}
}

#{$evo}-list-lines-gray li {
  border-top-color: #{$gray-lighter} !important;
  &:last-child {
  border-bottom-color: #{$gray-lighter} !important;
}
}

#{$evo}-list-lines-white li {
  border-top-color: #{$white} !important;
  &:last-child {
  border-bottom-color: #{$white} !important;
}
}


// line styles

#{$evo}-list-lines-solid li {
  border-top-style: solid !important;
  &:last-child {
  border-bottom-style: solid !important;
}
}

#{$evo}-list-lines-dotted li {
  border-top-style: dotted !important;
  &:last-child {
  border-bottom-style: dotted !important;
}
}

#{$evo}-list-lines-dashed li {
  border-top-style: dashed !important;
  &:last-child {
  border-bottom-style: dashed !important;
}
}

#{$evo}-list-lines-double li {
  border-top-style: double !important;
  &:last-child {
  border-bottom-style: double !important;
}
}



// line widths

#{$evo}-list-lines-thin li { border-top-width: thin !important;
&:last-child {
  border-bottom-width: thin !important;
}
}

#{$evo}-list-lines-medium li { border-top-width: medium !important;
&:last-child {
  border-bottom-width: medium !important;
}
}

#{$evo}-list-lines-thick li { border-top-width: thick !important;
&:last-child {
  border-bottom-width: thick !important;
}
}



// Top line width
#{$evo}-list-line-top-thin li:first-child    { border-top-width: thin !important; }
#{$evo}-list-line-top-medium li:first-child  { border-top-width: medium !important; }
#{$evo}-list-line-top-thick li:first-child   { border-top-width: thick !important; }

// Middle lines width
#{$evo}-list-line-middle-thin li:not(:first-child)   { border-top-width: thin !important; }
#{$evo}-list-line-middle-medium li:not(:first-child) { border-top-width: medium !important; }
#{$evo}-list-line-middle-thick li:not(:first-child)  { border-top-width: thick !important; }

// Bottom line width
#{$evo}-list-line-bottom-thin li:last-child   { border-bottom-width: thin !important; }
#{$evo}-list-line-bottom-medium li:last-child { border-bottom-width: medium !important; }
#{$evo}-list-line-bottom-thick li:last-child  { border-bottom-width: thick !important; }


// Top line colors
#{$evo}-list-line-top-black li:first-child    { border-top-color: #{$black} !important; }
#{$evo}-list-line-top-gray li:first-child  { border-top-color: #{$gray-light} !important; }
#{$evo}-list-line-top-white li:first-child   { border-top-color: #{$white} !important; }

// Middle lines colors
#{$evo}-list-line-middle-black li:not(:first-child)   { border-top-color: #{$black} !important; }
#{$evo}-list-line-middle-gray li:not(:first-child) { border-top-color: #{$gray-light} !important; }
#{$evo}-list-line-middle-white li:not(:first-child)  { border-top-color: #{$white} !important; }

// Bottom line colors
#{$evo}-list-line-bottom-black li:last-child   { border-bottom-color: #{$black} !important; }
#{$evo}-list-line-bottom-gray li:last-child { border-bottom-color: #{$gray-light} !important; }
#{$evo}-list-line-bottom-white li:last-child  { border-bottom-color: #{$white} !important; }



// Top line style
#{$evo}-list-line-top-solid li:first-child    { border-top-style: solid !important; }
#{$evo}-list-line-top-dotted li:first-child  { border-top-style: dotted !important; }
#{$evo}-list-line-top-dashed li:first-child   { border-top-style: dashed !important; }
#{$evo}-list-line-top-double li:first-child   { border-top-style: double !important; }

// Middle lines style
#{$evo}-list-line-middle-solid li:not(:first-child)   { border-top-style: solid !important; }
#{$evo}-list-line-middle-dotted li:not(:first-child) { border-top-style: dotted !important; }
#{$evo}-list-line-middle-dashed li:not(:first-child)  { border-top-style: dashed !important; }
#{$evo}-list-line-middle-double li:not(:first-child)  { border-top-style: double !important; }

// Bottom line style
#{$evo}-list-line-bottom-solid li:last-child   { border-bottom-style: solid !important; }
#{$evo}-list-line-bottom-dotted li:last-child { border-bottom-style: dotted !important; }
#{$evo}-list-line-bottom-dashed li:last-child  { border-bottom-style: dashed !important; }
#{$evo}-list-line-bottom-double li:last-child  { border-bottom-style: double !important; }


