///*      T E X T   M I X I N S   */

@import "../variables";
// @import "text";

// // Text
// @mixin text($text) {
//   @if $text == reset  { 
//   font-size: initial;
//   color: initial;
//   font-family: initial;
//   font-weight: initial;
//   line-height: initial;
//   margin-top: initial;
//   margin-bottom: initial;
// }
//   @else  {
//   font-size: #{$text_font_size};
//   color: #{$text_color};
//   font-family: #{$text_font_family};
//   font-weight: #{$text_font_weight};
//   line-height: #{$text_line_height};
//   margin-top: #{$text_margin_top};
//   margin-bottom: #{$text_margin_bottom};
// }
//     // Throw Warnings
//   @else { @warn "Text mixin supports: reset, and a default state of empty ()"; }
// }


// Text Style
@mixin style($style) {
  @if $style == reset  { 
  font-weight: initial;
  font-style: initial;
  text-transform: initial;
  text-align: initial;
  }
  @else if $style == bold         { font-weight: bold; }
  @else if $style == italic       { font-style: italic; }
  @else if $style == capitalize   { text-transform: capitalize; }
  @else if $style == uppercase    { text-transform: uppercase; }
  @else if $style == lowercase    { text-transform: lowercase; }
  @else if $style == strike       { text-decoration: line-through; }
  @else if $style == underline    { text-decoration: underline; }
  @else if $style == no-underline { text-decoration: none; }
  @else if $style == no-transform { text-transform: none; }
  @else if $style == left         { text-align: left; }
  @else if $style == right        { text-align: right; }
  @else if $style == center       { text-align: center; }
    // Throw Warnings
  @else { @warn "Style mixin supports: reset, bold, italic, capitalize, uppercase, lowercase, strike, underline, no-underline, no-transform, left, right, center"; }
}


// Text Sizes
@mixin size($size) {
  @if $size == reset  { 
  font-size: initial;
  // color: initial;
  // line-height: initial;
  // margin-top: 0px;
  // margin-bottom: 0px;
  }
  @else if $size == 0            { font-size: #{$rem-0}; }  // 6px ?
  @else if $size == 1            { font-size: #{$rem-1}; }  // 8px
  @else if $size == 2            { font-size: #{$rem-2}; }  // 10px
  @else if $size == 3            { font-size: #{$rem-3}; }  // 12px
  @else if $size == 4            { font-size: #{$rem-4}; }  // 14px
  @else if $size == 5            { font-size: #{$rem-5}; }  // 16px 
  @else if $size == 6            { font-size: #{$rem-6}; }  // 18px
  @else if $size == 7            { font-size: #{$rem-7}; }  // 21px
  @else if $size == 8            { font-size: #{$rem-8}; }  // 23px
  @else if $size == 9            { font-size: #{$rem-9}; }  // 30px
  @else if $size == 10           { font-size: #{$rem-10}; } // 37px
  @else if $size == 11           { font-size: #{$rem-11}; } // 43px
  @else if $size == 12           { font-size: #{$rem-12}; } // 48px
  @else if $size == 13           { font-size: #{$rem-13}; } // 60px
  @else if $size == 14           { font-size: #{$rem-14}; } // 80px 
  @else if $size == 15           { font-size: #{$rem-15}; } // 96px
  @else if $size == 16           { font-size: #{$rem-16}; } // 128px
  @else if $size == 17           { font-size: #{$rem-17}; } // 160px
  @else if $size == 18           { font-size: #{$rem-18}; } // 208px
  @else if $size == 19           { font-size: #{$rem-19}; } // 256px
  @else if $size == 20           { font-size: #{$rem-20}; } // 336px
  @else if $size == 21           { font-size: #{$rem-21}; } // 416px
  @else if $size == 22           { font-size: #{$rem-22}; } // 544px
  @else if $size == 23           { font-size: #{$rem-23}; } // 672px
  @else if $size == 24           { font-size: #{$rem-24}; } // 880px
  @else if $size == 25           { font-size: #{$rem-25}; } // 1088px
  // Throw Warnings
  @else { @warn "Text mixin supports: reset, numbers 0-25"; }
}

// Leading
@mixin leading($leading)  {
  @if $leading == reset       { line-height: initial; }
  @else if $leading == 0      { line-height: #{$em-0}; } // 0em
  @else if $leading == 1      { line-height: #{$em-1}; }
  @else if $leading == 2      { line-height: #{$em-2}; }
  @else if $leading == 3      { line-height: #{$em-3}; }
  @else if $leading == 4      { line-height: #{$em-4}; }
  @else if $leading == 5      { line-height: #{$em-5}; }
  @else if $leading == 6      { line-height: #{$em-6}; }
  @else if $leading == 7      { line-height: #{$em-7}; }
  @else if $leading == 8      { line-height: #{$em-8}; } // 1em
  @else if $leading == 9      { line-height: #{$em-9}; }
  @else if $leading == 10     { line-height: #{$em-10}; }
  @else if $leading == 11     { line-height: #{$em-11}; }
  @else if $leading == 12     { line-height: #{$em-12}; }  // 1.5em default
  @else if $leading == 13     { line-height: #{$em-13}; }
  @else if $leading == 14     { line-height: #{$em-14}; }
  @else if $leading == 15     { line-height: #{$em-15}; }
  @else if $leading == 16     { line-height: #{$em-16}; } // 2em
  @else if $leading == 17     { line-height: #{$em-17}; }
  @else if $leading == 18     { line-height: #{$em-18}; }
  @else if $leading == 19     { line-height: #{$em-19}; }
  @else if $leading == 20     { line-height: #{$em-20}; }
  @else if $leading == 21     { line-height: #{$em-21}; }
  @else if $leading == 22     { line-height: #{$em-22}; }
  @else if $leading == 23     { line-height: #{$em-23}; }
  @else if $leading == 24     { line-height: #{$em-24}; } // 3em
  // Throw Warnings
  @else { @warn "Leading mixin supports: reset, numbers 0-24"; }
}

// Size
@mixin size($size) {
  @if $size == smallest         { font-size: #{$rem-2}; }
  @else if $size == smaller     { font-size: #{$rem-4}; }
  @else if $size == small       { font-size: #{$rem-6}; }
  @else if $size == big         { font-size: #{$rem-10}; }
  @else if $size == bigger      { font-size: #{$rem-12}; }
  @else if $size == biggest     { font-size: #{$rem-14}; }
  @else if $size == jumbo       { font-size: #{$rem-16}; }
  @else if $size == giant       { font-size: #{$rem-18}; }
    // Throw Warnings
  @else { @warn "Size mixin supports: smallest, smaller, small, big, bigger, biggest, jumbo, giant"; }
}

// // Size
// @mixin size($size) {
//   @if $size == smallest         { @extend #{$evo}-text-size-smallest; }
//   @else if $size == smaller     { @extend #{$evo}-text-size-smaller; }
//   @else if $size == small       { @extend #{$evo}-text-size-small; }
//   @else if $size == big         { @extend #{$evo}-text-size-big; }
//   @else if $size == bigger      { @extend #{$evo}-text-size-bigger; }
//   @else if $size == biggest     { @extend #{$evo}-text-size-biggest; }
//     // Throw Warnings
//   @else { @warn "Size mixin supports: smallest, smaller, small, big, bigger, biggest"; }
// }

// // Relative Text Leading
// #{$evo}-text-leading-tightest  { line-height: #{$em-1}; }
// #{$evo}-text-leading-tighter   { line-height: #{$em-5}; }
// #{$evo}-text-leading-tight     { line-height: #{$em-10}; }
// #{$evo}-text-leading-loose     { line-height: #{$em-15}; }
// #{$evo}-text-leading-looser    { line-height: #{$em-20}; }
// #{$evo}-text-leading-loosest   { line-height: #{$em-24}; }

// // Relative Text Leading
// #{$evo}-text-leading-tightest  { @include leading(tightest); }
// #{$evo}-text-leading-tighter   { @include leading(tighter); }
// #{$evo}-text-leading-tight     { @include leading(tight); }
// #{$evo}-text-leading-loose     { @include leading(loose); }
// #{$evo}-text-leading-looser    { @include leading(looser); }
// #{$evo}-text-leading-loosest   { @include leading(loosest); }


// Leading
@mixin leading($leading) {
  @if $leading == tightest         { line-height: #{$em-1}; }
  @else if $leading == tighter     { line-height: #{$em-5}; }
  @else if $leading == tight       { line-height: #{$em-10}; }
  @else if $leading == loose       { line-height: #{$em-15}; }
  @else if $leading == looser      { line-height: #{$em-20}; }
  @else if $leading == loosest     { line-height: #{$em-24}; }
    // Throw Warnings
  @else { @warn "Leading mixin supports: tightest, tighter, tight, loose, looser, loosest"; }
}

// Tracking
// Need tracking reset
@mixin tracking($tracking) {
  @if $tracking == tightest         { letter-spacing: #{$em-08}; }
  @else if $tracking == tighter     { letter-spacing: #{$em-05}; }
  @else if $tracking == tight       { letter-spacing: #{$em-03}; }
  @else if $tracking == loose       { letter-spacing: #{$em-3}; }
  @else if $tracking == looser      { letter-spacing: #{$em-5}; }
  @else if $tracking == loosest     { letter-spacing: #{$em-8}; }
    // Throw Warnings
  @else { @warn "Tracking mixin supports: tightest, tighter, tight, loose, looser, loosest"; }
}

// Measure
// Need measure reset
@mixin measure($measure) {
  @if $measure == widest        { max-width: 50em; }
  @else if $measure == wider    { max-width: 40em; }
  @else if $measure == wide     { max-width: 30em; }
  @else if $measure == tight    { max-width: 25em; }
  @else if $measure == tighter  { max-width: 20em; }
  @else if $measure == tightest { max-width: 15em; }
  // Throw Warnings
  @else { @warn "Measure mixin supports: widest, wider, wide, tight, tighter, tightest"; }
}