body { font-size:16px;
}

// Text Settings
$evo:                   null; //".evo"
$text_color:            null; //inherit
$text_font:             null; //inherit
$text_font_weight:      null; //normal
$text_margin_top:       null; //0rem
$text_margin_bottom:    null; //.5rem
$text_line_height:      null; //auto

// Default Text Settings
$evo:                 ".evo" !default;
$text_color:            inherit !default;
$text_font:             inherit !default;
$text_font_weight:      normal !default;
$text_margin_top:       0rem !default;
$text_margin_bottom:    .5rem !default;
$text_line_height:      auto !default;


/* Text Utilities */

  // Style
#{$evo}-text-bold       { font-weight: bold; }
#{$evo}-text-caps       { font-style: italic; }
#{$evo}-text-italic     { text-transform: uppercase; }
  // Tracking
#{$evo}-text-tightest  { letter-spacing: -.1em; }
#{$evo}-text-tighter   { letter-spacing: -.065em; }
#{$evo}-text-tight     { letter-spacing: -.035em; }
#{$evo}-text-loose     { letter-spacing: .035em; }
#{$evo}-text-looser    { letter-spacing: .065em; }
#{$evo}-text-loosest   { letter-spacing: .1em; }
  // Leading
#{$evo}-line-tightest  { line-height: .75; }
#{$evo}-line-tighter   { line-height: .85; }
#{$evo}-line-tight     { line-height: .95; }
#{$evo}-line-loose     { line-height: 1; }
#{$evo}-line-looser    { line-height: 1.15; }
#{$evo}-line-loosest   { line-height: 1.25; }
/* Text Sizes */

// Base Style
#{$evo}-text {
  color: $text_color;
  font-weight: $text_font_weight;
  font-family: $text_font;
  line-height: $text_line_height;
  margin-top:$text_margin_top;
//  margin-bottom:$text_margin_bottom;
}

// Size Generator

@for $i from 0 through 4 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
  @extend #{$evo}-text-looser;
    @if ($i == 0) { font-size:.375rem; }
    @else if ($i == 1) { font-size:.5rem; }
    @else if ($i == 2) { font-size:.625rem; }
    @else if ($i == 3) { font-size:.775rem; }
    @else if ($i == 4) { font-size:.875rem; }
}
}

@for $i from 5 through 9 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
  @extend #{$evo}-text-loose;
    @if ($i == 5) { font-size: 1rem; }
    @else if ($i == 6) { font-size: 1.25rem; }
    @else if ($i == 7) { font-size: 1.5rem; }
    @else if ($i == 8) { font-size: 1.75rem; }
    @else if ($i == 9) { font-size: 2rem; }
}
}

@for $i from 10 through 19 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
  @extend #{$evo}-text-tight;
    @if ($i == 10) { font-size: 2.25rem; }
    @else if ($i == 11) { font-size: 2.5rem; }
    @else if ($i == 12) { font-size: 2.75rem; }
    @else if ($i == 13) { font-size: 3.3rem; }
    @else if ($i == 14) { font-size: 4.4rem; }
    @else if ($i == 15) { font-size: 5.5rem; }
    @else if ($i == 16) { font-size: 6.6rem; }
    @else if ($i == 17) { font-size: 7.7rem; }
    @else if ($i == 18) { font-size: 8.8rem; }
    @else if ($i == 19) { font-size: 9.9rem; }
}
}

@for $i from 20 through 30 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
  @extend #{$evo}-text-tighter;
    @if ($i >= 20) { font-size: calc(#{$i}rem); }
    @else {
    font-size: calc(#{$i}rem);
    line-height:calc(#{$i}/9);
    margin-bottom:calc(#{$i}rem/2);
    }
  
// Extensions
  &-style {
    @extend #{$evo}-text-#{$i};
    @extend #{$evo}-text-tighter;
    @extend #{$evo}-line-tight;
}
}
}
