// Default Text Settings
$evo:                 ".evo" !default;
$text_color:            inherit !default;
$text_font:             inherit !default;
$text_font_size:        1rem !default;
$text_font_weight:      normal !default;
$text_margin_top:       0em !default;
$text_margin_bottom:    1.5em !default;
$text_line_height:      1.5em !default;
$text_base_unit:        1rem !default;
$text_generate_max:     24 !default;


// Mixins

@mixin text($value) {
  // Style
  @if $value == text-bold             { font-weight: bold; }
  @else if $value == text-italic      { font-style: italic; }
  @else if $value == text-caps        { text-transform: uppercase; }
  @else if $value == text-capital     { text-transform: capitalize; }
  @else if $value == text-strike      { text-transform: line-through; }
  @else if $value == text-underline   { text-transform: underline; }
  // Tracking
  @else if $value == text-tightest    { letter-spacing: -.1em; }
  @else if $value == text-tighter     { letter-spacing: -.065em; }
  @else if $value == text-tight       { letter-spacing: -.035em; }
  @else if $value == text-loose       { letter-spacing: .035em; }
  @else if $value == text-looser      { letter-spacing: .065em; }
  @else if $value == text-loosest     { letter-spacing: .1em; }
  // Leading
  @else if $value == leading-0      { line-height: (#{$text_line_height} * .0333333); } // .05em
  @else if $value == leading-1      { line-height: (#{$text_line_height} * .1666666); } // .25em
  // @else if $value == leading-3        { line-height: #{$text_line_height} * .2333333; } // .35em
  // @else if $value == leading-4        { line-height: #{$text_line_height} * .3666666; } // .55em
  // @else if $value == leading-5        { line-height: #{$text_line_height} * .4333333; } // .65em
  @else if $value == leading-2      { line-height: (#{$text_line_height} * .3333333); } // .5em
  @else if $value == leading-3      { line-height: (#{$text_line_height} * .5); } // .75em
  // @else if $value == leading-6        { line-height: #{$text_line_height} * .5666666; } // .85em
  // @else if $value == leading-7        { line-height: #{$text_line_height} * .6333333; } // .95em;
  // @else if $value == leading-8        { line-height: #{$text_line_height} * .7666666; } // 1.15em
  @else if $value == leading-4      { line-height: (#{$text_line_height} * .8333333); } // 1.25em
  @else if $value == leading        { line-height: (#{$text_line_height}); } // 1.5em
  // @else if $value == leading-11       { line-height: #{$text_line_height} * 1.0333333; } // 1.55em
  @else if $value == leading-5      { line-height: (#{$text_line_height} * 1.1666666); } // 1.75em
  // @else if $value == leading-13       { line-height: #{$text_line_height} * 1.2333333; } // 1.85em
  // @else if $value == leading-14       { line-height: #{$text_line_height} * 1.3666666; } // 2.05em
  @else if $value == leading-6      { line-height: (#{$text_line_height} * 1.333333); } // 2em
  // @else if $value == leading-15       { line-height: #{$text_line_height} * 1.4333333; } // 2.15em
  // @else if $value == leading-16       { line-height: #{$text_line_height} * 1.5666666; } // 2.35em
  @else if $value == leading-7      { line-height: (#{$text_line_height} * 1.5); } // 2.25em
  // @else if $value == leading-17       { line-height: #{$text_line_height} * 1.6333333; } // 2.45em
  // @else if $value == leading-18       { line-height: #{$text_line_height} * 1.7666666; } // 2.65em
  @else if $value == leading-8      { line-height: (#{$text_line_height} * 1.6666666); } // 2.5em
  @else if $value == leading-9      { line-height: (#{$text_line_height} * 1.8333333); } // 2.75em
  @else if $value == leading-10     { line-height: (#{$text_line_height} * 2); } // 3em

  // @else if $value == line-tightest    { line-height: #{$text_line_height} * .4333333; } // .65em
  // @else if $value == line-tighter     { line-height: #{$text_line_height} * .5666666; } // .85em
  // @else if $value == line-tight       { line-height: #{$text_line_height} * .6333333; } // .95em;
  // @else if $value == line-loose       { line-height: #{$text_line_height} * .7666666; } // 1.15em
  // @else if $value == line-looser      { line-height: #{$text_line_height} * .8333333; } // 1.25em
  // @else if $value == line-loosest     { line-height: #{$text_line_height}; } // 1.5em

  // Measure
  @else if $value == measure-widest   { max-width: 50em; }
  @else if $value == measure-wider    { max-width: 40em; }
  @else if $value == measure-wide     { max-width: 30em; }
  @else if $value == measure-tight    { max-width: 25em; }
  @else if $value == measure-tighter  { max-width: 20em; }
  @else if $value == measure-tightest { max-width: 15em; }
  // Throw Warnings
  @else { @warn "Text mixin supports: bold, italic, caps, capital, strike, underline, text-tightest, text-tighter, text-tight, text-loose, text-looser, text-loosest, leading-1, leading-2, leading-3, leading-4, leading-5, leading-6, leading-7, leading-8, leading-9, leading-10, leading, measure-widest, measure-wider, measure-wide, measure-tight, measure-tighter, measure-tightest"; }
}

/* Text Utilities */

// Style
#{$evo}-text-bold     { @include text(text-bold); }
#{$evo}-text-caps     { @include text(text-caps); }
#{$evo}-text-italic   { @include text(text-italic); }
#{$evo}-text-capital  { @include text(text-capital); }
#{$evo}-text-strike   { @include text(text-strike); }
#{$evo}-text-underline { @include text(underline); }
// Tracking
#{$evo}-text-tightest { @include text(text-tightest); }
#{$evo}-text-tighter  { @include text(text-tighter); }
#{$evo}-text-tight    { @include text(text-tight); }
#{$evo}-text-loose    { @include text(text-loose); }
#{$evo}-text-looser   { @include text(text-looser); }
#{$evo}-text-loosest  { @include text(text-loosest); }
// Leading
#{$evo}-leading-tightest,
#{$evo}-leading-0        { @include text(leading-0); }
#{$evo}-leading-1        { @include text(leading-1); }
#{$evo}-leading-tighter,
#{$evo}-leading-2        { @include text(leading-2); }
#{$evo}-leading-3        { @include text(leading-3); }
#{$evo}-leading-tight,
#{$evo}-leading-4        { @include text(leading-4); }
#{$evo}-leading-5        { @include text(leading-5); }
#{$evo}-leading-loose,
#{$evo}-leading-6        { @include text(leading-6); }
#{$evo}-leading-7        { @include text(leading-7); }
#{$evo}-leading-looser,
#{$evo}-leading-8        { @include text(leading-8); }
#{$evo}-leading-9        { @include text(leading-9); }
#{$evo}-leading-loosest,
#{$evo}-leading-10       { @include text(leading-10); }
// Measure
#{$evo}-measure-widest   { @include text(measure-widest); }
#{$evo}-measure-wider    { @include text(measure-wider); }
#{$evo}-measure-wide     { @include text(measure-wide); }
#{$evo}-measure-tight    { @include text(measure-tight); }
#{$evo}-measure-tighter  { @include text(measure-tighter); }
#{$evo}-measure-tightest { @include text(measure-tightest); }



/* Text Sizes */

// Base Style
#{$evo}-text {
  color: $text_color;
  font-size: $text_font_size;
  font-weight: $text_font_weight;
  font-family: $text_font;
  line-height: $text_line_height;
  margin-top: $text_margin_top;
  margin-bottom:$text_margin_bottom;
}

// // Reserved for future size increases
// @for $i from 0 through 0 {
//   #{$evo}-text-#{$i} {
//   @extend #{$evo}-text;
//     @if ($i == 0) { font-size:.375rem; } // 34 fib
//     @else {
//       margin-bottom:calc(#{$i}rem - 1.5);
//     }
//     &-style {
//       @extend #{$evo}-text-#{$i};
//       @include text(text-loose);
//       @include text(line-loosest);
//     }
// }
// }

    // @if ($i == 0) { font-size: .445rem; }

// Mousetype sizes
@for $i from 1 through 5 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
    @if ($i == 0) { font-size: .4375rem; } // .445 fib
    @else if ($i == 1) { font-size: .5625rem; } // 9px // .55 fib
    @else if ($i == 2) { font-size: .75rem; } //12px //.72 fib // smallest
    @else if ($i == 3) { font-size: .875rem; } //14px //.89 fib
    @else if ($i == 4) { font-size: floor(1.02rem); } //16px // smaller
    @else if ($i == 5) { font-size: 1.125rem; } //18px // 1.165 fib
    @else {
      // margin-bottom:calc(#{$i}rem - 1.5);
    }
    &-style {
      @extend #{$evo}-text-#{$i};
      @include text(line-loose);
    }
}
}

// Copy sizes
@for $i from 6 through 10 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
    @if ($i == 6) { font-size: 1.3025rem; } // small
    @else if ($i == 7) { font-size: 1.44rem; }
    @else if ($i == 8) { font-size: 1.885rem; } // normal
    @else if ($i == 9) { font-size: 2.33rem; } 
    @else if ($i == 10) { font-size: 2.69rem; } // big
    @else {
      // margin-bottom:calc(#{$i}rem - 1.5);
    }
    &-style {
      @extend #{$evo}-text-#{$i};
      @include text(text-tight);
      @include text(leading-5);
    }
}
}

// Subheader sizes
@for $i from 11 through 15 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
    @if ($i == 11) { font-size: floor(3.05rem); } 
    @else if ($i == 12) { font-size: 3.77rem; } // bigger
    @else if ($i == 13) { font-size: ceil(4.935rem); } 
    @else if ($i == 14) { font-size: floor(6.1rem); } // biggest
    @else if ($i == 15) { font-size: ceil(7.985rem); } 
    @else {
      // margin-bottom:calc(#{$i}rem - 1.5);
    }
      &-style {
      @extend #{$evo}-text-#{$i};
      @include text(text-tight);
      @include text(leading-4);
    }
}
}

// @include text(leading-3);
// Header sizes
@for $i from 16 through 24 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
    @if ($i == 16) { font-size: ceil(9.87rem); } // jumbo
    @else if ($i == 17) { font-size: ceil(12.92rem); } 
    @else if ($i == 18) { font-size: ceil(15.97rem); } // giant
    @else if ($i == 19) { font-size: ceil(20.905rem); }
    @else if ($i == 20) { font-size: ceil(25.84rem); } 
    @else if ($i == 21) { font-size: ceil(33.825rem); }
    @else if ($i == 22) { font-size: ceil(41.81rem); }
    @else if ($i == 23) { font-size: ceil(54.73rem); }
    @else if ($i == 24) { font-size: ceil(67.65rem); }
    //   &-style {
    //   @extend #{$evo}-text-#{$i};
    //   letter-spacing: -.035em;
    //   // @include text(text-tight);
    //   line-height: .75em; }  //line-height:.75em; 
    // }
    @else {
      // margin-bottom:calc(#{$i}rem - 1.5);
    }
      &-style {
      @extend #{$evo}-text-#{$i};
      letter-spacing: -.035em;
      line-height: .75em;  //line-height:.75em; 
    }
}
}

// // Giantype sizes
// @for $i from 22 through 30 {
//   #{$evo}-text-#{$i} {
//       @extend #{$evo}-text;
//       font-size: calc(#{$i}rem * 1.25);
//       line-height:calc(#{$i}rem + 10%);
//       margin-bottom:calc(#{$i}rem - 10%);
//   &-style {
//       @extend #{$evo}-text-#{$i};
//       @include text(text-tight);
//       @include text(line-tightest);
//     }
//   }
// }