///*      T E X T   M I X I N S   */

@import "../variables";
// @import "text";

// // Text
// @mixin text($text) {
//   @if $text == reset  { 
//   font-size: initial;
//   color: initial;
//   font-family: initial;
//   font-weight: initial;
//   line-height: initial;
//   margin-top: initial;
//   margin-bottom: initial;
// }
//   @else  {
  // font-size:       #{$text_size};
  // color:           #{$text_color};
  // font-family:     #{$text_font_family};
  // font-weight:     #{$text_font_weight};
  // line-height:     #{$text_line_height};
  // margin-top:      #{$text_margin_top};
  // margin-bottom:   #{$text_margin_bottom};
// }
//     // Throw Warnings
//   @else { @warn "Text mixin supports: reset, and a default state of empty ()"; }
// }


// Text Style
@mixin style($style) {
  @if $style == reset  { 
  font-weight: initial;
  font-style: initial;
  text-transform: initial;
  text-align: initial;
  }
  @else if $style == bold         { font-weight: bold; }
  @else if $style == italic       { font-style: italic; }
  @else if $style == capitalize   { text-transform: capitalize; }
  @else if $style == uppercase    { text-transform: uppercase; }
  @else if $style == lowercase    { text-transform: lowercase; }
  @else if $style == strike       { text-decoration: line-through; }
  @else if $style == underline    { text-decoration: underline; }
  @else if $style == no-underline { text-decoration: none; }
  @else if $style == no-transform { text-transform: none; }
  @else if $style == left         { text-align: left; }
  @else if $style == right        { text-align: right; }
  @else if $style == center       { text-align: center; }
  @else if $style == truncate     { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
  @else if $style == clip         { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    // Throw Warnings
  @else { @warn "Style mixin supports: reset, bold, italic, capitalize, uppercase, lowercase, strike, underline, no-underline, no-transform, left, right, center, truncate, clip"; }
}


// Text Sizes
@mixin size($size) {
  @if $size == reset  { 
  font-size: initial;
  // color: initial;
  // line-height: initial;
  // margin-top: 0px;
  // margin-bottom: 0px;
  }
  @else if $size == 0            { font-size: #{$u-18}rem; }  // 6px // may render as 8px
  @else if $size == 1            { font-size: #{$u-19}rem; }  // 8px
  @else if $size == 2            { font-size: #{$u-20}rem; }  // 10px
  @else if $size == 3            { font-size: #{$u-21}rem; }  // 12px
  @else if $size == 4            { font-size: #{$u-22}rem; }  // 14px
  @else if $size == 5            { font-size: #{$u-23}rem; }  // 16px 
  @else if $size == 6            { font-size: #{$u-24}rem; }  // 18px
  @else if $size == 7            { font-size: #{$u-25}rem; }  // 21px
  @else if $size == 8            { font-size: #{$u-26}rem; }  // 23px
  @else if $size == 9            { font-size: #{$u-27}rem; }  // 30px
  @else if $size == 10           { font-size: #{$u-28}rem; } // 37px
  @else if $size == 11           { font-size: #{$u-29}rem; } // 43px
  @else if $size == 12           { font-size: #{$u-30}rem; } // 48px
  @else if $size == 13           { font-size: #{$u-31}rem; } // 60px
  @else if $size == 14           { font-size: #{$u-32}rem; } // 80px 
  @else if $size == 15           { font-size: #{$u-33}rem; } // 96px
  @else if $size == 16           { font-size: #{$u-34}rem; } // 128px
  @else if $size == 17           { font-size: #{$u-35}rem; } // 160px
  @else if $size == 18           { font-size: #{$u-36}rem; } // 208px
  @else if $size == 19           { font-size: #{$u-37}rem; } // 256px
  @else if $size == 20           { font-size: #{$u-38}rem; } // 336px
  @else if $size == 21           { font-size: #{$u-39}rem; } // 416px
  @else if $size == 22           { font-size: #{$u-40}rem; } // 544px
  @else if $size == 23           { font-size: #{$u-41}rem; } // 672px
  @else if $size == 24           { font-size: #{$u-42}rem; } // 880px
  @else if $size == 25           { font-size: #{$u-43}rem; } // 1088px
  // Throw Warnings
  @else { @warn "Text mixin supports: reset, numbers 0-25"; }
}

// Leading
@mixin leading($leading)  {
  @if $leading == reset       { line-height: initial; }
  @else if $leading == 0      { line-height: #{$u-18}; }
  @else if $leading == 1      { line-height: #{$u-19}; }
  @else if $leading == 2      { line-height: #{$u-20}; }
  @else if $leading == 3      { line-height: #{$u-21}; }
  @else if $leading == 4      { line-height: #{$u-22}; }
  @else if $leading == 5      { line-height: #{$u-23}; }
  @else if $leading == 6      { line-height: #{$u-24}; }
  @else if $leading == 7      { line-height: #{$u-25}; }
  @else if $leading == 8      { line-height: #{$u-26}; } // 1.4375 default leading
  @else if $leading == 9      { line-height: #{$u-27}; }
  @else if $leading == 10     { line-height: #{$u-28}; }
  @else if $leading == 11     { line-height: #{$u-29}; }
  @else if $leading == 12     { line-height: #{$u-30}; }
  @else if $leading == 13     { line-height: #{$u-31}; }
  @else if $leading == 14     { line-height: #{$u-32}; }
  @else if $leading == 15     { line-height: #{$u-33}; }
  // @else if $leading == 16     { line-height: #{$u-34}; }
  // @else if $leading == 17     { line-height: #{$u-35}; }
  // @else if $leading == 18     { line-height: #{$u-36}; }
  // @else if $leading == 19     { line-height: #{$u-37}; }
  // @else if $leading == 20     { line-height: #{$u-38}; }
  // @else if $leading == 21     { line-height: #{$u-39}; }
  // @else if $leading == 22     { line-height: #{$u-40}; }
  // @else if $leading == 23     { line-height: #{$u-41}; }
  // @else if $leading == 24     { line-height: #{$u-42}; }
  // @else if $leading == 25     { line-height: #{$u-43}; }
  // Throw Warnings
  @else { @warn "Leading mixin supports: reset, numbers 0-15"; }
}

// Tracking
@mixin tracking($tracking)  {
  @if $tracking == reset       { letter-spacing: initial; }
  @else if $tracking == 0      { letter-spacing: #{$u-0}em; }
  @else if $tracking == 1      { letter-spacing: #{$u-1}em; }
  @else if $tracking == 2      { letter-spacing: #{$u-2}em; }
  @else if $tracking == 3      { letter-spacing: #{$u-3}em; }
  @else if $tracking == 4      { letter-spacing: #{$u-4}em; }
  @else if $tracking == 5      { letter-spacing: #{$u-5}em; }
  @else if $tracking == 6      { letter-spacing: #{$u-6}em; }
  @else if $tracking == 7      { letter-spacing: #{$u-7}em; }
  @else if $tracking == 8      { letter-spacing: #{$u-8}em; }
  @else if $tracking == 9      { letter-spacing: #{$u-9}em; }
  @else if $tracking == 10     { letter-spacing: #{$u-10}em; } // negative
  @else if $tracking == 11     { letter-spacing: #{$u-11}em; } // zero
  @else if $tracking == 12     { letter-spacing: #{$u-12}em; } // positive
  @else if $tracking == 13     { letter-spacing: #{$u-13}em; }
  @else if $tracking == 14     { letter-spacing: #{$u-14}em; }
  @else if $tracking == 15     { letter-spacing: #{$u-15}em; }
  @else if $tracking == 16     { letter-spacing: #{$u-16}em; }
  @else if $tracking == 17     { letter-spacing: #{$u-17}em; }
  @else if $tracking == 18     { letter-spacing: #{$u-18}em; }
  @else if $tracking == 19     { letter-spacing: #{$u-19}em; }
  @else if $tracking == 20     { letter-spacing: #{$u-20}em; }
  @else if $tracking == 21     { letter-spacing: #{$u-21}em; }
  @else if $tracking == 22     { letter-spacing: #{$u-22}em; }
  @else if $tracking == 23     { letter-spacing: #{$u-23}em; }
  @else if $tracking == 24     { letter-spacing: #{$u-24}em; }
  @else if $tracking == 25     { letter-spacing: #{$u-25}em; }
  // Throw Warnings
  @else { @warn "Tracking mixin supports: reset, numbers 0-25"; }
}

// Measure
@mixin measure($measure)  {
  @if $measure == reset       { letter-spacing: initial; }
  @else if $measure == 0      { max-width: #{$u-34}rem; } // ceil(7.985)
  @else if $measure == 1      { max-width: #{$u-35}rem; } // ceil(9.87)
  @else if $measure == 2      { max-width: #{$u-36}rem; } // ceil(12.92)
  @else if $measure == 3      { max-width: #{$u-37}rem; } // ceil(15.97) narrow
  @else if $measure == 4      { max-width: #{$u-38}rem; } // ceil(20.905)
  @else if $measure == 5      { max-width: #{$u-39}rem; } // ceil(25.84) medium
  @else if $measure == 6      { max-width: #{$u-40}rem; } // ceil(33.825)
  @else if $measure == 7      { max-width: #{$u-41}rem; } // ceil(41.81) wide
  @else if $measure == 8      { max-width: #{$u-42}rem; } // ceil(54.73)
  @else if $measure == 9      { max-width: #{$u-43}rem; } // ceil(67.65)
  // @else if $measure == 10     { max-width: 80rem; } // max usefulness
  // @else if $measure == 11     { max-width: 100rem; }
  // @else if $measure == 12     { max-width: 120rem; }
  // @else if $measure == 13     { max-width: 130rem; }
  // @else if $measure == 14     { max-width: 140rem; }
  // @else if $measure == 15     { max-width: 150rem; }
  // Throw Warnings
  @else { @warn "measure mixin supports: reset, numbers 0-9"; }
}


// Size
@mixin size($size) {
  @if $size == smallest         { font-size: #{$u-19}rem; }
  @else if $size == smaller     { font-size: #{$u-21}rem; }
  @else if $size == small       { font-size: #{$u-23}rem; }
  @else if $size == big         { font-size: #{$u-27}rem; }
  @else if $size == bigger      { font-size: #{$u-29}rem; }
  @else if $size == biggest     { font-size: #{$u-31}rem; }
  @else if $size == jumbo       { font-size: #{$u-33}rem; }
  @else if $size == giant       { font-size: #{$u-35}rem; }
    // Throw Warnings
  @else { @warn "Size mixin supports: smallest, smaller, small, big, bigger, biggest, jumbo, giant"; }
}


// Leading relative number scale
// #{$u-26} is default leading size
@mixin leading($leading) {
  @if $leading == tightest         { line-height: #{$u-19}; }
  @else if $leading == tighter     { line-height: #{$u-21}; }
  @else if $leading == tight       { line-height: #{$u-23}; }
  @else if $leading == loose       { line-height: #{$u-25}; }
  @else if $leading == looser      { line-height: #{$u-27}; }
  @else if $leading == loosest     { line-height: #{$u-29}; }
    // Throw Warnings
  @else { @warn "Leading mixin supports: tightest, tighter, tight, loose, looser, loosest"; }
}


// Tracking
// Need tracking reset
@mixin tracking($tracking) {
  @if $tracking == tightest         { letter-spacing: #{$u-8}em; }
  @else if $tracking == tighter     { letter-spacing: #{$u-9}em; }
  @else if $tracking == tight       { letter-spacing: #{$u-10}em; }
  @else if $tracking == loose       { letter-spacing: #{$u-12}em; }
  @else if $tracking == looser      { letter-spacing: #{$u-13}em; }
  @else if $tracking == loosest     { letter-spacing: #{$u-14}em; }
    // Throw Warnings
  @else { @warn "Tracking mixin supports: tightest, tighter, tight, loose, looser, loosest"; }
}

// // Measure
// // Need measure reset
// // TO DO HERE use rem instead of em?
// @mixin measure($measure) {
//   @if $measure == widest        { max-width: 70rem; }
//   @else if $measure == wider    { max-width: 60rem; }
//   @else if $measure == wide     { max-width: 50rem; }
//   @else if $measure == tight    { max-width: 40rem; }
//   @else if $measure == tighter  { max-width: 30rem; }
//   @else if $measure == tightest { max-width: 20rem; }
//   // Throw Warnings
//   @else { @warn "Measure mixin supports: widest, wider, wide, tight, tighter, tightest"; }
