///*      T E X T   T R A C K I N G    */

@import "../variables";
// @import "../variables/scale";
@import "text_mixin";

// Utilities and helper mixins and classes
// see variables/scale for actual units
// https://css-tricks.com/confused-rem-em/


// /* Text Utilities */


// TO DO: Pixel to rem mixin?
// https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
// #{$evo}-tracking-10      { letter-spacing: remCalc(#{$u-10})rem; }

// Text Leading rems
#{$evo}-tracking-reset  { letter-spacing: initial; }
#{$evo}-tracking-0      { letter-spacing: #{$u-5}em; }
#{$evo}-tracking-1      { letter-spacing: #{$u-6}em; }
#{$evo}-tracking-2      { letter-spacing: #{$u-7}em; }
#{$evo}-tracking-3      { letter-spacing: #{$u-8}em; }
#{$evo}-tracking-4      { letter-spacing: #{$u-9}em; } 
#{$evo}-tracking-5      { letter-spacing: #{$u-10}em; } // negative *
#{$evo}-tracking-6      { letter-spacing: #{$u-11}em; } // zero
#{$evo}-tracking-7      { letter-spacing: #{$u-12}em; } // positive *
#{$evo}-tracking-8      { letter-spacing: #{$u-13}em; }
#{$evo}-tracking-9      { letter-spacing: #{$u-14}em; } // *
#{$evo}-tracking-10     { letter-spacing: #{$u-15}em; }
#{$evo}-tracking-11     { letter-spacing: #{$u-16}em; }
#{$evo}-tracking-12     { letter-spacing: #{$u-17}em; }
#{$evo}-tracking-13     { letter-spacing: #{$u-18}em; }
#{$evo}-tracking-14     { letter-spacing: #{$u-19}em; }
#{$evo}-tracking-15     { letter-spacing: #{$u-20}em; }


// Relative Text Tracking
#{$evo}-tracking-smallest { @include tracking(tightest); }
#{$evo}-tracking-smaller  { @include tracking(tighter); }
#{$evo}-tracking-small    { @include tracking(tight); }
#{$evo}-tracking-big      { @include tracking(loose); }
#{$evo}-tracking-bigger   { @include tracking(looser); }
#{$evo}-tracking-biggest  { @include tracking(loosest); }


// // Tracking
// #{$evo}-tracking-tightest  { letter-spacing: -.1em; }
// #{$evo}-tracking-tighter   { letter-spacing: -.065em; }
// #{$evo}-tracking-tight     { letter-spacing: -.035em; }
// #{$evo}-tracking-loose     { letter-spacing: .035em; }
// #{$evo}-tracking-looser    { letter-spacing: .065em; }
// #{$evo}-tracking-loosest   { letter-spacing: .1em; }


// // TO DO: Pixel to rem mixin?
// // https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
// // #{$evo}-tracking-10      { letter-spacing: remCalc(#{$u-10})rem; }

// // Text Leading rems
// #{$evo}-tracking-reset  { letter-spacing: initial; }
// #{$evo}-tracking-0      { letter-spacing: #{$u-0}em; }
// #{$evo}-tracking-1      { letter-spacing: #{$u-1}em; }
// #{$evo}-tracking-2      { letter-spacing: #{$u-2}em; }
// #{$evo}-tracking-3      { letter-spacing: #{$u-3}em; }
// #{$evo}-tracking-4      { letter-spacing: #{$u-4}em; }
// #{$evo}-tracking-5      { letter-spacing: #{$u-5}em; }
// #{$evo}-tracking-6      { letter-spacing: #{$u-6}em; }
// #{$evo}-tracking-7      { letter-spacing: #{$u-7}em; }
// #{$evo}-tracking-8      { letter-spacing: #{$u-8}em; }
// #{$evo}-tracking-9      { letter-spacing: #{$u-9}em; } 
// #{$evo}-tracking-10     { letter-spacing: #{$u-10}em; } // negative
// #{$evo}-tracking-11     { letter-spacing: #{$u-11}em; } // zero
// #{$evo}-tracking-12     { letter-spacing: #{$u-12}em; } // positive
// #{$evo}-tracking-13     { letter-spacing: #{$u-13}em; }
// #{$evo}-tracking-14     { letter-spacing: #{$u-14}em; }
// #{$evo}-tracking-15     { letter-spacing: #{$u-15}em; }
// #{$evo}-tracking-16     { letter-spacing: #{$u-16}em; }
// #{$evo}-tracking-17     { letter-spacing: #{$u-17}em; }
// #{$evo}-tracking-18     { letter-spacing: #{$u-18}em; }
// #{$evo}-tracking-19     { letter-spacing: #{$u-19}em; }
// #{$evo}-tracking-20     { letter-spacing: #{$u-20}em; }
// #{$evo}-tracking-21     { letter-spacing: #{$u-21}em; }
// #{$evo}-tracking-22     { letter-spacing: #{$u-22}em; } 
// #{$evo}-tracking-23     { letter-spacing: #{$u-23}em; }
// #{$evo}-tracking-24     { letter-spacing: #{$u-24}em; }
// #{$evo}-tracking-25     { letter-spacing: #{$u-25}em; }


// // TO DO: Pixel to rem mixin?
// // https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
// // #{$evo}-tracking-10      { letter-spacing: remCalc(#{$u-10})rem; }

// // Text Leading rems
// #{$evo}-tracking-reset  { letter-spacing: initial; }
// #{$evo}-tracking-0      { letter-spacing: #{$u-4}em; }
// #{$evo}-tracking-1      { letter-spacing: #{$u-5}em; }
// #{$evo}-tracking-2      { letter-spacing: #{$u-6}em; }
// #{$evo}-tracking-3      { letter-spacing: #{$u-7}em; }
// #{$evo}-tracking-4      { letter-spacing: #{$u-8}em; } 
// #{$evo}-tracking-5      { letter-spacing: #{$u-9}em; } 
// #{$evo}-tracking-6      { letter-spacing: #{$u-10}em; } // negative *
// #{$evo}-tracking-7      { letter-spacing: #{$u-11}em; } // zero
// #{$evo}-tracking-8      { letter-spacing: #{$u-12}em; } // positive *
// #{$evo}-tracking-9      { letter-spacing: #{$u-13}em; } 
// #{$evo}-tracking-10     { letter-spacing: #{$u-14}em; } // *
// #{$evo}-tracking-11     { letter-spacing: #{$u-15}em; }
// #{$evo}-tracking-12     { letter-spacing: #{$u-16}em; }
// #{$evo}-tracking-13     { letter-spacing: #{$u-17}em; }
// #{$evo}-tracking-14     { letter-spacing: #{$u-18}em; }
// #{$evo}-tracking-15     { letter-spacing: #{$u-19}em; }
// // #{$evo}-tracking-16     { letter-spacing: #{$u-20}em; }
