// Default Text Settings
// $silent:              false !default:
$silent:                "%" !default:
$evo:                   ".evo" !default;
$text_color:            inherit !default;
$text_font:             arial !default;
$text_font_size:        1rem !default;
$text_font_weight:      normal !default;
$text_margin_top:       0em !default;
$text_margin_bottom:    1.5em !default;
$text_line_height:      1.5em !default;
$text_base_unit:        1rem !default;
$text_generate_max:     24 !default;


// Mixins

// Leading
@mixin leading($leading)               {
  @if $leading == null        { line-height: initial; }
  @else if $leading == 0      { line-height: 0em; }
  @else if $leading == 1      { line-height: .125em; }
  @else if $leading == 2      { line-height: .25em; }
  @else if $leading == 3      { line-height: .375em; }
  @else if $leading == 4      { line-height: .5em; }
  @else if $leading == 5      { line-height: .625em; }
  @else if $leading == 6      { line-height: .75em; }
  @else if $leading == 7      { line-height: .875em; }
  @else if $leading == 8      { line-height: 1em; }
  @else if $leading == 9      { line-height: 1.125em; }
  @else if $leading == 10     { line-height: 1.25em; }
  @else if $leading == 11     { line-height: 1.375em; }
  @else if $leading == 12     { line-height: 1.5em; }  // default
  @else if $leading == 13     { line-height: 1.625em; }
  @else if $leading == 14     { line-height: 1.75em; }
  @else if $leading == 15     { line-height: 1.875em; }
  @else if $leading == 16     { line-height: 2em; }
  @else if $leading == 17     { line-height: 2.125em; }
  @else if $leading == 18     { line-height: 2.25em; }
  @else if $leading == 19     { line-height: 2.325em; }
  @else if $leading == 20     { line-height: 2.5em; }
  @else if $leading == 21     { line-height: 2.625em; }
  @else if $leading == 22     { line-height: 2.75em; }
  @else if $leading == 23     { line-height: 2.875em; }
  @else if $leading == 24     { line-height: 3em; }
  // Throw Warnings
  @else { @warn "Text mixin supports: null, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25;" }
}

// @mixin leading($leading)               {
//   // Leading
//   @if $leading == leading             { line-height: (#{$text_line_height}); } // 1.5em
//   @else if $leading == 0      { line-height: (#{$text_line_height} * .0333333); } // .05em
//   @else if $leading == 1      { line-height: (#{$text_line_height} * .1666666); } // .25em
//   @else if $leading == 2      { line-height: (1.5em * .3333333); } // .5em
//   @else if $leading == 3      { line-height: (#{$text_line_height} * .5); } // .75em
//   @else if $leading == 4      { line-height: (#{$text_line_height} * .8333333); } // 1.25em
//   @else if $leading == 5      { line-height: (#{$text_line_height} * 1.1666666); } // 1.75em
//   @else if $leading == 6      { line-height: (#{$text_line_height} * 1.333333); } // 2em
//   @else if $leading == 7      { line-height: (#{$text_line_height} * 1.5); } // 2.25em
//   @else if $leading == 8      { line-height: (#{$text_line_height} * 1.6666666); } // 2.5em
//   @else if $leading == 9      { line-height: (#{$text_line_height} * 1.8333333); } // 2.75em
//   @else if $leading == 10     { line-height: (#{$text_line_height} * 2); } // 3em
//   // Throw Warnings
//   @else { @warn "Text mixin supports: leading-1, leading-2, leading-3, leading-4, leading-5, leading-6, leading-7, leading-8, leading-9, leading-10, leading"; }
// }

@mixin text($value) {
  // Style
  @if $value == text-bold             { font-weight: bold; }
  @else if $value == text-italic      { font-style: italic; }
  @else if $value == text-caps        { text-transform: uppercase; }
  @else if $value == text-capital     { text-transform: capitalize; }
  @else if $value == text-strike      { text-transform: line-through; }
  @else if $value == text-underline   { text-transform: underline; }
  // Tracking
  @else if $value == text-tightest    { letter-spacing: -.1em; }
  @else if $value == text-tighter     { letter-spacing: -.065em; }
  @else if $value == text-tight       { letter-spacing: -.035em; }
  @else if $value == text-loose       { letter-spacing: .035em; }
  @else if $value == text-looser      { letter-spacing: .065em; }
  @else if $value == text-loosest     { letter-spacing: .1em; }
  // Measure
  @else if $value == measure-widest   { max-width: 50em; }
  @else if $value == measure-wider    { max-width: 40em; }
  @else if $value == measure-wide     { max-width: 30em; }
  @else if $value == measure-tight    { max-width: 25em; }
  @else if $value == measure-tighter  { max-width: 20em; }
  @else if $value == measure-tightest { max-width: 15em; }
  // Throw Warnings
  @else { @warn "Text mixin supports: bold, italic, caps, capital, strike, underline, text-tightest, text-tighter, text-tight, text-loose, text-looser, text-loosest, measure-widest, measure-wider, measure-wide, measure-tight, measure-tighter, measure-tightest"; }
}

/* Text Utilities */

// Style
#{$evo}-text-bold     { @include text(text-bold); }
#{$evo}-text-caps     { @include text(text-caps); }
#{$evo}-text-italic   { @include text(text-italic); }
#{$evo}-text-capital  { @include text(text-capital); }
#{$evo}-text-strike   { @include text(text-strike); }
#{$evo}-text-underline { @include text(underline); }
// Tracking
#{$evo}-text-tightest { @include text(text-tightest); }
#{$evo}-text-tighter  { @include text(text-tighter); }
#{$evo}-text-tight    { @include text(text-tight); }
#{$evo}-text-loose    { @include text(text-loose); }
#{$evo}-text-looser   { @include text(text-looser); }
#{$evo}-text-loosest  { @include text(text-loosest); }
// Leading
#{$evo}-leading-tightest,
#{$evo}-leading-1        { @include leading(1) }
#{$evo}-leading-3        { @include leading(3) }
#{$evo}-leading-tighter,
#{$evo}-leading-5        { @include leading(5) }
#{$evo}-leading-8        { @include leading(8) }
#{$evo}-leading-tight,
#{$evo}-leading-10        { @include leading(10) }
#{$evo}-leading-13        { @include leading(13) }
#{$evo}-leading-loose,
#{$evo}-leading-15       { @include leading(15) }
#{$evo}-leading-17        { @include leading(17) }
#{$evo}-leading-looser,
#{$evo}-leading-20        { @include leading(20) }
#{$evo}-leading-23        { @include leading(23) }
#{$evo}-leading-loosest,
#{$evo}-leading-25       { @include leading(25) }
// Measure
#{$evo}-measure-widest   { @include text(measure-widest); }
#{$evo}-measure-wider    { @include text(measure-wider); }
#{$evo}-measure-wide     { @include text(measure-wide); }
#{$evo}-measure-tight    { @include text(measure-tight); }
#{$evo}-measure-tighter  { @include text(measure-tighter); }
#{$evo}-measure-tightest { @include text(measure-tightest); }



/* Text Sizes */

// Base Structure
#{$silent}text {
  color: initial;
  font-size: initial;
  font-weight: initial;
  font-family: initial;
  line-height: initial;
  margin-top: 0px;
  margin-bottom:0px;
}

// Base Style
#{$evo}-text-style {
  color: $text_color;
  font-size: $text_font_size;
  font-weight: $text_font_weight;
  font-family: $text_font;
  line-height: $text_line_height;
  margin-top: $text_margin_top;
  margin-bottom:$text_margin_bottom;
}

// // Reserved for future size increases
// @for $i from 0 through 0 {
//   #{$evo}-text-#{$i} {
//   @extend #{$evo}-text;
//     @if ($i == 0) { font-size:.375rem; } // 34 fib
//     @else {
//       margin-bottom:calc(#{$i}rem - 1.5);
//     }
//     &-style {
//       @extend #{$evo}-text-#{$i};
//       @include text(text-loose);
//       @include text(line-loosest);
//     }
// }
// }

    // @if ($i == 0) { font-size: .445rem; }

// Mousetype sizes
@for $i from 0 through 4 {
  #{$silent}text-#{$i} {
  @extend #{$silent}text;
    @if ($i == 0) { font-size: .5rem; }                    // 8px // .445 fib
    @else if ($i == 1) { font-size: .625rem; }               // 10px // .55 fib
    @else if ($i == 2) { font-size: .75rem; } // smallest     //12px //.72 fib 
    @else if ($i == 3) { font-size: .875rem; }                //14px //.89 fib
    @else if ($i == 4) { font-size: floor(1.02rem); } // smaller  //16px 
    #{$evo}-& {
      @extend #{$evo}-text-#{$i};
      @include text(text-loose);
      @include leading(11);
    }
  }
}

// Copy sizes
@for $i from 5 through 8 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
    @if ($i == 5) { font-size: 1.125rem; }  //18px // 1.165 fib
    @else if ($i == 6) { font-size: 1.3125rem; } //21px // small //1.3025fib
    @else if ($i == 7) { font-size: 1.4375rem; } //23px // 1.44 fib
    @else if ($i == 8) { font-size: 1.875rem; } //30px // 1.885 fib // normal
    &-style {
      @extend #{$evo}-text-#{$i};
      @include leading(12);
    }
  }
}

// Subheader sizes
@for $i from 9 through 12 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
    @if ($i == 9) { font-size: 2.3125rem; } //37px //2.33 fib
    @else if ($i == 10) { font-size: 2.6875rem; } //43px //2.69 fib // big
    @else if ($i == 11) { font-size: floor(3.05rem); }  //48px
    @else if ($i == 12) { font-size: 3.75rem; } //60px // 3.77 fib // bigger
      &-style {
      @extend #{$evo}-text-#{$i};
      @include text(text-tight);
      @include leading(10);
    }
  }
}

// Subheader sizes
@for $i from 13 through 16 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
    @if ($i == 13) { font-size: ceil(4.935rem); } //80px 
    @else if ($i == 14) { font-size: floor(6.1rem); } //96px // biggest
    @else if ($i == 15) { font-size: ceil(7.985rem); } //128px
    @else if ($i == 16) { font-size: ceil(9.87rem); } //160px // jumbo
      &-style {
      @extend #{$evo}-text-#{$i};
      @include text(text-tight);
      @include leading(10);
    }
  }
}

// Subheader sizes
@for $i from 17 through 20 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
    @if ($i == 17) { font-size: ceil(12.92rem); } //208px
    @else if ($i == 18) { font-size: ceil(15.97rem); } //256px // giant
    @else if ($i == 19) { font-size: ceil(20.905rem); } //336px
    @else if ($i == 20) { font-size: ceil(25.84rem); } //416px
      &-style {
      @extend #{$evo}-text-#{$i};
      @include text(text-tight);
      @include leading(10);
    }
  }
}

// @include text(leading-3);
// Header sizes
@for $i from 20 through 24 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
    @if ($i == 20) { font-size: ceil(25.84rem); } //416px
    @else if ($i == 21) { font-size: ceil(33.825rem); } //544px
    @else if ($i == 22) { font-size: ceil(41.81rem); } //672px
    @else if ($i == 23) { font-size: ceil(54.73rem); } //880px
    @else if ($i == 24) { font-size: ceil(67.65rem); } //1088px
      &-style {
      @extend #{$evo}-text-#{$i};
      @include text(text-tightest);
      @include leading(8);
    }
  }
}

// // Giantype sizes
// @for $i from 22 through 30 {
//   #{$evo}-text-#{$i} {
//       @extend #{$evo}-text;
//       font-size: calc(#{$i}rem * 1.25);
//       line-height:calc(#{$i}rem + 10%);
//       margin-bottom:calc(#{$i}rem - 10%);
//   &-style {
//       @extend #{$evo}-text-#{$i};
//       @include text(text-tight);
//       @include text(line-tightest);
//     }
//   }
// }