///*      T E X T   M I X I N S   */

@import "../variables";
// @import "text";

// // Text
// @mixin text($text) {
//   @if $text == reset  { 
//   font-size: initial;
//   color: initial;
//   font-family: initial;
//   font-weight: initial;
//   line-height: initial;
//   margin-top: initial;
//   margin-bottom: initial;
// }
//   @else  {
  // font-size:       #{$text_size};
  // color:           #{$text_color};
  // font-family:     #{$text_font_family};
  // font-weight:     #{$text_font_weight};
  // line-height:     #{$text_line_height};
  // margin-top:      #{$text_margin_top};
  // margin-bottom:   #{$text_margin_bottom};
// }
//     // Throw Warnings
//   @else { @warn "Text mixin supports: reset, and a default state of empty ()"; }
// }


// Text Style
@mixin style($style) {
  @if $style == reset  { 
  font-weight: initial;
  font-style: initial;
  text-transform: initial;
  text-align: initial;
  }
  @else if $style == bold         { font-weight: bold; }
  @else if $style == italic       { font-style: italic; }
  @else if $style == capitalize   { text-transform: capitalize; }
  @else if $style == uppercase    { text-transform: uppercase; }
  @else if $style == lowercase    { text-transform: lowercase; }
  @else if $style == strike       { text-decoration: line-through; }
  @else if $style == underline    { text-decoration: underline; }
  @else if $style == no-underline { text-decoration: none; }
  @else if $style == no-transform { text-transform: none; }
  @else if $style == left         { text-align: left; }
  @else if $style == right        { text-align: right; }
  @else if $style == center       { text-align: center; }
  @else if $style == truncate     { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    // Throw Warnings
  @else { @warn "Style mixin supports: reset, bold, italic, capitalize, uppercase, lowercase, strike, underline, no-underline, no-transform, left, right, center, truncate"; }
}


// Text Sizes
@mixin size($size) {
  @if $size == reset  { 
  font-size: initial;
  // color: initial;
  // line-height: initial;
  // margin-top: 0px;
  // margin-bottom: 0px;
  }
  @else if $size == 0            { font-size: #{$rem-18}; }  // 6px // may render as 8px
  @else if $size == 1            { font-size: #{$rem-19}; }  // 8px
  @else if $size == 2            { font-size: #{$rem-20}; }  // 10px
  @else if $size == 3            { font-size: #{$rem-21}; }  // 12px
  @else if $size == 4            { font-size: #{$rem-22}; }  // 14px
  @else if $size == 5            { font-size: #{$rem-23}; }  // 16px 
  @else if $size == 6            { font-size: #{$rem-24}; }  // 18px
  @else if $size == 7            { font-size: #{$rem-25}; }  // 21px
  @else if $size == 8            { font-size: #{$rem-26}; }  // 23px
  @else if $size == 9            { font-size: #{$rem-27}; }  // 30px
  @else if $size == 10           { font-size: #{$rem-28}; } // 37px
  @else if $size == 11           { font-size: #{$rem-29}; } // 43px
  @else if $size == 12           { font-size: #{$rem-30}; } // 48px
  @else if $size == 13           { font-size: #{$rem-31}; } // 60px
  @else if $size == 14           { font-size: #{$rem-32}; } // 80px 
  @else if $size == 15           { font-size: #{$rem-33}; } // 96px
  @else if $size == 16           { font-size: #{$rem-34}; } // 128px
  @else if $size == 17           { font-size: #{$rem-35}; } // 160px
  @else if $size == 18           { font-size: #{$rem-36}; } // 208px
  @else if $size == 19           { font-size: #{$rem-37}; } // 256px
  @else if $size == 20           { font-size: #{$rem-38}; } // 336px
  @else if $size == 21           { font-size: #{$rem-39}; } // 416px
  @else if $size == 22           { font-size: #{$rem-40}; } // 544px
  @else if $size == 23           { font-size: #{$rem-41}; } // 672px
  @else if $size == 24           { font-size: #{$rem-42}; } // 880px
  @else if $size == 25           { font-size: #{$rem-43}; } // 1088px
  // Throw Warnings
  @else { @warn "Text mixin supports: reset, numbers 0-25"; }
}

// Leading
@mixin leading($leading)  {
  @if $leading == reset       { line-height: initial; }
  @else if $leading == 0      { line-height: #{$u-18}; }
  @else if $leading == 1      { line-height: #{$u-19}; }
  @else if $leading == 2      { line-height: #{$u-20}; }
  @else if $leading == 3      { line-height: #{$u-21}; }
  @else if $leading == 4      { line-height: #{$u-22}; }
  @else if $leading == 5      { line-height: #{$u-23}; }
  @else if $leading == 6      { line-height: #{$u-24}; }
  @else if $leading == 7      { line-height: #{$u-25}; }
  @else if $leading == 8      { line-height: #{$u-26}; } // 1.4375 default leading
  @else if $leading == 9      { line-height: #{$u-27}; }
  @else if $leading == 10     { line-height: #{$u-28}; }
  @else if $leading == 11     { line-height: #{$u-29}; }
  @else if $leading == 12     { line-height: #{$u-30}; }
  @else if $leading == 13     { line-height: #{$u-31}; }
  @else if $leading == 14     { line-height: #{$u-32}; }
  @else if $leading == 15     { line-height: #{$u-33}; }
  // @else if $leading == 16     { line-height: #{$u-34}; }
  // @else if $leading == 17     { line-height: #{$u-35}; }
  // @else if $leading == 18     { line-height: #{$u-36}; }
  // @else if $leading == 19     { line-height: #{$u-37}; }
  // @else if $leading == 20     { line-height: #{$u-38}; }
  // @else if $leading == 21     { line-height: #{$u-39}; }
  // @else if $leading == 22     { line-height: #{$u-40}; }
  // @else if $leading == 23     { line-height: #{$u-41}; }
  // @else if $leading == 24     { line-height: #{$u-42}; }
  // @else if $leading == 25     { line-height: #{$u-43}; }
  // Throw Warnings
  @else { @warn "Leading mixin supports: reset, numbers 0-15"; }
}

// Leading
@mixin tracking($tracking)  {
  @if $leading == reset       { letter-spacing: initial; }
  @else if $tracking == 0      { letter-spacing: #{$em-0}; }
  @else if $tracking == 1      { letter-spacing: #{$em-1}; }
  @else if $tracking == 2      { letter-spacing: #{$em-2}; }
  @else if $tracking == 3      { letter-spacing: #{$em-3}; }
  @else if $tracking == 4      { letter-spacing: #{$em-4}; }
  @else if $tracking == 5      { letter-spacing: #{$em-5}; }
  @else if $tracking == 6      { letter-spacing: #{$em-6}; }
  @else if $tracking == 7      { letter-spacing: #{$em-7}; }
  @else if $tracking == 8      { letter-spacing: #{$em-8}; }
  @else if $tracking == 9      { letter-spacing: #{$em-9}; }
  @else if $tracking == 10     { letter-spacing: #{$em-10}; } // negative
  @else if $tracking == 11     { letter-spacing: #{$em-11}; } // zero
  @else if $tracking == 12     { letter-spacing: #{$em-12}; } // positive
  @else if $tracking == 13     { letter-spacing: #{$em-13}; }
  @else if $tracking == 14     { letter-spacing: #{$em-14}; }
  @else if $tracking == 15     { letter-spacing: #{$em-15}; }
  @else if $tracking == 16     { letter-spacing: #{$em-16}; }
  @else if $tracking == 17     { letter-spacing: #{$em-17}; }
  @else if $tracking == 18     { letter-spacing: #{$em-18}; }
  @else if $tracking == 19     { letter-spacing: #{$em-19}; }
  @else if $tracking == 20     { letter-spacing: #{$em-20}; }
  @else if $tracking == 21     { letter-spacing: #{$em-21}; }
  @else if $tracking == 22     { letter-spacing: #{$em-22}; }
  @else if $tracking == 23     { letter-spacing: #{$em-23}; }
  @else if $tracking == 24     { letter-spacing: #{$em-24}; }
  @else if $tracking == 25     { letter-spacing: #{$em-25}; }
  // Throw Warnings
  @else { @warn "Leading mixin supports: reset, numbers 0-25"; }
}

// Size
@mixin size($size) {
  @if $size == smallest         { font-size: #{$rem-19}; }
  @else if $size == smaller     { font-size: #{$rem-21}; }
  @else if $size == small       { font-size: #{$rem-23}; }
  @else if $size == big         { font-size: #{$rem-27}; }
  @else if $size == bigger      { font-size: #{$rem-29}; }
  @else if $size == biggest     { font-size: #{$rem-31}; }
  @else if $size == jumbo       { font-size: #{$rem-33}; }
  @else if $size == giant       { font-size: #{$rem-35}; }
    // Throw Warnings
  @else { @warn "Size mixin supports: smallest, smaller, small, big, bigger, biggest, jumbo, giant"; }
}


// Leading relative number scale
// #{$unit-25} is default leading size
@mixin leading($leading) {
  @if $leading == tightest         { line-height: #{$u-19}; }
  @else if $leading == tighter     { line-height: #{$u-21}; }
  @else if $leading == tight       { line-height: #{$u-23}; }
  @else if $leading == loose       { line-height: #{$u-25}; }
  @else if $leading == looser      { line-height: #{$u-27}; }
  @else if $leading == loosest     { line-height: #{$u-29}; }
    // Throw Warnings
  @else { @warn "Leading mixin supports: tightest, tighter, tight, loose, looser, loosest"; }
}


// Tracking
// Need tracking reset
@mixin tracking($tracking) {
  @if $tracking == tightest         { letter-spacing: #{$em-8}; }
  @else if $tracking == tighter     { letter-spacing: #{$em-9}; }
  @else if $tracking == tight       { letter-spacing: #{$em-10}; }
  @else if $tracking == loose       { letter-spacing: #{$em-12}; }
  @else if $tracking == looser      { letter-spacing: #{$em-13}; }
  @else if $tracking == loosest     { letter-spacing: #{$em-14}; }
    // Throw Warnings
  @else { @warn "Tracking mixin supports: tightest, tighter, tight, loose, looser, loosest"; }
}

// Measure
// Need measure reset
@mixin measure($measure) {
  @if $measure == widest        { max-width: 70em; }
  @else if $measure == wider    { max-width: 60em; }
  @else if $measure == wide     { max-width: 50em; }
  @else if $measure == tight    { max-width: 40em; }
  @else if $measure == tighter  { max-width: 30em; }
  @else if $measure == tightest { max-width: 20em; }
  // Throw Warnings
  @else { @warn "Measure mixin supports: widest, wider, wide, tight, tighter, tightest"; }
}