///*      T Y P E     */

@import "../variables";
// @import "helpers";
// @import "../settings";


/*      TEXT     */
// Silent classes are available
// Resets any styles
.text,
%text {
  // font-size: initial;
  color: initial;
  font-family: initial;
  font-weight: initial;
  line-height: initial;
  margin-top: 0px;
  margin-bottom: 0px;
}

// Text sizes text-0 through text-24
// Silent classes are available e.g. %text-15
@for $i from 0 through 24 {
    .text-#{$i},
    %text-#{$i} {
    @extend %text;
    @if ($i == 0) { font-size: .5rem; }                 // 8px
    @else if ($i == 1) { font-size: .625rem; }          // 10px
    @else if ($i == 2) { font-size: .75rem; }           // 12px
    @else if ($i == 3) { font-size: .875rem; }          // 14px
    @else if ($i == 4) { font-size: floor(1.02rem); }   // 16px 
    @else if ($i == 5) { font-size: 1.125rem; }         // 18px
    @else if ($i == 6) { font-size: 1.3125rem; }        // 21px
    @else if ($i == 7) { font-size: 1.4375rem; }        // 23px
    @else if ($i == 8) { font-size: 1.875rem; }         // 30px
    @else if ($i == 9) { font-size: 2.3125rem; }        // 37px
    @else if ($i == 10) { font-size: 2.6875rem; }       // 43px
    @else if ($i == 11) { font-size: floor(3.05rem); }  // 48px
    @else if ($i == 12) { font-size: 3.75rem; }         // 60px
    @else if ($i == 13) { font-size: ceil(4.935rem); }  // 80px 
    @else if ($i == 14) { font-size: floor(6.1rem); }   // 96px
    @else if ($i == 15) { font-size: ceil(7.985rem); }  // 128px
    @else if ($i == 16) { font-size: ceil(9.87rem); }   // 160px
    @else if ($i == 17) { font-size: ceil(12.92rem); }  // 208px
    @else if ($i == 18) { font-size: ceil(15.97rem); }  // 256px
    @else if ($i == 19) { font-size: ceil(20.905rem); } // 336px
    @else if ($i == 20) { font-size: ceil(25.84rem); }  // 416px
    @else if ($i == 21) { font-size: ceil(33.825rem); } // 544px
    @else if ($i == 22) { font-size: ceil(41.81rem); }  // 672px
    @else if ($i == 23) { font-size: ceil(54.73rem); }  // 880px
    @else if ($i == 24) { font-size: ceil(67.65rem); }  // 1088px
    }
  }