// Text Settings
$evo:                 ".evo"; // replace with custom prefix
$text_color:            null; //#333333
$text_font:             null; //arial
$text_font_weight:      null;
$text_margin_top:       null; //0rem
$text_margin_bottom:    null; //.5rem
$text_line_height:      null;

// Default Text Settings
$evo:                 ".evo" !default;
$text_color:            inherit !default;
$text_font:             inherit !default;
$text_font_weight:      normal !default;
$text_margin_top:       0rem !default;
$text_margin_bottom:    .5rem !default;
$text_line_height:      auto !default;


// Mixins

@mixin text($value) {
  // Style
  @if $value == text-bold           { font-weight: bold; }
  @else if $value == text-italic    { font-style: italic; }
  @else if $value == text-caps      { text-transform: uppercase; }
  // Tracking
  @else if $value == text-tightest  { letter-spacing: -.1em; }
  @else if $value == text-tighter   { letter-spacing: -.065em; }
  @else if $value == text-tight     { letter-spacing: -.035em; }
  @else if $value == text-loose     { letter-spacing: .035em; }
  @else if $value == text-looser    { letter-spacing: .065em; }
  @else if $value == text-loosest   { letter-spacing: .1em; }
  // Leading
  @else if $value == line-tightest  { line-height: .75; }
  @else if $value == line-tighter   { line-height: .85; }
  @else if $value == line-tight     { line-height: .95; }
  @else if $value == line-loose     { line-height: 1; }
  @else if $value == line-looser    { line-height: 1.15; }
  @else if $value == line-loosest   { line-height: 1.25; }
  // Throw Warnings
  @else { @warn "Text mixin supports: bold, italic, caps, text-tightest, text-tighter, text-tight, text-loose, text-looser, text-loosest, line-tightest, line-tighter, line-tight, line-loose, line-looser, line-loosest"; }
}

/* Text Utilities */

// Style
#{$evo}-text-bold     { @include text(text-bold); }
#{$evo}-text-caps     { @include text(text-caps); }
#{$evo}-text-italic   { @include text(text-italic); }
// Tracking
#{$evo}-text-tightest { @include text(text-tightest); }
#{$evo}-text-tighter  { @include text(text-tighter); }
#{$evo}-text-tight    { @include text(text-tight); }
#{$evo}-text-loose    { @include text(text-loose); }
#{$evo}-text-looser   { @include text(text-looser); }
#{$evo}-text-loosest  { @include text(text-loosest); }
// Leading
#{$evo}-line-tightest { @include text(line-tightest); }
#{$evo}-line-tighter  { @include text(line-tighter); }
#{$evo}-line-tight    { @include text(line-tight); }
#{$evo}-line-loose    { @include text(line-loose); }
#{$evo}-line-looser   { @include text(line-looser); }
#{$evo}-line-loosest  { @include text(line-loosest); }

/* Text Sizes */

// Base Style
#{$evo}-text {
  color: $text_color;
  font-weight: $text_font_weight;
  font-family: $text_font;
  line-height: $text_line_height;
  margin-top:$text_margin_top;
//  margin-bottom:$text_margin_bottom;
}

// Size Generator

@for $i from 0 through 40 {
  #{$evo}-text-#{$i} {
  @extend #{$evo}-text;
  font-size: #{$i}rem;
  margin-bottom:calc(#{$i}rem/2);
  
// // Extensions
//   &-style {
//     @extend #{$evo}-text-#{$i};
//       @if ($i >= 0) {
//      letter-spacing:calc(-.0#{$i}rem*2);
//      line-height:calc(#{$i}/9);
//      }
//       @else { 
//     @include text(text-tight);
//     @include text(line-tight);
// }
// }

}
}
