///*      B R A N D   I M A G E    */

@import "../brand_variables/brand_variables";


// Brand images

#{$brand}-image-1-bg     { background-image: url(#{$brand-image-1}); }
#{$brand}-image-2-bg     { background-image: url(#{$brand-image-2}); }
#{$brand}-image-3-bg     { background-image: url(#{$brand-image-3}); }
#{$brand}-image-4-bg     { background-image: url(#{$brand-image-4}); }

// Person, place, thing, texture

#{$brand}-image-person-bg    { background-image: url(#{$brand-image-person}); }
#{$brand}-image-place-bg     { background-image: url(#{$brand-image-place}); }
#{$brand}-image-thing-bg     { background-image: url(#{$brand-image-thing}); }
#{$brand}-image-texture-bg   { background-image: url(#{$brand-image-texture}); }


// Old images for guide

.image-bg-brand-guide {
background-image: url(./../brand/evo/fpo/guide/brand-guide.jpg);
}
.image-bg-icon-library {
background-image: url(./../brand/evo/fpo/guide/icon-library.jpg);
}
.image-bg-image-library {
background-image: url(./../brand/evo/fpo/guide/brand-images.jpg);
}
.image-bg-code-playground {
background-image: url(./../brand/evo/fpo/guide/code-playground.jpg);
}