///*      B R A N D   F O N T S     */

@import "../brand_variables/brand_variables";


// Brand Fonts
#{$brand}-font-1    { 
font-family: #{$brand-font-1};
font-weight:700; 
}
#{$brand}-font-2    { 
font-family: #{$brand-font-2};
font-weight:400; 
}