///*      B R A N D   I M A G E    */

@import "../brand_variables/brand_variables";


// Old images for guide

.image-bg-brand-guide {
background-image: url(../fpo/guide/brand-guide.jpg);
}
.image-bg-icon-library {
background-image: url(../fpo/guide/icon-library.jpg);
}
.image-bg-image-library {
background-image: url(../fpo/guide/brand-images.jpg);
}
.image-bg-code-playground {
background-image: url(../fpo/guide/code-playground.jpg);
}


// Generic Images

#{$brand}-image-001    { background-image: url(#{$brand-image-001}); }
#{$brand}-image-002    { background-image: url(#{$brand-image-002}); }
#{$brand}-image-003    { background-image: url(#{$brand-image-003}); }
#{$brand}-image-004    { background-image: url(#{$brand-image-004}); }

// Dark Generic Images

#{$brand}-image-001-dark    { background-image: url(#{$brand-image-001-dark}); }
#{$brand}-image-002-dark    { background-image: url(#{$brand-image-002-dark}); }
#{$brand}-image-003-dark    { background-image: url(#{$brand-image-003-dark}); }
#{$brand}-image-004-dark    { background-image: url(#{$brand-image-004-dark}); }



// Brand Images

#{$brand}-image-person      { background-image: url(#{$brand-image-person}); }
#{$brand}-image-place       { background-image: url(#{$brand-image-place}); }
#{$brand}-image-thing       { background-image: url(#{$brand-image-thing}); }
#{$brand}-image-texture     { background-image: url(#{$brand-image-texture}); }

#{$brand}-image-fpo         { background-image: url(#{$brand-image-fpo}); }
#{$brand}-image-avatar      { background-image: url(#{$brand-image-avatar}); }
#{$brand}-image-video       { background-image: url(#{$brand-image-video}); }


// Dark Brand Images

#{$brand}-image-person-dark      { background-image: url(#{$brand-image-person-dark}); }
#{$brand}-image-place-dark       { background-image: url(#{$brand-image-place-dark}); }
#{$brand}-image-thing-dark       { background-image: url(#{$brand-image-thing-dark}); }
#{$brand}-image-texture-dark     { background-image: url(#{$brand-image-texture-dark}); }

#{$brand}-image-fpo-dark         { background-image: url(#{$brand-image-fpo-dark}); }
#{$brand}-image-avatar-dark      { background-image: url(#{$brand-image-avatar-dark}); }
#{$brand}-image-video-dark       { background-image: url(#{$brand-image-video-dark}); }
