///*      H R F   B R A N D    V A R I A B L E S     */


// Brand prefix

$brand:                             ".hrf" !default; // originally ".brand"



// Logos

$logo-hrf:                         "../image/brand/logo-hrf.svg";
$logo-hrf-white:                   "../image/brand/logo-hrf-white.svg";
$logo-hep:                         "../image/brand/logo-hep.svg";
$logo-hep-white:                   "../image/brand/logo-hep-white.svg";




// Brand Fonts

$google-merriweather: 'Merriweather', serif !default;

$google-montserrat: 'Montserrat', sans-serif !default;





// Brand Colors

$brand_color_1:  rgb( 0, 152, 119 );  // #009877 HRF Green

$brand_color_2:  rgb( 120, 188, 66 ); // #78BC42 HEP Green

$brand_color_3:  rgb( 26, 154, 214 ); // #1A9AD6 HRF Blue

$brand_color_4:  rgb( 147, 149, 151 ); // #939597 HRF Warm Gray





// Brand Icons

$icon_circle_plus:                      "../image/brand/circle-plus-book.svg";
$icon_circle_chevron_right:             "../image/brand/circle-chevron-book.svg";
$icon_chevron_right:                    "../image/brand/chevron-book.svg";
// $icon_chevron_left:
// $icon_chevron_down:
// $icon_download:
// $icon_upload:
// $icon_document:
$icon_search:                           "../image/brand/search-book.svg";
$icon_menu:                             "../image/brand/menu-book.svg";
// $icon_wavy_hamburger:
$icon_close:                            "../image/brand/close-book.svg";
$icon_mail:                             "../image/brand/mail-book.svg";
// $icon_facebook:
// $icon_twitter:



// Brand Images

$image_person:                         "../image/brand/person.jpg";

$image_place:                          "../image/brand/place.jpg";

$image_thing:                          "../image/brand/thing.jpg";

$image_texture:                        "../image/brand/texture.jpg";




// Brand Graphics

$graphic_infograph:                     "../image/brand/infograph.svg";

$graphic_chart:                         "../image/brand/chart.svg";

$graphic_map:                           "../image/brand/map.svg";

$graphic_dataviz:                       "../image/brand/dataviz.png"; // Need to replace


