.grid-block,
.grid-block-full-bg {
    background-color: #CCC;
    height: 500px
}

.cd-horizontal-timeline .events a.selected,
.floating-label {
    pointer-events: none
}

.wrap {
    width: 96%;
    margin: 0 auto
}

.grid-block {
    padding-right: 25%
}

.grid-block-full-bg {
    position: relative
}

.nav-body {
    padding-top: 85px
}

.nav-header {
    border-bottom: 1px solid #CCC;
    height: 85px;
    position: fixed;
    top: 0;
    transition: top .2s ease-in-out;
    width: 100%;
    z-index: 1
}

.navbar-default,
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: 0 0;
    border: none
}

.nav-up {
    top: -85px
}

.nav-link {
    padding-right: 1em!important;
    margin-right: 1em!important
}

.nav-button {
    padding-right: 0!important
}

.navbar-default {
    box-shadow: none
}

.navbar-default .navbar-brand {
    color: #000;
    font-weight: 700;
    text-transform: uppercase
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #7F7F7F
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    font-weight: 400;
    cursor: pointer
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #7F7F7F;
    text-decoration: none
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #555
}

.navbar-default .navbar-nav .evo-button-smaller {
    margin-top: -10px
}

.full-screen-img {
    position: relative;
    background: url(../../img/monolake.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.video-container {
    position: relative
}

.video-container video {
    position: relative;
    z-index: 0
}

.overlay {
    z-index: 1
}

.full-width-container {
    overflow: hidden;
    height: 0;
    padding-bottom: 500px;
    position: relative
}

.full-width-container video {
    position: absolute;
    width: 100%
}

.full-width-container-responsive {
    width: 100%!important;
    height: auto!important
}

.html5-video-full-width-wrapper {
    background-color: #000;
    height: 500px;
    width: 100%
}

.html5-video-full-width-wrapper video {
    width: auto;
    height: 500px;
    margin-top: 0
}

.full-screen {
    min-height: 100vh
}

.xy-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.full-width,
.one-column {
    width: 100%;
    height: 500px
}

#slider ul li,
#slider-full-width ul li {
    position: relative;
    padding: 0;
    height: 300px;
    display: block;
    margin: 0;
    background: #ccc;
    line-height: 300px;
    text-align: center;
    float: left
}

#slider,
#slider-full-width {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0;
    border-radius: 4px
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none
}

#slider ul li {
    width: 500px
}

#slider-full-width ul {
    position: relative;
    margin: 0;
    padding: 0;
    right: 52%;
    height: 200px;
    list-style: none
}

#slider-full-width ul li {
    width: 100%
}

a.control_next_full,
a.control_prev_full {
    position: absolute;
    z-index: 999;
    padding: 4% 3%;
    width: auto;
    height: auto;
    cursor: pointer
}

a.control_prev_full {
    border-radius: 0 2px 2px 0;
    top: 18%
}

a.control_next_full {
    right: 0;
    border-radius: 2px 0 0 2px;
    top: 30%
}

#slider-full-screen {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0;
    border-radius: 4px
}

#slider-full-screen ul {
    position: relative;
    margin: 0;
    padding: 0;
    right: 52%;
    list-style: none
}

#slider-full-screen ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #ccc;
    text-align: center;
    line-height: 300px
}

a.control_next,
a.control_next_full_screen,
a.control_prev,
a.control_prev_full_screen {
    position: absolute;
    z-index: 999;
    padding: 4% 3%;
    width: auto;
    height: auto;
    cursor: pointer
}

a.control_prev_full_screen {
    border-radius: 0 2px 2px 0;
    top: 35%
}

a.control_next_full_screen {
    right: 0;
    border-radius: 2px 0 0 2px;
    top: 39%
}

a.control_next,
a.control_prev {
    top: 45%
}

a.control_prev {
    border-radius: 0 2px 2px 0;
    top: 42%
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px
}

#holder {
    height: 300px;
    overflow: hidden;
    width: 100%
}

body .mc-cycle,
div.mc-image {
    height: 100%;
    width: 100%;
    overflow: hidden
}

.mc-hide-scrolls {
    overflow: hidden
}

body .mc-cycle {
    left: 0;
    position: fixed;
    top: 0;
    z-index: -1
}

div.mc-image {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

.mc-old-browser .mc-image {
    overflow: hidden
}

#full-screen-slideshow,
#full-width-slideshow,
#one-column-slideshow {
    position: relative!important
}

#arrow_left,
#arrow_left_full,
#arrow_left_one,
#arrow_right,
#arrow_right_full,
#arrow_right_one,
a:hover {
    text-decoration: none
}

a {
    color: #fff
}

a:active {
    color: #999
}

hr {
    clear: both
}

p {
    margin-bottom: 20px
}

.largeTxt {
    font-size: 30px
}

.masonry {
    column-count: 4;
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em
}

.item {
    background: #fff;
    margin: 0 0 1.5em;
    display: inline-block;
    padding: .25rem;
    width: 100%
}

@media only screen and (min-width:300px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2
    }
}

@media only screen and (min-width:700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3
    }
}

@media only screen and (min-width:900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4
    }
}

@media only screen and (min-width:1100px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4
    }
}

@media only screen and (min-width:1300px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4
    }
}

*,
:after,
:before {
    box-sizing: border-box!important
}

.bs-well-masonry-row {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em
}

.well {
    position: relative;
    display: block;
    margin-bottom: 0
}

.btn-social,
.panel {
    display: inline-block
}

.bs-panels-masonry-row {
    -moz-column-width: 25em;
    -webkit-column-width: 25em;
    -moz-column-gap: .5em;
    -webkit-column-gap: .5em
}

.panel {
    margin: .5em;
    padding: 0;
    width: 98%
}

.btn-social {
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    line-height: 60px
}

.portfolio-grid .portfolio-item {
    position: relative;
    float: left;
    width: 33.33333333333333%;
    height: auto;
    margin: 0;
    padding: 15px;
    display: block
}

@media (max-width:1170px) {
    .portfolio-grid .portfolio-item {
        width: 33.33333333333333%
    }
}

@media (max-width:980px) {
    .portfolio-grid .portfolio-item {
        width: 50%
    }
}

@media (max-width:768px) {
    .portfolio-grid .portfolio-item {
        width: 100%
    }
}

.portfolio-box {
    position: relative;
    overflow: hidden
}

.portfolio-box a.porfolio-popup {
    display: block
}

.portfolio-box .portfolio-image-wrap {
    display: block;
    transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s
}

.portfolio-box .portfolio-image-wrap img {
    width: 100%
}

.portfolio-box:hover .portfolio-image-wrap {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transition: all 2s cubic-bezier(.23, 1, .32, 1) 0s;
    -o-transition: all 2s cubic-bezier(.23, 1, .32, 1) 0s;
    -moz-transition: all 2s cubic-bezier(.23, 1, .32, 1) 0s;
    -webkit-transition: all 2s cubic-bezier(.23, 1, .32, 1) 0s;
    width: 100%
}

.portfolio-box .portfolio-caption-mask {
    background: rgba(0, 0, 0, .8);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -webkit-transition: all .5s ease-in-out 0s;
    z-index: 9
}

.portfolio-box:hover .portfolio-caption-mask {
    opacity: 1;
    visibility: visible
}

.portfolio-box .portfolio-caption-mask .portfolio-caption-text {
    bottom: -60px;
    left: 0;
    opacity: 0;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    text-align: left;
    transition: all .5s ease-in-out 0s
}

.portfolio-box:hover .portfolio-caption-mask .portfolio-caption-text {
    bottom: 30px;
    opacity: 1
}

.portfolio-box .portfolio-caption-mask h1,
.portfolio-box .portfolio-caption-mask h2,
.portfolio-box .portfolio-caption-mask h3,
.portfolio-box .portfolio-caption-mask h4,
.portfolio-box .portfolio-caption-mask h5,
.portfolio-box .portfolio-caption-mask h6 {
    color: #fff;
    margin-bottom: 5px
}

.portfolio-box .portfolio-caption-mask p {
    margin-bottom: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px
}

.portfolio-filter {
    margin: 0 0 15px;
    padding: 0;
    text-align: center
}

.portfolio-filter li {
    display: inline-block;
    list-style: none
}

.portfolio-filter li a {
    display: block;
    color: #000;
    margin-left: 11px;
    margin-right: 11px;
    text-transform: uppercase
}

.portfolio-filter li a.active {
    font-weight: 700
}

.portfolio-filter li a:hover {
    color: #7f7f7f
}

#portfolio-single .portfolio-image-wrap {
    margin-bottom: 20px
}

#portfolio-single .portfolio-image-wrap img {
    width: 100%
}

.portfolio-item-content {
    padding-left: 20px;
    padding-right: 20px;
    position: relative
}

.portfolio-item-content-spc {
    margin-top: 45px
}

.portfolio-item-content-detail li {
    line-height: 2
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9)
}

.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../icons-gray/book-gray/close-book-gray.svg) center center no-repeat;
    text-indent: 200%;
    color: transparent;
    outline: 0;
    z-index: 100
}

.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative
}

.overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.overlay ul li a {
    font-size: 54px;
    font-weight: 300;
    display: block;
    color: #fff;
    -webkit-transition: color .2s;
    transition: color .2s
}

.overlay ul li a:focus,
.overlay ul li a:hover {
    color: #f0f0f0
}

.overlay-scale {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    -webkit-transition: -webkit-transform .2s, opacity .2s, visibility 0s .2s;
    transition: transform .2s, opacity .2s, visibility 0s .2s
}

.overlay-scale.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .4s, opacity .4s;
    transition: transform .4s, opacity .4s
}

@media screen and (max-height:30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px
    }
    .overlay ul li {
        min-height: 34px
    }
}

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel,
.owl-carousel .owl-wrapper {
    display: none;
    position: relative
}

.owl-carousel {
    width: 100%;
    -ms-touch-action: pan-y
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -ms-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item {
    float: left
}

.owl-controls .owl-buttons div,
.owl-controls .owl-page {
    cursor: pointer
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

.grabbing {
    cursor: url(grabbing.png) 8 8, move
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}

#container-slideshow .item {
    margin: 3px
}

#container-slideshow .item img {
    display: block;
    width: 100%;
    height: auto
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center
}

.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);
    opacity: .5
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
    text-decoration: none
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px
}

.full-screen-revolution-slider,
.full-screen-revolution-slider-container,
.full-screen-revolution-video,
.full-screen-revolution-video-container,
.full-width-revolution-slider,
.full-width-revolution-slider-container,
.full-youtube-revolution-video,
.full-youtube-revolution-video-container,
.revolution-slider,
.revolution-slider-container,
.youtube-revolution-video,
.youtube-revolution-video-container,
.youtube-revolution-video-default {
    width: 100%;
    position: relative
}

.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.gif) center center no-repeat
}

.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
    stroke: #00A651
}

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
    fill: #00A651
}

.ct-series-b .ct-bar,
.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-slice-donut {
    stroke: #2E3192
}

.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
    fill: #2E3192
}

.ct-series-c .ct-bar,
.ct-series-c .ct-line,
.ct-series-c .ct-point,
.ct-series-c .ct-slice-donut {
    stroke: #00AEEF
}

.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
    fill: #00AEEF
}

.ct-series-d .ct-bar,
.ct-series-d .ct-line,
.ct-series-d .ct-point,
.ct-series-d .ct-slice-donut {
    stroke: #EC008C
}

.ct-series-d .ct-area,
.ct-series-d .ct-slice-pie {
    fill: #EC008C
}

.ct-series-e .ct-bar,
.ct-series-e .ct-line,
.ct-series-e .ct-point,
.ct-series-e .ct-slice-donut {
    stroke: #35BDA8
}

.ct-series-e .ct-area,
.ct-series-e .ct-slice-pie {
    fill: #35BDA8
}

.ct-series-f .ct-bar,
.ct-series-f .ct-line,
.ct-series-f .ct-point,
.ct-series-f .ct-slice-donut {
    stroke: #E66C40
}

.ct-series-f .ct-area,
.ct-series-f .ct-slice-pie {
    fill: #E66C40
}

.ct-series-g .ct-bar,
.ct-series-g .ct-line,
.ct-series-g .ct-point,
.ct-series-g .ct-slice-donut {
    stroke: #CB3E4B
}

.ct-series-g .ct-area,
.ct-series-g .ct-slice-pie {
    fill: #CB3E4B
}

.ct-series-h .ct-bar,
.ct-series-h .ct-line,
.ct-series-h .ct-point,
.ct-series-h .ct-slice-donut {
    stroke: #6b0392
}

.ct-series-h .ct-area,
.ct-series-h .ct-slice-pie {
    fill: #6b0392
}

.ct-series-i .ct-bar,
.ct-series-i .ct-line,
.ct-series-i .ct-point,
.ct-series-i .ct-slice-donut {
    stroke: #f05b4f
}

.ct-series-i .ct-area,
.ct-series-i .ct-slice-pie {
    fill: #f05b4f
}

.ct-series-j .ct-bar,
.ct-series-j .ct-line,
.ct-series-j .ct-point,
.ct-series-j .ct-slice-donut {
    stroke: #dda458
}

.ct-series-j .ct-area,
.ct-series-j .ct-slice-pie {
    fill: #dda458
}

.ct-series-k .ct-bar,
.ct-series-k .ct-line,
.ct-series-k .ct-point,
.ct-series-k .ct-slice-donut {
    stroke: #eacf7d
}

.ct-series-k .ct-area,
.ct-series-k .ct-slice-pie {
    fill: #eacf7d
}

.ct-series-l .ct-bar,
.ct-series-l .ct-line,
.ct-series-l .ct-point,
.ct-series-l .ct-slice-donut {
    stroke: #86797d
}

.ct-series-l .ct-area,
.ct-series-l .ct-slice-pie {
    fill: #86797d
}

.ct-series-m .ct-bar,
.ct-series-m .ct-line,
.ct-series-m .ct-point,
.ct-series-m .ct-slice-donut {
    stroke: #b2c326
}

.ct-series-m .ct-area,
.ct-series-m .ct-slice-pie {
    fill: #b2c326
}

.ct-series-n .ct-bar,
.ct-series-n .ct-line,
.ct-series-n .ct-point,
.ct-series-n .ct-slice-donut {
    stroke: #6188e2
}

.ct-series-n .ct-area,
.ct-series-n .ct-slice-pie {
    fill: #6188e2
}

.ct-series-o .ct-bar,
.ct-series-o .ct-line,
.ct-series-o .ct-point,
.ct-series-o .ct-slice-donut {
    stroke: #a748ca
}

.ct-series-o .ct-area,
.ct-series-o .ct-slice-pie {
    fill: #a748ca
}

.revolution-slider-container {
    padding: 0
}

.full-width-revolution-slider-container {
    padding: 0
}

.full-screen-revolution-slider-container {
    padding: 0
}

.youtube-revolution-video-container-default {
    width: 100%;
    position: relative;
    padding: 0
}

.youtube-revolution-video-container {
    padding: 0
}

.full-youtube-revolution-video-container {
    padding: 0
}

.full-screen-revolution-video-container {
    padding: 0
}

.ammapAlert {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 12px;
    color: #C00
}

.ammapDescriptionWindow {
    font-size: 11px;
    font-family: verdana, helvetica, arial, sans-serif;
    background-color: #FFF;
    border-style: solid;
    border-color: #DADADA;
    border-width: 1px;
    color: #000;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.ammapDescriptionTitle,
.ammapObjectList ul {
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 12px
}

.ammapDescriptionTitle {
    font-weight: 700;
    padding-bottom: 5px
}

.ammapObjectList ul {
    padding-left: 20px;
    list-style: square;
    color: #999
}

.ammapObjectList ul ul {
    padding-left: 14px
}

.ammapObjectList a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 2px
}

.ammapObjectList a:hover {
    color: #C00;
    text-decoration: none;
    background: #FFF;
    cursor: pointer;
    display: block
}

.ammapDescriptionText {
    overflow: auto
}

.cd-horizontal-timeline {
    opacity: 0;
    margin: 2em auto;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s
}

.cd-horizontal-timeline::before {
    content: 'mobile';
    display: none
}

.cd-horizontal-timeline.loaded {
    opacity: 1
}

.cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto
}

.cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden
}

.cd-horizontal-timeline .events-wrapper::after,
.cd-horizontal-timeline .events-wrapper::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 20px
}

.cd-horizontal-timeline .events-wrapper::before {
    left: 0;
    background-image: -webkit-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0))
}

.cd-horizontal-timeline .events-wrapper::after {
    right: 0;
    background-image: -webkit-linear-gradient(right, #fff, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0))
}

.cd-horizontal-timeline .events {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    background: #DCDCDB;
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: transform .4s
}

.cd-horizontal-timeline .filling-line {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #00aeef;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s
}

.cd-horizontal-timeline .events a {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 15px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0)
}

.cd-horizontal-timeline .events a::after {
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #DCDCDB;
    background-color: #f8f8f8;
    -webkit-transition: background-color .3s, border-color .3s;
    -moz-transition: background-color .3s, border-color .3s;
    transition: background-color .3s, border-color .3s
}

.cd-horizontal-timeline .events a.selected::after,
.no-touch .cd-horizontal-timeline .events a:hover::after {
    background-color: #00aeef;
    border-color: #00aeef
}

.cd-horizontal-timeline .events a.older-event::after {
    border-color: #00aeef
}

@media only screen and (min-width:1100px) {
    .cd-horizontal-timeline {
        margin: 6em auto
    }
    .cd-horizontal-timeline::before {
        content: 'desktop'
    }
}

.cd-timeline-navigation a {
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #DCDCDB;
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: border-color .3s;
    -moz-transition: border-color .3s;
    transition: border-color .3s
}

.cd-timeline-navigation a::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../../img/cd-arrow.svg) no-repeat
}

.cd-timeline-navigation a.prev {
    left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg)
}

.cd-timeline-navigation a.next {
    right: 0
}

.no-touch .cd-timeline-navigation a:hover {
    border-color: #00aeef
}

.cd-timeline-navigation a.inactive {
    cursor: not-allowed
}

.cd-timeline-navigation a.inactive::after {
    background-position: 0 -16px
}

.no-touch .cd-timeline-navigation a.inactive:hover {
    border-color: #DCDCDB
}

.cd-horizontal-timeline .events-content {
    position: relative;
    width: 100%;
    margin: 2em 0;
    overflow: hidden;
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    transition: height .4s
}

.cd-timeline-navigation li,
.events ol,
.events-content ol {
    list-style: none
}

.cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    padding: 0 5%;
    opacity: 0;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}

.cd-horizontal-timeline .events-content li.selected {
    position: relative;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}

.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
    -webkit-animation-name: cd-enter-right;
    -moz-animation-name: cd-enter-right;
    animation-name: cd-enter-right
}

.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-name: cd-enter-left;
    -moz-animation-name: cd-enter-left;
    animation-name: cd-enter-left
}

.cd-horizontal-timeline .events-content li.leave-left,
.cd-horizontal-timeline .events-content li.leave-right {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse
}

.cd-horizontal-timeline .events-content li>* {
    max-width: 800px;
    margin: 0 auto
}

.cd-horizontal-timeline .events-content em {
    display: block;
    margin: 10px auto
}

.cd-horizontal-timeline .events-content em::before {
    content: '- '
}

@-webkit-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
}

.cd-container {
    margin: 0 auto
}

.cd-container::after {
    content: '';
    display: table;
    clear: both
}

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em
}

#cd-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #DCDCDB
}

.cd-timeline-block:after,
.cd-timeline-content:after {
    content: "";
    clear: both
}

@media only screen and (min-width:1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0
}

.cd-timeline-block:after {
    display: table
}

.cd-timeline-block:first-child {
    margin-top: 0
}

.cd-timeline-block:last-child {
    margin-bottom: 0
}

@media only screen and (min-width:1170px) {
    .cd-timeline-block {
        margin: 4em 0
    }
    .cd-timeline-block:first-child {
        margin-top: 0
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #00aeef, inset 0 2px 0 rgba(0, 0, 0, .08), 0 3px 0 4px rgba(0, 0, 0, .05)
}

.cd-timeline-img svg {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px
}

.cd-timeline-img.cd-location,
.cd-timeline-img.cd-location-second,
.cd-timeline-img.cd-movie,
.cd-timeline-img.cd-movie-second,
.cd-timeline-img.cd-picture,
.cd-timeline-img.cd-picture-second {
    background: #fff
}

@media only screen and (min-width:1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 .6s;
        -moz-animation: cd-bounce-1 .6s;
        animation: cd-bounce-1 .6s
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2)
    }
    100% {
        -webkit-transform: scale(1)
    }
}

@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(.5)
    }
    60% {
        opacity: 1;
        -moz-transform: scale(1.2)
    }
    100% {
        -moz-transform: scale(1)
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2)
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: #f3f3f3;
    border-radius: .25em;
    padding: 1em
}

.cd-timeline-content:after {
    display: table
}

.cd-timeline-content .cd-date,
.cd-timeline-content .cd-read-more {
    display: inline-block
}

.cd-timeline-content p {
    margin: 1em 0
}

.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #DCDCDB;
    color: #4A4D50;
    border-radius: .25em
}

.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #00aeef
}

.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #f3f3f3
}

.cd-date {
    margin-top: 2px
}

@media only screen and (min-width:1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent transparent transparent #f3f3f3
    }
    .cd-timeline-content .cd-read-more {
        float: left
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content,
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent #f3f3f3 transparent transparent
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 .6s;
        -moz-animation: cd-bounce-2 .6s;
        animation: cd-bounce-2 .6s
    }
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse .6s;
        -moz-animation: cd-bounce-2-inverse .6s;
        animation: cd-bounce-2-inverse .6s
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px)
    }
    100% {
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px)
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(20px)
    }
    100% {
        -moz-transform: translateX(0)
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px)
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px)
    }
    100% {
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px)
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(-20px)
    }
    100% {
        -moz-transform: translateX(0)
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
}

.vbox-overlay *,
.vbox-overlay:after,
.vbox-overlay:before {
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    -webkit-overflow-scrolling: touch;
    font-family: "Helvetica Neue", sans-serif
}

.vbox-overlay {
    background: #181818;
    background: rgba(0, 0, 0, .85);
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out
}

.relativo {
    float: left;
    width: 100%;
    height: 100%;
    display: block;
    position: relative
}

.vbox-close,
.vbox-next,
.vbox-preloader,
.vbox-prev {
    position: fixed;
    text-indent: -100px;
    overflow: hidden
}

.vbox-preloader {
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    background-image: url(preload-circle.png);
    -webkit-animation: playload 1.4s steps(18) infinite;
    -moz-animation: playload 1.4s steps(18) infinite;
    -ms-animation: playload 1.4s steps(18) infinite;
    -o-animation: playload 1.4s steps(18) infinite;
    animation: playload 1.4s steps(18) infinite
}

@-webkit-keyframes playload {
    from {
        background-position: 0
    }
    to {
        background-position: -576px
    }
}

@-moz-keyframes playload {
    from {
        background-position: 0
    }
    to {
        background-position: -576px
    }
}

@-ms-keyframes playload {
    from {
        background-position: 0
    }
    to {
        background-position: -576px
    }
}

@-o-keyframes playload {
    from {
        background-position: 0
    }
    to {
        background-position: -576px
    }
}

@keyframes playload {
    from {
        background-position: 0
    }
    to {
        background-position: -576px
    }
}

.vbox-close {
    cursor: pointer;
    top: -1px;
    right: 0;
    width: 46px;
    height: 40px;
    padding: 10px 20px 10px 0;
    display: block;
    background: url(close.gif) 10px center no-repeat #161617;
    color: #fff
}

.vbox-next,
.vbox-prev {
    box-sizing: content-box;
    cursor: pointer;
    top: 50%;
    color: #fff;
    width: 30px;
    height: 170px;
    margin-top: -85px;
    border: solid transparent
}

.vbox-prev {
    left: 0;
    border-width: 0 30px 0 10px;
    background: url(prev.gif) center center no-repeat
}

.vbox-next {
    right: 0;
    border-width: 0 10px 0 30px;
    background: url(next.gif) center center no-repeat
}

.timeline-container a img,
.venoframe {
    border: none
}

.vbox-num,
.vbox-title {
    position: fixed;
    top: -1px;
    height: 40px;
    color: #fff;
    overflow: hidden;
    line-height: 28px;
    font-size: 12px;
    background: #161617;
    display: none;
    left: 0
}

.vbox-title {
    width: 100%;
    float: left;
    text-align: center;
    padding: 6px 40px
}

.vbox-num {
    cursor: pointer;
    padding: 6px 10px
}

.vbox-inline {
    width: 420px;
    height: 315px;
    padding: 10px;
    background: #fff;
    text-align: left;
    margin: 0 auto;
    overflow: auto
}

.venoframe {
    width: 960px;
    height: 720px
}

@media (max-width:992px) {
    .venoframe {
        width: 640px;
        height: 480px
    }
}

@media (max-width:767px) {
    .venoframe {
        width: 420px;
        height: 315px
    }
}

@media (max-width:460px) {
    .vbox-inline,
    .venoframe {
        width: 100%
    }
    .venoframe {
        height: 260px
    }
}

.vbox-container {
    position: relative;
    background: #000;
    width: 98%;
    max-width: 1024px;
    margin: 0 auto
}

.vbox-content,
.vwrap {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden
}

.vbox-content {
    text-align: center
}

.vbox-container img {
    max-width: 100%;
    height: auto
}

.vwrap {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    z-index: 1
}

.timeline-container-tick,
.timeline-container::after,
.timeline-container::before {
    background: #DCDCDB;
    content: "";
    display: block;
    left: -8px;
    width: 14px;
    position: relative
}

.timeline-container h1 {
    color: #7DBADF;
    font-size: 36px;
    font-weight: 400;
    margin: 0
}

.timeline-container h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 5px 0;
    letter-spacing: .1em
}

.timeline-container h3 {
    font-size: 1.6em;
    margin: 10px 0 10px 10px
}

.timeline-container a:link,
.timeline-container a:visited {
    color: #7097af;
    text-decoration: none
}

.timeline-container a:hover {
    color: #7DBADF
}

.timeline-container p {
    margin: 0 0 10px 8px;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.6em
}

.lead {
    font-size: 2em;
    margin-bottom: 40px
}

.clear {
    clear: both;
    line-height: 0;
    font-size: 0
}

.timeline-container {
    border-left: 2px solid #DCDCDB;
    margin: 20px auto;
    font-size: 62.5%
}

.timeline-container-tick {
    height: 4px
}

.timeline-container::before {
    top: -4px
}

.timeline-container::after {
    top: 4px
}

.timeline-series dt::before,
.timeline-wrapper .timeline-time::before {
    content: "";
    display: inline-block;
    vertical-align: middle
}

.timeline-toggle {
    float: right;
    margin-right: 15px;
    white-space: nowrap
}

.timeline-toggle:hover {
    cursor: pointer;
    background: #00aeef;
    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in
}

.timeline-toggle:focus {
    outline: 0
}

.timeline-wrapper {
    clear: left;
    float: left;
    margin: 0 0 12px;
    width: 900px
}

.timeline-wrapper .timeline-time::before {
    border-top: 2px solid #DCDCDB;
    height: 4px;
    margin-right: 0;
    width: 24px
}

.timeline-wrapper .timeline-time {
    cursor: pointer;
    font-size: 2.8em;
    font-weight: 400;
    margin: 0 0 30px;
    padding: 0
}

.timeline-wrapper .timeline-time span:hover {
    border-color: #00aeef;
    color: #00aeef;
    -webkit-transition: border-color .2s ease-in, color .2s ease-in;
    -moz-transition: border-color .2s ease-in, color .2s ease-in;
    -o-transition: border-color .2s ease-in, color .2s ease-in;
    transition: border-color .2s ease-in, color .2s ease-in
}

.timeline-wrapper .timeline-time span.selected {
    border-color: #00aeef;
    color: #00aeef
}

.timeline-series {
    clear: left;
    float: left;
    margin: 0 12px 0 0;
    padding: 4px 4px 4px 0;
    position: relative;
    width: 880px
}

.timeline-series dt::before {
    border-top: 2px solid #DCDCDB;
    height: 3px;
    margin-right: 10px;
    width: 10px
}

.timeline-series dt {
    clear: left;
    font-size: 2em;
    line-height: 1.2em;
    margin: 0 0 12px;
    white-space: nowrap
}

.timeline-series dt a {
    color: #999;
    cursor: pointer
}

.timeline-series dt a .closed {
    color: #999;
    font-size: 1em;
    margin-left: 0
}

.timeline-series dt a .open {
    color: #7DBADF
}

.timeline-series dt a:hover {
    color: #999;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    transition: color .2s ease-in
}

.timeline-series dd {
    padding-left: 24px;
    width: 100%
}

.timeline-series dd h3 {
    color: #FFF;
    clear: both;
    float: left;
    font-size: 1.5em;
    margin: 0;
    white-space: nowrap
}

.tick {
    background: #DCDCDB;
    clear: both;
    display: block;
    height: 2px;
    left: 0;
    width: 4px;
    position: relative
}

.tick-before {
    top: -6px
}

.tick-after {
    top: -4px
}

.timeline-event-content {
    display: none;
    margin-bottom: 40px
}

.timeline-event-content p {
    clear: left;
    float: left;
    font-size: 16px;
    margin: 6px 0 10px;
    width: 500px
}

.timeline-event-content h4 {
    clear: left;
    float: left;
    font-size: 1.4em;
    font-weight: 400;
    margin: 10px 0 0;
    padding: 0 0 0 20px
}

.timeline-event-content blockquote {
    border-left: 2px solid #00aeef;
    clear: left;
    float: left;
    line-height: 1.2em;
    margin-left: 0;
    padding: 0 30px;
    width: 400px
}

.timeline-event-content blockquote .attribution {
    font-size: .7em;
    text-align: right
}

.timeline-event-content .media {
    float: right;
    padding: 0 0 12px;
    width: 300px
}

.timeline-event-content .media img {
    border: 2px solid rgba(255, 255, 255, .85);
    height: 200px;
    margin: 0;
    width: 200px
}

#input_img,
#input_img_box {
    position: absolute;
    cursor: pointer;
    right: 10px;
    width: 23px;
    height: 23px
}

.timeline-event-content .media p {
    clear: both;
    font-size: 1.4em;
    margin: 15px 0
}

.timeline-event-content .media p a {
    text-transform: lowercase
}

input:focus~.floating-label,
input:not(:focus):valid~.floating-label {
    top: -20px;
    bottom: 10px;
    color: #00aeef;
    left: 15px;
    font-size: 14px;
    opacity: 1
}

input:not(:focus):valid~.floating-label {
    color: grey
}

input.inputText:focus {
    border-bottom: 1px solid #00aeef!important;
    transition: .5s ease all;
    -moz-transition: .5s ease all;
    -webkit-transition: .5s ease all
}

textarea:focus~.floating-label,
textarea:not(:focus):valid~.floating-label {
    top: -20px;
    bottom: 10px;
    color: #00aeef;
    left: 15px;
    font-size: 14px;
    opacity: 1
}

textarea:not(:focus):valid~.floating-label {
    color: grey
}

textarea.inputText:focus {
    border-bottom: 1px solid #00aeef!important;
    transition: .5s ease all;
    -moz-transition: .5s ease all;
    -webkit-transition: .5s ease all
}

.floating-label {
    position: absolute;
    left: 15px;
    top: 5px;
    transition: .3s ease all
}

ul.helper-text {
    margin-top: 6px;
    color: #0f0f0f
}

ul.helper-text li.valid {
    color: rgba(0, 0, 0, .5);
    background: url(../icons-gray/book-gray/circle-solid-book-gray.svg) 0 .29118rem no-repeat;
    background-size: .30625rem
}

ul.helper-text-1 {
    margin-top: 6px;
    color: #0f0f0f
}

ul.helper-text-1 li.valid {
    color: rgba(0, 0, 0, .5);
    background: url(../icons-gray/book-gray/circle-solid-book-gray.svg) 0 .29118rem no-repeat;
    background-size: .30625rem
}

#input_container {
    position: relative;
    padding: 0;
    margin: 0;
    background: #ddd
}

#input {
    height: 35px;
    margin: 0
}

#input_img {
    bottom: 10px
}

#input_img_box {
    bottom: 5px
}

.uneditable-input.focus-border-color:focus,
input.focus-border-color:focus,
input[type].focus-border-color:focus,
textarea.focus-border-color:focus {
    border-color: rgba(0, 174, 239, .8)!important;
    outline: 0
}